:root {
  --dark-blue-600: #6262ff;
}

.smart-card .card-profile-image-container {
  background: #f9fafb;
  margin: -10px -24px 30px;
  padding: 10px 20px 10px 160px;
  border-bottom: 1px solid #ebebeb;
  min-height: 100px;
  position: relative;
}

.smart-card .card-profile-image-container h1 {
  flex: 0 0 90%;
  max-width: 90%;
}

.smart-card .card-profile-image-container h1 button {
  padding: 0;
  border: 0;
  background: none;
  color: var(--dark-blue-600);
}

.smart-card .card-profile-image-container h1 button.active {
  color: var(--green-600);
}

.smart-card .card-profile-image-container figure {
  width: 130px;
  height: 130px;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 20px;
  background: url(../../images/smart-card-profile.png) 0 0 no-repeat;
}

.smart-card .card-profile-image-container figure img {
  width: 48px;
  height: auto;
  position: relative;
  top: -3px;
}

.smart-card .card-profile-image-container figure img.video-sizzle {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 80px;
}

.smart-sticky-navigation {
  box-shadow: 3px 2px 4px rgb(143 143 143 / 40%);
  border: 1px solid #eee;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  top: 80px;
  z-index: 100;
  right: 0;
}

.smart-sticky-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.smart-sticky-navigation  li:not(:first-child) {
  border-top:  1px solid #eee;
}

.smart-sticky-navigation  li button {
  width: 42px;
  height: 42px;
  font-size: 18px;
  border: 0;
  color: #6262ff;
  position: relative;
  background: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smart-sticky-navigation  li button.active {
  color: #32c396;
}

.smart-sticky-navigation  li button .fa.fa-lightbulb-o {
  font-size: 24px;
}

.smart-sticky-navigation  li button .counter {
  width: 16px;
  height: 16px;
  font-size: 10px;
  background: #6262ff;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 5px;
  line-height: 16px;
  color: #fff;
}

.smart-card  .candidate .card-body {
  height: 260px;
}

.page--manage-jobs .smart-card  .candidate .card-body { 
  height: auto !important;
}

.smart-card-progress-bar h3,
.page--manage-jobs .card .smart-card-progress-bar h3,
.skills-carousel-Changed h4,
.smart-card .sub-title {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #90a4ad;
  margin: 0 0 10px;
  flex:  0 0 100%;
  max-width: 100%;
}

.smart-card .sub-title {
  margin-bottom: 20px;
}

.page--manage-jobs .card .smart-card-progress-bar {
  margin: 20px auto 20px;
}

.smart-card-progress-bar h4{
  font-size: 10px;
  text-align: center;
  color: #90a4ad;
  margin: 0;
}

.smart-card-progress-bar .col:first-child {
  padding-left: 0;
}

.smart-card-progress-bar .col:last-child {
  padding-right: 0;
}

.smart-card-progress-bar .col:first-child h4 {
  text-align: left;
}

.smart-card-progress-bar .col:last-child h4 {
  text-align: right;
}

.smart-card-progress-bar .col:first-child,
.smart-card-progress-bar .col:last-child {
  width: 15%;
}

.smart-card-progress-bar .col {
  position: relative;
  padding-top: 10px;
}

.smart-card-progress-bar .col:after {
  width: 13px;
  height: 13px;
  background: #e0e3ef;
  border-radius: 50%;
  content: "";
  left:0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: -6px;
}

.smart-card-progress-bar .col:first-child::after {
  right: auto;
}

.smart-card-progress-bar .col:last-child::after {
  left: auto;
}

.smart-card-progress-bar .col:before {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  content: "";
  height: 1px;
  background: #e0e3ef;
}

.smart-card-progress-bar .col.active:before,
.smart-card-progress-bar .col.active:after {
  background: #6262ff;
}

.smart-card-progress-bar .col.in-progress:before,
.smart-card-progress-bar .col.in-progress:after {
  background: #32c396;
}

.smart-card-progress-bar .row {
  width: 95%;
  margin: 0 auto;
}



.jdv-listing.smart-job-card .jdv-company-profile .company-title h2 {
  font-size: 20px !important;
  line-height: 1.35;
}

.jdv-listing.smart-job-card .jdv-company-profile .company-title h3 {
  font-size: 14px !important;
}

.smart-job-card .icon-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.smart-job-card .icon-navigation li {
  display: inline-block;
}

.smart-job-card .icon-navigation li:not(:first-child) {
  margin: 0 0 0 5px;
}

.smart-sticky-navigation li button .fa.fa-lightbulb-o::before,
.smart-sticky-navigation li button .fa.fa-clipboard::before {
  display: none;
}

.smart-sticky-navigation li button .fa.fa-lightbulb-o {
  width:17px;
  height: 19px;
  background: url(../../../assets/images/smart-card-sprites.png) -276px -106px no-repeat;
  background-size: 600px auto;
}

.smart-sticky-navigation li button .fa.fa-clipboard {
  width:16px;
  height: 19px;
  background: url(../../../assets/images/smart-card-sprites.png) -301px -108px no-repeat;
  background-size: 600px auto;
}

.smart-sticky-navigation li button.active .fa.fa-lightbulb-o {
  background-position: -276px -135px;
}

.smart-sticky-navigation li button.active .fa.fa-clipboard {
  background-position: -301px -136px;
}

.smart-card .candidate-status span {
  font-size: 8px;
  text-transform: capitalize;
  color:#90a4ad;
  display: block;
  margin: 10px 0 0;
}

.smart-card .candidate-status span.jdv-smart-icon {
  margin: 0 auto;
}

.page--job-details #applied .smart-card .candidate-status {
  display: flex;
}

.candidate-status a {
  width: 70px;
}

.jdv-smart-icon {
  background: url(../../../assets/images/smart-card-sprites.png) 0 0 no-repeat;
  background-size: 600px auto;
  display: block;
  font-size: 0 !important;
}

.jdv-smart-icon.jdv-icon-education {
  width: 50px;
  height: 50px;
  background-position: -14px -167px;
}

.jdv-smart-icon.jdv-icon-employment {
  width: 50px;
  height: 50px;
  background-position: -73px -167px;
}

.jdv-smart-icon.jdv-icon-reference {
  width: 50px;
  height: 50px;
  background-position: -132px -167px;
}

.jdv-smart-icon.jdv-icon-authroization {
  width: 50px;
  height: 50px;
  background-position: -192px -167px;
}

.jdv-smart-icon.jdv-icon-wfh {
  width: 50px;
  height: 50px;
  background-position: -251px -167px;
}

.smart-card .candidate-status .active .jdv-smart-icon.jdv-icon-education {
  background-position: -14px -227px;
}

.smart-card .candidate-status .active .jdv-smart-icon.jdv-icon-employment {
  background-position: -73px -227px;
}

.smart-card .candidate-status .active .jdv-smart-icon.jdv-icon-reference {
  background-position: -132px -227px;
}

.smart-card .candidate-status .active .jdv-smart-icon.jdv-icon-authroization {
  background-position: -192px -227px;
}

.smart-card .candidate-status .active .jdv-smart-icon.jdv-icon-wfh {
  background-position: -251px -227px;
}
.smart-card .candidate-status {
  text-align: center;
}
.smart-card .candidate-status a {
  width: 70px;
  text-align: center;
}

.svg-progress svg {
  width: 80px;
  height: auto;
}

@media only screen and (max-width: 1334px) {
  .smart-card .star-rating .star {
      padding: 0 !important;
  }
}

@media only screen and (max-width:1170px) {
  .smart-card .candidate-status a {
    width: 64px;
  }
}

@media only screen and (max-width: 991px) {
  .smart-card .skill-click {
    width: 33.33%;
  }
}

@media only screen and (max-width: 500px) {
  .smart-card .skill-click {
    margin: 10px 0 0;
  }
  .smart-card .skill-click:first-child {
    margin: 0;
  }
  .smart-card-progress-bar .col,
  .smart-card-progress-bar .col:first-child, 
  .smart-card-progress-bar .col:last-child {
    width: 100%;
    margin: 10px 0 0;
  }
  .smart-card-progress-bar .col:first-child::after {
    right: 0;
  }
  .smart-card-progress-bar .col:last-child::after {
    left: 0;
  }
  .smart-card-progress-bar .col:first-child h4,
  .smart-card-progress-bar .col:last-child h4 {
    text-align: center;
  }

  .smart-card .card-profile-image-container figure {
    width: 100px;
    height: 100px;
    background: url(../../images/smart-card-profile.png) 0 0 no-repeat;
    background-size: 100px auto;
  }

  .smart-card .card-profile-image-container {
    padding: 10px 20px 10px 128px;
  }
}

.custom-tooltip-list {
  margin: 0;
  padding: 0;
}

.custom-tooltip-list li {
  position: relative;
  text-align: left;
  padding-left: 15px;
}

.custom-tooltip-list li i {
  position: absolute;
  left: 0;
  top:0;
}

.sizzlevideo-matching-details {
  height: 100% !important;
}

.icon-smart {
  background: url(../../../assets/images/smart-card-new-sprites.png) 0 0 no-repeat;
  background-size: 600px auto;
  display: inline-block;
  font-size: 0;
}

.icon-smart.icon-smart-email {
  width: 22px;
  height: 16px;
  background-position: -22px -26px;
}

.page--job-details .matching-details {
  z-index: 105;
}


.icon-smart.icon-smart-phone {
  width: 18px;
  height: 19px;
  background-position: -49px -26px;
}

.icon-smart.icon-smart-notes {
  width: 24px;
  height: 24px;
  background-position: -198px -26px;
}

.icon-smart.icon-smart-share {
  width: 24px;
  height: 20px;
  background-position: -106px -27px;
}

.icon-smart.icon-smart-review {
  width: 25px;
  height: 33px;
  background-position: -131px -185px;
}

.icon-smart.icon-smart-screening {
  width: 37px;
  height: 31px;
  background-position: -289px -185px;
}

.icon-smart.icon-smart-shortlisted {
  width: 32px;
  height: 32px;
  background-position: -169px -184px;
}

.icon-smart.icon-smart-interview {
  width: 35px;
  height: 32px;
  background-position: -211px -184px;
}

.icon-smart.icon-smart-hired {
  width: 27px;
  height: 32px;
  background-position: -252px -184px;
}

.icon-smart.icon-smart-certificate {
  width: 24px;
  height: 24px;
  background-position: -143px -26px;
}

.icon-smart.icon-smart-domain {
  width: 24px;
  height: 24px;
  background-position: -170px -26px;
}

.icon-smart.icon-smart-document {
  width: 23px;
  height: 18px;
  background-position: -76px -26px;
}

.icon-smart.icon-smart-feedback {
  width: 24px;
  height: 24px;
  background-position: -228px -26px;
}


div.dropup {
  width:42px;
  height: 42px;
  background: url(../../../assets/images/smart-card-new-sprites.png) -333px -27px no-repeat;
  background-size: 600px auto;
  background-color: var(--green-600);
  box-shadow: 0 3px 6px rgba(158,171,192,0.20);
  border-radius: 50%;
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 1000;
}

div.dropup > a {
  font-size: 0;
  height: 48px;
  width: 48px;
  display: block;
}

.smart-card .dropdown-menu.dropdown-menu-right {
  bottom: auto !important;
  top: 100%;
  font-size: 13px;
}

.smart-card-status {
  flex: 0 0 100%;
  max-width: 100%;
}

.smart-card-status .col {
	width: 20%;
  text-align: center;
  padding: 7px;
  border-top: 4px solid #e0e3ef;
}

.smart-card-status .col.blue {
  border-top-color: #6262ff;
}

.smart-card-status .col.green {
  border-top-color: #32c396;
}


.smart-card-status .col:not(:first-child) {
  border-left: 1px solid #e0e3ef;
}

.smart-card-status .icon-smart {
  margin: 0 auto 10px;
  display: block;
}

.smart-card-status .row {
  margin: 0;
}

.smart-card-status h4 {
	font-size: 12px;
	color: #9eabc0;
	margin: 0;
  font-weight: 400;
}

.smart-card .dropdown-menu.dropdown-menu-right div li a {
  padding: 0;
}

.smart-list-icons {
  margin:0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.smart-list-icons li:not(:first-child) {
  margin-left: 5px;
}

.smart-list-icons .btn {
  padding: 0;
  font-size: 0;
  background: none;
  border: 0;
  margin: 0 3px;
}

.certificate-list{
  border-left: 1px solid #c6c7ca;
	border-width: medium;
  padding: 0 0px 0 5px;
}

.page--job-details .matching-details {
  z-index: 1001 !important;
}

.smart-card .skills-carousel-Changed a.right-arrow,
.smart-card .skills-carousel-Changed a.left-arrow {
  bottom: 9rem !important;
}

.smart-card-status .col.in-progress {
  border-top-color: #6262ff;
}

.smart-card-status .col.active {
  border-top-color: #32c396;
}

.smart-card-status .col.in-progress .icon-smart.icon-smart-review {
  background-position: -131px -272px;
}

.smart-card-status .col.in-progress .icon-smart.icon-smart-screening {
  background-position: -289px -272px;
}

.smart-card-status .col.in-progress .icon-smart.icon-smart-shortlisted {
  background-position: -169px -272px;
}

.smart-card-status .col.in-progress .icon-smart.icon-smart-interview {
  background-position: -211px -271px;
}

.smart-card-status .col.in-progress .icon-smart.icon-smart-hired {
  background-position: -251px -271px;
}

.smart-card-status .col.active .icon-smart.icon-smart-review {
  background-position: -131px -234px;
}

.smart-card-status .col.active .icon-smart.icon-smart-screening {
  background-position: -289px -234px;
}

.smart-card-status .col.active .icon-smart.icon-smart-shortlisted {
  background-position: -169px -234px;
}

.smart-card-status .col.active .icon-smart.icon-smart-interview {
  background-position: -211px -233px;
}

.smart-card-status .col.active .icon-smart.icon-smart-hired {
  background-position: -251px -234px;
} 

.smart-card div.dropup.open ul:empty {
  display: none;
} 