<div class="col-container">
  <div class="top-container">
    <div class="profile-info">
			<div class="profile-thumb">
				<img src="../../../../assets/images/default-profile-thumb.png" alt="">
			</div>
      <h4>KLM</h4>
			<h3>
        <span class="text-trim">Analyst</span>
      </h3>
			
		</div>
  </div>
  <div class="middle-container">
    <div class="top-section">
      <ul>
        <li class="job-title">
          <span class="mdi mdi-school-outline"></span>
          Software Architect 1
        </li>
        <li>10.8 Yrs</li>
      </ul>
      <div class="location">
        <span class="mdi mdi-map-marker-outline"></span>
        San Antonio, Texas
      </div>
    </div>
  </div>
  <div class="skills-grid">
    <div class="top-grid-section">
      <h4>Skills</h4>
      <div class="legend-list">
        <ul>
          <li>
            <span class="box">&nbsp;</span>
            <em>Mandatory</em>
          </li>
          <li>
            <span class="box">&nbsp;</span>
            <em>Optional</em>
          </li>
        </ul>
      </div>
    </div>
    <div class="skills-col">
      <div class="skill-container">
        <span class="mdi mdi-star-outline"></span>
        <div class="skill-info">
          <h3>SQL</h3>
          <h4>Exp:  5.8 Years</h4>
        </div>
      </div>
      <div class="skill-container">
        <span class="mdi mdi-star-outline"></span>
        <div class="skill-info">
          <h3>SQL</h3>
          <h4>Exp:  5.8 Years</h4>
        </div>
      </div>
      <div class="skill-container">
        <span class="mdi mdi-star-outline"></span>
        <div class="skill-info">
          <h3>SQL</h3>
          <h4>Exp:  5.8 Years</h4>
        </div>
      </div>
    </div>
    <div class="top-grid-section">
      <h4>Key Responsibilities</h4>
      <div class="legend-list">
        <ul>
          <li>
            <span class="box">&nbsp;</span>
            <em>0-2</em>
          </li>
          <li>
            <span class="box">&nbsp;</span>
            <em>3-6</em>
          </li>
          <li>
            <span class="box">&nbsp;</span>
            <em>7-10</em>
          </li>
          <li>
            <span class="box">&nbsp;</span>
            <em>10+</em>
          </li>          
        </ul>
      </div>
    </div>
    <div class="skills-col">
      <div class="skill-container">
        <span class="mdi mdi-star-outline"></span>
        <div class="skill-info">
          <h3>Project Name</h3>
        </div>
      </div>
      <div class="skill-container">
        <span class="mdi mdi-star-outline"></span>
        <div class="skill-info">
          <h3>Project Name</h3>
        </div>
      </div>
      <div class="skill-container">
        <span class="mdi mdi-star-outline"></span>
        <div class="skill-info">
          <h3>Project Name</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="verification-grid">
    <h4>Verification</h4>
    <ul>
      <li>
        <div class="col-container">
          <span class="icon icon-01">Icon</span>
          <h5>Reference</h5>
        </div>
      </li>
      <li>
        <div class="col-container">
          <span class="icon icon-02">Icon</span>
          <h5>Employment</h5>
        </div>
      </li>
      <li>
        <div class="col-container">
          <span class="icon icon-03">Icon</span>
          <h5>Background</h5>
        </div>
      </li>
      <li>
        <div class="col-container">
          <span class="icon icon-04">Icon</span>
          <h5>Skills</h5>
        </div>
      </li>
      <li>
        <div class="col-container">
          <span class="icon icon-05">Icon</span>
          <h5>WFH</h5>
        </div>
      </li>
    </ul>
  </div>
</div>