<div class="dashboard-users-kpis">
  <h3>Applicants by status</h3>
  <div class="row">
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-01">Icon</span>
        <div class="info">
          <h4>{{UserStats?.Admin || 0}}</h4>
          <h6>Admin</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-02">Icon</span>
        <div class="info">
          <h4>{{UserStats?.['Account Manager'] || 0}}</h4>
          <h6>Account Manager</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-03">Icon</span>
        <div class="info">
          <h4>{{UserStats?.['Reporting Manager'] || 0}}</h4>
          <h6>Reporting Manager</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-04">Icon</span>
        <div class="info">
          <h4>{{UserStats?.['Lead Recruiter'] || 0}}</h4>
          <h6>Lead Recruiter</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-05">Icon</span>
        <div class="info">
          <h4>{{UserStats?.Recruiter || 0}}</h4>
          <h6>Recruiter</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container"> 
        <span class="icon icon-06">Icon</span>
        <div class="info">
          <h4>{{UserStats?.['Skill Evaluator']  || 0}}</h4>
          <h6>Skill Evaluator</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-chart-container">
  <div class="row">
    <div class="col-md-12 col-lg-12 table-cols">
      <div class="top-container">
        <h3>Team Member status based on applicant status</h3>
        <div class="form-group">
          <select class="form-select">
            <option value="This Week">This Week</option>
          </select>
        </div>
      </div>
      <div class="table-box-container" malihu-scrollbar [scrollbarOptions]="{ axis: 'x', theme: 'dark' }">
        <div class="table-container">
          <div class="table-row table-header-row">
            <div class="table-col name-col">
              Team Member
            </div>
            <div class="table-col">
              Uploaded
            </div>
            <div class="table-col">
              Applied
            </div>
            <div class="table-col">
              Shortlisted
            </div>
            <div class="table-col">
              Interviewed
            </div>
            <div class="table-col">
              Screened
            </div>
            <div class="table-col">
              Hired
            </div>
            <div class="table-col">
              Rejected
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">Telsa</span>
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              0
            </div>
            <div class="table-col">
              2
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">AFS</span>
            </div>
            <div class="table-col">
              17
            </div>
            <div class="table-col">
              10
            </div>
            <div class="table-col">
              -
            </div>
            <div class="table-col">
              39
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">Quinnax</span>
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              2
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">AFS</span>
            </div>
            <div class="table-col">
              17
            </div>
            <div class="table-col">
              10
            </div>
            <div class="table-col">
              -
            </div>
            <div class="table-col">
              39
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-container d-flex justify-content-end">
        <a href="#" class="btn btn-link">
          Full View
          <span class="mdi mdi-fullscreen"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-listing-columns">
  <!-- <div class="top-container">
    <h3>Top Performances</h3>
    <div class="form-group">
      <select class="form-select">
        <option value="This Week">This Week</option>
      </select> 
    </div>
  </div> -->
  <div class="col-md-12 col-lg-12 table-cols">
    <div class="top-container">
      <h3>Top Performances</h3>
     
    </div>
    <div class="table-box-container" malihu-scrollbar [scrollbarOptions]="{ axis: 'x', theme: 'dark' }">
      <div class="table-container">
        <div class="table-row table-header-row">
          <div class="table-col name-col">
            Team Member
          </div>
          <div class="table-col">
           Email
          </div>
          <div class="table-col">
            Role
          </div>
         
  
        
        </div>
        <div class="table-row table-col-row" *ngFor="let job of topUsers;let i = index">
          <div class="table-col name-col">
            <span class="text-ellipsis">{{job?.FirstName | titlecase}}     {{job?.LastName | titlecase}}</span>
          </div>
          <div class="table-col">
            {{job?.Email}}
          </div>
          <div class="table-col">
            {{job?.RoleName}}
          </div>
          
       
        </div>
  
      </div>
    </div>
    <!-- <div class="bottom-container d-flex justify-content-end">
      <a href="#" class="btn btn-link">
        Full View
        <span class="mdi mdi-fullscreen"></span>
      </a>
    </div> -->
  </div>
  <!-- <div class="candidate-cards">
    <div class="row">
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
        >
        </app-dashboard-candidate-card>
      </div>
    </div>
  </div> -->
</div>