@import './../../../../assets/partials/utils/variables';

#sidebar {
	position: absolute;
	width: 64px;
	border-radius: 32px;
	bottom: 30px;
	left: 30px;
	top: 30px;
	background: $white;
	overflow: hidden;
	transition: all 550ms linear;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			text-align: center;
			margin-top: 24px;
			min-height: 40px;

			a {
				color: $blue;
				text-decoration: none;
				position: relative;
				display: block;
				text-align: center;
				padding-left: 65px;

				.material-icons-outlined,
				.mdi {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					position: absolute;
					left: 12px;
					margin: 0 auto;
					top: 50%;
					transform: translateY(-50%);
				}

				em {
					white-space: nowrap;
					display: block;
					font-style: normal;
					opacity: 0;
					font-weight: 600;
					visibility: hidden;
					color: $dark-gray;
				}
			}

			&.active {
				a {
					.material-icons-outlined,
					.mdi {
						background: $blue;
						color: $white;
						border-radius: 50%;
					}
				}
			}
		}
	}

	&.open {
		width: 245px;

		.btn-menu {
			margin: 15px 0 0 15px;
		}

		ul {
			li {
				text-align: left;
				a {
					.material-icons-outlined {
						left: 20px;
						right: auto;
					}
					
					em {
						text-align: left;
						padding: 0 0  0 10px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.btn-menu {
	margin: 15px 0 0 7px;
	display: block;
	background-color: transparent;
	border: 0;
	color: $dark-gray;

	&:hover, &:focus, &:active {
		background-color: transparent;
		border: 0;
		color: $dark-gray;
	}
}