@import './../../../../assets/partials/utils/variables';

#sidebar {
	position: fixed;
	width: 48px;
	left: 20px;
	top: 20px;
	z-index: 100;
	bottom: 20px;
	border-radius: 32px;
	background: $white;
	overflow: hidden;
	transition: all 550ms linear;
	
	@media only screen and (min-width : 1280px) {
		bottom: 30px;
		top: 30px;
		left: 30px;
		width: 64px;
		position: absolute;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			text-align: center;
			margin-top: 12px;
			min-height: 40px;

			a {
				color: $blue;
				text-decoration: none;
				position: relative;
				display: block;
				text-align: center;
				padding-left: 65px;

				.material-icons-outlined,
				.mdi {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					position: absolute;
					left: 5px;
					margin: 0 auto;
					top: 50%;
					transform: translateY(-50%);
					
					@media only screen and (min-width: 1280px) {
						left: 12px;
					}
				}

				em {
					white-space: nowrap;
					display: block;
					font-style: normal;
					opacity: 0;
					font-weight: 600;
					visibility: hidden;
					color: $dark-gray;
				}
			}

			&.active {
				a {

					.material-icons-outlined,
					.mdi {
						background: $blue;
						color: $white;
						border-radius: 50%;
					}
				}
			}

			@media only screen and (min-width: 1280px) {
				margin-top: 24px;
			}
		}
	}

	&.open {
		width: 245px;

		.btn-menu {
			margin: 6px 0 0 6px;

			@media only screen and (min-width: 1280px) {
				margin: 15px 0 0 15px;
			}
		}

		ul {
			li {
				text-align: left;

				a {
					.material-icons-outlined {
						left: 20px;
						right: auto;
					}

					em {
						text-align: left;
						padding: 0 0 0 10px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.btn-menu {
	margin: 0;
	display: block;
	background-color: transparent;
	border: 0;
	color: $dark-gray;

	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
		border: 0;
		color: $dark-gray;
	}

	@media only screen and (min-width: 1280px) {
		margin: 15px 0 0 7px;
	}
}