<mat-dialog-content class="mat-typography manage-achievements-i-d">
    <!-- <button mat-button mat-dialog-close class="close">×</button> -->
    <div class="modal-header text-center">
        <img src="../../../../../../assets/images/card-icons/achievement-badge.png" width="60" alt="certifications">
        <h4>Achievements</h4>
    </div>
    <div class="modal-body">
        <div class="row ach-list-header">
            <div class="col-md-4">
                <h4>Achievement</h4>
            </div>
            <div class="col-md-4">
                <h4>Company & Project</h4>
            </div>
            <div class="col-md-4">
                <h4>Year</h4>
            </div>
        </div> 
         <div class="ach-scroll scrollbar-inner">
            <ul class="achievements-list">
                <ng-container *ngIf="alist.length>0">
                    <li class="a-details" *ngFor="let a of alist">
                        <div class="col-md-4">
                            <h5>{{a?.AchivementDescription}}</h5>
                        </div>
                        <div class="col-md-4 text-left">
                            <h5 *ngIf="a?.CompanyName!=null">{{a?.CompanyName}}</h5>
                            <small *ngIf="a?.ProjectName!=null">{{a?.ProjectName}}</small>
                        </div>
                        <div class="col-md-4" *ngIf="a?.ToDate!=null">
                            <h5>{{a?.ToDate | date:'yyyy'}}</h5>
                        </div>
                    </li>
                </ng-container>
                <ng-container *ngIf="alist.length==0">
                    <p class="text-center">No Achievements Added</p>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-button mat-dialog-close class="btn btn-default">Close</button>
    </div>
</mat-dialog-content>