<header id="header" class="d-flex align-items-center">
  <a href="javascript:void(0)" id="logo">
    <img src="../../../../assets/images/logo.png" alt="Arytic"/>
  </a>
  <div class="right-col ml-auto">
    <!-- <div class="form-search">
      <input type="text" class="form-control" placeholder="Search Here...">
    </div> -->
    <!-- <a href="#" class="btn-notification">
      <span class="mdi mdi-bell-badge-outline"></span>
      <em>10</em>
    </a> -->
    <div class="profile-nav">

    <img src="https://ui-avatars.com/api/?name={{this.customer?.FirstName}}+{{this.customer?.LastName}}" alt=""/>
      
     
    </div>
   {{customer.FirstName | titlecase}} {{customer?.LastName | titlecase}}
    <br/>
    <a href="javascript:void(0)" (click)="logout()">Logout</a>
  </div>
</header>