<div class="slide-static-section">
  <div class="slide-heding d-flex align-items-center">
    <h3>Job Notes</h3>
  </div>
  <app-sidepanel-cards [job]="job"></app-sidepanel-cards>
  <div class="form-actions">
    <ng-container *ngIf="showJobForm == 'false'">
      <button class="btn btn-info" (click)="showJobFormHandler()">Add Job Notes</button>
    </ng-container>
    <ng-container *ngIf="showJobForm == 'true'">
      <button class="btn btn-outlined-default" (click)="showJobFormHideHandler()">Clear</button>
      <button class="btn btn-info" (click)="saveClicked()">Save</button>
    </ng-container>
  </div>
</div>
<div class="slide-container">
  
<div class="job-notes">
  <ng-container *ngIf="showJobForm == 'true'">
    <h4 class="mr-bottom-40">Add New Job Notes</h4>
    <div class="form-container">
      <div class="row">
        <div class="col-md-4 col-lg-4 label-col">
          <label>
            Type of  Notes
          </label>
        </div>
        <div class="col-md-8 col-lg-8 input-col">
          <div class="form-group">
            <span class="mdi mdi-information-outline"></span>
            <select name="OtherInfo" class="form-select" [(ngModel)]="savenote.OtherInfo">
              <!-- <option  value="" disabled >Select Application Status</option> -->
              <option  value="Email">Email</option>
              <option   value="General">General</option>
              <option  value="Request for information">Request For Information</option>
              <option   value="Interview Related">Interview Related</option>
              <option   value="Other">Other</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 single-col">
          <label>Add Team Members</label>
        </div>
        <div class="col-sm-12">
          <div class="input-group">
            <div class="form-group">
              <!-- <span class="mdi mdi-account-multiple-outline"></span> -->
              <!-- <select class="form-select">
                <option value="Select Team Member">Select Team Member</option>
                <option value="Select Team Member" *ngFor="let job of customercontacts "> {{job.FirstName}}</option>
              </select> -->
              
              <ng-select class="ng-select-single" [items]="customercontacts" name="team"
												placeholder="Add Team Members" bindLabel="FirstName"
												bindValue="UserId" [typeahead]="selectedUserInput" [hideSelected]="true" 
												id="teamMbr" [(ngModel)]="selectedUserName" name="selectedUserName" [virtualScroll]="true"
												#TMemb="ngModel">
											</ng-select>
            </div>
            <button class="btn btn-icon" (click)="addTeammembers()" ><span class="mdi mdi-plus"></span></button>
          </div>
          <div class="checkbox-list">
            <ul>
              <li *ngFor = "let selectedMember of teammemberslist; let i=index">
                <label>
                  <span class="checkmark">
                    {{selectedMember.FirstName}}
                  </span>
                  <span class="mdi mdi-close-thick" (click)="deleteTeammember(i)"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 single-col">
          <label>Notes</label>
        </div>
        <div class="col-sm-12">
          <ckeditor  
          (change)="onEditorChange($event)"
          [(ngModel)]="selectedComments"
            [config]="config"
            data="<p>Hello, world!</p>">
          </ckeditor>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 single-col">
          <div class="file-upload">
            <button class="btn"><span class="mdi mdi-cloud-upload-outline"></span>Browse and upload documents</button>
            <input type="file" accept=".doc,.docx,.pdf,.txt" name="myfile"ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple />
          </div>
          <div class="description">
            <span class="mdi mdi-information-outline"></span>
            Upload .doc, .docx, .pdf, .txt file only
          </div>
          <div *ngFor="let item of files">
              <span>{{item.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <h4>List of Notes</h4>
  <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
    <ngb-panel [id]="'custom-panel-'+i" *ngFor="let notes of JobNotes ; let i =index">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="accordion-button custom-header justify-content-between" [class.collapsed]="!opened">
          <button ngbPanelToggle class="btn btn-link p-0">
            <span class="icon">
              <span class="mdi mdi-file-edit-outline"></span>
            </span>
            <div class="info">
              {{notes.Others}}
              <span class="date">{{notes.CreatedOn|date}}</span>
            </div>
          </button>
          <!-- <button class="btn btn-icon">
            <span class="mdi mdi-trash-can-outline"></span>
          </button> -->
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="accordion-information">
          <div [innerHtml]="notes.CustomerComment"></div>
          <div class="name">By {{notes.FirstName}} {{notes.LastName}}</div>
          <div class="file-listing" *ngIf = "notes.attachmentsNew[0].DocName != 'No Attachements'">
            <div class="file-row" *ngFor="let attachNew of notes.attachmentsNew">
              <ng-container *ngFor="let attach of attachNew.Attaches">
                <span class="mdi mdi-link-variant"></span>
                {{attach.aDocName}}
                <div class="buttons">
                  <a target="NotesDocViewer" [href]="notesDocViewerUrl+attach.aDocName"><span class="mdi mdi-eye-arrow-right-outline"></span></a>
                  <a ><span class="mdi mdi-progress-download" (click)="DownloadDocument(attach?.aDocName)"></span></a>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="noDataMessage" *ngIf = "JobNotes?.length == 0">
    <div>No Notes Available</div>
  </div>
</div>

</div> 