<div class="job-card">
  <div class="col-container">
    <div class="top-container">
      <span class="status active">Screening</span>
      <span class="priority">
        <span class="mdi mdi-arrow-down-thick"></span>
        Lower
      </span>
      <div class="profile-info">
        <div class="profile-thumb">
          <img src="../../../../assets/images/default-company-small.jpg" alt="">
        </div>
        <h3>Salesforce Develover</h3>
        <div class="profile-summary">
          <h4>
            <span class="mdi mdi-briefcase-outline"></span>
            Exp  - <strong>Req 8 Years</strong>
          </h4>
          <h4>
            <span class="mdi mdi-seat-outline"></span>
            <strong>5</strong> Position
          </h4>
        </div>
      </div>
    </div>
    <div class="middle-container">
      <div class="top-section">
        <h3>Google</h3>
        <span class="id"> <strong>Job Ref</strong>: 1003757 </span>
      </div>
      <div class="top-bottom-section">
        <ul>
          <li><span class="highlight">Arytic ID:  1003757</span></li>
          <li>
            <span class="mdi mdi-map-marker-outline"></span>
            Austin
          </li>
          <li>
            <span class="mdi mdi-calendar-blank-outline"></span>
            Mar 14, 2023
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>