<div class="top-container">
  <div class="row">
    <div class="col-md-6 col-lg-6 left-col">
      <div class="job-card">
        <div class="col-container">
          <div class="top-container">
            <span class="status active" *ngIf="job?.JobStatus != 'InActive'">{{job?.JobStatus}}</span>
            <span class="status inactive" *ngIf="job?.JobStatus == 'InActive'">{{job?.JobStatus}}</span>
            <span class="priority" *ngIf="job?.JobPriority == 'Low'">
              <span class="mdi mdi-arrow-down-thick"></span>
              {{job?.JobPriority}}
            </span>
            <span class="priority high" *ngIf="job?.JobPriority == 'High'">
              <span class="mdi mdi-arrow-up-thick"></span>
              {{job?.JobPriority}}
            </span>
            <span class="priority medium" *ngIf="job?.JobPriority == 'Medium'">
              <span class="mdi mdi-arrow-left-right-bold"></span>
              {{job?.JobPriority}}
            </span>
            <div class="profile-info">
              <div class="profile-thumb">
                <img src="../../../../assets/images/default-company-small.jpg" alt="">
              </div>
              <h3>{{job?.JobTitle}}</h3>
              <div class="profile-summary">
                <h4>
                  <span class="mdi mdi-briefcase-outline"></span>
                  Exp  - <strong>{{job?.MaxExperience}} Years</strong>
                </h4>
                <h4>
                  <span class="mdi mdi-seat-outline"></span>
                  <strong>{{job?.NumberOfVacancies}}</strong> Position
                </h4>
              </div>
            </div>
          </div>
          <div class="middle-container">
            <div class="top-section">
              <h3>{{job?.ClientName ?? 'Client: Not Provided'}}</h3>
              <span class="id"> <strong>Job Ref: </strong>{{job?.JobPositionId}}</span>
            </div>
            <div class="top-bottom-section">
              <ul>
                <li><span class="highlight">Arytic ID:  {{job?.JobId}}</span></li>
                <li>
                  <span class="mdi mdi-map-marker-outline"></span>
                  <span placement="top" ngbTooltip="{{job?.JobLocations.split('|')}}">
                    <ng-container *ngFor="let location of job?.JobLocations.split('|');let j = index">	
                      <span *ngIf="j<1" class="location-trim">
                        {{location}}
                      </span>
                    </ng-container>
                  </span>
                </li>
                <li>
                  <span class="mdi mdi-calendar-blank-outline"></span>
                  {{job?.PostedDate | date:'mediumDate'}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <ng-container *ngIf="jobCard == true">
      <div class="col-md-6 col-lg-6 right-col">
        <div class="job-card">
          <div class="col-container">
            <div class="top-container">
              <span class="status active">
                Uploaded <span class="mdi mdi-information-outline"></span>
              </span>
              <span class="priority">
                Candidate Info
              </span>
              <div class="profile-info">
                <div class="profile-thumb">
                  <img src="../../../../assets/images/default-profile-thumb.png" alt="">
                </div>
                <h3>Akhilesh Chang</h3>
                <div class="profile-summary">
                  <h4>
                    <span class="mdi mdi-briefcase-outline"></span>
                    Exp  - <strong>Req 8 Years</strong>
                  </h4>
                </div>
              </div>
            </div>
            <div class="middle-container">
              <div class="left-container">
                <div class="top-section">
                  <h3>Software Architect 1 </h3>
                </div>
                <div class="top-bottom-section">
                  <ul>
                    <li><span class="highlight">Application iD: 728743</span></li>
                  </ul>
                </div>
              </div>
              <div class="right-container">
                Matching
                <div class="progress-circle">
                  <circle-progress
                  [percent]="40"
                  [radius]="30"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="4"
                  [outerStrokeColor]="'#6262FF'"
                  [innerStrokeColor]="'#C0C0C0'"
                  [animationDuration]="300"
                  [responsive] = true
                  [showSubtitle] = false
                  ></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>