<div class="advance-filter">
	<button class="close-btn" (click)="this.filterHideHandler.emit();">
		<span class="mdi mdi-close-circle-outline"></span>
	</button>
  <div class="row">
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Skills</label>
			<div class="form-group">
				<span class="mdi mdi-star-outline"></span>
				<select class="form-select">
					<option value="Select">Select</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Experience</label>
			<div class="form-group">
        <span class="mdi mdi-briefcase-outline"></span>
				<select class="form-select">
					<option value="Select">Select</option>
				</select>
			</div>
		</div>
		
    <div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Profile Title</label>
			<div class="form-group">
        <span class="mdi mdi-badge-account-outline"></span>
				<input type="text" class="form-control" placeholder="Enter Profile Title">
			</div>
		</div>
		
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Domain</label>
			<div class="form-group">
        <span class="mdi mdi-earth"></span>
				<select class="form-select">
					<option value="Select">Select</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Company Name</label>
			<div class="form-group">
        <span class="mdi mdi-home-variant-outline"></span>
				<select class="form-select">
					<option value="Select">Enter Company Name</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Education</label>
			<div class="form-group">
				<span class="mdi mdi-school-outline"></span>
				<input type="text" class="form-control" placeholder="Enter Education">
			</div>
		</div>
		
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Certification</label>
			<div class="form-group">
        <span class="mdi mdi-police-badge-outline"></span>
				<input type="text" class="form-control" placeholder="Enter Education">
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 button-col col text-right">
			<button class="btn btn-info">Apply</button>
			<button class="btn btn-outlined-default">Cancel</button>
		</div>
	</div>
</div> 