<div class="upload__resume__container" *ngIf="haveProfiles">
  <div class="top__container">
    <button type="button" class="close" mat-button mat-dialog-close data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <span class="profile__count">{{processedProfiles.length}} Profiles</span>
    <h3>Upload Profiles</h3>
    <section id="slider">
      <span class="slider_prev"><span class="sr-only" (click)="selectPreviousCandidate()">Previous</span></span>
      <ng-container *ngFor="let c of  processedProfiles;let j = index">
 
      <input type="radio" name="slider" id="{{'s'+[j+1]}}" checked>
      </ng-container>
      <label for="{{'s'+[k+1]}}" id="{{'slide'+[k+1]}}" *ngFor="let cand of  processedProfiles;let k = index">
        <div class="info__label">
          <h4>{{cand?.ContactInformation?.CandidateName?.FormattedName}}</h4>
          <h5>{{cand?.ContactInformation?.EmailAddresses[0]}}</h5>
            <h6 *ngFor="let tel of cand.ContactInformation.Telephones">{{tel?.Normalized}};</h6>  
            <ng-container *ngFor="let t of checks;let f = index">
              <h6 *ngIf="t.split(',')[0] === 'Arytic'&&t.split(',')[1] === cand?.ContactInformation?.EmailAddresses[0]">  <i class="fa fa-info-circle" aria-hidden="true"></i> Existing Arytic profile.</h6>      
              <h6 *ngIf="t.split(',')[0] === 'true'&&t.split(',')[1] === cand?.ContactInformation?.EmailAddresses[0]">  <i class="fa fa-info-circle" aria-hidden="true"></i> Please review profile associated before saving.</h6>  
            </ng-container>
           
           <!-- <p *ngIf="cand.ContactInformation.Location.Municipality!=null">{{cand?.ContactInformation?.Location?.Municipality}},{{cand?.ContactInformation?.Location?.Regions[0]}}</p>  -->
        </div>
      </label>
     
      <!-- <label for="s2" id="slide2">
        <div class="info__label">
          <h4>Pawan Bothra</h4>
          <h5>Software Engineer</h5>
          <p>Hounston, Texas</p>
        </div>
      </label> -->
      <!-- <label for="s3" id="slide3">
        <div class="info__label">
          <h4>Pawan Bothra</h4>
          <h5>Software Engineer</h5>
          <p>Hounston, Texas</p>
        </div>
      </label>
      <label for="s4" id="slide4">
        <div class="info__label">
          <h4>Pawan Bothra</h4>
          <h5>Software Engineer</h5>
          <p>Hounston, Texas</p>
        </div>
      </label>
      <label for="s5" id="slide5">
        <div class="info__label">
          <h4>Pawan Bothra</h4>
          <h5>Software Engineer</h5>
          <p>Hounston, Texas</p>
        </div>
      </label> -->
      
   
    <span class="slider_next"><span class="sr-only"  (click)="selectNextCandidate()">Next</span></span>

    </section>
  </div>
  <div class="main__section">
    <div class="row flex flex-wrap flex-align-start">
      <div class="col-sm-3 side__col">
        <div class="side__panel__navigation">
          <h4>Arytic Fit (80%)</h4>
          <ul>
            <li [ngClass]="showThis == 'JobFit'? 'active': null">
              <a href="javascript:void(0)" (click)="showThis = 'JobFit'">
                Job Fit (70%)
                <figure>
                  <img src="../../../../../assets/images/upload__job__fit.png" alt=""/>
                </figure>
              </a>
            </li>
            <li [ngClass]="showThis == 'SkillsFit'? 'active': null">
              <a href="javascript:void(0)" (click)="showThis = 'SkillsFit'">
                Skills Fit (90%)
                <figure>
                  <img src="../../../../../assets/images/upload__skills__fit.png" alt=""/>
                </figure>
              </a>
            </li>
            <li class="with__icon" [ngClass]="showThis == 'Achievement'? 'active': null">
              <a href="javascript:void(0)" (click)="showThis = 'Achievement'">
                <span class="icon icon__achivement"><span class="sr-only">Icon</span></span>
                Achievement
              </a>
            </li>
            <li class="with__icon" [ngClass]="showThis == 'Hobbies'? 'active': null">
              <a href="javascript:void(0)" (click)="showThis = 'Hobbies'">
                <span class="icon icon__hobbies"><span class="sr-only">Icon</span></span>
                Hobbies and Interest
              </a>
            </li>
            <li class="with__icon">
              <a href="javascript:void(0)">
                <span class="icon icon__interest"><span class="sr-only">Icon</span></span>
                Interest
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 primary__col">
        <ng-container *ngIf="showThis == 'JobFit'">
            <span class="shadow">&nbsp;</span>
            <div class="basic__table">
              <div class="row basic__row flex flex-wrap">
                <div class="col-sm-6 basic__col title__col">
                  <div class="box__table">&nbsp;</div>
                </div>
                <div class="col-sm-3 basic__col">
                  <div class="box__table">Job Details</div>
                </div>
                <div class="col-sm-3 basic__col">
                  <div class="box__table">Resume Details</div>
                </div>
              </div>
            </div>
            <div class="stripped__table no__margin">
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__th title__col title__col__first">
                  <div class="box__table">Role Fit</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__th">
                  <div class="box__table">can be <strong>25%</strong></div>
                </div>
                <div class="col-sm-3 strip__col strip__col__th">
                  <div class="box__table">you got <strong>10%</strong></div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Designation</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">Software Engineer</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    .Net Developer
                    <button class="btn btn__edit" (click)="showQuestion=1">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
                <div class="col-sm-12 question_col" *ngIf="showQuestion==1">
                  <div class="question">
                    If you are working as a .Net Developer ?
                    <div class="buttons">
                      <button class="btn btn-filled">Update</button>
                      <button class="btn btn-default" (click)="showQuestion=''">No</button>
                      <button class="btn btn-default">Skip</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Job Title</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">Fullstack Developer</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    Angular Developer
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Industry</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">Information Technology</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    Information Technology
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Key Responsiblities</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">Front End Development</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    Front End Development
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="stripped__table">
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__th title__col title__col__first">
                  <div class="box__table">Experience Fit</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__th">
                  <div class="box__table">can be <strong>25%</strong></div>
                </div>
                <div class="col-sm-3 strip__col strip__col__th">
                  <div class="box__table">you got <strong>10%</strong></div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Total Experience</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">Software Developer</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    .Net Developer
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Domain</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">Fullstack Developer</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    Angular Developer
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Industry</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">Information Technology</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    Information Technology
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="stripped__table">
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__th title__col title__col__first">
                  <div class="box__table">Job Hopping</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__th">
                  <div class="box__table">can be <strong>25%</strong></div>
                </div>
                <div class="col-sm-3 strip__col strip__col__th">
                  <div class="box__table">you got <strong>10%</strong></div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">ABC LTD.</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">5</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    4
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row strip__row flex flex-wrap">
                <div class="col-sm-6 strip__col strip__col__td title__col">
                  <div class="th__heading">Title</div>
                  <div class="box__table">Infosys</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Job Details</div>
                  <div class="box__table">2</div>
                </div>
                <div class="col-sm-3 strip__col strip__col__td">
                  <div class="th__heading">Resume Details</div>
                  <div class="box__table">
                    1
                    <button class="btn btn__edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      <span class="sr-only">edit</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </ng-container>
        <ng-container *ngIf="showThis == 'SkillsFit'">
          <span class="shadow">&nbsp;</span>
          <div class="basic__table">
            <div class="basic__table">
              <div class="row basic__row flex flex-wrap">
                <div class="col-sm-6 basic__col title__col">
                  <div class="box__table">&nbsp;</div>
                </div>
                <div class="col-sm-3 basic__col">
                  <div class="box__table">Job Details</div>
                </div>
                <div class="col-sm-3 basic__col">
                  <div class="box__table">Resume Details</div>
                </div>
              </div>
            </div>
          </div>
          <div class="stripped__table no__margin">
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__th title__col title__col__first">
                <div class="box__table">Skills</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__th">
                <div class="box__table">can be <strong>25%</strong></div>
              </div>
              <div class="col-sm-3 strip__col strip__col__th">
                <div class="box__table">you got <strong>10%</strong></div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Strategic Thinking</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">2</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  1
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Vision</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">1</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  2
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Web Development</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">3</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  5
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Web Development</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">4</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  4
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Web Design</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">2</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  1
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Graphi Design</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">2</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  1
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="stripped__table">
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__th title__col title__col__first">
                <div class="box__table">Optionals</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__th">
                <div class="box__table">can be <strong>25%</strong></div>
              </div>
              <div class="col-sm-3 strip__col strip__col__th">
                <div class="box__table">you got <strong>10%</strong></div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Strategic Thinking</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">2</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  1
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Vision</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">1</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  2
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Web Development</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">3</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  5
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Web Development</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">4</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  4
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Web Design</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">2</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  1
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row strip__row flex flex-wrap">
              <div class="col-sm-6 strip__col strip__col__td title__col">
                <div class="th__heading">Title</div>
                <div class="box__table">Graphi Design</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Job Details</div>
                <div class="box__table">2</div>
              </div>
              <div class="col-sm-3 strip__col strip__col__td">
                <div class="th__heading">Resume Details</div>
                <div class="box__table">
                  1
                  <button class="btn btn__edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="showThis == 'Achievement'">
          <div class="tag__container">
            <h4>Achievement</h4>
            <div class="input-group">
              <input type="text" placeholder="Enter Achievement" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">+</button>
              </span>
            </div>
            <ul>
              <li><a href="#">Angular js</a></li>
              <li><a href="#">React Js</a></li>
              <li><a href="#">Vue JS</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Reporting</a></li>
              <li><a href="#">Accountability</a></li>
              <li><a href="#">Service Standards</a></li>
              <li><a href="#">Aviation</a></li>
              <li><a href="#">Pharma</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="showThis == 'Hobbies'">
          <div class="tag__container">
            <h4>Hobbies</h4>
            <div class="input-group">
              <input type="text" placeholder="Enter Your Hobbies" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">+</button>
              </span>
            </div>
            <ul>
              <li><a href="#">Travelling</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Drawing</a></li>
              <li><a href="#">Food</a></li>
            </ul>
          </div>
          <div class="tag__container">
            <h4>Interest</h4>
            <div class="input-group">
              <input type="text" placeholder="Enter Your Interest" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">+</button>
              </span>
            </div>
            <ul>
              <li><a href="#">Travelling</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Drawing</a></li>
              <li><a href="#">Food</a></li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!--Old Code Start-->
<div class="upload__resume__container"   *ngIf="!haveProfiles">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="top__container__before flex flex-wrap flex-align-center">
    <h3 mat-dialog-title class="modal-title">Upload Profiles</h3>
    <button type="button" class="close" mat-button mat-dialog-close data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <mat-dialog-content class="mat-typography vh-100 s-none" *ngIf="loaddata">
    <!--Tab View-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ptb-24">
      <div class="card manage-uploads clearfix">
  
        <div class="tab-content">
          <div id="uploadProfiles" class="tab-pane fade active in">
            <div class="upload-border">
              <div class="flex_items_center pointer" (click)="browse.click()">
                <div class="d-block">
                  <i aria-hidden="true" class="fa fa-cloud-upload fa-5"></i>
                  <div class="file">
                    <input matInput type="file" ng2FileSelect
                    [uploader]="uploader" #browse multiple (click)="browse.value = null" value=""
                      (change)="onFileSelected($event)">
                  </div>
                  <div>Browse & Upload</div>
                  <h5>Please upload maximum of 5 profiles </h5>
                </div>
              </div>
            </div>
  
            <!-- <div class="file btn btn-lg btn-primary"> -->
            <!-- Browse & Upload -->
            <!-- <input matInput type="file" #browse multiple (click)="browse.value = null" value="" (change)="getFileDetails($event)"> -->
            <!-- </div> -->
  
  
            <div class="d-flex justify-content-between mb-3 w-100">
              <div class="p-2 upload-input">
                <!-- <label class="radio checkbox">
                  <input type="checkbox" class="radio-input" checked [(ngModel)]="emailCheck">
                  <span class="radio-btn"></span>
                  <span>Notify</span>
                </label>
                <label class="radio checkbox">
                  <input type="checkbox" [(ngModel)]="isPublic" class="radio-input">
                  <span class="radio-btn l11"></span>
                  <span>Make it Public</span>
                </label> -->
              </div>
  
              <div class="p-2 upload-alerts">
                <a href="javascript:void(0)">
                  <span class="alert-success">
                    Uploaded
                    <span class="badge badge-light">{{selectedFiles.length}}</span>
                  </span>
                </a>
                <!-- <a href="javascript:void(0)">
                  <span class="alert-warning">
                    Issues
                    <span class="badge badge-light">{{issueCount}}</span>
                  </span>
                </a> -->
              </div>
            </div>
            <div>
              <table class="table table-condensed table-hover table-bordered table-striped"
             *ngIf="selectedFiles.length>0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Size</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue;let i=index">
                  <td>
                    {{ item?.file?.name }}
                  </td>
                  <td>
                    {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                  </td>
                  <!-- <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                     <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"> 
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                        <span style="color: whitesmoke;"><i class="fa fa-check-circle-o"></i>Success</span> 
                      </div>
                    </div>
                  </td> -->
                  <td>
                    <button type="button" class="btn btn-danger btn__delete btn-xs" (click)="item.remove(i)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>
                  <!-- <td>
                    <button type="button" class="btn btn-danger btn__delete btn-xs" (click)="processResumes()">
                      <span class="fa fa-send-o"></span>
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary pull-right" *ngIf="!isProcessing && selectedFiles.length>0" (click)="processResumes()">Proceed</button>
            <button class="btn btn-primary pull-right" *ngIf="isProcessing && selectedFiles.length>0">           
              <span>Processing...</span>
            </button>
            </div>
            <!--Upload Profile alerts starts here-->
            <div class="uploaded-list">
              <div class="media uploaded-files" *ngFor="let data of tempuploadResponse; let i = index">
                  <div class="profile-pic" *ngIf="data.UserProfilePictureUrl != null">
                      <img [src]="data.UserProfilePictureUrl" id="headerProfilePic" alt="" class="user-profile-pic">
                    </div>
                <!-- <img class="align-self-center mr-3" *ngIf="data.UserProfilePictureUrl == null" src="../../../../../assets/images/customer-parser-icon.svg" alt="parser"> -->
                <!--Parser Loader Status Icons/ Show & hide below image tags based on the conditions-->
                <div *ngIf="data.UserProfilePictureUrl == null">
                <img class="align-self-center mr-3" *ngIf="data.ResumeStatus == null"
                  src="../../../../../assets/images/parser-loader.gif" alt="parser-loader">
                <img class="align-self-center mr-3" *ngIf="data.ResumeStatus != null && data.ResumeStatus != 'Successful'"
                  src="../../../../../assets/images/parser-alert.svg" alt="parser-alert">
                <img class="align-self-center mr-3" *ngIf="data.ResumeStatus == 'Successful'"
                  src="../../../../../assets/images/parser-success.svg" alt="parser-success">
                  </div>
                <!--Parser Loader Status Icons-->
                <div class="media-body">
                  <h3 class="m-0">{{data.FirstName}}&nbsp;{{data.LastName}}&nbsp;<span *ngIf="data.ResumeStatus != null">(Email:&nbsp;{{data.MailId}})</span></h3>
                  <div class="progress h-5">
                   <div class="progress-bar progress-bar-info progress-bar-striped active"  *ngIf="data.ResumeStatus == null" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar progress-bar-warning  progress-bar-striped active" *ngIf="data.ResumeStatus != null
                   && data.ResumeStatus != 'Successful' && data.ResumeStatus != 'Error'
                    && data.ResumeStatus != 'ProfileAsscociated'" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar progress-bar-success  progress-bar-striped active"  *ngIf="data.ResumeStatus == 'Successful' 
                  || data.ResumeStatus == 'ProfileAsscociated' || data.ResumeStatus == 'Arytic_prof'" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar progress-bar-danger progress-bar-striped active"  *ngIf="data.ResumeStatus == 'Error'" [style.width.%]="profileStatus[i].percentage"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div *ngIf="data.ResumeStatus == null">
                    <p class="text-success m-0">{{profileStatus[i].text}}...</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Successful'">
                    <p class="text-success m-0">Profile Parsed and Uploaded Successfully!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Error'">
                      <p class="text-danger m-0">Error in Parsing and Uploading Profile!!!</p>
                    </div>
                  <div *ngIf="data.ResumeStatus == 'Associated'">
                    <p class="text-primary m-0">Already Associated for Same Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Canceled'">
                    <p class="text-danger m-0">Profile is Skipped for Same Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'ProfileAsscociated'">
                    <p class="text-success m-0">Existing Profile is Associated for Other Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Arytic_prof'">
                    <p class="text-success m-0"> Profile is Converted to Private and Associated for Same Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Requested'">
                    <p class="text-primary m-0"> Profile is Requested and waiting for the Response!!!</p>
                  </div>
                  <!-- <div *ngIf="data.ResumeStatus == 'false'">
                    <p class="text-primary m-0">This is an arytic profile which cant be updated. Do you want to request
                      profile from Arytic?</p>
                    <div>
                      <a (click)="UploadAction(i,data,2)">
                        <span class="badge badge-light ptb-3rl-10">Send Request</span>
                      </a>
                      <a (click)="UploadAction(i,data,1)">
                        <span class="badge badge-light ptb-3rl-10">Make it private and Upload</span>
                      </a>
                    </div>
                  </div> -->
                  <div *ngIf="data.ResumeStatus == 'Other'">
                    <p class="text-danger m-0">Profile is already existed and submitted for other job. Do you want to
                      attach
                      or submit to this job?</p>
                    <a href="javascript:void(0)" (click)="UploadAction(i,data,1)">
                      <span class="badge badge-light ptb-3rl-10">Yes</span>
                    </a>
                    <a href="javascript:void(0)" (click)="CanceledAction(data,i)">
                      <span class="badge badge-light ptb-3rl-10">No</span>
                    </a>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Arytic'">
                    <p class="text-primary m-0">This is an arytic profile which cant be updated. Do you want to request
                      profile from Arytic?</p>
                    <a href="javascript:void(0)" (click)="UploadAction(i,data,3)">
                      <span class="badge badge-light ptb-3rl-10">Send Request</span>
                    </a>
                    <a href="javascript:void(0)" (click)="UploadAction(i,data,2)" *ngIf="this.sdetails?.planId ===  'enterprise'">
                      <span class="badge badge-light ptb-3rl-10">Make it private and Upload</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Upload Profile alerts ends here-->
  
  
            <input type="hidden" id="jobId" [value]=data.JobId>
            <div class="col-md-12 manage-profiles-card" *ngIf="selectedFileNames.Count > 0">
              <ul class="list--empty">
                <li class="item" *ngFor="let fileName of selectedFileNames; let i = index">
                  <div class="file-type">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.4" height="37">
                      <g>
                        <path
                          d="M25.5 37H1.9c-1 0-1.9-.8-1.9-1.9V1.9C0 .8.8 0 1.9 0H16c.6 0 1 .4 1 1v8.4h9.4c.6 0 1 .4 1 1v24.7c0 1.1-.9 1.9-1.9 1.9zM2 35h23.4V11.4H16c-.6 0-1-.4-1-1V2H2v33z">
                        </path>
                        <path
                          d="M26.4 11.4H15.9c-.6 0-1-.4-1-1V1c0-.4.2-.8.6-.9.4-.2.8-.1 1.1.2L27 9.7c.3.3.4.7.3 1.1-.2.4-.5.6-.9.6zm-9.5-2h6.8l-6.8-6.2v6.2z">
                        </path>
                        <path d="M10.1 2H4.6c-.6 0-1-.4-1-1s.4-1 1-1h5.5c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 31H5.6c-.6 0-1-.4-1-1s.4-1 1-1h16.2c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 27H5.6c-.6 0-1-.4-1-1s.4-1 1-1h16.2c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 23.1h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 19.1h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path
                          d="M13.7 17.4v.1c-.1 0-.2 0-.3.1-.1 0-.1.1-.2.2l-.3.6-1.7 4.5H11l-1.3-3.5-1.5 3.5-1.8-4.4c-.2-.4-.3-.7-.4-.8-.1-.1-.2-.1-.4-.2v-.1H8v.1c-.2 0-.3 0-.4.1s-.1.1-.1.2.1.3.2.6L8.8 21l.8-2-.2-.6c-.1-.3-.2-.5-.3-.6-.1-.1-.1-.2-.2-.2s-.2-.1-.4-.1v-.1h2.6v.1h-.4c-.1 0-.1 0-.1.1v.1c0 .1.1.2.2.6l1 2.6.9-2.3c.1-.2.2-.4.2-.5v-.2c0-.1 0-.2-.1-.3-.1-.1-.2-.1-.4-.1v-.1h1.3z">
                        </path>
                      </g>
                    </svg>
                    <span> {{fileName}}</span>
                  </div>
                </li>
              </ul>
            </div>
            <!--Empty View-->
            <div class="clearfix">&nbsp;</div>
            <!-- <div class="jumbotron">
                <p class="lead text-center">Uploaded Profiles will be shown here!</p>
              </div> -->
            <alert></alert>
            <!-- <h4>Uploaded Profiles will be shown here!</h4> -->
            <!--End of Empty View-->
          </div>
        </div>
    
        <!-- .tab-content -->
      </div>
      <!-- .card.statistics -->
    </div>
    <!--Tab View End-->
  </mat-dialog-content>
  <!--END-->
</div>
<!--Old Code Ends-->

<!--Rchilli Old Code Start-->
<div style="display: none;" >
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="">
    <button type="button" class="close" mat-button mat-dialog-close data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">×</span></button>
    <h3 mat-dialog-title class="modal-title">Upload Profiles</h3>
  </div>
  <mat-dialog-content class="mat-typography vh-100 s-none" *ngIf="loaddata">
    <!--Tab View-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ptb-24">
      <div class="card manage-uploads clearfix">
  
        <div class="tab-content">
          <div id="uploadProfiles" class="tab-pane fade active in">
            <div class="upload-border">
              <div class="flex_items_center pointer" (click)="browse.click()">
                <div class="d-block">
                  <i aria-hidden="true" class="fa fa-cloud-upload fa-5"></i>
                  <div class="file">
                    <input matInput type="file" #browse multiple (click)="browse.value = null" value=""
                      (change)="getFileDetails($event)">
                  </div>
                  <div>Browse & Upload</div>
                  <h5>Please upload maximum of 5 profiles </h5>
                </div>
              </div>
            </div>
  
            <!-- <div class="file btn btn-lg btn-primary"> -->
            <!-- Browse & Upload -->
            <!-- <input matInput type="file" #browse multiple (click)="browse.value = null" value="" (change)="getFileDetails($event)"> -->
            <!-- </div> -->
  
  
            <div class="d-flex justify-content-between mb-3 w-100">
              <div class="p-2 upload-input">
                <!-- <label class="radio checkbox">
                  <input type="checkbox" class="radio-input" checked [(ngModel)]="emailCheck">
                  <span class="radio-btn"></span>
                  <span>Notify</span>
                </label>
                <label class="radio checkbox">
                  <input type="checkbox" [(ngModel)]="isPublic" class="radio-input">
                  <span class="radio-btn l11"></span>
                  <span>Make it Public</span>
                </label> -->
              </div>
  
              <div class="p-2 upload-alerts">
                <a href="javascript:void(0)">
                  <span class="alert-success">
                    Uploaded
                    <span class="badge badge-light">{{successCount}}</span>
                  </span>
                </a>
                <a href="javascript:void(0)">
                  <span class="alert-warning">
                    Issues
                    <span class="badge badge-light">{{issueCount}}</span>
                  </span>
                </a>
              </div>
            </div>
            <!--Upload Profile alerts starts here-->
            <div class="uploaded-list">
              <div class="media uploaded-files" *ngFor="let data of tempuploadResponse; let i = index">
                  <div class="profile-pic" *ngIf="data.UserProfilePictureUrl != null">
                      <img [src]="data.UserProfilePictureUrl" id="headerProfilePic" alt="" class="user-profile-pic">
                    </div>
                <!-- <img class="align-self-center mr-3" *ngIf="data.UserProfilePictureUrl == null" src="../../../../../assets/images/customer-parser-icon.svg" alt="parser"> -->
                <!--Parser Loader Status Icons/ Show & hide below image tags based on the conditions-->
                <div *ngIf="data.UserProfilePictureUrl == null">
                <img class="align-self-center mr-3" *ngIf="data.ResumeStatus == null"
                  src="../../../../../assets/images/parser-loader.gif" alt="parser-loader">
                <img class="align-self-center mr-3" *ngIf="data.ResumeStatus != null && data.ResumeStatus != 'Successful'"
                  src="../../../../../assets/images/parser-alert.svg" alt="parser-alert">
                <img class="align-self-center mr-3" *ngIf="data.ResumeStatus == 'Successful'"
                  src="../../../../../assets/images/parser-success.svg" alt="parser-success">
                  </div>
                <!--Parser Loader Status Icons-->
                <div class="media-body">
                  <h3 class="m-0">{{data.FirstName}}&nbsp;{{data.LastName}}&nbsp;<span *ngIf="data.ResumeStatus != null">(Email:&nbsp;{{data.MailId}})</span></h3>
                  <div class="progress h-5">
                   <div class="progress-bar progress-bar-info progress-bar-striped active"  *ngIf="data.ResumeStatus == null" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar progress-bar-warning  progress-bar-striped active" *ngIf="data.ResumeStatus != null
                   && data.ResumeStatus != 'Successful' && data.ResumeStatus != 'Error'
                    && data.ResumeStatus != 'ProfileAsscociated'" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar progress-bar-success  progress-bar-striped active"  *ngIf="data.ResumeStatus == 'Successful' 
                  || data.ResumeStatus == 'ProfileAsscociated' || data.ResumeStatus == 'Arytic_prof'" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar progress-bar-danger progress-bar-striped active"  *ngIf="data.ResumeStatus == 'Error'" [style.width.%]="profileStatus[i].percentage"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div *ngIf="data.ResumeStatus == null">
                    <p class="text-success m-0">{{profileStatus[i].text}}...</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Successful'">
                    <p class="text-success m-0">Profile Parsed and Uploaded Successfully!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Error'">
                      <p class="text-danger m-0">Error in Parsing and Uploading Profile!!!</p>
                    </div>
                  <div *ngIf="data.ResumeStatus == 'Associated'">
                    <p class="text-primary m-0">Already Associated for Same Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Canceled'">
                    <p class="text-danger m-0">Profile is Skipped for Same Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'ProfileAsscociated'">
                    <p class="text-success m-0">Existing Profile is Associated for Other Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Arytic_prof'">
                    <p class="text-success m-0"> Profile is Converted to Private and Associated for Same Job!!!</p>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Requested'">
                    <p class="text-primary m-0"> Profile is Requested and waiting for the Response!!!</p>
                  </div>
                  <!-- <div *ngIf="data.ResumeStatus == 'false'">
                    <p class="text-primary m-0">This is an arytic profile which cant be updated. Do you want to request
                      profile from Arytic?</p>
                    <div>
                      <a (click)="UploadAction(i,data,2)">
                        <span class="badge badge-light ptb-3rl-10">Send Request</span>
                      </a>
                      <a (click)="UploadAction(i,data,1)">
                        <span class="badge badge-light ptb-3rl-10">Make it private and Upload</span>
                      </a>
                    </div>
                  </div> -->
                  <div *ngIf="data.ResumeStatus == 'Other'">
                    <p class="text-danger m-0">Profile is already existed and submitted for other job. Do you want to
                      attach
                      or submit to this job?</p>
                    <a href="javascript:void(0)" (click)="UploadAction(i,data,1)">
                      <span class="badge badge-light ptb-3rl-10">Yes</span>
                    </a>
                    <a href="javascript:void(0)" (click)="CanceledAction(data,i)">
                      <span class="badge badge-light ptb-3rl-10">No</span>
                    </a>
                  </div>
                  <div *ngIf="data.ResumeStatus == 'Arytic'">
                    <p class="text-primary m-0">This is an arytic profile which cant be updated. Do you want to request
                      profile from Arytic?</p>
                    <a href="javascript:void(0)" (click)="UploadAction(i,data,3)">
                      <span class="badge badge-light ptb-3rl-10">Send Request</span>
                    </a>
                    <a href="javascript:void(0)" (click)="UploadAction(i,data,2)" *ngIf="this.sdetails?.planId ===  'enterprise'">
                      <span class="badge badge-light ptb-3rl-10">Make it private and Upload</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Upload Profile alerts ends here-->
  
  
            <input type="hidden" id="jobId" [value]=data.JobId>
            <div class="col-md-12 manage-profiles-card" *ngIf="selectedFileNames.Count > 0">
              <ul class="list--empty">
                <li class="item" *ngFor="let fileName of selectedFileNames; let i = index">
                  <div class="file-type">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.4" height="37">
                      <g>
                        <path
                          d="M25.5 37H1.9c-1 0-1.9-.8-1.9-1.9V1.9C0 .8.8 0 1.9 0H16c.6 0 1 .4 1 1v8.4h9.4c.6 0 1 .4 1 1v24.7c0 1.1-.9 1.9-1.9 1.9zM2 35h23.4V11.4H16c-.6 0-1-.4-1-1V2H2v33z">
                        </path>
                        <path
                          d="M26.4 11.4H15.9c-.6 0-1-.4-1-1V1c0-.4.2-.8.6-.9.4-.2.8-.1 1.1.2L27 9.7c.3.3.4.7.3 1.1-.2.4-.5.6-.9.6zm-9.5-2h6.8l-6.8-6.2v6.2z">
                        </path>
                        <path d="M10.1 2H4.6c-.6 0-1-.4-1-1s.4-1 1-1h5.5c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 31H5.6c-.6 0-1-.4-1-1s.4-1 1-1h16.2c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 27H5.6c-.6 0-1-.4-1-1s.4-1 1-1h16.2c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 23.1h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path d="M21.8 19.1h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                        <path
                          d="M13.7 17.4v.1c-.1 0-.2 0-.3.1-.1 0-.1.1-.2.2l-.3.6-1.7 4.5H11l-1.3-3.5-1.5 3.5-1.8-4.4c-.2-.4-.3-.7-.4-.8-.1-.1-.2-.1-.4-.2v-.1H8v.1c-.2 0-.3 0-.4.1s-.1.1-.1.2.1.3.2.6L8.8 21l.8-2-.2-.6c-.1-.3-.2-.5-.3-.6-.1-.1-.1-.2-.2-.2s-.2-.1-.4-.1v-.1h2.6v.1h-.4c-.1 0-.1 0-.1.1v.1c0 .1.1.2.2.6l1 2.6.9-2.3c.1-.2.2-.4.2-.5v-.2c0-.1 0-.2-.1-.3-.1-.1-.2-.1-.4-.1v-.1h1.3z">
                        </path>
                      </g>
                    </svg>
                    <span> {{fileName}}</span>
                  </div>
                </li>
              </ul>
            </div>
            <!--Empty View-->
            <div class="clearfix">&nbsp;</div>
            <!-- <div class="jumbotron">
                <p class="lead text-center">Uploaded Profiles will be shown here!</p>
              </div> -->
            <alert></alert>
            <!-- <h4>Uploaded Profiles will be shown here!</h4> -->
            <!--End of Empty View-->
          </div>
        </div>
        <!-- .tab-content -->
      </div>
      <!-- .card.statistics -->
    </div>
    <!--Tab View End-->
  </mat-dialog-content>
  <!--END-->
</div>
<!--Rchilli Old Code Ends-->