@import './../../../../assets/partials/utils/variables';

.filter-section {
  margin-bottom: 30px;

  .navigation-col {
    display: flex;
    gap: 10px;
    flex: 0 0 220px;
    max-width: 220px;
  }

  .search-col {
    padding-left: 15px;
    flex: 0 0 calc(100% - 240px);
    max-width: calc(100% - 240px);

    .search-sub-col {
      .form-control {
        background: url(../../../../assets/images/icon-search.svg) 9px 50% no-repeat $white;
        padding-left: 40px;
      }
    }

  }

  .button-col {
    .btn-icon {
      margin-right: 15px;
    }
    .form-select {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }  
  }

  .btn-icon {
    background-color: $white;
    border: 1px solid $stroke-gray;
    border-radius: 6px;
    color: $dark-gray;
    padding: 0;
    width: 48px;
    height: 48px;

    &:hover, &.active {
      background-color: $blue;
      border-color: $blue;
      color: $white;
      box-shadow: 0px 3px 6px rgba(144, 164, 173, 0.14);
    }
  }

  .toogle-layout {
    background-color: $white;
    border: 1px solid $stroke-gray;
    border-radius: 6px;
    overflow: hidden;
    height: 48px;

    .btn-icon {
      border-radius: 0;
      border: 0;

      &.active {
        box-shadow: inset 0px 6px 12px rgba(110, 129, 158, 0.2);
        background-color: $blue;
        color: $white;
      }
    }
  }
}