<div class="filter-section">
	<div class="d-flex flex-wrap">
		<div class="navigation-col">
			<button class="btn btn-icon" (click)="filterHandler()" [ngClass]="advanceFilter?'active':''">
				<span class="mdi mdi-filter-outline"></span>
			</button>
			<button class="btn btn-icon"><span class="mdi mdi-feature-search-outline"></span></button>
			<div class="toogle-layout">
				<button class="btn btn-icon active">
					<span class="mdi mdi-view-grid-outline"></span>
				</button>
				<button class="btn btn-icon">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</div>
		<div class="search-col">
			<div class="row">
				<div class="col-md-3 col-lg-3">
					<select class="form-select">
						<option value="Sort By">Sort By</option>
					</select>
				</div>
				<div class="col-md-5 col-lg-5 search-sub-col">
					<input type="text" placeholder="Search Here..." class="form-control">
				</div>
				<div class="col-md-4 col-lg-4 button-col">
					<button class="btn btn-icon"><span class="mdi mdi-close-circle-outline"></span></button>
					<select class="form-select">
						
						<option value="Saved Search">Saved Search</option>
						<option value="View Search">View Search</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-container *ngIf="advanceFilter">
	<app-manage-advance-filter [advanceFilter]="advanceFilter" (filterHideHandler)="filterHideHandler()"></app-manage-advance-filter>
</ng-container>