<div class="filter-section">
	<div class="d-flex flex-wrap">
		<div class="navigation-col">
			<button class="btn btn-icon" (click)="filterHandler()" [ngClass]="advanceFilter?'active':''">
				<span class="mdi mdi-filter-outline"></span>
			</button>
			<button class="btn btn-icon" (click)="quickHandler()" [ngClass]="quickSearch?'active':''">
				<span class="mdi mdi-feature-search-outline"></span>
			</button>
			<div class="toogle-layout">
				<button class="btn btn-icon" [ngClass]="viewLayout=='grid'?'active':''" (click)="layoutSwitch('grid')">
					<span class="mdi mdi-view-grid-outline"></span>
				</button>
				<button class="btn btn-icon" [ngClass]="viewLayout=='table'?'active':''" (click)="layoutSwitch('table')">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</div>
		<div class="search-col">
			<div class="row">
				<div class="col-md-2 col-lg-2">
					<select class="form-select">
						<option value="Sort By">Sort By</option>
					</select>
				</div>
				<div class="col-md-4 col-lg-4 search-sub-col">
					<input type="text" placeholder="Search Here..." class="form-control">
				</div>
				<div class="col-md-5 col-lg-6 button-col">
					<button class="btn btn-with-icon">
						<span class="mdi mdi-content-save-outline"></span>
						Save Search
					</button>
					<button class="btn btn-with-icon">
						<span class="mdi mdi-format-list-text"></span>
						Search List
					</button>
					<button class="btn btn-icon">
						<span class="mdi mdi-file-arrow-up-down-outline"></span>
					</button>
					<button class="btn btn-icon"><span class="mdi mdi-close-circle-outline"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-container *ngIf="advanceFilter">
	<app-manage-advance-filter [advanceFilter]="advanceFilter"
		(filterHideHandler)="filterHideHandler()"></app-manage-advance-filter>
</ng-container>

<ng-container *ngIf="quickSearch">
	<app-manage-quick-search [quickSearch]="quickSearch"
	(quickHideHandler)="quickHideHandler()"></app-manage-quick-search>
</ng-container>

<app-manage-filter-search-result></app-manage-filter-search-result>