@import  './../utils/variables';
@import './../utils/mixins';

.with-sidebar {
  #main {
    &.expanded {
      .manage-listing-grid {
        .col-container {
          .top-container {
            .profile-info {
              .profile-summary {
                @media only screen and (min-width: 1280px) {
                  @include flex-direction(column);
                }
  
                @media only screen and (min-width: 1600px) {
                  @include flex-direction(row);
                }
              }
            }
          }
  
          .location-trim {
            @media only screen and (min-width: 1280px) {
              width: 100px;
            }
          }
  
          .middle-container {
            @media only screen and (min-width: 1280px) {
              .top-bottom-section {
                ul {
                  li {
                    &:first-child {
                      flex: 0 0 100%;
                      max-width: 100%;
                    }
    
                    &:nth-child(2) {
                      border-left: 0;
                      padding-left: 0;
                    }
                  }
                }
              }
            }
          }
  
          .statstics {
            .col {
              padding: 0;
              h6 {
                font-size: 10px;
              }
            } 
          }
        }
      }

      .find-a-candidate-grid {
        @media only screen and (min-width: 1280px) {
          .find-col {
            flex: 0 0 33.33%;
            max-width: 33.33%;
          }
        }

        &.show-card {
          @media only screen and (min-width: 1280px) {
            .left-col {
              flex: 0 0 60%;
              max-width: 60%;
            }
  
            .right-col {
              flex: 0 0 40%;
              max-width: 40%;
            }
            
            .find-col {
              flex: 0 0 50%;
              max-width: 50%;
            }
          }
        }
      }
    }
  }
}

.tab-navigation {
  position: sticky;
  z-index: 100;
  top: 0;

  ul {
    @include no-style();
    @include flexbox();
    @include flex-wrap(wrap);
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    @include shadowTwo();

    @media only screen and (min-width: 1024px) {
      border-radius: 32px;
    }

    li {
      flex: 0 0 20%;
      max-width: 20%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      a {
        display: block;
        font-size: $font-size-16;
        font-weight: 600;
        color: $dark-gray;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 8px;

        &.active {
          background-color: $blue;
          color: $white;
          box-shadow: 0px 4px 8px 0px rgba(144, 164, 173, 0.40) inset;
        }

        @media only screen and (min-width: 1024px) {
          border-radius: 32px;
        }
      }

      &.active {
        a {
          background-color: $blue;
          color: $white;
          box-shadow: 0px 4px 8px 0px rgba(144, 164, 173, 0.40) inset;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    padding: 0 60px;
  }
}

.tabbing-radios {
  display: inline-flex;
  border-radius: 6px;
  overflow: hidden;
  background: $white;
  border: 1px solid $stroke-gray;

  label {
    position: relative;

    input[type="radio"] {
      position: absolute;
      left: -999em;

      + .checkmark {
        font-size: $font-size-14;
        text-transform: uppercase;
        color: $dark-gray;
        line-height: 1.25;
        padding: 13px 30px;
        display: block;
      }

      &:checked {
        + .checkmark {
          background-color: $blue;
          color: $white;
          box-shadow: 0px 4px 8px 0px rgba(144, 164, 173, 0.40) inset;
        }
      }
    }
  }
}

.mCSB_scrollTools {
  &.mCSB_scrollTools_vertical  {
    width: 8px !important;
    
    .mCSB_dragger {
      .mCSB_dragger_bar {
        width: 8px !important;
      }
    }
  }

  &.mCSB_scrollTools_horizontal {
    height: 8px !important;

    .mCSB_dragger {
      .mCSB_dragger_bar {
        height: 8px !important;
        margin: 0 auto !important;
      }
    }
  }

  .mCSB_draggerContainer {
    background-color: rgba(144, 164, 173, 0.30);
  }

  .mCSB_dragger {
    .mCSB_dragger_bar {
      border-radius: 0 !important;
      background-color: $darker-green !important;
    }
  }
}

.mCS-dark.mCSB_scrollTools {
  .mCSB_draggerRail {
    background-color: transparent !important;
  }
}

.quick-results {
  ul {
		@include no-style();
		@include inline-flex();
		@include flex-wrap(wrap);
		gap: 10px;
   
		li {
			background: $white;
			border: 1px solid $stroke-gray;
			border-radius: 4px;
			position: relative;
			color: $dark-gray;
			font-size: $font-size-14;
			padding: 4px 26px 4px 10px;
			@include shadowTwo();
			
			.mdi {
				font-size: $font-size-14;
				position: absolute;
				right: 5px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		@media only screen and  (min-width: 767px) {
			li {
				padding: 4px 36px 4px 10px;
			}
		}
	}
}

.show-card {
  @include flexbox();
  @include flex-wrap(wrap);
  @include align-items(flex-start);

  .form-box {
    flex: 0 0 calc(100% - 420px);
    padding-right: 30px;
    max-width: calc(100% - 420px);
  }

  .form-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-box {
    display: block !important;
    flex: 0 0 400px;
    max-width: 400px;  
  }
}

.slick-slider {
  .slick-track {
    @include flexbox();
    gap: 10px;
  }
}

.professional-experience-section {
  .tab-content {
    padding: 20px;
  }
  .professional-expereince-listing {
    .tab-navigation {
      padding: 0;
      ul {
        border: 1px solid $stroke-gray;
        position: relative;

        li {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }
  }
}

.no-margin {
  margin: 0 !important;
}

.three-grid-container {
  .grid-row {
    gap: 15px 0;
  }

  h4 {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $stroke-gray;
  }

  .col-container {
    border: 1px solid $stroke-gray;
    border-radius: 6px;
    background-color: $white;
    height: 100%;
    padding: 10px 15px;
    cursor: pointer;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    font-weight: 600;
    font-size: $font-size-15;
    color: $dark-gray;
    @include shadowTwo();

    .mdi {
      font-size: $font-size-20;
      margin-right: 10px;
    }
  }
}