.with-sidebar {
  #main {
    &.expanded {
      .manage-listing-grid {
        .col-container {
          .top-container {
            .profile-info {
              .profile-summary {
                @media only screen and (min-width: 1280px) {
                  @include flex-direction(column);
                }
  
                @media only screen and (min-width: 1600px) {
                  @include flex-direction(row);
                }
              }
            }
          }
  
          .location-trim {
            @media only screen and (min-width: 1280px) {
              width: 100px;
            }
          }
  
          .middle-container {
            @media only screen and (min-width: 1280px) {
              .top-bottom-section {
                ul {
                  li {
                    &:first-child {
                      flex: 0 0 100%;
                      max-width: 100%;
                    }
    
                    &:nth-child(2) {
                      border-left: 0;
                      padding-left: 0;
                    }
                  }
                }
              }
            }
          }
  
          .statstics {
            .col {
              padding: 0;
              h6 {
                font-size: 10px;
              }
            } 
          }
        }
      }

      .find-a-candidate-grid {
        @media only screen and (min-width: 1280px) {
          .find-col {
            flex: 0 0 33.33%;
            max-width: 33.33%;
          }
        }

        &.show-card {
          @media only screen and (min-width: 1280px) {
            .left-col {
              flex: 0 0 60%;
              max-width: 60%;
            }
  
            .right-col {
              flex: 0 0 40%;
              max-width: 40%;
            }
            
            .find-col {
              flex: 0 0 50%;
              max-width: 50%;
            }
          }
        }
      }
    }
  }
}

.tab-navigation {
  ul {
    @include no-style();
    @include flexbox();
    @include flex-wrap(wrap);
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    @include shadowTwo();

    @media only screen and (min-width: 1024px) {
      border-radius: 32px;
    }

    li {
      flex: 0 0 25%;
      max-width: 25%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      a {
        display: block;
        font-size: $font-size-16;
        font-weight: 600;
        color: $dark-gray;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 8px;

        @media only screen and (min-width: 1024px) {
          border-radius: 32px;
        }
      }

      &.active {
        a {
          background-color: $blue;
          color: $white;
          box-shadow: 0px 4px 8px 0px rgba(144, 164, 173, 0.40) inset;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    padding: 0 60px;
  }
}
