input.form-control {
    height: 60px;
    border: 1px solid #e0e3ec;
    box-shadow: none;
    font-size: 16px;
    color: #6a7e9c;
}

.form-group {
    position: relative
    }
    .form-group input[type="password"] {
    padding-right: 30px
    }

.form-group .glyphicon {
    right: 266px;
    position: absolute;
    top: 20px;
}
/*  box-shadow */
.box-shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 3px 3px 20px -4px rgba(0,0,0,0.23);
}
.m-0{
    margin: 0px;
}
.border-w-0{
    border-width: 0px !important;
}
.p-0{
    padding:0px;
}
.p_5{
    padding:.5rem;
}
.ptrl_5-1_3{
    padding:.5rem .5rem 1.3rem .5rem ;
}
.p_5pt-0{
    padding: 0rem .5rem .5rem .5rem;
}
.pl-_5{
    padding-left: .5rem;
}
.pb_5{
    padding:0rem 0rem .5rem 0rem;
}
.ptb_5{
    padding:.5rem 0rem;
}
.d-inline{
    display: inline;
}
.text-right{
    text-align: right;
}

.table th {
    font-weight: 600;
    color: #41536E;
    background-color: #EEEFF3;
    border: 0;
    padding: 17px;
}
.fill-93a2bb path{
    fill: #93a2bb;
}
.w-16{
    width: 16px;
}
.table.td-p-8 tr td {
    padding:8px !important;
}
.btn-primary {
    background-color: #66dab5 !important;
    border: 0 !important;
    color: #ffffff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    padding: 12px 41px !important;
    font-size: 16px;
    font-weight: 500;
}
.btn-primary:hover {
    background-color: #3dd0a1 !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.p9-0{
    padding: 9px 0px !important;
}
.features li:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px;
    background-image: url("../../../../../assets/images/tick-mark.svg");
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  .features{
      text-align: left;
  }
.pricing-card .price.d-inline {
font-size: 1.9rem !important;  
}

@media only screen and (min-width: 992px) {
    .pricing-card.box-shadow{
        height: 1000px;
    }
}
@media only screen and (min-width: 1200px) {
    .pricing-card.box-shadow{
        height: 1008px;
    }
}
@media only screen and (max-width: 992px) {
    .pricing-card.box-shadow{
        height: auto;
    }
}
.pricing-card.box-shadow li span{
    font-size: 10px;
}
.f-12{
    font-size: 12px !important;
}