<div id="modal-content-wrapper">
  <header id="modal-header">
      <h1 id="modal-title">Preview</h1>
  </header>
  <section id="modal-body">
      <p>Fields like Business domain, departments, categories & title is not editable, would you like to proceed?</p>
  </section>
  <footer id="modal-footer">
      <button mat-raised-button id="modal-action-button" (click)="onYesClicked()">Proceed</button>
      <button mat-raised-button id="modal-cancel-button" (click)="onNoClicked()">Close</button>
  </footer>
</div>