<div id="modal-content-wrapper" class="preview-mat-container">
  <header id="modal-header">
      <h1 id="modal-title">Preview</h1>
  </header>
  <section id="modal-body">
      <p>
          Please reverify the data provided  for Business domain, departments, categories & title is not editable, would you like to proceed?
      </p>
  </section>
  <footer id="modal-footer">
      <button mat-raised-button class="btn btn-filled" (click)="onYesClicked()">Proceed</button>
      <button mat-raised-button class="btn btn-default" (click)="onNoClicked()">Close</button>
  </footer>
</div>