
<div class="form-group position-group">
  <div class="row">
    <div class="col-md-6">
        <label for="" class="question">What is the Employment Type? <small>(Optional)</small></label>
        <p class="description">Share details so we can find you the most eligible candidates.</p>
        <div class="options" >
          <div class="checkbox" *ngFor="let type of employmenttypelist">
            <!-- <label><input type="radio" (change)="selectEmpType(type.EmploymentTypeId)" name="emptype" value=""><span class="box">{{type.EmploymentType}}</span> </label> -->
            <label><input type="radio" [ngModel]="employmentType && employmentType?.EmploymentTypeId" (change)="selectEmpType(type)" name="emptype" [value]="type.EmploymentTypeId"><span class="box">{{type.EmploymentType}}</span> </label>
          </div>  
        </div> 
    </div>
    <div class="col-md-6">
        <label for="" class="question">Video Sizzle <small>(Optional)</small></label>
        <p class="description">Make a lively interaction via Your Job Requirement Intro Video with Candidates.</p>
        <button class="btn btn-small">Record & Upload</button>
    </div>
  </div>

</div>
<div class="form-group position-group custom-slider">
<label for="" class="question">What is the Salary Range? <small>(Optional)</small></label>
  <p class="description">Differentiation is based on employment type selection hourly or annual.</p>
<div *ngIf="salaryType === 1">
 <ng5-slider [(value)]="minAnnualRate"
            [(highValue)]="maxAnnualRate"
            [options]="annual"
            (userChangeStart)="minAnnualChangeStart($event)"
            (userChange)="onAnnualChange($event)"
            (userChangeEnd)="maxAnnualChangeEnd($event)">
</ng5-slider>
</div>
<div *ngIf="salaryType === 2">
  <ng5-slider [(value)]="minHourRate"
             [(highValue)]="maxHourRate"
             [options]="hourly"
             (userChangeStart)="minHourlyChangeStart($event)"
             (userChange)="onHourlyChange($event)"
             (userChangeEnd)="maxHourlyChangeEnd($event)">
 </ng5-slider>
 </div></div>