
<div class="form-group position-group">
  <div class="row">
    <div class="col-md-12">
        <label for="" class="question">What is the Employment Type? <small>(Optional)</small></label>
        <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->
        <div class="options" >
          <div class="checkbox" *ngFor="let type of employmenttypelist">
            <!-- <label><input type="radio" (change)="selectEmpType(type.EmploymentTypeId)" name="emptype" value=""><span class="box">{{type.EmploymentType}}</span> </label> -->
            <label><input type="radio" [ngModel]="employmentType && employmentType?.EmploymentTypeId" (change)="selectEmpType(type)" name="emptype" [value]="type.EmploymentTypeId"><span class="box">{{type.EmploymentType}}</span> </label>
          </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
       MOVED TO teammembers.component.html
        <label for="" class="question">Video Sizzle <small>(Optional)</small></label>
        <p class="description">Make a lively interaction via Your Job Requirement Intro Video with Candidates.</p>
        <button class="btn btn-small"  (click)="OpenScheduleInterviewDialog()">Record & Upload</button>
    </div> -->
  </div>

</div>
