<div class="form-group job-title-group reporting-manager-group">
  <label for="" class="question">Reporting Manager <small>(Optional)</small></label>
  <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->  
  <!-- <ng-select class="custom-style" [items]="managersList | async"
  placeholder="e.g. Bachelor of Computer Arts"
  bindLabel="FirstName"
  bindValue="UserId"
  [typeahead]="selectedUserInput"
  [hideSelected]="true"
  [loading]="usersloading"
  [virtualScroll]="true"
  [(ngModel)]="selectedItem"
  (change)="updateManager()"> -->
  <!-- <ng-select class="custom-style" [items]="reportingmanagersList | async"
  placeholder="Select Reporting Manager"
  bindLabel="FirstName"
  bindValue="UserId"  
  (change)="updateManager($event)"
  [typeahead]="selectedInput"
  [hideSelected]="true"
  [loading]="usersload"
  [(ngModel)]="selectedManager"
  [virtualScroll]="true">
</ng-select> -->
<ng-select class="custom-style" 
[items]="reportingmanagersList | async" 
placeholder="Type and Select" 
bindLabel="FirstName"
bindValue="FirstName"
(change)="updateManager($event)" [typeahead]="selectedInput" 
[hideSelected]="true" [loading]="usersload"
[(ngModel)]="selectManager" [virtualScroll]="true"  #reportingMngr="ngModel" name="reportingMgr">
<ng-template ng-label-tmp let-item="reportingmanagersList">  
       <!-- <b>{{jobcategorylist.JobCategoryId}}</b> is cool -->
       {{selectManager}}
       <!-- {{selectedCategory.JobCategoryId}} -->
       <!-- {{selectedCategory.Category}} -->
  <!-- <b>{{jobcategorylist.Category}}</b> is cool -->
</ng-template>
</ng-select>
<!-- <ul class="data-list">
    <li *ngIf="selectedManager?.FirstName && selectedManager!=undefined &&  selectedManager?.FirstName.length > 0"> {{selectedManager.FirstName}} </li>
  </ul> -->
</div>
<div class="job-title-suggestions">
    <div class="checkbox" *ngFor="let  managers of suggestedManagers; let i = index">
      <label><input type="radio" [(ngModel)]="selectedManager"  (change)="updateManager(managers)" name="mangr" [value]="managers"><span class="box">{{managers.FirstName}}</span> </label>
    </div>     
    
  </div>