<div class="form-group position-group custom-slider">
    <label for="" class="question">What is the Salary Range? <small>(Optional)</small></label>
      <p class="description">Differentiation is based on employment type selection hourly or annual.</p>
      <div class="options">
        <!-- <div class="checkbox">
          <label>
            <input type="radio" name="emp-type" (change)="selectSalaryType(type)" [(ngModel)]="salaryType" value="1">
            <span class="box">Hourly</span>
          </label>
        </div> -->
        <div class="checkbox" *ngFor="let sal of salaryTypelist">
          <!-- <label><input type="radio" [(ngModel)]="salaryTypeSelected" (change)="selectSalaryType(sal)" name="sal" [value]="sal"><span class="box">{{sal}}</span> </label> -->
          <label><input type="radio" [ngModel]="salaryTypeSelected && salaryTypeSelected?.SalaryTypeId" (change)="selectSalaryType(sal)" name="sal" [value]="sal.SalaryTypeId"><span class="box">{{sal.SalaryType}}</span> </label>
        </div>
        <!-- <div class="checkbox">
          <label>
            <input type="radio" name="emp-type" (change)="selectSalaryType(type)" [(ngModel)]="salaryType" value="2">
            <span class="box">Annually</span>
          </label>
        </div> -->
      </div>
    <div *ngIf="salaryTypeSelected?.SalaryTypeId === 2">
     <ng5-slider [(value)]="minAnnualRate"
                [(highValue)]="maxAnnualRate"
                [options]="annual"
                (userChangeStart)="minAnnualChangeStart($event)"
                (userChange)="onAnnualChange($event)"
                (userChangeEnd)="maxAnnualChangeEnd($event)"
                name="annual">
    </ng5-slider>
    
     <!--New Input Fields for Salary 08-06-2020-->
     <div class="clearfix">&nbsp;</div>
     <div class="row m-style">
      <div class="col-md-4">
        <div class="material-textfield">
          <input name="smin" placeholder=" " type="text">
          <label>Min Pay</label>
        </div>
      </div>
      <div class="col-md-1 text-center">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <div class="col-md-4">
        <div class="material-textfield">
          <input name="smax" placeholder=" " type="text">
          <label>Max Pay</label>
        </div>
      </div>
    </div>
    <!---->
    </div>
    <div *ngIf="salaryTypeSelected?.SalaryTypeId === 1 && !show" >
      <ng5-slider [(value)]="minHourRate"
                 [(highValue)]="maxHourRate"
                 [options]="hourly"
                 (userChangeStart)="minHourlyChangeStart($event)"
                 (userChange)="onHourlyChange($event)"
                 (userChangeEnd)="maxHourlyChangeEnd($event)"
                 name="hourly">
     </ng5-slider>
          <!--New Input Fields for Salary 08-06-2020-->
          <div class="clearfix">&nbsp;</div>
          <div class="row m-style">
            <div class="col-md-4">
              <div class="material-textfield">
                <input name="smin" placeholder=" " type="text">
                <label>Min Pay</label>
              </div>
            </div>
            <div class="col-md-1 text-center">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
              <div class="material-textfield">
                <input name="smax" placeholder=" " type="text">
                <label>Max Pay</label>
              </div>
            </div>
          </div>
          <!---->
     </div>

     
     <!--Commented on 11-04-2020, as requirement need to be revamped-->
  <!-- <a  href="Javascript:void(0)" (click)="show=!show">Other</a> -->

<ng-container *ngIf="salaryTypeSelected?.SalaryTypeId === 1 && show">
 
    <div>
      <input type="text" class="form-control" #Minname="ngModel" name="MinSal" [(ngModel)]="minHourRate" placeholder="Minimum Salary*" required (input)="onMinChange($event.target.value)">
      <span class="text-danger"
      *ngIf="Minname.invalid && Minname.touched">Required.</span>
    </div> 
  <div>
    <input type="text" class="form-control" #Maxname="ngModel" name="MaxSal" [(ngModel)]="maxHourRate" placeholder="Maximum Salary*" required (input)="onMaxChange($event.target.value)">
    <span class="text-danger"
    *ngIf="Maxname.invalid && Maxname.touched">Required.</span>
  </div>
</ng-container>   




    </div>
