
<div class="tab-inner">

  <app-steps-step3-employmenttype>
  </app-steps-step3-employmenttype>
  <div class="form-group contract-details-group">
    <label for="" class="question">Specifics of the Contract Job details?</label>
    <p class="description">Share details so we can find you the most eligible candadtes.</p>
    <app-steps-step3-contractduration></app-steps-step3-contractduration>
    <app-steps-step3-contractextension></app-steps-step3-contractextension>
  </div>
  <app-steps-step3-interviewtype></app-steps-step3-interviewtype>
  <app-steps-step3-reportingmanager></app-steps-step3-reportingmanager>
  <app-steps-step3-teammembers></app-steps-step3-teammembers>
  <hr class="form-divider" />
  <div class="clearfix form-nav">
    <div class="pull-left">
      <div class="pull-right">
        <a href="#" class="btn btn-border btn-prev" routerLink="/app-createajob/app-steps-step2">Back</a>
      </div>
    </div>
    <div class="pull-right">
      <a href="#" class="btn btn-filled btn-next" routerLink="/app-createajob/app-steps-step4">Next</a>
    </div>
  </div>
</div>

