/* 
.page--create-a-job .form-steps .data-list {
    padding: 0;
    list-style: none;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 51px;
} */

/* .page--create-a-job .form-steps .job-title-group .data-list li {
    float: left;
    border: 1px solid #E0E3EF;
    background-color: #FBFCFF;
    color: #6A7E9C;
    padding: 10px 13px;
    margin-right: 15px;
    border-radius: 3px;
} */
/* .page--create-a-job .form-steps .form-group {
    margin-bottom: 35px;
}
.page--create-a-job .form-steps .job-title-group .data-list {
    padding: 0;
    list-style: none;
    margin: 0;
    padding-top: 15px;
     
}

.page--create-a-job .form-steps .job-title-group .data-list li {
    float: left;
    border: 1px solid #E0E3EF;
    background-color: #FBFCFF;
    color: #6A7E9C;
    padding: 10px 13px;
    margin-right: 15px;
} */