.d-inline-block {
    display: inline-block;
}

.p-4 {
    padding: 4rem;
}

.video-col>div {
    padding: 0px;
}

.ml-2 {
    margin-left: 2rem;
}

.pt-2 {
    padding-top: 2rem;
}

.wrap-icon label {
    font-weight: normal;
}

/*Added enhancement styles on 23-10-2019 */
.d-inline-block label img, label p{
    cursor: pointer;
}
.video-scrollbar video{
height: 110px;
}
.video-scrollbar  a{
    cursor: pointer;
    }
.video-scrollbar .video-upload-control{
margin-bottom:10px;
}