<div class="form-group position-group">
  <label for="" class="question">How many open positions do you currently have for this Job Title?</label>
  <p class="description">Share details so we can find you the most eligible candadtes.</p>
  <div class="options">
    <div class="checkbox" *ngFor="let jobs of locationwisejobs; let i = index">
      <!-- <label><input type="radio" name="location" (change)="selectLocation(jobs.PreferredLocationId)"  value=""><span class="box">{{jobs.CityName}}</span> </label> -->
      <label><input type="radio" [ngModel]="location" (change)="selectLocation(jobs.PreferredLocationId)" name="location" [value]="jobs.PreferredLocationId"><span class="box">{{jobs.CityName}}</span> </label>
    </div> 
  </div>
</div> 