<div class="form-group position-group">
<form>
  <label for="" class="question">At which location the job is available?</label>
  <p class="description">Share details so we can find you the most eligible candidates.</p>
  <div class="options">
    <div class="checkbox" *ngFor="let jobs of locationwisejobs; let i = index">
      <!-- <label><input type="radio" name="location" (change)="selectLocation(jobs.PreferredLocationId)"  value=""><span class="box">{{jobs.CityName}}</span> </label> -->
      <label><input type="radio" [ngModel]="prfLoc && prfLoc?.PreferredLocationId"  (change)="selectLocation(jobs)" name="location" [value]="jobs.PreferredLocationId"><span class="box">{{jobs.CityName}}</span> </label>
    </div> 
  </div>
  <!-- <span class="help-block" *ngIf="location.invalid && location.touched">Location is required.</span> -->
</form>
</div> 