<div class="form-group position-group">
  <label for="" class="question">How many open positions do you currently have for this Job Title?</label>
  <p class="description">Share details so we can find you the most eligible candadtes.</p>
  <div class="options">
    <div class="checkbox" *ngFor="let jobs of locationwisejobs; let i = index">
      <label><input type="radio" name="emp-type" value=""><span class="box">{{jobs}}</span> </label>
    </div>
    <h4>OR</h4>
    <input type="text" class="form-control" placeholder="Type">
  </div>
</div>

