<div class="form-group position-group">
    <label for="" class="question">How many open positions do you currently have for this Job Title?</label>
    <p class="description">Share details so we can find you the most eligible candadtes.</p>
    <div class="options">
      <div class="checkbox">
        <label><input type="radio" name="openg" (click)="Opening(1)" value="1"><span class="box">1 </span> </label>
      </div>
      <div class="checkbox">
        <label><input type="radio" name="openg" (click)="Opening(2)" value="2"><span class="box">2</span></label>
      </div>
      <div class="checkbox">
        <label><input type="radio" name="openg" (click)="Opening(3)" value="3"><span class="box">3</span></label>
      </div>
      <h4>OR</h4>
      <input type="text" class="form-control" (change)="Opening($event)" placeholder="Type">
    </div>
  </div>