
<div class="form-group personality-group">
  <label for="" class="question">Which type of person you are looking for?</label>
  <div class="personality-type row">
    <div class="col-md-6 col-sm-12">
      <label for="personality-d">
        <input type="radio" id="personality-d" name="personality-type" class="radio-input" />
        <div class="type">
          <header>
            <div>
              <img src="../../../../../assets/images/D.png" alt="">
            </div>
            <h1>Dominance</h1>
            <a type="button" data-toggle="modal" data-target="#personality-d-modal">Learn more</a>
          </header>
          <p>
            Person places emphasis on accomplishing results, the bottom line, confidence
          </p>
          <h4>Behaviours</h4>
          <ul class="behaviours">
            <li>Sees the big picture</li>
            <li>Can be blunt</li>
            <li>Accepts challenges</li>
            <li>Gets straight to the point</li>
          </ul>
        </div>
      </label>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="personality-i">
        <input type="radio" id="personality-i" name="personality-type" class="radio-input" />
        <div class="type">
          <header>
            <div>
              <img src="../../../../../assets/images/I.png" alt="">
            </div>
            <h1>Influence</h1>
            <a type="button" data-toggle="modal" data-target="#personality-d-modal">Learn more</a>
          </header>
          <p>
            Person places emphasis on influencing or persuading others, openness, relationships
          </p>
          <h4>Behaviours</h4>
          <ul class="behaviours">
            <li>Shows enthusiasm</li>
            <li>Is optimistic</li>
            <li>Likes to collaborate</li>
            <li>Dislikes being ignored</li>
          </ul>
        </div>
      </label>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="personality-s">
        <input type="radio" id="personality-s" name="personality-type" class="radio-input" />
        <div class="type">
          <header>
            <div>
              <img src="../../../../../assets/images/S.png" alt="">
            </div>
            <h1>Steadiness</h1>
            <a type="button" data-toggle="modal" data-target="#personality-d-modal">Learn more</a>
          </header>
          <p>
            Person places emphasis on cooperation, sincerity, dependability
          </p>
          <h4>Behaviours</h4>
          <ul class="behaviours">
            <li>Sees the big picture</li>
            <li>Can be blunt</li>
            <li>Accepts challenges</li>
            <li>Gets straight to the point</li>
          </ul>
        </div>
      </label>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="personality-c">
        <input type="radio" id="personality-c" name="personality-type" class="radio-input" />
        <div class="type">
          <header>
            <div>
              <img src="../../../../../assets/images/C.png" alt="">
            </div>
            <h1>Conscientiousness</h1>
            <a type="button" data-toggle="modal" data-target="#personality-d-modal">Learn more</a>
          </header>
          <p>
            Person places emphasis on quality and accuracy, expertise, competency
          </p>
          <h4>Behaviours</h4>
          <ul class="behaviours">
            <li>Shows enthusiasm</li>
            <li>Is optimistic</li>
            <li>Likes to collaborate</li>
            <li>Dislikes being ignored</li>
          </ul>
        </div>
      </label>
    </div>
  </div>
</div>


