<div id="step2" class="tab-pane">
<div class="tab-inner">
  <app-steps-step2-noofopenings>
  </app-steps-step2-noofopenings>
  <app-steps-step2-locationwisejobs>
  </app-steps-step2-locationwisejobs>
  <app-steps-step2-qualifications>
  </app-steps-step2-qualifications>
  <app-steps-step2-domainexpertise>
  </app-steps-step2-domainexpertise>
  <app-steps-step2-personalityType>
  </app-steps-step2-personalityType>

</div>
</div>
<hr class="form-divider" />
<div class="clearfix form-nav">
  <div class="pull-left">
    <div class="pull-right">
      <a href="#" class="btn btn-border btn-prev" routerLink="/app-createajob/app-steps-step1">Back</a>
    </div>
  </div>
  <div class="pull-right">
      <a href="javascript:void(0)" (click)="postJob(2)" class="btn btn-filled btn-next" routerLink="/app-createajob/app-steps-step3">Next</a>
  </div>
</div>
