<div class="job-history-section">
  <div class="row">
    <div class="col-md-4 col-lg-4 history-col">
      <div class="col-container">
        <h4>Interview's scheduled</h4>
        <div class="col-listing">
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 history-col">
      <div class="col-container">
        <h4>In Progress Jobs</h4>
        <div class="col-listing">
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 history-col">
      <div class="col-container">
        <h4>Applied Jobs</h4>
        <div class="col-listing">
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row uneven-row">
    <div class="col-md-8 col-lg-8 history-col history-big-col">
      <div class="col-container">
        <h4>Interview History</h4>
        <div class="col-listing">
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 history-col">
      <div class="col-container">
        <h4>Job Matching</h4>
        <div class="col-listing">
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
          <div class="column">
            <figure>
              <img src="../../../../assets/images/google-logo.png" alt="">
            </figure>
            <h4>Google</h4>
            <h3>Web Designer</h3>
            <h6><span class="mdi mdi-clock-outline"></span>2 Months ago</h6>
            <span class="status active">Active</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>