<div class="form-section-title">
  <h3>Skills</h3>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Primary Skills <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-star-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Secondary Skills <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-progress-star"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Education Degree <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-school-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Specialization <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-star-settings-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">List of Key Responsibilities <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-cog-sync-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Languages <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-web"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>
</div>