<div class="form-section-title">
  <h3>Skills</h3>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Primary Skills <sup>*</sup></label>
    <div class="row">
      <div class="col-md-8 col-lg-8 form-sub-col">
        <div class="form-group">
          <span class="mdi mdi-star-outline"></span>
          <select class="form-select">
            <option value="Select or type to add new">Select or type to add new</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 form-sub-col">
        <div class="form-group">
          <span class="mdi mdi-star-outline"></span>
          <select class="form-select">
            <option value="Exp">Exp</option>
          </select>
        </div>
      </div>
    </div>
    <div class="quick-results">
      <ul>
        <li>Application Development <span class="mdi mdi-close-thick"></span></li>
        <li>Web Development <span class="mdi mdi-close-thick"></span></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Secondary Skills <sup>*</sup></label>
    <div class="row">
      <div class="col-md-8 col-lg-8 form-sub-col">
        <div class="form-group">
          <span class="mdi mdi-progress-star"></span>
          <select class="form-select">
            <option value="Select or type to add new">Select or type to add new</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 form-sub-col">
        <div class="form-group">
          <span class="mdi mdi-star-outline"></span>
          <select class="form-select">
            <option value="Exp">Exp</option>
          </select>
        </div>
      </div>
    </div>
    <div class="quick-results">
      <ul>
        <li>C <span class="mdi mdi-close-thick"></span></li>
        <li>C++ <span class="mdi mdi-close-thick"></span></li>
        <li>Java <span class="mdi mdi-close-thick"></span></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Education Degree <sup>*</sup></label>
    <div class="form-group  margin-bottom-20">
      <span class="mdi mdi-school-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
    <div class="quick-results">
      <ul>
        <li>Bechloer Degree <span class="mdi mdi-close-thick"></span></li>
        <li>Master Degree <span class="mdi mdi-close-thick"></span></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Specialization <sup>*</sup></label>
    <div class="form-group margin-bottom-20">
      <span class="mdi mdi-star-settings-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
    <div class="quick-results">
      <ul>
        <li>Computer Science <span class="mdi mdi-close-thick"></span></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">List of Key Responsibilities <sup>*</sup></label>
    <div class="form-group margin-bottom-20">
      <span class="mdi mdi-cog-sync-outline"></span>
      <select class="form-select">
        <option value="Select or type to add new">Select or type to add new</option>
      </select>
    </div>
    <div class="quick-results">
      <ul>
        <li>C <span class="mdi mdi-close-thick"></span></li>
        <li>C++ <span class="mdi mdi-close-thick"></span></li>
        <li>Java <span class="mdi mdi-close-thick"></span></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Languages <sup>*</sup></label>
    <div class="form-group margin-bottom-20">
      <span class="mdi mdi-web"></span>
      <select class="form-select">
        <option value="Select or type to add new">Select or type to add new</option>
      </select>
    </div>
    <div class="quick-results">
      <ul>
        <li>Telegu <span class="mdi mdi-close-thick"></span></li>
        <li>English <span class="mdi mdi-close-thick"></span></li>
        <li>Tamil <span class="mdi mdi-close-thick"></span></li>
      </ul>
    </div>
  </div>
</div>