<div class="documents-container">
  <div class="row flex flex-wrap">
    <div class="col-sm-5 left-sidebar-col">
      <app-left-sidebar></app-left-sidebar>
    </div>
    <div class="col-sm-7 middle-col">
      <app-filter-document></app-filter-document>
      <div class="col-container">
        <h4>Folders</h4>
        <div class="folder-listing">
          <div class="row">
            <div class="col-sm-4 folder-col">
              <div class="col-container">
                <span class="icon icon-folder"></span>
                Base Elements
              </div>
            </div>
            <div class="col-sm-4 folder-col recent-col">
              <div class="col-container">
                <span class="icon icon-folder"></span>
                Base Elements
              </div>
            </div>
            <div class="col-sm-4 folder-col">
              <div class="col-container">
                <span class="icon icon-folder"></span>
                Inspiration
              </div>
            </div>
            <div class="col-sm-4 folder-col">
              <div class="col-container">
                <span class="icon icon-folder"></span>
                New Folder
              </div>
            </div>
          </div>
        </div>
        <div class="file-listing">
          <div class="row">
            <div class="col-sm-3 col">
              <div class="col-container">
                <div class="info-box">
                  <span class="icon icon-doc">Icon</span>
                  <h4>Koot_Proposal</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col">
              <div class="col-container">
                <div class="info-box">
                  <span class="icon icon-pdf">Icon</span>
                  <h4>Koot_Projects</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col">
              <div class="col-container">
                <div class="info-box">
                  <span class="icon icon-psd">Icon</span>
                  <h4>Koot_Desktop</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col">
              <div class="col-container">
                <div class="info-box">
                  <span class="icon icon-ppt">Icon</span>
                  <h4>Koot_PPT</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>