/*
  BOOTSTRAP GENERAL OVERRIDES
*/
.btn {
    border-radius: 3px;
    font-weight: 500;
}

.btn-primary {
    background-color: #66dab5 !important;
    border: 0 !important;
    color: #ffffff !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: uppercase;
    padding: 1.125rem 1.875rem;
}

.btn-primary:hover {
    background-color: #3dd0a1 !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.btn-primary:focus {
    background-color: #2fc495 !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.btn-white {
    background-color: #ffffff !important;
}

.btn-secondary {
    background-color: #ffb504;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
}

.btn-secondary:hover {
    background-color: #f4ac00 !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.btn-secondary:focus {
    background-color: #e4a100 !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.btn-white:hover, .btn-secondary:hover {
    border: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.btn-white:focus, .btn-secondary:focus {
    border: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.apply-now-banner.section .apply-now-banner-inner {
    background-image: url("/assets/images/apply-now-banner-bg.png");
    background-position: center left;
    background-repeat: no-repeat;
    height: 222px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 5.86px 17.019px 38px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 5.86px 17.019px 38px 2px rgba(0, 0, 0, 0.05);
    padding: 4rem;
}

.apply-now-banner.section p {
    color: #ffffff;
    font-size: 1.75rem;
    line-height: 2.15rem;
    margin: 0;
    width: 60%;
}

/*
  NAVIGATION
*/
.navbar-toggler-icon {
    height: auto;
}

.site-nav {
    padding: 1.875rem 3.125rem;
}

.navbar-nav .nav-link {
    color: #929eb9;
}

.bottom-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

@media (min-width: 992px) {
    .site-nav.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .site-nav .navbar-nav .btn-primary {
        margin-left: 1.5rem;
    }
}

@media (max-width: 991px) {
    .site-nav .navbar-brand {
        display: none;
    }

    .site-nav .mb-logo {
        display: block !important;
        margin-left: 1rem;
    }

    .nav-inner {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .bottom-nav {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-top: 1.25rem;
    }

    .bottom-nav li:first-of-type > a {
        padding-left: 0;
    }
}

.navbar-nav .nav-link:hover {
    color: #64759b;
}




.customer-page .customer-header-bg {
    height: 1125px;
    background-image: url("/assets/images/homepage/customer-header-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 7.75rem;
}

.customer-page .section h2 {
    font-size: 1.625rem;
    font-weight: 500;
    color: #77839f;
    line-height: 1.4;
}

.customer-page .section h4 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #a7b4ce;
}

.customer-page .section p {
    color: #a7b4ce;
    font-weight: 400;
    line-height: 1.625rem;
}

.customer-page .section .readmore a,
.customer-page .section .readmore {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #c1cbdd;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.customer-page .section .readmore a:hover, .customer-page .section .readmore a:focus, .customer-page .section .readmore a:active, .customer-page .section .readmore a:visited,
  .customer-page .section .readmore:hover,
  .customer-page .section .readmore:focus,
  .customer-page .section .readmore:active,
  .customer-page .section .readmore:visited {
    text-decoration: none;
}

.customer-page .clientele {
    padding-top: 9.5rem;
    padding-bottom: 8.125rem;
}

.customer-page .clientele h6 {
    font-size: 1.125rem;
    color: #77839f;
    text-align: left;
    padding-bottom: 1.4375rem;
}

.customer-page .card {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 2.625rem 2.3125rem 3.0625rem;
}

.customer-page .card > .bg {
    background-color: #f5f8ff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.customer-page .card:hover > .bg {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-box-shadow: 5.86px 17.019px 47.5px 2.5px rgba(0, 0, 0, 0.05);
            box-shadow: 5.86px 17.019px 47.5px 2.5px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.customer-page .card .card-body {
    position: relative;
    z-index: 1;
    background: transparent;
}

.customer-page .card .column-img {
    padding-bottom: 3.3125rem;
}

.customer-page .card:nth-of-type(2) .column-img {
    padding-bottom: 3rem;
}

.customer-page .card h4 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #77839f;
    line-height: 1.5556;
    margin-bottom: 1.0625rem;
}

.customer-page .card p {
    color: #98a7c4;
    font-weight: 400;
    line-height: 1.625rem;
}

.customer-page .feature-cards.section {
    padding-bottom: 7.875rem;
}

.customer-page .feature-cards.section .card {
    border: none;
}

.customer-page .feature-cards.section .card-body {
    padding: 0;
}

.customer-page .view-all {
    font-size: 0.875rem;
    font-weight: 500;
    color: #c1cbdd;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3.125rem;
}

.customer-page .view-all a {
    color: #c1cbdd;
}

.customer-page .view-all a:hover {
    text-decoration: none;
}

.customer-page .testimonial-section.section {
    padding-bottom: 10.75rem;
}

.customer-page .testimonial-section.section .customer-quotes {
    position: relative;
    padding: 3.25rem 3.5625rem;
    -webkit-box-shadow: 5px 9px 38px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 5px 9px 38px 2px rgba(0, 0, 0, 0.05);
}

.customer-page .testimonial-section.section .double-quotes {
    position: absolute;
    top: -32px;
}

.customer-page .testimonial-section.section p {
    font-size: 1rem;
    color: #a7b4ce;
    line-height: 1.625rem;
    margin: 0;
}

.customer-page .testimonial-section.section .client-name {
    padding-top: 2rem;
    text-align: right;
}

.customer-page .testimonial-section.section .client-name h5 {
    font-size: 1.125rem;
    font-weight: bold;
    color: #4489f9;
}

.customer-page .testimonial-section.section .client-name h6 {
    font-size: 0.875rem;
    font-weight: 400;
    color: #a7b4ce;
}

.customer-page .video-sizzle.section {
    padding-bottom: 11.75rem;
}

.customer-page .video-sizzle.section h4 {
    font-size: 1.625rem;
    font-weight: 500;
    color: #77839f;
    line-height: 1.4;
    padding-bottom: 0.5rem;
}

.customer-page .video-sizzle.section p {
    color: #a7b4ce;
    font-weight: 400;
    line-height: 1.625rem;
}

.customer-page .video-sizzle.section .feature:not(:last-of-type) {
    margin-bottom: 5.9375rem;
}

.customer-page .video-sizzle.section .feature .readmore a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #c1cbdd;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.customer-page .video-sizzle.section .feature .readmore a:hover, .customer-page .video-sizzle.section .feature .readmore a:focus, .customer-page .video-sizzle.section .feature .readmore a:active, .customer-page .video-sizzle.section .feature .readmore a:visited {
    text-decoration: none;
}

.customer-page .banner.section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 257px;
    margin-bottom: 201px;
    background-image: url("/assets/images/homepage/apply-banner-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.customer-page .banner.section .banner-content {
    font-size: 1.625rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 65%;
    line-height: 2.25rem;
    margin-bottom: 21px !important;
}

.customer-page .banner.section .readmore a {
    font-size: 0.875rem;
    font-weight: 500;
    color: #c1cbdd;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.customer-page .banner.section .readmore a:hover {
    text-decoration: none;
}

.customer-page .next-gen.section {
    padding-bottom: 5.25rem;
}

.customer-page .next-gen.section a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: #c1cbdd;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.customer-page .next-gen.section a:hover, .customer-page .next-gen.section a:focus, .customer-page .next-gen.section a:active, .customer-page .next-gen.section a:visited {
    text-decoration: none;
}

.customer-page .next-gen.section h4 {
    margin-bottom: 1.875rem;
}

.customer-page .dashboard-job-wall {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3.5rem;
    background-image: url("/assets/images/homepage/customer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.customer-page .dashboard-job-wall .row:nth-of-type(1) {
    padding-top: 11.5rem;
}

.customer-page .dashboard-job-wall .row {
    padding-bottom: 14.125rem;
}

.customer-page .job-machine.section .job-machine-content {
    position: relative;
    padding: 2.5625rem 3.5625rem 1.4375rem;
    margin-bottom: 9.5rem;
    text-align: center;
    -webkit-box-shadow: 4.884px 14.183px 38px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 4.884px 14.183px 38px 2px rgba(0, 0, 0, 0.05);
}

.customer-page .job-machine.section .decoration-img {
    position: absolute;
    left: -9px;
    top: 2.8125rem;
}

.customer-page .job-machine.section .decoration-img2 {
    position: absolute;
    right: -11px;
    bottom: 5.625rem;
}

.customer-page .banner.section:last-of-type {
    border-bottom: 2px solid #5e7191;
}

.testimonial.section {
    text-align: center;
    color: #6a7e9c;
    background: url("/assets/images/home-testimonial-bg.png") top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10.75rem 0 6.25rem 0;
}

.testimonial.section .carousel-control-prev,
  .testimonial.section .carousel-control-next {
    display: none;
}

.testimonial.section h2 {
    margin-bottom: 4.375rem;
}

.testimonial.section h2:after {
    content: " ";
    background: url("/assets/images/arytic-sprite.png");
    display: block;
    width: 61px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    background-position: -63px;
    background-repeat: no-repeat;
    background-size: 128px;
    margin-top: 10px;
}

.testimonial.section blockquote {
    max-width: 43%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 2.4rem;
}

.testimonial.section .client h4, .testimonial.section .client h5 {
    font-weight: 500;
}

.testimonial.section .carousel.slide {
    padding-bottom: 4.375rem;
}

.testimonial.section .carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
}

.testimonial.section .carousel-indicators li {
    background-color: #cfd5e3;
    width: 24px;
    height: 6px;
    margin-right: 6px;
    margin-left: 6px;
}

.testimonial.section .carousel-indicators li.active {
    background-color: #ffb415;
}

.site-footer {
    background-color: #6a7e9c;
    background-image: url("/assets/images/arytic-robot.png");
    background-position: bottom right 7.25rem;
    background-repeat: no-repeat;
    color: #ccd2e1;
    padding: 5.625rem 0;
}

.site-footer a {
    color: #ccd2e1;
}

.site-footer a:hover {
    text-decoration: none;
    color: #ffffff;
}

.site-footer .logo {
    max-width: 130px;
}

.site-footer .about-col {
    padding-right: 3rem;
}

.site-footer .about-col p {
    color: #ccd2e1;
}

.site-footer .about-col a {
    display: block;
    margin-bottom: 0.875rem;
}

.site-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.site-footer .footer-links li {
    line-height: 2.5625rem;
}

.site-footer .footer-links li:first-of-type {
    font-weight: 500;
    font-size: 1rem;
}

.site-footer .footer-links li:first-of-type a {
    color: #ffffff;
}

.site-footer .contact-info {
    padding-top: 1rem;
}

.site-footer .contact-info li {
    position: relative;
    padding-left: 2.25rem;
    color: #ffffff;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
}

.site-footer .contact-info li > img {
    position: absolute;
    left: 0;
    top: 5px;
}
.bottom-footer {
    background-color: #637896;
    color: #ccd2e1;
    font-size: 0.875rem;
    padding: 1.70rem;
}

.bottom-footer .nav-item:not(:last-of-type) {
    border-right: 1px solid #9eabc0;
}

.bottom-footer .nav-link {
    color: #ccd2e1;
    padding: 0 10px;
}

.join-btn {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 41px;
    background-color: #66dab5;
}

.sign-in {
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 40px;
    background-color: #66dab5;
}

.navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.spacing li {
    padding: 0 20px;
}

.spacing li:last-child {
    padding-left: 20px;
    padding-right: 0;
}

.sub-header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 8.5rem;
}

.sub-header h2 {
    font-size: 1.625rem;
    color: #6a7e9c;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
}

.first-para {
    font-size: 1.125rem;
    color: #727e9b;
    line-height: 2rem;
    margin-bottom: 1.9375rem;
}
