<!-- <h1>layout Arytic</h1>
<a routerLink="/home" routerLinkActive="active">home</a> -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Arytic </title>

        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- 
        <link rel="stylesheet" href="css/style.css"> -->
    </head>

    <body class="customer-page">
        <header>
            <div class="customer-header-bg">
                <nav class="navbar navbar-expand-lg site-nav">
                    <div class="nav-inner">
                        <a class="navbar-brand mb-logo" routerLink="/home" routerLinkActive="active">
                            <img src="assets/images/homepage/logo.png" title="Arytic" alt="Arytic">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                            <div class="b-menu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            </span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand d-sm-none" routerLink="/home" routerLinkActive="active">
                            <img src="assets/images/homepage/logo.png" title="Arytic" alt="Arytic">
                        </a>
                      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 align-items-center">
        <!--<li class="nav-item active">
          <a class="nav-link" href="customer.html">Company <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="features-detail.html">Resources</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link"  routerLink="/home" routerLinkActive="active" >Post a Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Create Profile</a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link"  routerLink="/about" routerLinkActive="active" >About</a>
        </li> -->
       <li class="nav-item">
        <a class="nav-link"  routerLink="/features" routerLinkActive="active" >Features</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" routerLink="/home" routerLinkActive="active">Sign Up</a>
        </li>
      </ul>
                    </div><!--navbar-collapse-->
                </nav>
                <div class="sub-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                <div class="sub-header-left">
                                    <h2 class="first-heading">Modernization of Job Search, Recruitment Process and Earning Capabilities to Everyone</h2>
                                    <p class="first-para">Arytic uses it Artifical Intelligence to find the perfect match for your personal and professional needs. Our intelligent referral engine rewards you for your quality recommendations as well.</p>
                                    <button class="btn btn-lg join-btn" type="button">Join Arytic</button>
                                </div><!--sub-header-right-->
                            </div><!--col-->

                            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 d-flex offset-xl-2 offset-lg-2">
                                <div class="sub-header-right">
                                    <img src="assets/images/homepage/candidate-header.svg" class="img-fluid" title="Modernization of Job Search, Recruitment Process and Earning Capabilities to Everyone" alt="Modernization of Job Search, Recruitment Process and Earning Capabilities to Everyone">
                                </div><!--sub-header-left-->                    
                            </div><!--sub-header-->
                        </div><!--col-->
                    </div><!--container-->
                </div>
                <div class="clientele">
                    <div class="container">
                        <h6>The world’s best startups build teams on Arytic</h6>
                        <img class="img-fluid" src="assets/images/homepage/brand-Logos.png" alt="brand-logo">
                    </div><!--col-->
                </div><!--row-->
            </div><!--header-bg-->
        </header>
        <section class="feature-cards section">
            <div class="container">
                <div class="row justify-content-center">
                        <div class="col-md-4 card">
                            <div class="bg"></div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="cards card1">                           
                                        <div class="column-img">
                                            <img src="assets/images/homepage/card-img-1.png" class="img-fluid" alt="Icon">
                                        </div><!--column-img-->
                                        <div class="card-content">
                                            <h4>Impeccable Profile: Background, Reference, and Skills Verification</h4>
                                            <p>Background, Reference, and Skills verifications are more hurdles that prolong the process. We eliminate this hurdle by simply doing it for hiring leaders..omit. We make sure that each candidate passes our Impeccable Profile.</p>
                                        </div><!--three-box-->
                                    </div><!--card1-->
                                </div><!--card-text-->
                            </div><!--card-body-->
                        </div><!--card-->
                        <div class="col-md-4 card">
                            <div class="bg"></div>
                            <div class="card-body">
                                <div class="card-text">                       
                                    <div class="cards custom-card">
                                        <div class="column-img">
                                            <img src="assets/images/homepage/card-img-2.png" class="img-fluid" alt="Icon">
                                        </div><!--column-img-->
                                        <div class="boxs">
                                            <h4>Unique Experience Platform: Simple, Modern, &amp; Cost-effective</h4>
                                            <p>The Arytic platform is a crowning achievement. Its infusion of technological applications is like no other site in the industry.  Arytic offers hiring leaders the most simple, modern, and cost -effective experience of its kind.  It is a cl...</p>
                                        </div><!--three-box-->
                                    </div><!--card2-->
                                </div><!--card-text-->
                            </div><!--card-body-->
                        </div><!--card-->
                        <div class="col-md-4 card">
                            <div class="bg"></div>
                            <div class="card-body">
                                <div class="card-text">                                                      
                                    <div class="cards card3">
                                        <div class="column-img">
                                            <img src="assets/images/homepage/card-img-3.png" class="img-fluid" alt="Icon">
                                        </div><!--column-img-->
                                        <div class="boxs">
                                            <h4>Not Just a Post...an Analytically Guided Post</h4>
                                            <p>Analytically Guided Post reveals the available candidates, average compensation, demographic meta- data, &amp; the latest trending data.  Voice-enabled features guide hiring leaders through a supremely streamlined interaction revealing...</p>
                                        </div><!--three-box-->
                                    </div><!--card3-->
                                </div><!--card-text-->
                            </div><!--card-body-->
                        </div><!--card-->
                </div><!--row-->
                <div class="view-all">
                    <a href="/#/">View All
                        <img src="assets/images/homepage/right-arrow.svg" alt="Right arrow">
                    </a>
                </div><!--view-all-->
            </div>
        </section>

        <section class="testimonial-section section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 co-xl-6">
                        <div class="testimonial">
                            <div class="customer-quotes">
                                <div class="double-quotes">
                                    <img src="assets/images/homepage/double-quote.png" alt="Double quote">
                                </div><!--quotes-img-->
                                <p>Lorem ipsum dolor sit amet no nam augue feugiat habemus euismod forensibus disputationi at vim. Mei magna assueverit interpretaris at ex melius oblique nam. Ad nec omnes partiendo udus postea perfect no nam augue.</p>
                            </div><!--customer-quotes-->

                            <div class="client-name">
                                <h5>David Martin</h5>
                                <h6>Accountant hired by Raden</h6>
                            </div><!--quote-name-->
                        </div>
                    </div><!--col-->
                    <div class="col-sm-12 col-md-12 col-lg-6 co-xl-6">
                        <div class="testimonial">
                            <div class="customer-quotes">
                                <div class="double-quotes">
                                    <img src="assets/images/homepage/double-quote.png" alt="Doubble quote">
                                </div><!--quotes-img-->

                                <p class="quotes-content">Lorem ipsum dolor sit amet no nam augue feugiat habemus euismod forensibus disputationi at vim. Mei magna assueverit interpretaris at ex melius oblique nam. Ad nec omnes partiendo udus postea perfect no nam augue.</p>
                            </div><!--customer-quotes-->

                            <div class="client-name">
                                <h5>John Drew</h5>
                                <h6>Accountant hired by Raden</h6>
                            </div><!--quote-name-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section 3 Start-->
        <section class="video-sizzle section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="left-side">
                            <div class="feature">
                                <h4>Video Sizzle</h4>
                                <p>With Video Sizzle, hiring leaders are the directors of the film and the job is the star of the show. Unlike words on a page, a 30-45 second video tailored to each posting allows the jobs to sizzle with real life footage of assignments in action.  Hiring leaders film the actual location of the project, shoot footage of tasks being accomplished, and capture short interviews of employees giving testimonials to enhance the posting.   Hiring leaders also review Video Sizzle furnished by applicants presenting why they are the best fit.</p>
                                <div class="readmore">
                                    <a href="/#/">Read More
                                        <img src="assets/images/homepage/right-arrow.svg" alt="Right arrow">
                                    </a>
                                </div>
                            </div>
                            <div class="feature">
                                <h4>Assess and Repost: Transparent Job Reviews</h4>
                                <p>Arytic’ Real-time job reviews gives hiring leaders invaluable information and transparent insights for each job post.  Reviews by the candidates include likes, dislikes, and feedback of the posted job empowering hiring leaders to make ongoing, appropriate decisions. This completely unique constructive criticism results in the refinement of job details leading to an expanded target audience.</p>
                                <div class="readmore">
                                    <a href="/#/">Read More
                                        <img src="assets/images/homepage/right-arrow.svg" alt="Right arrow">
                                    </a>
                                </div>
                            </div>
                        </div><!--left-side-->
                    </div><!--col-->

                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 d-flex justify-content-center">
                        <div class="right-side">
                            <img src="assets/images/homepage/customer-video-sizzle.svg" class="img-fluid" alt="Image2">
                        </div><!--right-side-->
                    </div><!--col-->
                </div><!--customer-main-wrapper-->
            </div><!--row-->
        </section>
        <!-- Section 3 End -->

        <section class="banner section">
            <div class="text-center">
                <h3 class="banner-content m-auto">Lorem ipsum dolor sit amet, has ei idque tritani salutatus quo essent elaboraret</h3>
                <div class="banner-btn">
                    <button class="btn join-btn banner-btn" type="button">Join Arytic</button>
                </div>
            </div><!--banner-->
        </section><!--conatiner-fluid-->

        <section class="next-gen section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 d-flex justify-content-center">
                        <div class="left-side">
                            <img src="assets/images/homepage/next-gen-illustration.svg" class="img-fluid" title="NEXTGEN Interview Platform" alt="NEXTGEN Interview Platform">
                        </div><!--left-side-->
                    </div><!--col-->

                    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 section5-para-s">
                        <div class="content-right">
                            <h2>NEXTGEN Interview Platform</h2>
                            <h4>Robots conduct interviews for each uploaded profile. Third party interviewing experts with historical performance analytics are listed for your outsourcing needs.</h4>
                            <p>The NEXTGEN Interview Platform immediately gets the hiring ball rolling.  A list of third party interview geeks/gurus who are subject matter experts are chosen by hiring leaders saving a huge amount of time and increasing quality. You guessed it...it’s uber-style interviews! It includes a rating system of the geeks/gurus, their areas of expertise and fees, and an historical database of their previous interviews allowing hiring leaders  to choose the highest rated geeks to participate in the selection process. A complete log is kept of all interviews for hiring leaders to review and provide ratings of the geeks/gurus who are part of the hiring leader’s hiring process.  The rating system inherently raises the quality of geeks as their compensation is directly correlated to their rating.</p>

                            <div class="readmore">
                                <a href="/#/">Read More
                                    <img src="assets/images/homepage/right-arrow.svg" alt="&gt;">
                                </a>
                            </div>
                        </div><!--right-side-->
                    </div><!--col-->
                </div>
            </div>
        </section>

        <section class="dashboard-job-wall section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <h2>Not a Dashboard...a Job Wall</h2>
                        <h4>Not a dashboard but a job wall providing analytics for the post.</h4>
                        <p>A job wall is a wall of useful information representing the entire life of the posting.  It includes  the number of views, suggested profiles, likes and dislikes, hires, withdrawals, and rejections.   Each candidate has a display revealing a decision summary, skill rating, personality fit, technical screening, and background and reference verification information. Without spending much time, hiring leaders can quickly scan through this condensed version of the candidate.  It is a one-stop solution for the complete recruiting cycle.</p>
                        <div class="readmore">
                            <a href="/#/">Read More <img src="assets/images/homepage/right-arrow.svg" alt="Right arrow"></a>
                        </div>
                    </div><!--col-->
                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1">
                        <div class="content-right">
                            <img src="assets/images/homepage/dashboard-job-wall.svg" class="img-fluid" alt="Job Wall" />
                        </div><!--right-side-->
                    </div><!--col-->
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <img src="assets/images/homepage/ai-hiring-predictor.svg" class="img-fluid" title="AI Hiring Predictor" alt="AI Hiring Predictor" />                           
                    </div><!--col-->
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-lg-1">
                        <h2>AI Hiring Predictor</h2>
                        <h4>The AI Hiring Predictor provides data-driven forecasts for the hiring process.</h4>
                        <p>The Hiring Predictor gives hiring leaders the realistic likelihood of hiring and the average timeline for the hiring to unfold. Based on data such as the job requirements, length of assignment, quarter of the year, and geographical location compiled from all previous hires, the platform provides hiring leaders with the most likely prediction of the process.</p>
                        <div class="readmore">
                            <a href="/#/">Read More <img src="assets/images/homepage/right-arrow.svg" alt="Right arrow"></a>
                        </div>
                    </div><!--col-->
                </div><!--row-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <h2>Social Referral Platform</h2>
                        <h4>Social Referral Platform for Passive Candidates attracts the best candidates</h4>
                        <p>Power, speed, and analytics are now on the customer’s side with our robust machine learning and AI tools.  Our bots go beyond our existing pool to find all highly matched passive candidates via social media and make them active.  Incentivized referrals expand the pool of matching candidates speeding up the hiring process.  Rock star candidates don’t waste time on job boards, but they do listen to people they trust.</p>
                    </div><!--col-->
                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1">
                        <img src="assets/images/homepage/social-referral-platform.svg" class="img-fluid" title="Social Referral Platform" alt="Social Referral Platform" />                           
                    </div><!--col-->
                </div><!--row-->
            </div>
        </section>

        <section class="job-machine section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 offset-md-0">
                        <img src="assets/images/homepage/job-machine.svg" class="img-fluid" alt="Image8">
                        <div class="job-machine-content">
                            <div class="decoration-img">
                                <img src="assets/images/homepage/triangle.png" alt="">
                            </div>
                            <h2>Intelligent Job Match Machine</h2>
                            <p>The Intelligent Match Machine calculates the match percentage inspired by applicant skills, business domain, location, culture and values match for each position. The culture and value match is unprecedented and completely unique.  Another progressive component of the Intelligent Job Match Machine is the power of hiring leaders to dynamically change the parameters of job posts and close each position on time, in real-time, and every time.</p>
                            <div class="decoration-img2">
                                <img src="assets/images/homepage/ellipse.png" alt="">
                            </div>
                        </div><!--job-machine-content-->
                    </div>
                </div>
            </div>
        </section>

        <section class="banner section m-0">
            <div class="text-center">
                <h3 class="banner-content m-auto">Lorem ipsum dolor sit amet, has ei idque tritani salutatus quo essent elaboraret</h3>
                <div class="banner-btn">
                    <button class="btn join-btn banner-btn" type="button">Join Arytic</button>
                </div>
            </div><!--banner-->
        </section><!--conatiner-fluid-->

        <!-- section 12 Start-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 about-col">
                        <a href="/#/">
                            <img class="logo" src="assets/images/homepage/arytic-logo-contrast.svg" alt="Arytic" title="Arytic" />
                        </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
                    </p>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <ul class="footer-links">
                            <li><a href="/#/" class="link active">Company</a></li>
                            <li><a href="/#/" class="link">Resources</a></li>
                            <li><a href="/#/" class="link">Post a Job</a></li>
                            <li><a href="/#/" class="link">Create Profile</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <ul class="footer-links">
                            <li><a href="/#/" class="link active">Features</a></li>
                            <!--<li><a href="" class="link">Find a Job</a></li>-->
                            <li><a href="/#/" class="link">Hire Talent</a></li>
                            <li><a href="/#/" class="link">Refer &amp; Earn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                    <ul class="contact-info">
                        <li><img src="assets/images/homepage/location-pin-icon.svg" alt=""> 11675 Jollyville Rd #126, Austin, TX 78759</li>
                        <li><img src="assets/images/homepage/phone-icon.svg" alt=""> (512) 220 - 1001</li>
                        <li><img src="assets/images/homepage/email-icon.svg" alt=""> info@Arytic.com</li>
                    </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="bottom-footer">
            <div class="container">
                <div class="row justify-space-between align-items-center">
                    <div class="col-lg-6 col-md-12">© 2018 - All Rights with Arytic</div>
                    <div class="col-lg-6 col-md-12">
                        <nav class="nav bottom-nav">
                            <li class="nav-item"><a href="/#/" class="nav-link">About us</a></li>
                            <li class="nav-item"><a href="/#/" class="nav-link">Privacy Policy</a></li>
                            <li class="nav-item"><a href="/#/" class="nav-link">Disclaimer</a></li>
                            <li class="nav-item"><a href="/#/" class="nav-link">Contact Us</a></li>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
