<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Arytic</title>
      <!-- GOOGLE WEB FONT -->
      <link href="../../../assets/styles/css/style1.css" rel="stylesheet">
      <link rel="stylesheet" href="../../../assets/styles/css/bootstrap.min.css">
      <!-- YOUR CUSTOM CSS -->
   </head>
   <body class="signpage">
      <div id="loader_form">
         <div data-loader="circle-side-2"></div>
      </div>
      <!-- /loader_form -->
      <div class="container-fluid full-height">
         <div class="row row-height">
            <!-- /content-right-->
            <div class="col-lg-6 content-left">
               <div class="content-left-wrapper">
                  <!-- <a href="index-2.html" id="logo"><img src="img/logo.png" alt="" width="49" height="35"></a> -->
                  <!-- Seeking Jobs Signup -->
                  <div class="jobs_div" style="display:none">
                     <div id="top-wizard">
                        <div id="progressbar"></div>
                     </div>
                     <!-- /top-wizard -->
                     <form id="wrapped" method="POST">
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="Jobs_sign" style="color:#000;">
                           <div class="logo">
                              <a href="#"><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                           </div>
                           <div class="step" style="text-align:left">
                              <h2 class="main_question">
                                 Welcome here! Let me help you
                                 signing up.
                              </h2>
                              <div class="form-group spt-2">
                                 <input type="email" class="form-control required" placeholder="Enter your email id.">
                              </div>
                              <div class="form-group">
                                 <input type="text" class="form-control required" placeholder="Enter your Mobile Number.">
                              </div>
                              <div class="form-group">
                                 <input class="form-control required" type="password" id="password1" name="password1" placeholder="Password" onchange="getVals(this, 'password');">
                              </div>
                              <div class="form-group">
                                 <input class="form-control required" type="password" id="password2" name="password2" placeholder="Confirm Password">
                              </div>
                              <div class="form-group terms">
                                 <label class="container_check">Please accept our <a href="#" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a>
                                 <input type="checkbox" name="terms" value="Yes" class="required">
                                 <span class="checkmark"></span>
                                 </label>
                              </div>
                              <h6>Already have an account? <a click="Login()" >Login here</a></h6>
                              <div class="sign-icons spt-2">
                                 <a  href="javascript:void(0)" ><i class="icon-facebook"></i></a>
                                 <a  href="javascript:void(0)" ><i class="icon-linkedin"></i></a>
                              </div>
                              <div class="spt-2  d-flex justify-content-between">
                                 <span>I don't think of <a   href="javascript:void(0)"  id="jobs_close">signing up.</a></span><a href="#0" class="btn2">Signup</a>
                              </div>
                           </div>
                        </div>
                        <!-- login -->
                        <div id="Jobs_login">
                           <div class="logo">
                              <a href="#"><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                           </div>
                           <div class="step " style="">
                              <h2 class="main_question text-left">
                                 Login here! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </h2>
                              <div class="form-group spt-2">
                                 <input type="email" class="form-control required" placeholder="Enter your email id.">
                              </div>
                              <div class="form-group">
                                 <input type="text" class="form-control required" placeholder="Enter your Mobile Number.">
                              </div>
                              <div class="text-right">
                                 <div class="d-flex justify-content-between">
                                    <h6> <a  onclick="job_forgot()"  >Forgot password</a></h6>
                                    <h6><span class="pl-3 text-left"><a onclick="Jobs_close()">I don't have an account?</a></span></h6>
                                 </div>
                                 <div class="spt-2">
                                    <a  class="btn2">Login</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- login -->
                        <!-- job id _forgot -->
                        <div id="job_forgot">
                           <div class="logo">
                              <a href="#"><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                           </div>
                           <a href="#" onclick="loginback1()" class="jobf_close"><img src="img/cancel.svg" width="32"></a>
                           <div class="step " style="">
                              <h2 class="main_question text-left">
                                 Forgot Your Password ! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </h2>
                              <div class="form-group spt-2">
                                 <input type="email" class="form-control required" placeholder="Enter your email id.">
                              </div>
                              <div class="text-right">
                                 <div class="spt-2">
                                    <a  class="btn2">Send</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- job id _forgot -->
                        <!-- /middle-wizard -->
                     </form>
                  </div>
                  <!-- #Seeking Jobs Signup -->
                  <!-- Hiring -->
                  <div class="jobs_hide">
                     <h2>I'm here for Hiring</h2>
                     <figure><img src="../../../assets/images/ai-recruiting-system.svg" width="400" alt="" class="img-fluid"></figure>
                     <div class="recrit_links">
                        <a  class="btn_1 rounded"  href="javascript:void(0)" (click)="SignUp()">Sign up as Recruiter</a>
                        <a href="#start" class="btn_1 rounded mobile_btn">Start Now!</a>
                        <h6 class="text-white">Already have an account? <a  href="javascript:void(0)" (click)="Login()" class="text-white">Login here</a></h6>
                     </div>
                  </div>
                  <!-- #Hiring -->
               </div>
               <!-- /content-left-wrapper -->
            </div>
            <!-- Seeking Job -->
            <div class="col-lg-6 content-right p-0 bg_6cccfd recrit_hide" id="start">
               <div class="content-left-wrapper">
                  <div>
                     <h2>I'm here Seeking Job</h2>
                     <figure><img src="../../../assets/images/dream-job.svg" width="400" alt="" class="img-fluid"></figure>
                     <div class="job_links">
                        <a  class="btn_1 rounded"  href="http://demo.tenendus.com:1070">Sign up as a Job Seeker</a>
                        <a href="#start" class="btn_1 rounded mobile_btn">Start Now!</a>
                        <h6 class="text-white">Already have an account? <a   href="http://demo.tenendus.com:1070/login" class="text-white">Login here</a></h6>
                     </div>
                  </div>
               </div>
               <!-- /content-left-wrapper -->
            </div>
            <!-- #Seeking Job -->
            <!-- Hiring Signup -->
            <div class="col-lg-6 content-right recrit_div" style="display:none" id="start">
               <div id="wizard_container">
                  <div id="top-wizard">
                     <div id="progressbar"></div>
                  </div>
                  <!-- <a href="index-2.html" id="logo"><img src="img/arytic-logo-contrast.png" alt="" width="49" height="35"></a> -->
                  <!-- /top-wizard -->
                  <form id="wrapped" method="POST">
                     <input id="website" name="website" type="text" value="">
                     <!-- Leave for security protection, read docs for details -->
                     <div id="hiring_sign">
                        <div class="logo">
                           <a href="#"><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                        </div>
                        <div class="step">
                           <h2 class="main_question">
                              Welcome here! Let me help you
                              signing up.
                           </h2>
                           <div class="form-group spt-2">
                              <input type="email" class="form-control required" placeholder="Enter your email id.">
                           </div>
                           <div class="form-group">
                              <input type="text" class="form-control required" placeholder="Enter your Mobile Number.">
                           </div>
                           <div class="form-group">
                              <input class="form-control required" type="password" id="password1" name="password1" placeholder="Password" onchange="getVals(this, 'password');">
                           </div>
                           <div class="form-group">
                              <input class="form-control required" type="password" id="password2" name="password2" placeholder="Confirm Password">
                           </div>
                           <div class="form-group terms">
                              <label class="container_check">Please accept our <a href="#" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a>
                              <input type="checkbox" name="terms" value="Yes" class="required">
                              <span class="checkmark"></span>
                              </label>
                           </div>
                           <h6>Already have an account? <a  onclick="hiring_login()"  >Login here</a></h6>
                           <div class="spt-2 d-flex justify-content-between">
                              <span>I don't think of <a href="" id="recrit_close">signing up.</a></span><a href="#0" class="btn2">Signup</a>
                           </div>
                        </div>
                     </div>
                     <!-- login -->
                     <div id="hiring_login">
                        <div class="logo">
                           <a href="#"><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                        </div>
                        <div class="step" style="text-align:left">
                           <h2 class="main_question">
                              Login here!
                           </h2>
                           <div class="form-group spt-2">
                              <input type="email" class="form-control required" placeholder="Enter your email id.">
                           </div>
                           <div class="form-group">
                              <input class="form-control required" type="password" id="password1" name="password1" placeholder="Password" onchange="getVals(this, 'password');">
                           </div>
                           <div class="text-right">
                              <div class="d-flex justify-content-between">
                                 <h6> <a href="#!" onclick="hiring_forgot()" >Forgot password</a></h6>
                                 <h6><span ><a href="#!" onclick="hiring_close()">I don't have an account?</a></span></h6>
                              </div>
                              <div class="spt-2">
                                 <a href="#0" class="btn2">Login</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- login -->
                     <!-- hiring id _forgot -->
                     <div id="hiring_forgot">
                        <div class="logo">
                           <a href="#"><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                        </div>
                        <a href="#" onclick="loginback2()" class="haringf_close"><img src="../../../assets/images/cancel.svg" width="32"></a>
                        <div class="step " style="">
                           <h2 class="main_question text-left">
                              Forgot Your Password ! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           </h2>
                           <div class="form-group spt-2">
                              <input type="email" class="form-control required" placeholder="Enter your email id.">
                           </div>
                           <div class="text-right">
                              <div class="spt-2">
                                 <a href="#0" class="btn2">Send</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- hiring id _forgot -->
                     <!-- /middle-wizard -->
                     <!-- /bottom-wizard -->
                  </form>
               </div>
               <!-- /Wizard container -->
            </div>
            <!-- #Hiring Signup -->
            <!-- /content-right-->
            <!-- /content-left -->
         </div>
         <!-- /row-->
      </div>
      <!-- /container-fluid -->
      <div class="sign_logo">
         <img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic" />
      </div>
      <!-- <div class="logo"> -->
      <!-- <a href="#" ><img src="img/arytic-logo-contrast.png" alt="arytic"></a> -->
      <!-- </div> -->
      <!-- COMMON SCRIPTS -->
     
   </body>
</html>