<div >
    <div>
        <mat-dialog-content class="mat-typography modal-dialog h-auto">
                <!--Slide 2 Starts-->
    <div class="modal-contnet">
        <div class="modal-header">
          <h4 class="modal-title text-center">Culture Test</h4>
        </div>
        <div class="modal-body">
            <!-- slide1 -->
            <div class="col-md-12">
                <div class="col-md-1">10%</div>
                <div class="progress col-md-11 no-pad">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" style="width: 10%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Agree</th>
                      <th>Somewhat Agree</th>
                      <th>Somewhat Disagree</th>
                      <th>Disagree</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox" class="radio-input" checked>
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input" >
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
    
    
                  </tbody>
                </table>
              </div>
            <!-- #slide1 -->
            <!-- slide2 -->
            <div class="col-md-12" style="display: none;">
                <div class="col-md-1">30%</div>
                <div class="progress col-md-11 no-pad">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" style="width: 10%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Agree</th>
                      <th>Somewhat Agree</th>
                      <th>Somewhat Disagree</th>
                      <th>Disagree</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox" class="radio-input" checked>
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input" >
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                      </th>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"    class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <div class="radio-box inline">
                          <label for="text" class="radio">
                            <input type="checkbox"  class="radio-input">
                            <span class="radio-btn"></span>
                          </label>
                        </div>
                      </td>
                    </tr>
    
    
                  </tbody>
                </table>
              </div>
            <!-- #slide2 -->
            <!-- slide3 -->
            <div class="col-md-12" style="display: none;">
                <div class="row">
                    <h4>Cultural Test Results <img src="../../../../assets/images/download-graph.png" width="32"></h4>
                    <div class="col-md-6">
                        <img src="../../../../assets/images/temp1.PNG" />
                    </div>
                    <div class="col-md-6 bl-1">
                        <img src="../../../../assets/images/temp2.PNG" />
                    </div>

                </div>
            </div>
            <!-- #slide3 -->
          
        </div>
        <div class="modal-footer">
          <div class="clearfix">&nbsp;</div>

          <!-- <a href="/#/" class="pull-left">Save and Skip to Cultural Test</a> -->
          <button type="button" class="btn btn-default cls" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success nxt">Save & Next</button>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>
      <!-- /.modal-content -->
      <!--Slide 2 Ends-->
        </mat-dialog-content>
        <!-- <mat-dialog-actions class="mat-dialog-actions modal-footer pull-right">

            <button mat-button mat-dialog-close class="btn btn-border">Close</button>

        </mat-dialog-actions> -->
    </div>
</div>