<div id="step4" class="tab-pane">
  <div class="tab-inner">
    <app-steps-step4-step1summary>
    </app-steps-step4-step1summary>
    <app-steps-step4-step2summary>
    </app-steps-step4-step2summary>
    <app-steps-step4-step3summary>
    </app-steps-step4-step3summary>
  </div>
</div>
<hr class="form-divider" />
<div class="clearfix form-nav">
  <div class="pull-left">
    <div class="pull-right">
      <a href="#" class="btn btn-border btn-prev" (click)="backtoStep3()" routerLink="/app-createajob/app-steps-step3">Back</a>
    </div>
  </div>
  <div class="pull-right">
      <!-- <a href="javascript:void(0)"  class="btn btn-border btn-prev">Save & Close</a> -->
    <a class="btn btn-filled" href="javascript:void(0)" (click)="postJob(4)" data-toggle="modal" data-target="#cultural-modal">Post Job</a>
  </div>
</div>

