<div id="step4" class="tab-pane">
  <div class="revamp__postjob__container ">
    <div class="tab-inner post-a-job-listing step" [ngClass]="jobCardshow?'step__collapse':''">
      <a id="btn_collapse" class="go-to-top" href="javascript:void(0)" (click)="showJobCard()" title="Go to Top" >
        <i class="fa fa-angle-double-up"></i>
        <div class="circle" style="animation-delay:-3s"></div>
        <div class="circle" style="animation-delay:-2s"></div>
        <div class="circle" style="animation-delay:-1s"></div>
        <div class="circle" style="animation-delay:0s"></div>
      </a>
      <div class="row flex flex-wrap flex-align-start">
        <div class="col-sm-7 post-job-detail">
          <app-steps-step4-step1summary>
          </app-steps-step4-step1summary>
          <app-steps-step4-step2summary>
          </app-steps-step4-step2summary>
          <app-steps-step4-step3summary>
          </app-steps-step4-step3summary>
          <div class="row">
            <div class="col-md-12">
              <label for="" class="question">Save As Template</label>
            </div>
            <div class="col-md-2">
              <div class="clearfix">
                <label class="radio checkbox">
                  <input type="checkbox"   class="radio-input" #template_title [(ngModel)]="flag"  [checked]="flag" (change)="checkValue(flag?1:0)">
                  <span class="radio-btn"></span> 
                  <!-- <span>Yes</span> -->
                </label>
              </div>
            </div>
            <div class="col-md-10">
                <div *ngIf="template_title.checked">
                    <input type="text" class="form-control mt-0" #Tname="ngModel" name="TemplateName" [(ngModel)]="TemplateName" placeholder="Template Title*" required>
                    <span class="text-danger"
                    *ngIf="Tname.invalid && Tname.touched">Required.</span>
                  </div>
                 
            </div>
        
            <!-- <div class="col-md-12">
                <label for="" class="question">Job Due Date</label>
              </div> -->
          
              <!-- <div class="col-md-10">
                <div>
                  <input type="date" class="form-control mt-0" #Edate="ngModel" name="ExpiryDate" [(ngModel)]="ExpiryDate" placeholder="Due Date*" required>
                  <span class="text-danger"
                  *ngIf="Edate.invalid && Edate.touched">Due Date Required.</span>
                </div>
                
            </div> -->
          </div>
        </div>
        <div class="col-md-5" *ngIf="jobCardshow">
          <div class="smart-job-card">
            <div class="job-leftcard">
              <div class="call-to-action">
                <a href="#" class="btn btn-border btn-prev show-in-mobile" (click)="backtoStep3()" routerLink="/app-createajob/app-steps-step3">Back</a>
                <a class="btn btn-filled show-in-mobile " href="javascript:void(0)"  (click)="postJob(4)" *ngIf="!profileImage">Post Job</a>
                <div class="loading btn btn-filled show-in-mobile " data-loading-text="Loading..." *ngIf="profileImage" ></div>
              </div>
              <div class="col-container"  id="aap{{jobdetailscustomer?.JobInfo?.JobId}}">
                <!--Old Code-->
                <div class="hidden">
                  <div class="top-container">
                    <div class="row d-flex flex-wrap">
                      <div class="col-sm-6">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <h6>Domain</h6>
                        <ng-container *ngIf="jobdetailscustomer?.JobRequiredDomain.length==1">
                          <p *ngFor="let domain of jobdetailscustomer?.JobRequiredDomain; let i=index">
                            {{domain?.DomainName}}
                          </p>
                        </ng-container>
                        <ng-container *ngIf="jobdetailscustomer?.JobRequiredDomain.length>1">
                          <p class="tooltip-text">{{jobdetailscustomer?.JobRequiredDomain[0]?.DomainName}}+
                            <span class="tooltipcontent">
                              <ng-container
                                *ngFor="let domain of jobdetailscustomer?.JobRequiredDomain; let i=index">
                                {{domain?.DomainName}}
                              </ng-container>
                            </span>
                          </p>
                        </ng-container>
                        <p *ngIf="jobdetailscustomer?.JobRequiredDomain.length === 0">
                          N/A
                        </p>
                      </div>
                      <div class="col-sm-6">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <h6>Departments</h6>
                        <ng-container *ngIf="jobdetailscustomer?.CustomerJobPositionType?.length==1">
                          <p *ngFor="let dept of jobdetailscustomer?.CustomerJobPositionType">
                            {{dept?.Code | titlecase}}
                          </p>
                        </ng-container>
                        <ng-container *ngIf="jobdetailscustomer?.CustomerJobPositionType.length>1">
                          <p class="tooltip-text">{{jobdetailscustomer?.JobRequiredDomain[0]?.Code}}+
                            <span class="tooltipcontent">
                              <ng-container *ngFor="let dept of jobdetailscustomer?.CustomerJobPositionType">
                                {{dept?.Code}}
                              </ng-container>
                            </span>
                          </p>
                        </ng-container>
      
                        <p *ngIf="jobdetailscustomer?.CustomerJobPositionType?.length === 0">
                          N/A
                        </p>
                      </div>
                    </div><!--/.row-->
                  </div><!--/.top-container-->
                </div>
                 <!--Old Code-->
            
                 <div class="middle-container">
                  <div class="jdv-company-profile flex flex-align-center">
                    <ng-container *ngFor="let location of jobdetailscustomer?.JobLocation">
                      <span class="remote" *ngIf="location?.CityName ===  'Remote, , '">
                        <em>Remote</em>
                      </span>
                    </ng-container>
                  
                    <div class="company-logo flex flex-justify-center flex-align-center">
                      <img *ngIf="!profileImage" src="{{jobdetailscustomer?.JobInfo?.CompanyLogo}}" alt="">
                      <img *ngIf="profileImage" src="../../../../../assets/images/noclogo.png" alt="">
                    </div>
                    <div class="company-title">
                      <h3>{{jobdetailscustomer?.JobInfo?.CompanyName | titlecase}}</h3>
                      <h2>{{jobdetailscustomer?.JobInfo?.JobTitle | titlecase}}</h2>
                      <div class="two-grid-icon">
                        <nav class="icon-navigation">
                          <ul>
                            <li placement="top" tooltip="Health">
                              <span class="jdv-smart-icon jdv-icon-heart-sm">Icon</span>
                            </li>
                            <li placement="top" tooltip="Food"><span
                                class="jdv-smart-icon jdv-icon-food-sm">Icon</span>
                            </li>
                            <li placement="top" tooltip="Travel">
                              <span class="jdv-smart-icon jdv-icon-bus-sm">Icon</span>
                            </li>
                            <li data-placement="top" tooltip="Home">
                              <span class="jdv-smart-icon jdv-icon-home-sm">Icon</span>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <!--/.jdv-company-profile-->
                  <div class="inline-icon-list">
                    <ul class="flex flex-wrap flex-align-center flex-justify-center">
                      <ng-container>
                        <li *ngIf="jobdetailscustomer?.JobLocation.length > 0">
                          <span class="jdv-icon jdv-icon-map" title="Locations">Icon</span>
                          <span class="address">
                            <ng-container *ngIf="jobdetailscustomer?.JobLocation.length == 1">
                              <span *ngFor="let location of jobdetailscustomer?.JobLocation">
                                {{location?.CityName}}
                              </span>
                            </ng-container>
                            <ng-container *ngIf="jobdetailscustomer?.JobLocation.length > 1">
                              <span class="tooltip-text">{{jobdetailscustomer?.JobLocation[0].CityName}}+
                                <span class="tooltipcontent">
                                  <ng-container *ngFor="let location of jobdetailscustomer?.JobLocation">
                                    {{location?.CityName}};
                                  </ng-container>
                                </span>
                              </span>
                            </ng-container>
                          </span>
                        </li>
                      </ng-container>
                      <li><span class="jdv-icon jdv-icon-work"
                          title="Experience">Icon</span>{{jobdetailscustomer?.JobInfo?.MinExperience
                        |monthsPipe}} -
                        {{jobdetailscustomer?.JobInfo?.MaxExperience |monthsPipe }} Y</li>
                      <!-- <li><span
                          class="jdv-icon jdv-icon-date">Icon</span>{{jobdetailscustomer?.JobInfo?.ModifiedDate
                        | date:'mediumDate'}}</li> -->
                      <li>
                        <span class="jdv-smart-icon jdv-icon-position" title="Positions">Icon</span>
                        {{jobdetailscustomer?.JobInfo?.NumberOfVacancies}} Positions
                      </li>
                      <li *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob?.length>0">
                        <span class="jdv-smart-icon jdv-icon-immigration" title="Immigration Status">Icon</span>
                        <span class="tooltip-text">
                          {{jobdetailscustomer?.JobInfo?.ImmigrationForJob[0].ImmigrationStatus}}+
                          <span class="tooltipcontent">
                            <ng-container *ngFor="let imi of jobdetailscustomer?.JobInfo?.ImmigrationForJob">
                              {{imi?.ImmigrationStatus}}
                            </ng-container>
                          </span>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <!--/.inline-icon-list-->
                  <div class="icon-listing hidden">
                    <ul class="flex flex-wrap flex-justify-center">
                      <li>
                        <span class="jdv-icon jdv-icon-status" title="Work Authorization">Icon</span>

                        <h4 *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length>1">
                          <span
                            class="tooltip-text">{{jobdetailscustomer?.JobInfo?.JobWorkAuthorization[0]?.WorkAuthorizationType}}
                            <span class="tooltipcontent">
                              <ng-container *ngFor="let job of jobdetailscustomer?.JobInfo?.JobWorkAuthorization">
                                {{job.WorkAuthorizationType}}
                              </ng-container>
                            </span>
                          </span>
                        </h4>
                        <h4 *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length==1">
                          <ng-container *ngFor="let job of jobdetailscustomer?.JobInfo?.JobWorkAuthorization">

                            {{job.WorkAuthorizationType}}
                          </ng-container>
                        </h4>
                        <h4 *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length===0">
                          N/A
                        </h4>
                      </li>
                      <li>
                        <span class="jdv-icon jdv-icon-ribbon"><span
                            class="number">{{jobdetailscustomer?.JobInfo?.NumberOfVacancies}}</span></span>
                        <h4>Positions</h4>
                      </li>
                      <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob?.length > 1">
                        <li> <span class="jdv-icon jdv-icon-auth" title="Immigration Status">Icon</span>
                          <h4 class="tooltip-text">
                            {{jobdetailscustomer?.JobInfo?.ImmigrationForJob[0].ImmigrationStatus}}+
                            <span class="tooltipcontent">
                              <ng-container *ngFor="let imi of jobdetailscustomer?.JobInfo?.ImmigrationForJob">
                                {{imi?.ImmigrationStatus}}
                              </ng-container>
                            </span>
                          </h4>
                        </li>
                      </ng-container>
                      <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob?.length === 1">
                        <li> <span class="jdv-icon jdv-icon-auth" title="Immigration Status">Icon</span>
                          <ng-container *ngFor="let imi of jobdetailscustomer?.JobInfo?.ImmigrationForJob">
                            <h4>{{imi?.ImmigrationStatus}}</h4>
                          </ng-container>
                        </li>
                      </ng-container>
                      <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob?.length === 0">
                        <li>
                          <span class="jdv-icon jdv-icon-auth" title="Immigration Status">Icon</span>
                          <h4>N/A</h4>
                        </li>
                      </ng-container>
                    </ul>
                  </div>

                  <div class="two-grid-icon">
                    <div class="row">
                      <div class="col-sm-6 flex flex-wrap flex-align-center">
                        <div class="row">
                          <div class="col-sm-6">
                            <span class="jdv-smart-icon jdv-shape-work-icon">Icon</span>
                            <h4>{{jobdetailscustomer?.JobInfo?.EmploymentType}}
                                <span *ngIf="jobdetailscustomer?.JobInfo?.EmploymentTypeId===2">
                                <ng-container *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length>1">
                                  <span
                                    class="tooltip-text">{{jobdetailscustomer?.JobInfo?.JobWorkAuthorization[0]?.WorkAuthorizationType}}
                                    <span class="tooltipcontent">
                                      <ng-container *ngFor="let job of jobdetailscustomer?.JobInfo?.JobWorkAuthorization">
                                        {{job.WorkAuthorizationType}}
                                      </ng-container>
                                    </span>
                                  </span>
                                </ng-container>
                                <ng-container *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length==1">
                                  <ng-container *ngFor="let job of jobdetailscustomer?.JobInfo?.JobWorkAuthorization">
  
                                    {{job.WorkAuthorizationType}}
                                  </ng-container>
                                </ng-container>
                            </span></h4>
                          </div>
                           <ng-container  *ngIf="jobdetailscustomer?.JobInfo?.BonusOffered === false">
                          <div class="col-sm-6">

                            <div class="col-sm-6"
                            *ngIf="viewJobDetails?.HideSalary === true || viewJobDetails?.HideSalary === null">
                            <span class="jdv-smart-icon jdv-shape-dollar-icon">Icon</span>
                            <h4 class="word-wrap">
                              ${{jobdetailscustomer?.JobInfo?.MaximumSalary}}
                         
                            </h4>
                          </div>
                          <div class="col-sm-6" *ngIf="viewJobDetails?.HideSalary === false">
                            <span class="jdv-smart-icon jdv-shape-dollar-icon">Icon</span>
                            <h4>Not willing to reveal
                           
                            </h4>
                            <!-- <nav class="icon-navigation">
                              <ul>
                                <li data-toggle="tooltip" data-placement="bottom" title="Health">
                                  <span class="jdv-icon jdv-icon-heart">Icon</span>
                                </li>
                                <li data-toggle="tooltip" data-placement="bottom" title="Food"><span
                                    class="jdv-icon jdv-icon-food">Icon</span></li>
                                <li data-toggle="tooltip" data-placement="bottom" title="Travel">
                                  <span class="jdv-icon jdv-icon-bus">Icon</span>
                                </li>
                              </ul>
                            </nav> -->
                          </div>
                          </div>
                          </ng-container>
                          <ng-container *ngIf="jobdetailscustomer?.JobInfo?.BonusOffered === true">
                            <div class="col-sm-6">
                              <span class="jdv-smart-icon jdv-shape-dollar-icon">Icon</span>
                              <h4 class="word-wrap">  Open for Conversation.</h4>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <!--/.col-sm-6-->
                      <div class="col-sm-6 flex flex-align-center">
                        <!-- <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="70" height="70"
                          xmlns="http://www.w3.org/2000/svg">
                          <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                            cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                          <circle class="circle-chart__circle" stroke="#448afa" stroke-width="2"
                            stroke-dasharray="75,100" stroke-linecap="round" fill="none" cx="16.91549431"
                            cy="16.91549431" r="15.91549431"></circle>
                          <g class="circle-chart__info">
                            <text class="circle-chart__percent" x="16.91549431" y="18.5" alignment-baseline="central"
                              text-anchor="middle" font-size="8">70%</text>
                          </g>
                        </svg> -->
                        <div style="display: block">
                          <circle-progress [percent]="getjobCompleteinfo?.JobCompleteness" [radius]="40"
                            [outerStrokeWidth]="8" [innerStrokeWidth]="3" [outerStrokeColor]="'#6262ff'"
                            [innerStrokeColor]="'#c0c0c0'" [animation]="true" [animationDuration]="300"
                            [showSubtitle]="false">
                          </circle-progress>
                        </div>
                        <h4>Job Completeness</h4>
                        <!-- <a href="javascript:void(0)" class="tooltip__link"
                          (click)="editJob(jobdetailscustomer.JobInfo.JobId,jobdetailscustomer.JobInfo.IsActive)">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          <span class="custom__tooltip">
                            Complete your job.
                          </span>
                        </a> -->
                      </div>
                      <!--/.col-sm-6-->
                    </div>
                    <!--/.row-->
                  </div>
                  <!--/.two-grid-icon-->

                  <div class="jdv-gray-section">
                    <div class="jdv-skills">
                      <div class="section__title flex flex-wrap flex-align-center">
                        <h4>Skills</h4>
                        <div class="jdv-stauts-listing">
                          <ul>
                            <li class="beginner">Mandatory</li>
                            <li class="master">Optional</li>
                          </ul>
                        </div>
                      </div>
                      <div class="scrollbar-container">
                        <div class="row flex flex-wrap flex-align-equal">
                          <ng-container *ngFor="let skill of jobdetailscustomer?.JobRequiredSkills;let i = index">
                            <ng-container *ngIf="i<6">
                              <div class="col-sm-4" *ngIf="skill?.SkillType === true">
                                <div class="col-container" placement="top" tooltip="{{skill?.SkillName}}">
                                  <span class="jdv-smart-icon jdv-skill-icon">Icon</span>
                                  <div class="info-container">
                                    <h5>{{skill?.SkillName}}</h5>
                                    <h6>Exp: {{skill?.MinimumExp | monthsPipe}} - {{skill?.MaximumExp | monthsPipe}} Years</h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-4 optional" *ngIf="skill?.SkillType === false">
                                <div class="col-container" placement="top" tooltip="{{skill?.SkillName}}">
                                  <span class="jdv-smart-icon jdv-skill-icon">Icon</span>
                                  <div class="info-container">
                                    <h5>{{skill?.SkillName}}</h5>
                                    <h6>Exp: {{skill?.MinimumExp | monthsPipe}} - {{skill?.MaximumExp | monthsPipe}} Years</h6>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>
                          <!--/.col-sm-4-->
                        </div>
                        <!--/.row-->
                      </div>
                      <!--/.jdv-status-listing-->
                    </div>
                    <!--/.jdv-skills-->

                    <div class="jdv-key-section" *ngIf="jobdetailscustomer?.CustomerJobKeyResponses.length>0">
                      <div class="section__title flex flex-wrap flex-align-center">
                        <h4>Key Responsibilities</h4>
                        <div class="jdv-stauts-listing">
                          <ul>
                            <li class="beginner">0-2</li>
                            <li class="teal">3-6</li>
                            <li class="orange">7-10</li>
                            <li class="blue">10+</li>
                          </ul>
                        </div>
                      </div>

                      <ul class="flex flex-wrap flex-align-equal">
                        <ng-container *ngIf="jobdetailscustomer?.CustomerJobKeyResponses.length>0">
                          <li *ngFor="let r of jobdetailscustomer?.CustomerJobKeyResponses">
                            <div class="col__container beginner" *ngIf="r?.CustomerKeyMaxExperienceId<=24" placement="top" tooltip="{{r?.Code | titlecase}}">
                              <span class="jdv-smart-icon jdv-work-icon">Icon</span>
                              <span class="title"> {{r?.Code | titlecase}} </span>
                              <!-- <em>Exp: {{r?.CustomerKeyMinExperienceId|monthsPipe}} -
                                {{r?.CustomerKeyMaxExperienceId|monthsPipe}} Years</em> -->
                            </div>
                            <div class="col__container teal" *ngIf="r?.CustomerKeyMaxExperienceId>24 && r?.CustomerKeyMaxExperienceId<=72" placement="top" tooltip="{{r?.Code | titlecase}}">
                              <span class="jdv-smart-icon jdv-work-icon">Icon</span>
                              <span class="title"> {{r?.Code | titlecase}} </span>
                              <!-- <em>Exp: {{r?.CustomerKeyMinExperienceId|monthsPipe}} -
                                {{r?.CustomerKeyMaxExperienceId|monthsPipe}} Years</em> -->
                            </div>
                            <div class="col__container orange" *ngIf="r?.CustomerKeyMaxExperienceId>72 && r?.CustomerKeyMaxExperienceId<=120" placement="top" tooltip="{{r?.Code | titlecase}}">
                              <span class="jdv-smart-icon jdv-work-icon">Icon</span>
                              <span class="title"> {{r?.Code | titlecase}} </span>
                              <!-- <em>Exp: {{r?.CustomerKeyMinExperienceId|monthsPipe}} -
                                {{r?.CustomerKeyMaxExperienceId|monthsPipe}} Years</em> -->
                            </div>
                            <div class="col__container blue" *ngIf="r?.CustomerKeyMaxExperienceId>120" placement="top" tooltip="{{r?.Code | titlecase}}">
                              <span class="jdv-smart-icon jdv-work-icon">Icon</span>
                              <span class="title"> {{r?.Code | titlecase}} </span>
                              <!-- <em>Exp: {{r?.CustomerKeyMinExperienceId|monthsPipe}} -
                                {{r?.CustomerKeyMaxExperienceId|monthsPipe}} Years</em> -->
                            </div>
                          </li>
                        </ng-container>
                      </ul>
                    </div>

                    <div class="jdv-button-grid-icon">
                      <div class="section__title">
                        <h4>Verification</h4>
                      </div>
                      <ul>
                        <li>
                          <label>
                            <input readonly type="checkbox" name="Education" [checked]="Education"  value="Education"/>
                            <span class="btn btn-link">
                              <span class="jdv-smart-icon jdv-education-icon">Icon</span>
                              Education
                            </span>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input readonly type="checkbox" name="Employement" [checked]="Employement"  value="Employement" />
                            <span class="btn btn-link">
                              <span class="jdv-smart-icon jdv-employement-icon">Icon</span>
                              Employment
                            </span>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input readonly type="checkbox" [checked]="Reference" name="Reference"   value="Reference" />
                            <span class="btn btn-link">
                              <span class="jdv-smart-icon jdv-reference-icon">Icon</span>
                              Reference
                            </span>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input readonly type="checkbox" [checked]="WFH" name="WFH"   value="WFH" />
                            <span class="btn btn-link">
                              <span class="jdv-smart-icon jdv-wfh-icon">Icon</span>
                              WFH
                            </span>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input readonly type="checkbox" [checked]="Background" name="Background"  value="Background" />
                            <span class="btn btn-link">
                              <span class="jdv-smart-icon jdv-employement-icon">Icon</span>
                              Background
                            </span>
                          </label>
                        </li>
                        </ul>
                    </div>
                  </div>

                  <div class="inline-icon-list lg-padding">
                    <ul class="flex flex-wrap flex-align-center flex-justify-center">
                      <ng-container>
                        <li>
                          <div class="btn-group dropup">
                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="jdv-smart-icon jdv-interview-icon" title="Interview">Icon</span>
                              Interview
                            </button>
                            <div class="dropdown-menu">
                              <ul>
                                <ng-container *ngIf="srlist.length>0">
                                  <li *ngFor="let a of srlist"><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i>{{a}}</a></li>
                                </ng-container>
                                <ng-container *ngIf="srlist.length===0">
                                  <li>No Rounds Mentioned</li>
                                </ng-container>
                             
                             
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ng-container>
                      <!-- <li>
                        <button class="btn btn-link">
                          <span class="jdv-smart-icon jdv-check-icon" title="Apply">Icon</span>
                          Apply
                        </button>
                      </li> -->
                      <!-- <li><span
                          class="jdv-icon jdv-icon-date">Icon</span>{{jobdetailscustomer?.JobInfo?.ModifiedDate
                        | date:'mediumDate'}}</li> -->
                      <!-- <li>
                        <button class="btn btn-link" (click)="OpenShareJobDialog()">
                          <span class="jdv-smart-icon jdv-share-icon" title="Share">Icon</span>
                          Share
                        </button>
                      </li> -->
                      <!-- <li>
                        <button class="btn btn-link">
                          <span class="jdv-smart-icon jdv-explore-icon" title="Expoler">Icon</span>
                          Expoler
                        </button>
                      </li> -->
                    </ul>
                  </div>
                  <!--/.gray-section-->
                </div><!--/.middle-container-->
            
              </div><!--/.col-container-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <!--Role match add additional questions-->
  <!-- <div class="row tab-inner">
    <div class="col-md-4">
      <label class="question">Do you like to add additional questions?</label>
    </div>
    <div class="col-md-2">
      <button  class="btn add-btn form-control" type="submit">+</button>
    </div>
  </div> -->

<!-- <label>
  <input type="checkbox" [(ngModel)]="flag"  [checked]="flag" (change)="checkValue(flag?'1':'0')" />
  <span> Save As Template</span>
</label> -->

<hr class="form-divider" />
<div class="clearfix form-nav">
  <div class="pull-left">
    <div class="pull-right">
      <a href="#" class="btn btn-border btn-prev" (click)="backtoStep3()" routerLink="/app-createajob/app-steps-step3">Back</a>
    </div>
  </div>
  <div class="pull-right">
      <!-- <a href="javascript:void(0)"  class="btn btn-border btn-prev">Save & Close</a> -->
    <a class="btn btn-filled" href="javascript:void(0)"   (click)="postJob(4)" *ngIf="!profileImage">Post Job</a>
  </div>
</div>

