<section>
  <h1>Step 3</h1>
  <!-- <div class="form-data-group">
    <h3 class="question">
     How many open positions do you currently have for this Job Title?</h3>
      <h4 class="data">Any</h4>
  </div> -->
  <div class="form-data-group salary-package-group">
    <h3 class="question">
        What is the Employment Type?</h3>
      <div>
        <h5 class="data"> {{employmentType}} :  <span class="big">$ {{minRate}} - {{maxRate}}</span></h5>
        <!-- <h5 class="data">Part Time :  <span class="big">$ 5K - 10K</span></h5> -->
      </div>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Contract Duration</h3>
      <h4 class="data">{{contractDuration}}</h4>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Contract Extention</h3>
      <h4 class="data">{{contractExtension}}</h4>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Interview Type</h3>
      <h4 class="data">{{interviewType}}</h4>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Reporting Manager</h3>
      <h6 class="data">{{reportinManager}}</h6>
  </div>
  <div class="form-data-group tech-team-group">
    <h3 class="question">
      Technical Team for Screening</h3>
      <h6 class="data" *ngFor="let user of teamMembers">{{user.FirstName}}</h6>
    
  </div>
</section>
