<section>
  <h1>Step 3</h1>
  <div class="form-data-group">
    <h3 class="question">
     How many open positions do you currently have for this Job Title?</h3>
      <h4 class="data">Any</h4>
  </div>
  <div class="form-data-group salary-package-group">
    <h3 class="question">
      How many open positions do you currently have for this Job Title?</h3>
      <div>
        <h5 class="data">Full Time :  <span class="big">$ 10K - 15K</span></h5>
        <h5 class="data">Part Time :  <span class="big">$ 5K - 10K</span></h5>
      </div>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Contract Duration</h3>
      <h4 class="data">More than 1 year</h4>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Contract Extention</h3>
      <h4 class="data">More than 1 year</h4>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Interview Type</h3>
      <h4 class="data">In-Persons</h4>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Reporting Manager</h3>
      <h6 class="data">John Smith</h6>
  </div>
  <div class="form-data-group tech-team-group">
    <h3 class="question">
      Technical Team for Screening</h3>
      <h6 class="data">Terry Martin</h6>
      <h6 class="data">Andy Bogard</h6>
  </div>
</section>
