

<div class="sticky-navigation">
	<ul>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="View Edit Job" (click)="panelClick('view-edit-job')">
				<span class="mdi mdi-view-dashboard-edit-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Job Status" (click)="panelClick('job-status')">
				<span class="mdi mdi-list-status"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Job Share" (click)="panelClick('job-share')">
				<span class="mdi mdi-share-variant-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Upload Resume" (click)="panelClick('upload-resume')">
				<span class="mdi mdi-file-arrow-up-down-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Notes" (click)="panelClick('notes')">
				<span class="mdi mdi-note-multiple-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Documents" (click)="panelClick('documents')">
				<span class="mdi mdi-folder-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Delete">
				<span class="mdi mdi-trash-can-outline"></span>
			</a>
		</li>
	</ul>
</div>
<div class="col-container">
	<div class="top-container">
		<ng-container *ngIf="job?.JobStatus != 'InActive'">
			<span class="status active">{{job?.JobStatus}}</span>
		</ng-container>
		<!-- <ng-container *ngIf="job?.JobStatus == 'Screening'">
			<span class="status screening">{{job?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="job?.JobStatus == 'Hired'">
			<span class="status hired">{{job?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="job?.JobStatus == 'Interviewing'">
			<span class="status interviewing">{{job?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="job?.JobStatus == 'Filled'">
			<span class="status filled">{{job?.JobStatus}}</span>
		</ng-container> -->
		<ng-container *ngIf="job?.JobStatus == 'InActive'">
			<span class="status inactive">{{job?.JobStatus}}</span>
		</ng-container>
		<!-- <ng-container *ngIf="job?.JobStatus == 'ShortListing'">
			<span class="status shortListing">{{job?.JobStatus}}</span>
		</ng-container> -->

		<ng-container *ngIf="job?.JobPriority == 'Low'">
			<span class="priority">
				<span class="mdi mdi-arrow-down-thick"></span>
				{{job?.JobPriority}}
			</span>
		</ng-container>
		<ng-container *ngIf="job?.JobPriority == 'Medium'">
			<span class="priority medium">
				<span class="mdi mdi-arrow-left-right-bold"></span>
				{{job?.JobPriority}}
			</span>
		</ng-container>
		<ng-container *ngIf="job?.JobPriority == 'High'">
			<span class="priority high">
				<span class="mdi mdi-arrow-up-thick"></span>
				{{job?.JobPriority}}
			</span>
		</ng-container>
		
		<div class="profile-info">
			<div class="profile-thumb">
				<img src="../../../../assets/images/default-company-small.jpg" alt="">
			</div>
			<h3><a [routerLink]="['/manage-jobs/job-activites']" [queryParams]="{JobId: job.JobId}">{{job?.JobTitle}}</a></h3>
			<div class="profile-summary">
				<h4>
					<span class="mdi mdi-briefcase-outline"></span>
					Exp  - <strong>{{job?.MaxExperience}} Years</strong>
				</h4>
				<h4>
					<span class="mdi mdi-seat-outline"></span>
					<strong>{{job?.NumberOfVacancies}}</strong> Position
				</h4>
			</div>
		</div>
	</div>
	<div class="middle-container">
		<div class="top-section">
			<h3> Client: {{job?.ClientName || "Not Provided"}} </h3>
			<span class="id" *ngIf="job?.JobPositionId !=''"> <strong># Job Ref</strong>: {{job?.JobPositionId}} </span>
		</div>
		<div class="top-bottom-section">
			<ul>
				<li><span class="highlight">Arytic ID: {{job?.JobId}}</span></li>
				<li>
					<span class="mdi mdi-map-marker-outline"></span>
					<span placement="top" ngbTooltip="{{job?.JobLocations.split('|')}}">
						<ng-container *ngFor="let location of job?.JobLocations.split('|');let j = index">	
							<span *ngIf="j<1" class="location-trim">
								{{location}}
							</span>
						</ng-container>
					</span>
				</li>
				<li>
					<span class="mdi mdi-calendar-blank-outline"></span>
					{{job?.PostedDate | date:'mediumDate'}}
				</li>
			</ul>
		</div>
		<div class="statstics">
			<div class="row">
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>{{job?.TotalApplicants}}</h4>
						<h6>Applicants</h6>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>{{job?.ShortListedCount}}</h4>
						<h6>Shortlisted</h6>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>{{job?.InterviewedCount}}</h4>
						<h6>Interviews</h6>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>{{job?.Hired}}</h4>
						<h6>Hired</h6>
					</div>
				</div>
			
			</div>
		</div>
		<div class="bottom-section">
			<ul>
				<li>
					<img src="../../../../assets/images/curve-icon-work.svg" alt="">
					<h4>{{job?.EmploymentType}}</h4>
				</li>
				<li>
					<img src="../../../../assets/images/curve-icon-dollar.svg" alt="">
					<h4>
						${{job?.MaximumSalary}} {{job?.SalaryType}}
					</h4>
				</li>
				<li>
					<div class="progress-circle">
						<circle-progress
						[percent]="job?.JobCompleteness"
						[radius]="20"
						[outerStrokeWidth]="4"
						[innerStrokeWidth]="2"
						[outerStrokeColor]="'#6262FF'"
						[innerStrokeColor]="'#C0C0C0'"
						[animationDuration]="0"
						[responsive] = true
						[showSubtitle] = false
						></circle-progress>
					</div>
					<h4>Job Completeness</h4>
				</li>
			</ul>
		</div>
	</div>
	<div class="bottom-container">
		<div class="row">
			<div class="col-md-6 col-lg-6 left-col">
				<div class="profile-section">
					<img src="../../../../assets/images/default-profile-thumb.png" alt="">
					<div class="profile-summary">
						<h4>{{job?.FirstName | titlecase}} {{job?.LastName | titlecase}}</h4>
						<h5>{{job?.UserRole}}</h5>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 right-col" *ngIf="job?.Assignee!=null">
				<div class="profile-section">
					<img src="../../../../assets/images/default-profile-thumb.png" alt="">
					<div class="profile-summary">
						<span placement="top" ngbTooltip="{{job?.Assignee.split('|')}}">
						<ng-container *ngFor="let assigne of job?.Assignee.split('|');let jk = index">	
							<span *ngIf="jk<1" class="location-trim">
								<h4>{{assigne | titlecase}}</h4>
								<h5>Assignee</h5>
							</span>
						</ng-container>
						</span>
						<!-- <h4>{{job?.Assignee | titlecase}}</h4> -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
