<div class="sticky-navigation">
	<ul>
		<li>
			<a href="#">
				<span class="mdi mdi-view-dashboard-edit-outline"></span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="mdi mdi-list-status"></span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="mdi mdi-share-variant-outline"></span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="mdi mdi-file-arrow-up-down-outline"></span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="mdi mdi-note-multiple-outline"></span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="mdi mdi-folder-outline"></span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="mdi mdi-trash-can-outline"></span>
			</a>
		</li>
	</ul>
</div>
<div class="col-container">
	<div class="top-container">
		<span class="status active">Active</span>
		<span class="priority"><span class="mdi mdi-arrow-down-thick"></span>Low</span>
		<div class="profile-info">
			<div class="profile-thumb">
				<img src="../../../../assets/images/default-profile-small.png" alt="">
			</div>
			<h3>Salesforce Developer</h3>
			<h4>
				<span class="mdi mdi-briefcase-outline"></span>
				Exp Req <strong>8 Years</strong>
			</h4>
		</div>
	</div>
	<div class="middle-container">
		<div class="top-section">
			<h3>Google</h3>
			<span class="id"><strong>Job Ref</strong>: 1003757</span>
		</div>
		<div class="top-bottom-section">
			<ul>
				<li><span class="highlight">Arytic ID: 1003757</span></li>
				<li>
					<span class="mdi mdi-map-marker-outline"></span>
					Austin
				</li>
				<li>
					<span class="mdi mdi-calendar-blank-outline"></span>
					Mar 14, 2023
				</li>
			</ul>
		</div>
		<div class="statstics">
			<div class="row">
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>5</h4>
						<h6>Applicants</h6>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>2</h4>
						<h6>Interviews</h6>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>1</h4>
						<h6>Hired</h6>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col">
					<div class="col-box">
						<h4>4</h4>
						<h6>Shortlisted</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-section">
			<ul>
				<li>
					<img src="../../../../assets/images/curve-icon-work.svg" alt="">
					<h4>Full TIme</h4>
				</li>
				<li>
					<img src="../../../../assets/images/curve-icon-dollar.svg" alt="">
					<h4>
						$1000K
					</h4>
				</li>
				<li>
					<div class="progress-circle">
						<circle-progress
						[percent]="85"
						[radius]="20"
						[outerStrokeWidth]="4"
						[innerStrokeWidth]="2"
						[outerStrokeColor]="'#6262FF'"
						[innerStrokeColor]="'#C0C0C0'"
						[animation]="true"
						[animationDuration]="300"
						[responsive] = true
						[showSubtitle] = false
						></circle-progress>
					</div>
					<h4>Job Completeness</h4>
				</li>
			</ul>
		</div>
	</div>
	<div class="bottom-container">
		<div class="row">
			<div class="col-md-6 col-lg-6 left-col">
				<div class="profile-section">
					<img src="../../../../assets/images/default-profile-thumb.png" alt="">
					<div class="profile-summary">
						<h4>Kim Karnika</h4>
						<h5>Owner</h5>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 right-col">
				<div class="profile-section">
					<img src="../../../../assets/images/default-profile-thumb.png" alt="">
					<div class="profile-summary">
						<h4>Pine Ram</h4>
						<h5>Assignee</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
