<app-header></app-header>
  <div id="main-content">
    <div class="tab-navigation">
      <ul>
        <li class="active">
          <a href="#">Job Information</a>
        </li>
        <li>
          <a href="#">Client Information</a>
        </li>
        <li>
          <a href="#">Local & Skills</a>
        </li>
        <li>
          <a href="#">Additional & Skills</a>
        </li>
      </ul>
    </div>
    <div class="form-container">
      <div class="form-container-box">
        <app-post-a-job-information></app-post-a-job-information>
        <app-post-a-job-client-information></app-post-a-job-client-information>
      </div>
    </div>
  </div>
<app-footer></app-footer>