<app-header></app-header>
  <div id="main-content">
    <div class="tab-navigation">
      <ul>
        <li [ngClass]="sectionActive == 'section-one'?'active':''">
          <a href="javascript:void(0)" (click)="scrollTo('section-one')">Personal Details</a>
        </li>
        <li [ngClass]="sectionActive == 'section-two'?'active':''">
          <a href="javascript:void(0)" (click)="scrollTo('section-two')">Client Information</a>
        </li>
        <li [ngClass]="sectionActive == 'section-three'?'active':''">
          <a href="javascript:void(0)" (click)="scrollTo('section-three')">Salary & Location</a>
        </li>
        <li [ngClass]="sectionActive == 'section-four'?'active':''">
          <a href="javascript:void(0)" (click)="scrollTo('section-four')">Local & Skills</a>
        </li>
        <li [ngClass]="sectionActive == 'section-five'?'active':''">
          <a href="javascript:void(0)" (click)="scrollTo('section-five')">Additional & Skills</a>
        </li>
      </ul>
    </div>
    <div class="form-container">
      <div class="form-container-box">
        <div class="section section-one">
          <app-post-a-job-information></app-post-a-job-information>
        </div>
        <div class="section section-two">
          <app-post-a-job-client-information></app-post-a-job-client-information>
        </div>
        <div class="section section-three">
          <app-post-a-job-salary-location></app-post-a-job-salary-location>
        </div>
        <div class="section section-four">
          <app-post-a-job-skills></app-post-a-job-skills>
        </div>
        <div class="section section-five">
          <app-post-a-job-additional></app-post-a-job-additional>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>