<app-header></app-header>
  <div id="main-content">
    <div class="tab-navigation">
      <ul>
        <li class="active">
          <a href="#section-one">Job Information</a>
        </li>
        <li>
          <a href="#three">Client Information</a>
        </li>
        <li>
          <a href="#">Local & Skills</a>
        </li>
        <li>
          <a href="#section-four">Additional & Skills</a>
        </li>
      </ul>
    </div>
    <div class="form-container">
      <div class="form-container-box">
        <div class="section" id="section-one">
          <app-post-a-job-information></app-post-a-job-information>
        </div>
        <div class="section" id="section-two">
          <app-post-a-job-client-information></app-post-a-job-client-information>
        </div>
        <div class="section" id="section-three">
          <app-post-a-job-skills></app-post-a-job-skills>
        </div>
        <div class="section" id="section-four">
          <app-post-a-job-additional></app-post-a-job-additional>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>