<div class="form-actions">
  <button class="btn btn-outlined-default">Cancel</button>
</div>
<div class="rating-section">
  <div class="top-container">
    <h4>Overall Rating 3 out of 5</h4>
    <div class="rating">
      <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
    </div>

    <div class="sorting">
      150 Reviews 
      <div class="form-group">
        <select class="form-select">
          <option value="Sort">Sort</option>
        </select>
      </div>
    </div>
  </div>
  <div class="review-listing">
    <div class="job-card">
      <div class="col-container">
        <div class="top-container">
          <div class="profile-info">
            <div class="profile-thumb">
              <img src="../../../../assets/images/default-company-small.jpg" alt="">
            </div>
            <h3>John Doe</h3>
          </div>
        </div>
        <div class="middle-container">
          <div class="top-section">
            <h3>Technology Analyst </h3>
          </div>
          <div class="top-bottom-section">
            Pellentesque habitant morbi tristique senectus et netus. Pellentesque habitant...
          </div>
        </div>
      </div>
    </div>
    <div class="job-card">
      <div class="col-container">
        <div class="top-container">
          <div class="profile-info">
            <div class="profile-thumb">
              <img src="../../../../assets/images/default-company-small.jpg" alt="">
            </div>
            <h3>John Doe</h3>
          </div>
        </div>
        <div class="middle-container">
          <div class="top-section">
            <h3>Technology Analyst </h3>
          </div>
          <div class="top-bottom-section">
            Pellentesque habitant morbi tristique senectus et netus. Pellentesque habitant...
          </div>
        </div>
      </div>
    </div>
    <div class="job-card">
      <div class="col-container">
        <div class="top-container">
          <div class="profile-info">
            <div class="profile-thumb">
              <img src="../../../../assets/images/default-company-small.jpg" alt="">
            </div>
            <h3>John Doe</h3>
          </div>
        </div>
        <div class="middle-container">
          <div class="top-section">
            <h3>Technology Analyst </h3>
          </div>
          <div class="top-bottom-section">
            Pellentesque habitant morbi tristique senectus et netus. Pellentesque habitant...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>