<div class="rating-section">
  <div class="top-container">
    <h4>Overall Rating <strong>{{reviewsList[0].CommentsCount}}</strong> out of 5</h4>
    <div class="rating">
      <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
    </div>
    <span class="review-count">{{reviewsList[0].CommentsCount}} Reviews</span>  

    <!-- <div class="sorting">
      <div class="form-group">
        <span class="mdi mdi-swap-vertical"></span>
        <select class="form-select">
          <option value="Select">Select</option>
        </select>
      </div>
      <div class="form-group">
        <span class="mdi mdi-swap-vertical"></span>
        <select class="form-select">
          <option value="Sort">Sort</option>
        </select>
      </div>
    </div> -->
  </div>
  <div class="review-listing">
    <div class="job-card" *ngFor="let list of reviewsList">
      <div class="col-container">
        <div class="top-container">
          <div class="profile-info">
            <div class="profile-thumb">
              <img [src]="list.ProfilePic" alt="">
            </div>
            <h3>{{list.FirstName}} {{list.LastName}}</h3>
            <div class="right-info">
              <!-- <span class="period">10 Days AGO</span> -->
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
              <button class="btn btn-dropdown"><span class="mdi mdi-dots-vertical"></span></button>
            </div>
          </div>
        </div>
        <div class="middle-container">
          <div class="top-section">
            <h3>{{list.ProfileTitle}}</h3>
          </div>
          <div class="top-bottom-section">
            {{list.CommentText}}
            <!-- <button class="btn btn-arrow" 
              (click)="isCollapsed = ! isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
            >
              <span class="mdi mdi-chevron-down"></span>
            </button> -->

            <!-- <div class="show-more-info"  #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
              Pellentesque habitant morbi tristique senectus et netus.  Pellentesque habitant morbi tristique senectus et netus. 
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="review-listing-buttons">
      <button class="btn btn-info">Show More</button>
    </div>
  </div>
</div>