@import '../../../../assets/partials/utils/variables';
@import '../../../../assets/partials/utils/mixins';
.job-card {
  .col-container {
    border: 1px solid $stroke-gray;
    border-radius: 8px;
    background-color: $white;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(144, 164, 173, 0.3);
  
    .top-container{
      background-color: $light-bg;
      padding: 50px 20px 20px;
      position: relative;
      display: block;
  
      .status {
        position: absolute;
        left: 0;
        top: 20px;
        width: 108px;
        text-align: center;
        font-size: 12px;
        border-radius: 0 4px 4px 0;
        text-transform: uppercase;
        padding: 3px 4px;

        .mdi {
          font-size: 14px;
          vertical-align: middle;
        }
  
        &.active {
          background-color: $dark-green;
          color: $white;
        }
  
        &.screening {
          background-color: $medium-blue;
          color: $white;
        }
  
        &.hired {
          background-color: $darker-green;
          color: $white;
        }
  
        &.interviewing {
          background-color: $orange-dark;
          color: $white;
        }
  
        &.filled {
          background-color: $red;
          color: $white;
        }
  
        &.inactive {
          background-color: $light-blue;
          color: $medium-gray;
        }
  
        &.shortlisting {
          background-color: $dark-blue;
          color: $white;
        }
      }
  
      .priority {
        border-radius: 4px 0 0 4px;
        background-color: $light-green;
        font-size: 12px;
        color: $dark-green;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        width: 90px;
        text-align: center;
        top: 20px;
        font-weight: 600;
        padding: 3px 4px;
  
        .mdi {
          font-size: 12px;
          vertical-align: middle;
        }
  
        &.medium {
          background-color: $orange-light;
          color: $orange-dark;
        }
  
        &.high {
          background-color: $darker-green;
          color: $white;
        }
      }
  
      .profile-info {
        padding-left: 76px;
        position: relative;
        @include flexbox();
        @include align-items(center);
  
        .profile-thumb {
          font-size: 0;
          width: 72px;
          height: 72px;
          background: url(../../../../assets/images/profile-thumb.svg) 0 0 no-repeat;
          background-size: 72px auto;
          position: absolute;
          left: -7px;
          top: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -24px;
  
          img {
            width: 32px;
            border-radius: 50%;
            position: relative;
            top: -5px;
          }
        }
  
        .profile-summary {
          @include flexbox();
          gap: 10px;
        }
  
        h3 {
          font-size: $font-size-22;
          color: $darker-gray;
          font-weight: 600;
          width: 85%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin: 0 0 8px;
          padding-bottom: 3px;
  
          a {
            color: $darker-gray;
            text-decoration: none;
  
            &:hover {
              text-decoration: none;
            }
          }
        }
  
        h4 {
          color: $dark-gray;
          font-weight: 400;
          font-size: $font-size-14;
          margin: 0;
  
          .mdi {
            font-size: $font-size-16;
            color: $medium-gray;
            vertical-align: middle;
            margin-right: 5px;
          }
        }
      }

      .right-info {
        @include flexbox();
        @include align-items(center);
        margin-left: auto;
        gap: 10px;
        margin-right: -10px;

        .period {
          font-size: $font-size-12;
          text-transform: uppercase;
          color: $medium-gray;
        }

        .rating {
          width: 106px;
          height: 26px;
          border: 1px solid $stroke-gray;
          border-radius: 32px;
          font-size: $font-size-20;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          background-color: $white;
          top: 0;
        }

        .btn-dropdown {
          padding: 0;
        }
      }
    }
  
    .middle-container {
      .top-section {
        padding:15px 30px 6px 96px;
        @include flex();
        @include align-items(center);
        gap: 10px;
        @include flex-wrap(wrap);
  
        h3 {
          font-size: $font-size-16;
          color: $dark-gray;
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          flex: 0 0 calc(100% - 120px);
          max-width: calc(100% - 120px);
        }
  
        .id {
          background-color: $light-green;
          color: $dark-green;
          font-size: 10px;
          padding: 2px 4px;
          border-radius: 4px;
          display: inline-block;
          text-transform: uppercase;
          flex: 0 0 100px;
          max-width: 100px;
          text-align: center;
        }
      }
  
      .top-bottom-section {
        padding: 10px 80px 15px 20px;
        position: relative;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          gap: 10px;
  
          li {
            font-size: 11px;
            color: $medium-gray;
            display: flex;
            align-items: center;
            
            .mdi {
              font-size: $font-size-14;
              margin-right: 2px;
              position: relative;
              top: 0;
  
              &.mdi-map-marker-outline {
                top: -1px;
              }
            }
            
            &:not(:first-child) {
              border-left: 1px solid $stroke-gray;
              padding-left: 5px;
            }
          }
  
          .highlight {
            font-size: 10px;
            background-color: $medium-gray;
            text-transform: uppercase;
            color: $white;
            display: inline-block;
            padding: 2px 4px;
            border-radius: 4px;
          }
  
          @media only screen and (max-width: 1440px) {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  
  .location-trim {
    width: 50px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.rating-section {
  width: 800px;
  margin: 50px auto 30px;
  .top-container {
    @include flexbox();
    @include align-items(center);
    font-size: $font-size-30;
    gap: 15px;

    h4 {
      font-size: $font-size-18;
      margin: 0;
      color: $dark-gray;

      strong {
        font-size: $font-size-24;
      }
    }

    .rating {
      position: relative;
      top: -5px;
    }

    .review-count {
      font-size: $font-size-14;
      font-weight: 600;
      color: $medium-gray;
    }

    .sorting {
      @include flexbox();
      @include align-items(center);
      gap: 10px;
      margin-left: auto;
      font-size: $font-size-14;
      font-weight: 600;
      color: $medium-gray;
     
      .form-group {
        position: relative;
      }

      .mdi {
        position: absolute;
        left: 10px;
        top: 2px;
      }

      .form-select {
        border-radius: 4px;
        height: 36px;
        padding-left: 36px;
        padding-right: 30px;
        font-size: $font-size-14;
        display: inline-block;
      }
    }
  }
}

.rating {
  color: $dark-green;
}

.review-listing {
  .job-card {
    margin-top: 20px;

    .col-container {
      .top-container {
        padding: 20px;
      }

      .profile-info {
        h3 {
          font-size: $font-size-16;
          text-transform: uppercase;
          width: auto;
          margin: 0;
        }
      }

      .middle-container {
        .top-section {
          h3 {
            font-size: $font-size-12;
            text-transform: uppercase;
            color: $medium-gray;
          }
        }

        .top-bottom-section {
          font-size: $font-size-13;
          color: $medium-gray;
          
        }
      }
    }
  }
}

.btn {
	&.btn-arrow {
		padding: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $dark-green;
		@include shadowTwo();
    position: absolute;
    right: 15px;
		
		.mdi {
			color: $white;
      line-height: 1;
			font-size: $font-size-20;
		}
	}
}

.review-listing-buttons {
  margin: 20px 0 0;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}