<div class="top-container flex flex-align-center">
  <h3>Documents</h3>
  <button class="btn btn-primary ml-auto btn-sm">
    <span class="icon icon-add"></span>
    Add
  </button>
</div>
<div class="col-container">
  <ul class="activity-nav">
    <li>
      <a href="#">
        <span class="icon icon-clock"></span>Recent
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon icon-star"></span>Favoriates
      </a>
    </li>
  </ul>
  <div class="module-box pinned-module-box">
    <h4>Pinned <span>(3)</span></h4>
    <ul>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          Taxes
        </button>
      </li>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          General
        </button>
      </li>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          Insurance
        </button>
      </li>
    </ul>
  </div>
  <div class="module-box pinned-module-box">
    <div class="top-box flex flex-align-center">
      <h4>Folder <span>(3)</span></h4>
      <button class=" btn btn-plus-circle ml-auto">Button</button>
    </div>
    <ul>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          Foddo LLC
        </button>
      </li>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          Hamman AG
        </button>
      </li>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          Legal
        </button>
      </li>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          Nefin Capital
        </button>
      </li>
      <li>
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          BGD Industry Inc.
        </button>
      </li>
      <li class="active">
        <button class="btn btn-link">
          <span class="icon icon-small-folder"></span>
          S&S Goods LLS
        </button>
      </li>
    </ul>
  </div>
</div>