
  <main>
    <div class="container">
      <div class="card-row row">
        <div class="col-md-4">
          <a class="card" (click)="createJob()"   routerLinkActive="active">
            <!-- routerLink="/app-createajob" -->
            <div>
              <img src="assets/images/create-a-job.svg" width="103px" height="91.5px" alt="">
              <h4>Create a job</h4>
            </div>
          </a>
        </div>
        <div class="col-md-4 card">
          <a href="#" class="card">
            <div>
              <img src="assets/images/choose-template.svg" width="103px" height="91.5px" alt="">
              <h4>Choose from template</h4>
            </div>
          </a>
        </div>
        <div class="col-md-4 card">
          <a href="#" class="card">
            <div>
              <img src="assets/images/edit-draft.svg" width="103px" height="91.5px" alt="">
              <h4>Edit a draft</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>

