<div class="dashboard-chart-container">
  <div class="row">
    <div class="col-md-5 col-lg-5 left-col">
      <div class="col-container">
        <div class="container-box">
          <div class="top-container">
            <h3>Job Weekly Report</h3>
            <div class="form-group">
              <select class="form-select">
                <option value="This Week">This Week</option>
              </select>
            </div>
          </div>
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
          <div class="bottom-container d-flex justify-content-center">
            <a href="#" class="btn btn-link">
              Full View
              <span class="mdi mdi-fullscreen"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-7 table-cols">
      <div class="top-container">
        <h3>Team Member status based on applicant status</h3>
        <div class="form-group">
          <select class="form-select">
            <option value="This Week">This Week</option>
          </select>
        </div>
      </div>
      <div class="table-box-container" malihu-scrollbar [scrollbarOptions]="{ axis: 'x', theme: 'dark' }">
        <div class="table-container">
          <div class="table-row table-header-row">
            <div class="table-col name-col">
              Client
            </div>
            <div class="table-col email-col">
              Open
            </div>
            <div class="table-col phone-col">
              Screening
            </div>
            <div class="table-col">
              Shortlisting
            </div>
            <div class="table-col">
              Interviewing
            </div>
            <div class="table-col">
              Hiring
            </div>
            <div class="table-col">
              Freezed
            </div>
            <div class="table-col">
              Filed
            </div>
            <div class="table-col">
              Hold
            </div>
            <div class="table-col">
              Expired
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
             TFS
            </div>
            <div class="table-col email-col">
              3
            </div>
            <div class="table-col phone-col">
              50
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              25
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
             TFS
            </div>
            <div class="table-col email-col">
              3
            </div>
            <div class="table-col phone-col">
              50
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              25
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
             TFS
            </div>
            <div class="table-col email-col">
              3
            </div>
            <div class="table-col phone-col">
              50
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              25
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
             TFS
            </div>
            <div class="table-col email-col">
              3
            </div>
            <div class="table-col phone-col">
              50
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              25
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              3
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-container d-flex justify-content-end">
        <a href="#" class="btn btn-link">
          Full View
          <span class="mdi mdi-fullscreen"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-listing-columns">
  <div class="top-container">
    <h3>Top Clients</h3>
    <div class="form-group">
      <select class="form-select">
        <option value="This Week">This Week</option>
      </select>
    </div>
  </div>
  <div class="candidate-cards">
    <div class="row">
      <div class="col-md-4 col-lg-4 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
          [cardStatus] = false
          [cardPriority] = false
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-4 col-lg-4 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
          [cardStatus] = false
          [cardPriority] = false
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-4 col-lg-4 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
          [cardStatus] = false
          [cardPriority] = false
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-4 col-lg-4 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
          [cardStatus] = false
          [cardPriority] = false
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-4 col-lg-4 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
          [cardStatus] = false
          [cardPriority] = false
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-4 col-lg-4 col">
        <app-dashboard-candidate-card
          [cardMatching] = true
          [cardMatchingTitle]="'Success Ratio'"
          [cardClosed] = true
          [cardAssigned]= true
          [cardStatus] = false
          [cardPriority] = false
        >
        </app-dashboard-candidate-card>
      </div>
    </div>
  </div>
  <div class="bottom-container d-flex justify-content-end">
    <a href="#" class="btn btn-link">
      Show More
    </a>
  </div>
</div>