/*Invite Styles 11-06-2020*/

.i-t-m p.sub-text {
    color: #93A2BB;
    line-height: 30px;
}

.invite-icon .fa {
    color: #6a7e9c;
    font-size: 70px;
}

.u-l-a h5 {
    color: #6a7e9c;
    font-size: 1rem;
}

.u-l-a .media-left {
    vertical-align: middle;
}

.u-l-a .list-group {
    margin-top: 15px;
}

.u-l-a .list-group-item {
    border: 1px solid #ccc;
}

.u-l-a label {
    line-height: 20px;
    width: 100%;
}

.u-l-a label.checkbox-inline {
    font-size: 13px;
}

.u-l-a h6.media-heading {
    color: #6a7e9c;
}

.u-l-a .media-left input {
    width: 20px;
    height: 20px;
}

.u-l-a .media-body small {
    color: #93A2BB;
    font-size: 11px;
}

.invite-panel {
    margin-top: 10px;
    border-color: #ccc;
    -webkit-box-shadow: 10px 15px 19px -12px rgba(147, 162, 187, 1);
    -moz-box-shadow: 10px 15px 19px -12px rgba(147, 162, 187, 1);
    box-shadow: 10px 15px 19px -12px rgba(147, 162, 187, 1);
}

.invite-panel label[for="iemailaddress"] {
    line-height: 35px;
}

/* .r-i-t .list-group {
    -webkit-box-shadow: -6px 11px 15px -7px rgba(106,126,156,1);
    -moz-box-shadow: -6px 11px 15px -7px rgba(106,126,156,1);
    box-shadow: -6px 11px 15px -7px rgba(106,126,156,1);
} */

.r-i-t .list-group h5 {
    color: #41536E;
    margin-top: 5px;
}

.r-i-t .list-group small {
    color: #6a7e9c;
}

.r-i-t .list-group .dropdown button {
    background: transparent;
}

.r-i-t .list-group .media {
    overflow: inherit;
}
.r-i-t .list-group .media-left img{
   height: 30px;
   width: 30px;
   margin-top: 10px;
}
.r-i-t .list-group .media-right {
    vertical-align: middle;
}
.r-i-t .list-group .dropdown-menu {
    top: 10%;
    right: 25px;
    left: inherit;
}
.r-i-t .list-group-item{
    border-bottom: 1px solid #448AFA;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    margin-bottom: 0px;
}

.r-i-t li.list-group-item:hover{
    border-top: transparent;
    border-right: transparent;
}
.r-i-t li.list-group-item .media{
    padding-left: 10px;
    transition: all .2s ease-in-out;
}
.r-i-t li.list-group-item .media:hover{
    border-left: 5px solid #448AFA;
}

.r-i-t .list-group-item :last-child{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.r-i-t .i-s input {
    height: 35px;
    font-size: 11px;
}

.i-u-l{
height: 360px;
}
/* [data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: #75A6F5;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
} */

.i-t-m .mr-t-3{
    margin-top: 3%;
}