
/*Invite Styles 11-06-2020*/
.i-t-m p.sub-text{
    color: #93A2BB;
    line-height: 30px;
}
.invite-icon .fa{
    color: #6a7e9c;
    font-size: 70px;
}
.u-l-a h5{
    color: #6a7e9c;
    font-size: 1rem;
}
.u-l-a .media-left{
    vertical-align: middle;
}
.u-l-a .list-group{
    margin-top: 15px;
}
.u-l-a  .list-group-item{
    border: 1px solid #ccc;
}
.u-l-a label{
    line-height: 20px;
    width: 100%;
}
.u-l-a label.checkbox-inline{
    font-size: 13px;
}

.u-l-a h6.media-heading{
    color: #6a7e9c;
}
.u-l-a .media-left input{
    width: 20px;
    height: 20px;
}
.u-l-a .media-body small{
    color: #93A2BB;
    font-size: 11px;
}
.invite-panel{
    margin-top:10px;
    border-color: #ccc;
    -webkit-box-shadow: 10px 15px 19px -12px rgba(147,162,187,1);
    -moz-box-shadow: 10px 15px 19px -12px rgba(147,162,187,1);
    box-shadow: 10px 15px 19px -12px rgba(147,162,187,1);
}
.r-i-t h4{
    color: #6a7e9c;
}
.r-i-t .table td{
    padding: 8px;
}
.r-i-t .table th{
    font-weight: 500;
    color: #41536E;
    background-color: #EEEFF3;
    border: 0;
    padding: 8px;
    font-size: 13px;
}
.r-i-t .table h6{
    color: #93A2BB;
}
.r-i-t td .dropdown button{
    background: transparent;
}
.r-i-t td .dropdown-menu{
    top: 10%;
    right: 50px;
    left: inherit;
}
.r-i-t .i-s input{
    height: 35px;
    font-size: 11px;
}
