<div class="job-actitives-stats">
  <div class="cols">
    <div class="col">
      <div class="col-container">
        <span class="icon icon-01">
          Icon
        </span>
        <div class="info">
          <h4>Jobs</h4>
          <h6>300</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon icon-02">
          Icon
        </span>
        <div class="info">
          <h4>Applicants</h4>
          <h6>110</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon icon-03">
          Icon
        </span>
        <div class="info">
          <h4>Users</h4>
          <h6>130</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon icon-04">
          Icon
        </span>
        <div class="info">
          <h4>Clients</h4>
          <h6>100</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon icon-05">
          Icon
        </span>
        <div class="info">
          <h4>Vendors</h4>
          <h6>400</h6>
        </div>
      </div>
    </div>
  </div>
</div>