<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="card statistics clearfix">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a data-toggle="tab" href="#jobsDetail">Jobs</a></li>
      <li role="presentation"><a data-toggle="tab" href="#applicantsDetail">Applicants</a></li>
      <span class="active-line" style="width: 73.5375px; left: 0px;"></span>
    </ul>
    <div class="tab-content">
      <div id="jobsDetail" class="tab-pane fade in active">
        <div class="stats">
          <div title="78">
              <h1>{{dashboardstatistics?.JobsPosted}}</h1>
            <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
              <circle fill="#ac9af9" cx="5.7" cy="5.7" r="5.7"></circle>
            </svg>
            <span>Jobs Posted</span>
          </div>
          <div title="23">
              <h1>{{dashboardstatistics?.JobsFilled}}</h1>
            <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
              <circle fill="#84DECB" cx="5.7" cy="5.7" r="5.7"></circle>
            </svg>
            <span>Jobs Filled</span>
          </div>
          <div title="50">
              <h1>{{dashboardstatistics?.JobsCancelled}}</h1>
            <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
              <circle fill="#A7D975" cx="5.7" cy="5.7" r="5.7"></circle>
            </svg>
            <span>Jobs Cancelled</span>
          </div>
        </div>
        <div class="stats-tabs">
          <ul class="nav nav-tabs navbar-right">
            <li role="presentation" class="active"><a data-toggle="tab" href="#jobsDetail-week">Week</a></li>
            <li role="presentation"><a data-toggle="tab" href="#jobsDetail-month">Month</a></li>
            <span class="active-line" style="width: 45.3125px; left: 0px;"></span>
          </ul>
          <div class="tab-content">
 <div id="jobsDetail-week" class="tab-pane fade in active">
              <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
              <!-- <canvas id="jobsDetail-week-chart" height="325" width="486" style="display: block; height: 260px; width: 389px;" class="chartjs-render-monitor"></canvas> -->
              <div style="display: block;">
                <canvas id="jobsDetail-week-chart"  baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div id="jobsDetail-month" class="tab-pane">
              <!-- <canvas  height="0" width="0" class="chartjs-render-monitor" style="display: block; height: 0px; width: 0px;"></canvas> -->
              <div style="display: block;">
                <canvas id="jobsDetail-month-chart" baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <!-- <div class="row"> -->
              <!-- <div class="col-md-6"> -->
              
              <!-- </div> -->
              <!-- <div class="col-md-6" style="margin-bottom: 10px">
                <table class="table table-responsive table-condensed">
                  <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                  </tr>
                  <tr *ngFor="let d of lineChartData">
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                  </tr>
                </table>
                <button (click)="randomize()">CLICK</button>
              </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div id="applicantsDetail" class="tab-pane fade">
             <div class="stats stats--column">
              <div>
                <h1>{{applicantStatistics?.Applicants}}</h1>
                <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
                  <circle fill="#ac9af9" cx="5.7" cy="5.7" r="5.7"></circle>
                </svg>
                <span>APPLICANTS</span>
              </div>
              <div>
                <h1>{{applicantStatistics?.ShortListed}}</h1>
                <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
                  <circle fill="#84DECB" cx="5.7" cy="5.7" r="5.7"></circle>
                </svg>
                <span>SHORTLISTED</span>
              </div>
              <div>
                <h1>{{applicantStatistics?.Interviewed}}</h1>
                <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
                  <circle fill="#A7D975" cx="5.7" cy="5.7" r="5.7"></circle>
                </svg>
                <span>INTERVIEWED</span>
              </div>
              <div>
                  <h1>{{applicantStatistics?.Hired}}</h1>
                  <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
                    <circle fill="#A7D975" cx="5.7" cy="5.7" r="5.7"></circle>
                  </svg>
                  <span>HIRED</span>
                </div>
            </div>
        <div class="stats-tabs">
          <ul class="nav nav-tabs navbar-right">
            <li role="presentation" class="active"><a data-toggle="tab" href="#applicantsDetail-week">Week</a></li>
            <li role="presentation"><a data-toggle="tab" href="#applicantsDetail-month">Month</a></li>
            <span class="active-line" style="width: 0px; left: 0px;"></span>
          </ul>
          <div class="tab-content">
            <div id="applicantsDetail-week" class="tab-pane fade in active">
              <!-- <canvas height="0" width="0" class="chartjs-render-monitor" style="display: block; height: 0px; width: 0px;"></canvas> -->
              <div style="display: block;">
                <canvas  id="applicantsDetail-week-chart"
                baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div id="applicantsDetail-month" class="tab-pane">
              <!-- <canvas height="0" width="0" id="applicantsDetail-month-chart" class="chartjs-render-monitor" style="display: block; height: 0px; width: 0px;"></canvas> -->
              <div style="display: block;">
                <canvas  id="applicantsDetail-month-chart"
                baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .tab-content -->
  </div> <!-- .card.statistics -->
</div>
