.ui-badge {
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize;
}

.meta small{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 75%;
    margin-top: 3px;
    margin-left: 3px;
  }

  .mat-dialog-container {
    width: 600px;
    margin: 30px auto;
    padding : 0 !important;
}

/* h4,h5{
    display:inline-block;
    width:280px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
} */