.ui-badge {
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize;
}

.meta small{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 75%;
    margin-top: 3px;
    margin-left: 3px;
  }

  .mat-dialog-container {
    width: 600px;
    margin: 30px auto;
    padding : 0 !important;
}
.disabled{
    pointer-events: none;
   }
/* h4,h5{
    display:inline-block;
    width:280px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
} */

/* .page--job-details .ui-badge {
    padding: 4px 13px;
    max-width: 140px;
}
.ui-badge--domain {
    border-color: #AC9AF9;
    color: #AC9AF9;
}
.ui-badge {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px 28px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}
.ui-badge--industry {
    border-color: #75A6F5;
    color: #75A6F5;
} */

.ui-badge {
    padding: 4px 13px;
    max-width: 140px;
}
.ui-badge--domain {
    border-color: #AC9AF9;
    color: #AC9AF9;
}
.ui-badge {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    /* padding: 10px 28px; */
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}
 
.ui-badge--industry {
    border-color: #75A6F5;
    color: #75A6F5;
} 

.candidate-badges {
    display: -webkit-box;
    display: flex !important;
    -webkit-box-pack: justify;
    justify-content: space-between;

}