<mat-dialog-content class="mat-typography manage-achievements-i-d">
    <!-- <button mat-button mat-dialog-close class="close">×</button> -->
    <div class="modal-header text-center">
        <img src="../../../../../../assets/images/card-icons/achievement-badge.png" width="60" alt="certifications">
        <h4>Background</h4>
    </div>
    <div class="modal-body">

         <div class="ach-scroll scrollbar-inner">

        </div>
    </div>
    <div class="modal-footer">
        <button mat-button mat-dialog-close class="btn btn-default">Close</button>
    </div>
</mat-dialog-content>