img {
    border-radius: 50%;
}
.overlap{
    top: -332px;
    position: relative;
}

.card-footer-icon{
    font-size: 24px;
    border: 1px  solid;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
}
.card-footer-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 170px;
}
.full-width{width:100%;}
.ui-pic-owner{margin-right: 10px;width: 25px;}
.ui-pic-assignee{margin-left: 10px;}
.card-footer-flex{justify-content: flex-end;padding: 0px;}
.tooltip-text{display: contents;}
.mutliple-assignee-link{border-bottom: 1px dotted darkslategrey;}