<app-Logoheader></app-Logoheader>
<body class="page page--company-profile">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
           <a routerLink="/app-cprofile" routerLinkActive="active"class="btn btn-border btn-lg">Candidate View</a>
        </div>
      </div>
      <div class="row">
        <app-basicinfo [companyprofile]="companyprofile" [getcompanylogo]="getcompanylogo"></app-basicinfo>
      </div>
      <div class="row">
        <app-otherinfo
                       [companyprofileotherinfo]="companyprofileotherinfo"></app-otherinfo>
      </div>
      <div class="row">
         <app-locations
                        [companyprofilelocationinfo]="companyprofilelocationinfo"></app-locations>
         <app-aboutcompany [getaboutcompany]="getaboutcompany"></app-aboutcompany>
       </div>
       <div class="row">
         <app-benefits  [getcompanybenfit]="getcompanybenfit"></app-benefits>
         <app-specialities  [companyspecialities]="companyspecialities" [getcompanytechnology]="getcompanytechnology"></app-specialities>
       </div>
       <div class="row">
         <app-whitepaper [getcompanywhitepaper]="getcompanywhitepaper" [getcompanynewsinfo]="getcompanynewsinfo"></app-whitepaper>
         <app-questions></app-questions>
       </div>
      <div class="row">
         <app-achievementsandawards  [getcompanyachivements]="getcompanyachivements" [getcompanypertner]="getcompanypertner" [getcompanycertification]="getcompanycertification"></app-achievementsandawards>
       </div>
       <div class="row">
         <app-culture [getcompanycluture]="getcompanycluture"></app-culture>
       </div>
      <router-outlet></router-outlet>

    </div>
  </main>
</body>
