<app-Logoheader></app-Logoheader>
<body class="page page--company-profile edit-mode">
  <main>
    <div class="container">
      <!--Culture Test Code-->
      <!-- <div class="row">
        <div class="col-xl-12">
          <div class="f-right">
              <a class="btn btn-border btn-lg p19-30" data-toggle="modal" href="#CultureTest">Take Culture Test</a>
              <a class="btn btn-border btn-lg p5-10" data-toggle="modal" href="#CultureTest">
                <div class="d-inline-b">
                    <div>
                        Culture Test <span class="italic f-10">(in-progress)</span>
                    </div>
                    <div>
                      
                          <div class="progress d-inline-b progress-cos">
                              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only"></span>
                              </div>
                              
                            </div>
                       
                          <span class="d-inline-b f-20 m-0">40%</span>
                    </div>
                </div>
                
                <div class="d-inline-b pl-2">
                    <svg class="r--90" height="43.25px" viewBox="-492.7 -2932.5 11.5 6.8" width="14px" xmlns="http://www.w3.org/2000/svg">
                      <path class="cls-1" d="M303.8,369l4.8,4.8,4.7-4.7" id="down-chevron-sm" transform="translate(-795.5 -3300.5)"></path>
                    </svg>
                </div>
               
              </a>
               <a class="btn btn-border btn-lg" (click)="getcandidateview()" >Candidate</a> 
          </div>
        </div>
      </div> -->
      <!--#Culture Test Code-->
      <div class="row">
        <app-basicinfo [companyprofile]="companyprofile" [getcompanylogo]="getcompanylogo"></app-basicinfo>
      </div>
      <div class="row">
        <app-otherinfo
                       [companyprofileotherinfo]="companyprofileotherinfo"></app-otherinfo>
      </div>
      <div class="row">
        <app-aboutcompany [getaboutcompany]="getaboutcompany"></app-aboutcompany>
        <div class="col-md-6">
          <div class="row">
            <!-- culture -->
<div class="col-md-12 culture-row">
  <div class="card card--location">
    <div class="card-header cultur-header">
      <h1 class="title">
        <svg height="24" width="20.5" xmlns="http://www.w3.org/2000/svg">
          <path class="st0" d="M13 24c-.6 0-1.1-.2-1.6-.5l-4.9-3.9c-.6-.5-1-1.2-1-2V7.9c0-1.4 1.1-2.6 2.6-2.6h9.8c1.4 0 2.6 1.1 2.6 2.6v9.7c0 .8-.4 1.5-1 2l-4.9 3.9c-.5.3-1 .5-1.6.5zM8.1 7.3c-.3 0-.6.3-.6.6v9.7c0 .2.1.3.2.4l4.9 3.9c.2.2.5.2.7 0l4.9-3.9c.1-.1.2-.3.2-.4V7.9c0-.3-.3-.6-.6-.6H8.1z" fill="#448AFA"></path>
          <path class="st0" d="M3.4 13.3c-.4 0-.8-.2-.9-.6L.2 7.4c-.3-.6-.3-1.3 0-2C.5 4.8.9 4.3 1.6 4l9-3.9c1.3-.6 2.8 0 3.4 1.3l.9 2.1c.2.5 0 1.1-.5 1.3-.5.2-1.1 0-1.3-.5l-.9-2.1c-.2-.1-.5-.3-.8-.2l-9 3.9c-.2.1-.3.2-.4.3s0 .3 0 .4l2.3 5.3c.2.5 0 1.1-.5 1.3-.1.1-.3.1-.4.1zM8.9 11.3h3.2v2H8.9zM14.4 11.3h3.2v2h-3.2zM13 19.6c-2.6 0-4.7-2.1-4.7-4.7h2c0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7h2c0 2.6-2.1 4.7-4.7 4.7z" fill="#448AFA"></path>
        </svg>
        <span>Company Cultural Test</span>
      </h1>
       <a href="javascript:void(0)" class="add-btn" (click)="OpenCultureTestDialog()">
        <span class="add add--green rounded">+</span>
        <span>Start Test</span>
      </a> 
    </div> <!-- .card-header -->
    <div class="card-inner">
      <div class="placeholder">
        <img alt="icon" src="../../../../assets/images/personal-skills.svg">
        <p >Take a Cultural test and we will tell you what kind of Company it is in Cultural Values.</p>
        <img alt="" class="arrow" src="../../../../assets/images/skills-arrow.png">
      </div>
      <!-- if culture data -->
      <div class="row" style="display: none;">
        <div class="col-md-3 br-1">
          <img class="mw-110" alt="icon" src="../../../../assets/images/personal-skills.svg" >
        </div>
        <div class="col-md-9">
          <h4 class="mt-0">Cultural Test <small><i>(in-progress)</i></small></h4>
          <div class="col-md-4 w-auto">
            <h5 class="mr-0">45%</h5>
          </div>
          <div class="col-md-8 w-inherit">
            <div class="progress" style="height: 8px;">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                <span class="sr-only">45% Complete</span>
              </div>
            </div>
          </div>
          
          
          <div>
            <button class="btn btn-success nxt" type="button">Complete Test</button>
          </div>
          
        </div>
      </div>
      <!-- if culture data -->
    </div>
  </div> <!-- .card--location -->
</div>
<!-- #culture -->
<app-locations
                        [companyprofilelocationinfo]="companyprofilelocationinfo"></app-locations>
         
          </div>
        </div>
         
       </div>
       <div class="row">
         <app-benefits  [getcompanybenfit]="getcompanybenfit" [companyspecialities]="companyspecialities" [getcompanytechnology]="getcompanytechnology" [getCustomerClients]="getCustomerClients" [getCustomerDepartments]="getCustomerDepartments"></app-benefits>
         <!-- <app-specialities  [companyspecialities]="companyspecialities" [getcompanytechnology]="getcompanytechnology" [getCustomerClients]="getCustomerClients" [getCustomerDepartments]="getCustomerDepartments"></app-specialities> -->
       </div>
       <div class="row">
         <app-whitepaper></app-whitepaper>
         <app-questions></app-questions>
       </div>
      <div class="row">
         <app-achievementsandawards></app-achievementsandawards>
       </div>
       <div class="row">
         <app-culture></app-culture>
       </div>
      <router-outlet></router-outlet>

    </div>
  </main>
  <div Id="CultureTest" class="modal fade news" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
       
     
          <!--modal-content1-->
      <div class="modal-content" style="display: none">
        <div class="row">
           <div class="col-md-12 ">
              <div class="card card--other-info">
                 <div class="card-header">
                    <h1 class="title">
                       <span>Culture Fit</span>
                    </h1>
                    <div class="layout layout--btn">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                    </div>
                 </div>
                 <!-- .header -->
                 <div class="row">
                    <div class="col-md-12">
                       <div class="card-inner">
                          <div class="col-md-1">10%</div>
                          <div class="progress col-md-11 no-pad">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                              aria-valuemax="100" style="width: 10%">
                              <span class="sr-only">40% Complete (success)</span>
                            </div>
                          </div>
                          <table class="table">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Agree</th>
                                <th>Somewhat Agree</th>
                                <th>Somewhat Disagree</th>
                                <th>Disagree</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">
                                  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                                </th>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" [checked]="!show" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                                </th>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" [checked]="!show" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                                </th>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" [checked]="!show" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                                </th>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" [checked]="!show" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                                </th>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" [checked]="!show" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                                </th>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" [checked]="!show" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <div class="radio-box inline">
                                    <label for="text" class="radio">
                                      <input type="checkbox" id="" class="radio-input">
                                      <span class="radio-btn"></span>
                                    </label>
                                  </div>
                                </td>
                              </tr>
                
                
                            </tbody>
                          </table>
                        
                       </div>
                    </div>
                    <div class="col-md-12 p0-30">
                       <div class="bt-1-E0E3EF mrl--15">
                         <div class="mtbr-5-17-25">
                            <a href="javascript:void(0)" class="pull-left skip-link">Save and Skip to Cultural Test</a>
                         </div>
                          <div  class="pull-right mtbr-5-17-25">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-success">Save & Next</button>
                          </div>

                          
                         
                       </div>
                    </div>
                 </div>
              </div>
              <!-- .col-md-12 -->
           </div>
           <!-- .row -->
        </div>
     </div>
     <!--#modal-content1-->
     <!--modal-content2-->
     <div class="modal-content">
        <div class="row">
           <div class="col-md-12 ">
              <div class="card card--other-info">
                 <div class="card-header">
                    <div class="col-md-5 text-left">
                        <h4>Culture Fit Results <img title="Download Detailed Test Report"
                            src="../../../../assets/images/down-chevron-icon.png"></h4>
                      </div>
                      <div class="col-md-6 text-right">
                        <h6>Share your results</h6>
                        <div class="social-media-share">
                          <a href="/#/">
                            <img alt="linkedin" src="/../../assets/images/linkedin-icon.png" title="http://www.linkedin.com/">
                          </a>
                          <a href="/#/">
                            <img alt="facebook" src="/../../assets/images/fb-icon.png"
                              title="https://www.facebook.com/emma.sophia">
                          </a>
                          <a href="/#/">
                            <img alt="twitter" src="/../../assets/images/twitter-icon.png"
                              title="https://www.twitter.com/emma.sophia">
                          </a>
                          <a href="/#/">
                            <img alt="skype" alt="skype" src="../../../../assets/images/skype-icon.png" title="">
                          </a>
                        </div>
                      </div>
                    <div class="layout layout--btn">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                    </div>
                 </div>
                 <!-- .header -->
                 <div class="row">
                    <div class="col-md-12">
                       <div class="card-inner img-middle">
                          <div>
                              <div class="col-md-12 text-center">
                                <img class="img-responsive"
                                  src="https://images.ctfassets.net/fevtq3bap7tj/68o78rXmGQAWmEGQmikIea/48548c810c0c826fbab6494fc92a01c9/Pie_in_3D.png">
                              </div>
                              <div class="col-xs-6 col-md-6">
                                <img class="img-responsive"
                                  src="https://images.ctfassets.net/fevtq3bap7tj/4VQQH1mrKUc4CgmU2ewEk2/d6072d66138c2f31a3b89fa71d7bff8d/Bar_charts.svg">
                              </div>
                              <div class="col-xs-6 col-md-6">
                                <img class="img-responsive"
                                  src="https://images.ctfassets.net/fevtq3bap7tj/4VQQH1mrKUc4CgmU2ewEk2/d6072d66138c2f31a3b89fa71d7bff8d/Bar_charts.svg">
                              </div>
                              <div class="col-xs-6 col-md-6">
                                <img class="img-responsive"
                                  src="https://images.ctfassets.net/fevtq3bap7tj/4VQQH1mrKUc4CgmU2ewEk2/d6072d66138c2f31a3b89fa71d7bff8d/Bar_charts.svg">
                              </div>
                              <div class="col-xs-6 col-md-6">
                                <img class="img-responsive"
                                  src="https://images.ctfassets.net/fevtq3bap7tj/4VQQH1mrKUc4CgmU2ewEk2/d6072d66138c2f31a3b89fa71d7bff8d/Bar_charts.svg">
                              </div>
                              <div class="col-xs-12 col-md-12">
                                  <div style="height: 100px;"></div>
                              </div>
                            </div>
                       </div>
                    </div>
                   
                 </div>
              </div>
              <!-- .col-md-12 -->
           </div>
           <!-- .row -->
        </div>
     </div>
     <!--#modal-content2-->      
   
                
                
    </div>
    </div>
</body>
