<div class="form-section-title">
  <h3>Additional Details</h3>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 form-col">
    <h4>Interview Details</h4>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Interview Type <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-seat-outline"></span>
      <select class="form-select">
        <option value="Select the interview">Select the interview</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Interview Round <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-seat-outline"></span>
      <select class="form-select">
        <option value="Select the interview round">Select the interview round</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Select the Interviewer <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-seat-outline"></span>
      <select class="form-select">
        <option value="Select ">Select</option>
      </select>
    </div>
  </div>
 

  <div class="col-md-12 col-lg-12 form-col">
    <h4>Verification Required</h4>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Verification Options <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-book-open-page-variant-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-12 col-lg-12 form-col">
    <h4>Profile Matching Creteria</h4>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Skills Creteria <sup>*</sup></label>
    <div class="slider-box-with-percentage">
      <div class="custom-slider">
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
      </div>
      <div class="percentage">60%</div>
    </div>
    <div class="custom-checkbox-list">
      <ul>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Skills Name</span>
            </label>
          </div>
        </li>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Skills Expereience</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Job Creteria <sup>*</sup></label>
    <div class="slider-box-with-percentage">
      <div class="custom-slider">
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
      </div>
      <div class="percentage">60%</div>
    </div>
    <div class="custom-checkbox-list">
      <ul>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Toltal Expereience</span>
            </label>
          </div>
        </li>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Job Title</span>
            </label>
          </div>
        </li>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Domain</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Team Creteria <sup>*</sup></label>
    <div class="custom-slider">
      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Personality Creteria <sup>*</sup></label>
    <div class="custom-slider">
      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Culture Creteria <sup>*</sup></label>
    <div class="custom-slider">
      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
    </div>
  </div>

  <div class="col-md-12 col-lg-12 form-col">
    <h4>Video Sizzle of The Job</h4>
  </div>
  
  <div class="col-sm-12 single-col">
  
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload or record the video sizzle for the job</label>
      <input class="form-control upload-file" type="file" >
    </div>
    <!-- <div class="file-upload">
      <button class="btn"><span class="mdi mdi-cloud-upload-outline"></span>Upload or Record</button>
      <input type="file" name="myfile" />
    </div> -->
  </div> 

  <div class="col-md-12 col-lg-12 form-col">
    <h4>Email Notifications</h4>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Internal Users <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-circle-outline"></span>
      <select class="form-select">
        <option value="Select">Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Selected Groups <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-group-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-12 col-lg-12 form-col">
    <h4>Other Details</h4>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Turn around Time <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-circle-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 form-col">
    <label class="form-label">Screening Questions <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-group-outline"></span>
      <select class="form-select">
        <option value="Type & Select">Type & Select</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 form-col">
    <h4>Job Board Publishing</h4>
  </div>
  <label class="form-label">Description for job boards<sup>*</sup></label>
  <div class="col-sm-12 form-col">
    <ckeditor  
      [config]="config"
      data="<p>Hello, world!</p>">
    </ckeditor>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 single-col">
    <label class="form-label">Publish Jobs <sup>*</sup></label>
    <div class="custom-checkbox-list">
      <ul>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Job Boards</span>
            </label>
          </div>
        </li>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">My Vendors</span>
            </label>
          </div>
        </li>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Arytic Partners</span>
            </label>
          </div>
        </li>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Arytic Recruiters</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 single-col">
    <label class="form-label">Save as template <sup>*</sup></label>
    <div class="custom-checkbox-list">
      <ul>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Add If Anything</span>
            </label>
          </div>
        </li>
        <li>
          <div class="custom-checkbox">
            <label>
              <input type="checkbox">
              <span class="checkmark">Save this job as a template</span>
            </label>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>


