<app-Logoheader></app-Logoheader>

<main class="page page--manage-jobs">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="container">
    <div class="filters">
      <div class="pull-left">
        <form class="form-inline" action="">
          <div class="form-group view-group">
            <select name="view" id="view" (change)="populateJobInterViewlist($event.target.value)"  class="styled-select-box">
                <option value="0" default>Select</option>
              <option value="1">Year</option>
              <option value="2">Month</option>
              <option value="3">Day</option>
            </select>
          </div>
        </form>
      </div>
      <ng-container *ngIf="joblist?.TotalCount>=5">
          <h5 class="show-count">Showing  {{joblist?.Jobs?.length||0}} out of {{joblist?.TotalCount||0}} Jobs </h5>
      </ng-container>
      <ng-container *ngIf="joblist?.TotalCount<5" >
          <h5 class="show-count">Showing {{joblist?.TotalCount||0}} out of {{joblist?.TotalCount||0}} Jobs </h5>
      </ng-container>
      <div class="pull-right">


        <!-- <ul class="nav btn-group">
          <li class="active btn">
            <a data-toggle="tab" href="#grid-view">
              <svg xmlns="http://www.w3.org/2000/svg" width="19.9" height="20">
                <path
                  d="M7 8H1c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1zM2 6h4V2H2v4zM18.9 8h-6c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1zm-5-2h4V2h-4v4zM7 20H1c-.6 0-1-.4-1-1v-6c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v6c0 .5-.4 1-1 1zm-5-2h4v-4H2v4zM18.9 20h-6c-.6 0-1-.4-1-1v-6c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v6c0 .5-.4 1-1 1zm-5-2h4v-4h-4v4z" />
              </svg>
            </a>
          </li>
          <li class="btn">
            <a data-toggle="tab" href="#list-view">
              <svg xmlns="http://www.w3.org/2000/svg" width="19.9" height="19.9">
                <path class="st0"
                  d="M18.9 8H1c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h17.9c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1zM2 6h15.9V2H2v4zM18.9 19.9H1c-.6 0-1-.4-1-1v-6c0-.6.4-1 1-1h17.9c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1zM2 17.9h15.9v-4H2v4z" />
              </svg>
            </a>
          </li>
        </ul> -->
      </div>
    </div>

    <div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="tab-content">
        <div id="grid-view" class="tab-pane fade">
          <div class="col-md-12">
            <div class="row">
        

            </div>
          </div>
          <div class="col-md-12">
  
          </div>
        </div>













        <div id="list-view" class="tab-pane fade in active">
          <ul class="job-list" *ngIf="joblist">
            <li class="card" *ngFor="let job of joblist.Jobs | valueArray">
              <header class="row list-header">
                <div class="col-md-3">
                  <div class="job-details">
                    <h3 class="medium" title="{{job?.JobTitle}}" (click)="ViewJobdetails(job?.JobId)">{{job?.JobTitle}}
                    </h3>
                    <ng-container *ngIf="job?.IsCandidateAccepted== null">
                        <span class="status Interviewing mlr-9">Interviewing</span>
                    </ng-container>
                    <ng-container *ngIf="job?.IsCandidateAccepted == 1">
                        <span class="status Interviewing mlr-9">Candidate Accepted</span>
                    </ng-container>
                    <ng-container *ngIf="job?.IsCandidateAccepted == 0">
                        <span class="status Interviewing mlr-9">Candidate Rejected</span>
                    </ng-container>
                    <div class="meta">
                      <svg fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" width="16" height="19.3">
                        <path class="st0"
                          d="M8 19.3l-.6-.4c-.3-.2-7.5-5-7.5-10.9 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.9-7.1 10.7-7.4 10.9l-.5.4zM8 2C4.7 2 2 4.7 2 8c0 4 4.4 7.7 6 8.9 1.6-1.2 6-4.9 6-8.9 0-3.3-2.7-6-6-6z" />
                        <path class="st0"
                          d="M8.1 11.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm0-4.6c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3S9.4 8.7 9.4 8s-.6-1.3-1.3-1.3z" />
                      </svg>
                      <h5 class="location border-b-0">{{job?.JobLocations || N/A}}</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 f-right">

                  <div class="row">
                    <div class="stats text-left col-md-4">
                      <div class="list-stats">
                        <h3 class="medium">Interview Date & Time</h3>
                        <h4 class="c93A2BB">{{job?.InterviewDate  | date }} @ {{job?.StartTime}} </h4>
                      </div>

                    </div>
                    <div class="stats text-left col-md-4">
                      <div class="list-stats">
                        <h3 class="medium">Interview Type</h3>
                        <div class="row mt-10-0">
                          <div class="col-md-6 w-auto p-0">
                            <h4 class="m-rb-10 c93A2BB"><a href="javascript:void(0)">{{job?.InterviewType || N/A}}</a>
                            </h4>
                          </div>
                          <div class="col-md-6 w-auto p-0">
                            <div class="dropdown d-inline">
                              <a *ngIf="job?.InterviewTypeId != 1" class="dropdown-toggle interview-dropdown pointer" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                i
                              </a>
                              <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <li>
                                  <ng-container *ngIf="job?.InterviewTypeId == 2">
                                      <a href="javascript:void(0)">
                                          <img src="../../../../../assets/images/phn-icon.svg" />
                                         {{job?.PhoneNumber}}
                                        </a>
                                  </ng-container>
                                  <ng-container *ngIf="job?.InterviewTypeId == 3">
                                      <a href="javascript:void(0)">
                                          <img src="../../../../../assets/images/skype.svg" />
                                         {{job?.SkypeId}}
                                        </a>
                                  </ng-container>
                                 
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="stats text-left col-md-4">
                      <div class="pl-20">
                        <h3 class="medium">candidate</h3>
                        <div class="media-obj">
                          <img class="align-self-center" src="../../../../assets/images/ui-face-1.png" alt="">
                          <div class="media-body1">
                            <h4 class="c93A2BB"> {{job?.CandidateFirstName || N/A}} {{job?.CandidateLastName}}</h4>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="dropdown card-dropdown">
                  <button class="btn dropdown-toggle" data-toggle="dropdown" type="button">
                    <svg height="20.7" width="4" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                        fill="#448afa"></path>
                    </svg>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a>Accept</a></li>
                    <li><a (click)="OpenScheduleInterviewDialog()">Schedule date</a></li>
                  </ul>
                </div>
              </header>



              <div class="card-footer">
                <div class="h-manager">
                  <img src="../../../../assets/images/ui-face-2.png" alt="">
                  <div>
                    <h3>{{job?.HiringLeaderFirstName}} {{job?.HiringLeaderLastName}}</h3>
                    <h5 class="meta">screening person</h5>
                  </div>
                </div>
                <div class="stats-group">

                  <div>

                    <div class="mt-7">
                      <!-- <div class="checkbox">
                        <label><input name="interview-update" type="radio"><span class="box">Accept</span>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label><input name="interview-update" type="radio"><span class="box">Reject</span>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label><input name="interview-update" type="radio"><span class="box">Schedule
                            date</span> </label>
                      </div> -->
                      <h3 class="d-inline">Notes</h3>
                      <div class="dropdown notes-dropdown d-inline">
                        <a  class="dropdown-toggle interview-dropdown pointer wh-auto b-0 p-rel" type="button"
                          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <img src="../../../../../assets/images/writing.svg" class="w-24 b_r-0 m-0" />
                          <span class="note-info">&nbsp;</span>
                        </a>
                        <div *ngIf="job?.CandidateComments!=''&& job?.CandidateComments!=null" class="dropdown-menu notes-list pull-right" aria-labelledby="dropdownMenu1">
                          <div class="p10-20">
                          {{job?.CandidateComments}}
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ng-container *ngIf="joblist?.Jobs?.length>=5 && joblist?.Jobs?.length != joblist?.TotalCount">
              <div *ngIf="loaddata" class="load-more btn btn-border btn-block" (click)="updateListCount()">
                  Load More
              </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>