
.inteview-schedule-section {
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  background-color: var(--white);
  overflow: hidden;
  margin: 0 10px;
}
/*Commont Tabs
---------------------------------------------------------------------------*/
.nav > li {
  border: 0;
  float: none;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--gray-900);
  text-align: center;
  margin-bottom: -3px;
}

.nav-tabs > li > a {
  padding: 15px 15px 0;
  border: 0;
  margin-right: 0;
}

.nav-tabs > li:last-child > a {
  padding: 15px;
}

.nav-tabs > li> a:hover {
  border: 0
}

.nav-tabs > li.active> a {
  border: 0;
  background-color: transparent;
}

.tab-content {
  padding: 30px;
  background-color: var(--green-100);
  border-right: 1px solid var(--gray-100);
  width: 35%;
}

.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

.custom-checkbox .checkmark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 4px;
  border: 1px solid #a6aab3;
}

.custom-checbox input:checked~.checkmark {
  background-color: #FFF;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #a6aab3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-checkbox.lg-select .checkmark {
  padding-left: 25px;
  font-size: 14px;
  width: auto;
  height: auto;
}


/*Vertical Tab Starts
---------------------------------------------------------------------------*/
.inteview-schedule-section .verticalTab {
  border-radius: 4px;
  border-right: 1px solid var(--gray-100);
  border-bottom: 0;
  box-shadow: 5px 0 15px rgba(158,171,192,0.20);
  width: 95px;
  padding-top: 10px;
  position: relative;
  z-index: 10;
}

.inteview-schedule-section .verticalTab .icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: block;
  margin: 0 auto 5px;
  font-size: 0;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) 0 0 no-repeat var(--green-100);
  background-size: 600px auto;
}

.inteview-schedule-section .verticalTab .icon.icon-week {
  background-position: -15px -16px;
}

.inteview-schedule-section .verticalTab .icon.icon-upcoming {
  background-position: -73px -16px;
}

.inteview-schedule-section .verticalTab .icon.icon-completed {
  background-position: -131px -16px;
}

.inteview-schedule-section .verticalTab .icon.icon-calendar {
  background-position: -189px -16px;
}

.inteview-schedule-section .verticalTab .icon.icon-comment {
  background-position: -247px -16px;
}

.inteview-schedule-section .verticalTab > li.active .icon {
  background-color: var(--green-900);
  position: relative;
  overflow: hidden;
}

.inteview-schedule-section .verticalTab > li.active .icon::before {
  content: "";
  position: absolute;
  right: -16px;
  top: -20px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: var(--green-600);
}

.inteview-schedule-section .verticalTab > li.active .icon.icon-week {
  background-position: -15px -74px;
}

.inteview-schedule-section .verticalTab > li.active .icon.icon-upcoming {
  background-position: -73px -74px;
}

.inteview-schedule-section .verticalTab > li.active .icon.icon-completed {
  background-position: -131px -74px;
}

.inteview-schedule-section .verticalTab > li.active .icon.icon-calendar {
  background-position: -189px -74px;
}

.inteview-schedule-section .verticalTab > li.active .icon.icon-comment {
  background-position: -247px -74px;
}

/*Horizontal Tabs
---------------------------------------------------------------------*/
.horizontalTabs .nav-tabs {
  display: flex;
  border-bottom: 0;
}

.horizontalTabs .nav-tabs > li > a,
.horizontalTabs .nav-tabs > li:last-child > a {
  padding: 10px 16px 15px;
  font-size: 14px;
  background-color: transparent;
  font-weight: 500;
}

.horizontalTabs .nav-tabs > li.active > a {
  background-color: var(--white);
}

.interview-detail-section {
  width: 65%;
  position: relative;
}

.horizontalTabs .tab-content {
  width: 100%;
  background: var(--white);
  border: 0;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  padding: 0;
}

.inteview-schedule-box {
  width: calc(100% - 95px);
}

.interview-detail-section {
  padding: 30px 30px 120px;
}

.interview-detail-section h4 {
  color: var(--gray-blue);
  margin: 0 0 15px;
}

/*Interview Detail Section
---------------------------------------------------------------------*/
.interview-detail-section .inline-listing {
  margin: 0 -10px 20px;
  padding: 0;
  list-style: none;
  display: inline-flex;
}

.interview-detail-section .inline-listing li {
  font-size: 14px;
  padding: 0 10px;
}

.interview-detail-section .inline-listing li:not(:first-child) {
  border-left: 1px solid var(--gray-light-100);
}

.interview-detail-section .grid-table-section .image-container img {
  border-radius: 0;
}

.interview-detail-section .buttons {
  margin: 20px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: right;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #ccc;
}

.grid-table-section .grid-row:not(:first-child) {
  margin-top: 20px;
}

.grid-table-section .grid-row.full-grid-row {
  margin: 20px 0 0;
}

.grid-table-section .grid-row .grid-left-col {
  font-weight: 600;
  position: relative;
}

.grid-table-section .grid-row .grid-left-col::before {
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
}

.grid-table-section .grid-row .grid-left-col.no-left-col::before {
  display: none;
}

/*Listing Grid CSS
---------------------------------------------------------------------*/
.listing-col {
  padding: 20px 20px 20px 70px;
  position: relative;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
}

.listing-col:not(:first-child) {
  border-top-color: var(--gray-light-200);
}

.listing-col.active {
  border-color: var(--green-900);
  /*background-color: var(--green-100);*/
}

.listing-col .top-box-container { margin: 0 0 10px; border-bottom: 1px solid #ccc; padding-bottom: 10px;}

.listing-col .date {
  position: absolute;
  width: 40px;
  text-align: center;
  left: 20px;
  top: 20px;
  background-color: var(--green-900);
  color: var(--white);
  padding: 5px;
  border-radius: 6px;
}

.listing-col .date .month,
.listing-col .date .year {
  font-size: 10px;
  text-transform: uppercase;
  display: block;
}

.listing-col .date .day {
  font-size: 20px;
  font-weight: 600;
  display: block;
  line-height: 1;
  margin: 2px 0;
}

.listing-grid .time {
  font-size: 12px;
  color: var(--green-900);
  display: block;
  margin: 0 0 5px;
  background-color: var(--green-100);
  font-weight: 500;
  border-radius: 5px;
  padding: 1px 5px;
}

.listing-grid h4 {
  font-size: 14px;
  color: var(--gray-blue-400);
  margin: 0 0 10px;
  font-weight: 600;
}

.listing-grid h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--gray-blue-500);
  margin: 5px 0;
  font-weight: 500;
}

.listing-col .fa-hand-o-right:before, .listing-col .fa-university:before {
  display: none;
}

.listing-col .fa-hand-o-right, .listing-col .fa-university  {
  width: 14px;
  height: 12px;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -307px -179px no-repeat;
  background-size: 600px auto;
}

.listing-col .fa-university {
  background-position: -325px -180px;
  width: 13px;
  height: 11px;
}

.listing-grid h6 {
  font-size: 12px;
  color: var(--gray-blue-400);
  margin: 0 0 5px;
  font-weight: 600;
}

.listing-grid .address {
  text-align: right;
  border-top: 1px solid var(--gray-light-200);
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  font-size: 12px;
}

.listing-grid .address::before {
  content: "";
  width: 17px;
  height: 19px;
  display: block;
  margin-right: 5px;
  margin-left: auto;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -62px -135px no-repeat;
  background-size: 600px auto;
}

.btn.btn-zoom {
  font-size: 0;
  border: 0;
  padding: 0;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -15px -135px no-repeat var(--green-900);
  background-size: 600px auto;
  width: 37px;
  height: 34px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.btn.btn-phone {
  font-size: 0;
  border: 0;
  padding: 0;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -15px -94px no-repeat var(--green-900);
  background-size: 600px auto;
  width: 37px;
  height: 34px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.btn.btn-in-person {
  font-size: 0;
  border: 0;
  padding: 0;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -311px -16px no-repeat var(--green-900);
  background-size: 600px auto;
  width: 37px;
  height: 34px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.ml-auto {
  margin-left: auto;
}

.icon-navigation ul {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 0;
  border-radius: 8px;
  border: 1px solid var(--gray-light-200);
}

.icon-navigation li {
  display: inline-block;
  vertical-align: middle;
}

.icon-navigation li:not(:first-child) {
  border-left: 1px solid var(--gray-light-200);
}

.icon-navigation .icon {
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -15px -179px no-repeat;
  background-size: 600px auto;
  display: block;
  width: 49px;
  height: 48px;
}

.icon-navigation .icon.icon-list {
  background-position: -129px -179px;
}

.icon-navigation .icon.icon-document {
  background-position: -188px -179px;
}

.icon-navigation li.active .icon {
  background-color: var(--green-900);
}

.icon-navigation li.active .icon.icon-summary {
  background-position: -15px -237px;
}

.icon-navigation li.active .icon.icon-list {
  background-position: -129px -237px;
}

.icon-navigation li.active .icon.icon-document {
  background-position: -188px -237px;
}

.grid-row.full-grid-row .icon-navigation {
  display: inline-block;
  margin: 10px 0 0;
}

.interview-detail-section .horizontalTabs .tab-content {
  background: var(--green-100);
}

.interview-detail-section .horizontalTabs .nav-tabs > li.active > a {
  background: var(--green-100);
}

.interview-detail-section .tab-content>.active {
  padding: 20px;
}

.history-listing-grid {
  padding-left:  66px;
  position: relative;
}

.history-listing-grid:before {
  content:"";
  position: absolute;
  left: 25px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.history-listing-grid .icon {
  width: 48px;
  height: 48px;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) 0 0 no-repeat var(--white);
  position: absolute;
  background-size: 600px auto;
  left: -65px;
  top: 0;
  text-indent: -999em;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(158,171,192,0.20);
}

.history-listing-grid .icon.icon-01 {
  background-position: -355px -180px;
}

.history-listing-grid .icon.icon-02 {
  background-position: -410px -180px;
}

.history-listing-grid .icon.icon-03 {
  background-position: -466px -180px;
}

.history-listing-grid .icon.icon-04 {
  background-position: -410px -244px;
}

.history-listing-grid .icon.icon-05 {
  background-position: -466px -244px;
}

.history-listing-grid .icon.icon-06 {
  background-position: -355px -304px;
}

.history-listing-grid .icon.icon-07 {
  background-position: -411px -303px;
}

.history-listing-grid h5 {
  font-size: 14px;
  margin: 0 0 5px;
  color: #6e819e;
}

.history-listing-col {
  position: relative;
}

.history-listing-col:not(:first-child) {
  margin: 20px 0 0;
}

.history-listing-grid h6, .history-listing-grid p {
  font-size: 12px;
  color: #90a4ad;
  font-weight: 400;
  margin: 0 0 5px;
}


.history-listing-grid .btn-remove, .history-listing-grid .btn-edit {
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -385px -439px no-repeat;
  background-size:  600px auto;
  width: 9px;
  height: 9px;
  font-size: 0;
  padding: 0;
  position:absolute;
  right: 12px;
  top: 14px;
  border: 0;
  border-radius: 0;
}

.history-listing-grid .btn-edit {
  width: 14px;
  height: 14px;
  background-position: -372px -261px;
  right: 10px;
  top: 10px;
}

.history-listing-grid .summary {
  background-color: var(--gray-light-100);
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0 0;
  font-size: 14px;
  position: relative;
}

.history-listing-grid p:nth-child(2) {
  font-size: 12px;
  color: #2fc495;
}

.history-col-container {
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.history-col-container:hover {
  background-color: var(--green-100);
}

.history-listing-grid .history-col-container:hover .summary {
  background-color: var(--white);
}

.history-col-container:hover * {
  color: var(--gray-blue-400) !important;
}

.history-col-container .summary {
  color: #6e819e !important;
}

.more-detial-info {
  word-wrap: break-word;
}

.listing-document {
  position: relative;
}

.listing-document:before {
  content:"";
  width: 19px;
  height: 15px;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -555px -310px no-repeat;
  background-size: 600px auto;
  position: absolute;
  right: 0;
  top: 12px;
}

.listing-document ul {
  margin: 15px 0 0;
  padding: 15px 0 0;
  list-style: none;
  border-top: 1px solid #ccc;
}

.listing-document li:first-child {
  padding-right: 30px;
}

.history-col-container:hover .listing-document li {
  color: #6e819e !important;
}

.listing-document:before  .listing-document:before  {
  background-position: -556px -287px;
}

.griding-document .row {
  margin: 0 -7px;
}

.griding-document .griding-col {
  margin: 0 0 14px;
  padding: 0 7px;
}

.griding-document .griding-col .col-container {
  background-color: #f6f8ff;
  border-radius: 8px;
  padding: 20px 20px 20px 80px;
  position: relative;
  height: 100%;
}

.griding-document .griding-col .icon {
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -468px -306px no-repeat var(--white);
  background-size: 600px auto;
  position: absolute;
  left: 15px;
  top: 15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 0;
  box-shadow: 0 3px 6px rgba(158,171,192,0.20);
}

.griding-document .griding-col h5 {
  font-size: 16px;
  font-weight: 600;
  color: #6e819e;
  margin: 0 0 5px;
}

.griding-document .griding-col h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #90a4ad;
}

.griding-document .btn-close {
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -526px -247px no-repeat;
  background-color: var(--green-900);
  background-size: 600px auto;
  width: 24px;
  height: 24px !important;
  position: absolute;
  left: 7px;
  top: 11px;
  border-radius: 50%;
  z-index: 10;
  padding: 0;
  font-size: 0;
}

.inteview-schedule-box .search-box-container {
  margin: -30px -30px 20px;
  position: relative;
  padding-right: 68px;
  background-color: #f6f8ff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(158,171,192,0.20);
  height: 48px;
}

.inteview-schedule-box .search-box-container .form-control {
  height: 48px;
  border: 0;
  background: none;
}

.inteview-schedule-box .search-box-container .btn-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background: url(../../../../../assets/images/interview-scheduled-sprites.png) -361px -56px no-repeat;
  background-size: 600px auto;
  font-size: 0;
}

.icon-ul-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon-ul-list li {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.icon-ul-list li .fa {
  margin-right: 5px;
}

.icon-ul-list li:not(:first-child) {
  margin-left: 10px;
}

.interview-detail-section .horizontalTabs .tab-content {
  background-color: var(--white);
}

.interview-detail-section .horizontalTabs .nav-tabs {
  border-bottom: 1px solid var(--gray-100);
}

.interview-detail-section .horizontalTabs .nav-tabs > li.active > a {
  border-radius: 8px 8px 0 0;
}

.inteview-schedule-section .horizontalTabs .tab-content {
  height: 75vh;
  overflow-y: auto;
}

.no-result-found {
  padding: 20px;
  margin: 0;
}

@media only screen and (max-width: 1170px) {
  .tab-content {
    width: 45%;
  }
  .interview-detail-section {
    width: 55%;
  }

  .grid-table-section .grid-row .grid-right-col .btn-border {
    width: 100%;
    margin-bottom: 10px;
  }

  .grid-table-section .grid-row .grid-right-col .btn-filled,
  .griding-document .griding-col {
    width: 100%;
  }

  .griding-document .griding-col h5 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .inteview-schedule-section .verticalTab {
    width: 100%;
    display: flex;
    padding: 7px;
    justify-content: center;
  }

  .inteview-schedule-box {
    width: 100%;
  }

  .tab-content {
    width: 100%;
  }
  .interview-detail-section {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .interview-detail-section .top-title {
    flex-direction: column;
  }
  .icon-navigation {
    margin: 0 !important;
  }
  .icon-navigation ul {
    margin: 5px 0 10px !important;
    display: inline-block;
  }

  .grid-table-section .grid-row .grid-left-col:before {
    display: none;
  }

  .grid-table-section .grid-row .grid-left-col {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .inteview-schedule-section .verticalTab {
    flex-wrap: wrap;
  }

  .inteview-schedule-section {
    margin: 0 -15px;
  }

  .interview-detail-section .buttons {
    position: relative;
  }

  .interview-detail-section {
    padding: 15px;
  }

  .listing-col .date {
    position: relative;
    left: 0;
    top: 0;
    padding: 2px;
    margin-bottom: 5px;
    width: auto;
    display: inline-block;
  }

  .listing-col .date .month, 
  .listing-col .date .year {
    display: inline-block;
  }

  .listing-col {
    padding: 20px;
  }

  .listing-col .date .day {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    padding: 0;
  }

  .listing-col .top-box-container {
    flex-wrap: wrap;
  }

  .tab-content {
    padding: 30px 15px 15px;
  }

  .inteview-schedule-box .search-box-container {
    margin: -30px -15px 20px;
  }

  .listing-grid .time {
    margin-left: 0 !important;
  }
  
  .notification-count {
    font-size: 8px !important;
    position: absolute;
    top: -15px;
    background: #448AFA;
    padding: 4px 5px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    left: 15px;
  }
}