<app-header></app-header>
<div id="main-content">
  <app-find-a-candidate-filter
    [viewLayout] = "viewLayout"
    (layoutView) = "layoutView($event)"
  >
  </app-find-a-candidate-filter>
  <div class="sorting-container d-flex align-items-center">
    <div class="result">
      Showing 1 - 6 out of 170 Jobs
    </div>
    <div class="sorting">
      <!-- <pagination-controls  (pageChange)="listCount($event)" (pageChange)="p = $event"
      previousLabel="" nextLabel="">
      </pagination-controls> -->
    </div>
  </div>

  <ng-container *ngIf="viewLayout == 'grid'">
    <div class="find-a-candidate-grid" [ngClass]="showCardCarousel?'show-card':''">
      <div class="row align-items-start">
        <div class="left-col" [ngClass]="showCardCarousel?'col-md-8 col-lg-8':''">
        <div class="row">

          <div class="col-md-3 col-lg-3 find-col" *ngFor="let candidate of candidates;let k = index" (click)="showCardCarouselHandler(candidate)">
            <app-find-a-candidate-grid [candidate]="candidate"></app-find-a-candidate-grid>
          </div>
        
        </div>
        </div>
        <div class="col-md-4 col-lg-4 right-col" *ngIf="showCardCarousel">
        <div class="card-actions d-flex align-items-end justify-content-end">
          <button class="btn close-btn" (click)="showCardCarouselHideHandler()">
            <span class="mdi mdi-close-circle-outline"></span>
          </button>
        </div>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <app-find-a-candidate-card [CandidateDetails]="CandidateDetails"></app-find-a-candidate-card>
          </ng-template>
        
        </owl-carousel-o>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="viewLayout == 'table'">
    <div class="table-box-container">
      <div class="find-listing-table">
        <div class="table-row table-row-heading">
          <div class="table-col name-col">
            Name
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="table-col position-col">
            Job Title
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="table-col email-col">
            Email
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="table-col number-col">
            Contact Number
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="table-col location-col">
            Current Location
            <span class="mdi mdi-chevron-down"></span>
          </div>
        </div>
       <ng-container *ngFor="let tcandidate of candidates;let j = index">
        <app-find-a-candidate-table [tcandidate]="tcandidate"></app-find-a-candidate-table>
       </ng-container>
    

      </div>
    </div>
  </ng-container>
</div>

<app-footer></app-footer>