@import '../../../../assets/partials/utils/variables';
@import '../../../../assets/partials/utils/mixins';

.form-container {
  width: 100%;
  margin: 40px auto 30px;

  @media only screen and  (min-width: 991px) {
    width: 800px;
  }
}

.checkbox-list {
  ul {
    li {
      label {
        input[type=checkbox] {
          + .checkmark {
            border: 0;
            box-shadow: none;
            padding-right: 0;
          }

          &:checked {
            + .checkmark {
              background: none;
              border: 0;
              color: $dark-gray;

              &:before {
                background-color: $dark-green;
                border-color: $dark-green;
                @include shadowOne();
              }

              &:after {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
 .inline-navigation  {
  margin-bottom: 10px;
}

.inline-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.inline-navigation li {
  display: inline-block;
}

.inline-navigation .btn-link {
  color: #6e819e;
  text-transform: uppercase;
  padding: 0;
  text-decoration: underline;
}
.chip {
  display: inline-block;
  padding: 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 16px;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
}

.checkbox-list.share-profile-email-list {
  margin-top: 5px;
  margin-bottom: 5px;
  ul {
    li {
      background: #ccc;
      padding: 4px;
      border-radius: 5px;
      label {
        .mdi{
          &.mdi-close-thick {
            position: unset;
            transform: unset;
            line-height: unset;
            font-size: unset;
          }
        }
      }
    }
  }
}
