<div class="col-md-6">
    <section class="applications">
        <h1>Recent Applications</h1>
        <div class="card" *ngFor="let recentapplicants of recentapplicantlist; let i=index">

            <div class="left">
                <div class="header">
                    <img *ngIf="recentapplicants?.IsConfirmed != null" src="{{recentapplicants.ProfilePic}}" class="ui-pic" title="{{recentapplicants.FirstName}}{{recentapplicants.LastName}}" alt="User Pic" width="50" height="50">
                    <img class="ui-pic" *ngIf="recentapplicants?.IsConfirmed == null" src="https://ui-avatars.com/api/?name={{recentapplicants.FirstName}}+{{recentapplicants.LastName}}" alt="User Pic" width="50" height="50">
                    <div>
                        <h2 *ngIf="(recentapplicants?.ResponseStatusId <= 4 || recentapplicants?.ResponseStatusId == 8) && recentapplicants?.ResponseStatusId > 0 && recentapplicants?.UserId > 0 && recentapplicants?.IsConfirmed == null   ; else firstelseBlock">
                            {{recentapplicants?.FirstName.charAt(0)}}<img height="16" src="../../../../assets/images/c_name_hide.png">{{recentapplicants?.LastName.charAt(0)}}<img height="16" src="../../../../assets/images/c_name_hide.png"> </h2>

                        <ng-template #firstelseBlock>
                            <h2 (click)="GetRedirect(recentapplicants.JobId,recentapplicants.ProfileId)">{{recentapplicants?.FirstName | slice:0:12}} {{recentapplicants?.LastName | slice:0:12}}</h2>
                        </ng-template>
                        <div class="status">
                            <img src="../../../../assets/images/bg-check.svg" title="Background Checked" alt="Background Checked">
                            <img src="../../../../assets/images/verified.svg" title="Verified" alt="Verified">
                        </div>
                        <!-- .status -->
                        <div class="meta">
                            <span class="job-title" title="{{recentapplicants?.JobTitle}}">{{recentapplicants?.JobTitle | slice:0:20}}</span>
                            <span class="v-divider"></span>
                            <span>
                                <svg x="0px" y="0px" width="16px" height="19.1px" viewBox="0 0 16 19.1" xml:space="preserve" style="fill:#9EABC0;">
                                <path d="M8,19.1c-0.2,0-0.4-0.1-0.6-0.2C7.1,18.7,0,13.9,0,8c0-4.4,3.6-8,8-8s8,3.6,8,8c0,5.9-7.1,10.7-7.4,10.9
                              C8.4,19.1,8.2,19.1,8,19.1z M8,2C4.7,2,2,4.7,2,8c0,4,4.4,7.7,6,8.9c1.6-1.2,6-4.9,6-8.9C14,4.7,11.3,2,8,2z"></path>
                                <path d="M8,11.3c-1.8,0-3.3-1.5-3.3-3.3S6.2,4.7,8,4.7s3.3,1.5,3.3,3.3S9.8,11.3,8,11.3z M8,6.7C7.3,6.7,6.7,7.3,6.7,8
                              S7.3,9.3,8,9.3c0.7,0,1.3-0.6,1.3-1.3S8.7,6.7,8,6.7z"></path>
                          </svg>
                          {{recentapplicants?.JobLocations}}
                            </span>
                        </div>
                        <!-- .meta -->
                    </div>
                </div>
                <!-- .header -->
                <div class="candidate-info">
                    <div class="ui-badge ui-badge--domain" *ngIf="recentapplicants.CertificationName!=null;else nocertification" title="{{recentapplicants.CertificationName}}">{{add3Dots(recentapplicants.CertificationName.split('|')[0],10)}}</div>
                    <ng-template #nocertification>
                        <div class="ui-badge ui-badge--domain no-certification"><img src="../../../../assets/images/certificate.svg" width="30" height="25"> Yet to Gain!</div>
                    </ng-template>
                    <div class="ui-badge ui-badge--industry" *ngIf="recentapplicants.DomainName!=null;else nodomain" title="{{recentapplicants.DomainName}}">{{add3Dots(recentapplicants.DomainName.split('|')[0],20)}}</div>
                    <ng-template #nodomain>
                        <div class="ui-badge ui-badge--industry no-domain">Explore Profile For Domain!</div>
                    </ng-template>
                    <div class="stats">
                        <div>
                            <h1>{{recentapplicants.MatchingPercentage}}</h1>
                            <span>Matching %</span>
                            <!-- <br>
                          <span *ngIf="recentapplicants.MatchingPercentage==0">Oops!!Expolre Profile</span> -->
                        </div>
                    </div>
                    <!-- .stats -->
                </div>
                <!-- .candidate-info -->
                <img src="../../../../assets/images/I-Disc.svg" class="visible-md visible-sm visible-xs" alt="DISC Feature Coming Soon!!!" title="DISC Feature Coming Soon!!!">
            </div>
            <!-- .left -->
            <div class="v-divider"></div>
            <div class="right">
                <img src="../../../../assets/images/I-Disc.svg" alt="DISC Feature Coming Soon!!!" title="DISC Feature Coming Soon!!!">
            </div>
            <!-- .right -->
        </div>
        <ng-container *ngIf="recentapplicantlist?.length==0">                                                               
            <div class="card text-center d-block1">
                <h5 class="p-4">No Applicants!</h5>
            </div>
    </ng-container>
        <!-- .card -->

    </section>
</div>