<h1>Manage Jobs</h1>
<app-manage-job-filters (newItemEvent)="addItem($event)"
  [viewLayout] = "viewLayout"    [Jobs]="Jobs"   
  (changed)="onChange($event)"  (clearItemEvent)="clearAll($event)"
  (layoutView) = "layoutView($event)"
>
</app-manage-job-filters>

<div class="sorting-container d-flex align-items-center">
  <div class="result">
    Showing  {{start==null?1:start }} - {{last==null?6:last}}  out of {{Jobs.length}}  Jobs
  </div>
  <div class="sorting">
    <pagination-controls  (pageChange)="listCount($event)" (pageChange)="p = $event"
    previousLabel="" nextLabel="">
    </pagination-controls>
</div>
</div>
<ng-container *ngIf="viewLayout == 'grid'">
  <div class="manage-listing-grid">
    <div class="row">
      <div class="col-md-4 col-lg-4 job-card" *ngFor="let job of Jobs   | filter: filterTerm | paginate: { itemsPerPage: 6, currentPage: p }; let i=index">
        <app-manage-jobcard 
          [job]="job" 
          [panelShow]="panelShow"
          (panelHandler)="panelHandler($event)"
        >
        </app-manage-jobcard>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="viewLayout == 'table'">
  <div class="manage-listing-table">
    <div class="table-row table-row-heading">
      <div class="table-col name-col">
        Job Title
      </div>
      <div class="table-col company-col">
        Client Name
      </div>
      <div class="table-col id-col">
        Arytic ID
      </div>
      <div class="table-col owner-col">
        Job Owner
      </div>
      <div class="table-col assign-col">
        Job Assignee
      </div>
      <div class="table-col date-posted-col">
        Date posted
      </div>
      <div class="table-col priority-col">
        Priority
      </div>
      <div class="table-col location-col">
        Current Location
      </div>
      <div class="table-col others-col">
        Others
      </div>
    </div>
    <div class="table-row" *ngFor="let ljob of Jobs  | filter: filterTerm | paginate: { itemsPerPage: 6, currentPage: p }; let i=index">
      <app-manage-job-list 
        [ljob]="ljob"
        [panelShow]="panelShow"
        (panelHandler)="panelHandler($event)"
        >
      </app-manage-job-list>
    </div>
  
  </div>
</ng-container>

<!--{{ panelShow}} -->

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow == 'view-edit-job' ? 'show':''"
  [panelTitle]="'Change Applicant Status'"
  (panelCloseHandler) ="panelCloseHandler()"
  >
<app-sidepanel-cards></app-sidepanel-cards>
  <app-schedule-interview></app-schedule-interview>

</app-slidepanel>
<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='job-status'?'show':''"
  (panelCloseHandler) ="panelCloseHandler()"
>
  <div class="slide-static-section">
    <div class="slide-heding d-flex align-items-center">
      <h3>Change Job Status</h3>
    </div>
    <app-sidepanel-cards
      [jobCard] = "false"
    ></app-sidepanel-cards>
    <div class="form-actions">
      <button class="btn btn-outlined-default">Clear</button>
      <button class="btn btn-info">Save</button>
    </div>
  </div>
  <div class="slide-container">
    <app-job-status></app-job-status>
  </div>
</app-slidepanel>

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='job-share'?'show':''"
  [panelTitle]="'Job Share'"
  (panelCloseHandler) ="panelCloseHandler()"
>
</app-slidepanel>

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='upload-resume'?'show':''"
  [panelTitle]="'Upload Resume'"
  (panelCloseHandler) ="panelCloseHandler()"
>
</app-slidepanel>

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='notes'?'show':''"
  [panelTitle]="'Job Notes'"
  (panelCloseHandler) ="panelCloseHandler()"
>
  <div class="slide-static-section">
    <div class="slide-heding d-flex align-items-center">
      <h3>Job Notes</h3>
    </div>
    <app-sidepanel-cards></app-sidepanel-cards>
    <div class="form-actions">
      <ng-container *ngIf="showJobForm == 'false'">
        <button class="btn btn-info" (click)="showJobFormHandler()">Add Job Notes</button>
      </ng-container>
      <ng-container *ngIf="showJobForm == 'true'">
        <button class="btn btn-outlined-default" (click)="showJobFormHideHandler()">Clear</button>
        <button class="btn btn-info">Save</button>
      </ng-container>
    </div>
  </div>
  <div class="slide-container">
    <app-job-notes [showJobForm]="showJobForm"></app-job-notes>
  </div>  
</app-slidepanel>
<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='documents'?'show':''"
  (panelCloseHandler) ="panelCloseHandler()"
>
  <div class="slide-heding d-flex align-items-center">
    <h3>Job Documents</h3>
  </div>
  <app-sidepanel-cards
    [jobCard] = "false"
  ></app-sidepanel-cards>
  <div class="form-actions">
    <button class="btn btn-info">Add Job Documents</button>
  </div>
  <app-job-documents></app-job-documents>
</app-slidepanel>
