


<mat-dialog-content class="mat-typography">
  <div class="modal-header">
    <button mat-button mat-dialog-close class="close">×</button>
  </div>
  <div class="group review-group">
    <ul class="reviews">
      <li class="unread">
        <a class="message-content" href="#">
          <div class="img-wrapper">
            <img src="../../../../../../assets/images/ui-face-1.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-header">
              <div>
                <h5>Scott Warner <span>(50)</span></h5>
              </div>
              <div class="time">Today, 10:25pm</div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam non unibh euismod tincidunt ut
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="message-content" href="#">
          <div class="img-wrapper">
            <img src="../../../../../../assets/images/ui-face-2.png" alt="">
          </div>
          <div class="review-content">
            <div class="review-header">
              <div>
                <h5>Scott Warner <span>(21)</span></h5>
              </div>
              <div class="time">Apr 25, 10:30 am</div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam non unibh euismod tincidunt ut
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</mat-dialog-content>





