<div class="dashboard-top-jobs">
  <div class="row">
    <div class="col-md-8 col-lg-8 left-col">
      <div class="col-container">
        <div class="top-section">
          <h4>Top Performing Jobs</h4>
          <div class="form-group">
            <span class="mdi mdi-swap-vertical"></span>
            <select class="form-select" #mSelect
            (change)='GetCustomerTopJobs(mSelect.value)'>
              <option default [value]="0">Sorting</option>
              <option default [value]="1">Total Applicants</option>
              <option default [value]="2">Interviews</option>
              <option default [value]="3">Job Views</option>
            </select>
          </div>
        </div>
        <div class="table-section-box">
          <div class="table-section">
            <ng-container *ngFor="let job of topJobs;let i = index">
                
          
            <div class="row" *ngIf="i<5">
              <div class="col-md-3 col-lg-3 col name-col">
               {{job?.JobTitle}}
              </div>
              <div class="col-md-3 col-lg-3 col status-col">
                <span class="stauts">{{job?.JobStatus}} for {{job?.days}} Days</span>
              </div>
              <div class="col-md-3 col-lg-3 col company-col">
                <span class="mdi mdi-briefcase-outline"></span>
                {{job?.ClientName}}
              </div>
              <div class="col-md-3 col-lg-3 col location-col">
                <span class="mdi mdi-map-marker-outline"></span>
                {{job?.JobLocations}}
              </div>
            </div>
          </ng-container>
            <!-- <div class="row">
              <div class="col-md-3 col-lg-3 col name-col">
                Software Engineer
              </div>
              <div class="col-md-3 col-lg-3 col status-col">
                <span class="stauts">Active for 5 Days</span>
              </div>
              <div class="col-md-3 col-lg-3 col company-col">
                <span class="mdi mdi-briefcase-outline"></span>
                Google
              </div>
              <div class="col-md-3 col-lg-3 col location-col">
                <span class="mdi mdi-map-marker-outline"></span>
                Austin, Texas
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-lg-3 col name-col">
                Software Engineer
              </div>
              <div class="col-md-3 col-lg-3 col status-col">
                <span class="stauts">Active for 5 Days</span>
              </div>
              <div class="col-md-3 col-lg-3 col company-col">
                <span class="mdi mdi-briefcase-outline"></span>
                Google
              </div>
              <div class="col-md-3 col-lg-3 col location-col">
                <span class="mdi mdi-map-marker-outline"></span>
                Austin, Texas
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-lg-3 col name-col">
                Software Engineer
              </div>
              <div class="col-md-3 col-lg-3 col status-col">
                <span class="stauts">Active for 5 Days</span>
              </div>
              <div class="col-md-3 col-lg-3 col company-col">
                <span class="mdi mdi-briefcase-outline"></span>
                Google
              </div>
              <div class="col-md-3 col-lg-3 col location-col">
                <span class="mdi mdi-map-marker-outline"></span>
                Austin, Texas
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-lg-3 col name-col">
                Software Engineer
              </div>
              <div class="col-md-3 col-lg-3 col status-col">
                <span class="stauts">Active for 5 Days</span>
              </div>
              <div class="col-md-3 col-lg-3 col company-col">
                <span class="mdi mdi-briefcase-outline"></span>
                Google
              </div>
              <div class="col-md-3 col-lg-3 col location-col">
                <span class="mdi mdi-map-marker-outline"></span>
                Austin, Texas
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 right-col">
      <div class="col-container">
        <h4>Recent Jobs</h4>
        <ul>
          <ng-container *ngFor="let ijob of Jobs ;let j = index">
          <li *ngIf="j<5" [ngClass]="{'active' : ijob.NumberOfVacancies > 1 , ' ' : ijob.NumberOfVacancies < 2 }">
            {{ijob?.JobTitle || 'N/A'}}
            <span class="number">{{ijob?.NumberOfVacancies || 0}}</span>
          </li>
          <!-- <li class="active">
            Job Title Name
            <span class="number">9</span>
          </li> -->
          </ng-container>
          <!-- <li>
            Job Title Name
            <span class="number">8</span>
          </li>
          <li>
            Job Title Name
            <span class="number">7</span>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>