<app-Logoheader></app-Logoheader>
<main class="page page-customer-dashboard">
  <div class="container">
    <div class="title-container">
      <h3>Dashboard</h3>
    </div>
    <div class="row top-chart-row flex flex-wrap flex-align-equal">
      <div class="col-sm-3 col col-1">
        <div class="col-container">
          <h3>
            26k
            <span>(-12.4% <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>Jobs Listed</h4>
          <canvas class="chart" id="card-chart1" height="70"></canvas>
        </div>
      </div>
      <div class="col-sm-3 col col-2">
        <div class="col-container">
          <h3>
            $6200
            <span>(-40.9% <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>Jobs Closed</h4>
          <canvas class="chart" id="card-chart2" height="70"></canvas>
        </div>
      </div>
      <div class="col-sm-3 col col-3">
        <div class="col-container">
          <h3>
            2.49
            <span>(84.7% <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>Jobs Frozen </h4>
          <canvas class="chart" id="card-chart3" height="70"></canvas>
        </div>
      </div>
      <div class="col-sm-3 col col-4">
        <div class="col-container">
          <h3>
            44k
            <span>(-23.6 <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>Active Jobs</h4>
          <canvas class="chart" id="card-chart4" height="70"></canvas>
        </div>
      </div>

      <div class="col-sm-3 col col-5">
        <div class="col-container">
          <h3>
            26k
            <span>(-12.4% <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>Jobs Views</h4>
          <canvas class="chart" id="card-chart5" height="70"></canvas>
        </div>
      </div>
      <div class="col-sm-3 col col-6">
        <div class="col-container">
          <h3>
            $26k
            <span>(-12.4% <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>Jobs Brought Froward</h4>
          <canvas class="chart" id="card-chart6" height="70"></canvas>
        </div>
      </div>
      <div class="col-sm-3 col col-7">
        <div class="col-container">
          <h3>
            26k
            <span>(-12.4% <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>New Jobs</h4>
          <canvas class="chart" id="card-chart7" height="70"></canvas>
        </div>
      </div>
      <div class="col-sm-3 col col-8">
        <div class="col-container">
          <h3>
            44k
            <span>(-23.6 <i class="fa fa-arrow-down" aria-hidden="true"></i>)</span>
          </h3>
          <h4>Jobs Share</h4>
          <canvas class="chart" id="card-chart8" height="70"></canvas>
        </div>
      </div>
    </div>
    <div class="row middle-chart-row flex flex-wrap flex-align-equal">
      <div class="col-sm-6 col col-1">
        <div class="col-container">
          <canvas id="mixed-chart" width="800" height="450"></canvas>
          <div class="summary-box">
            <h4>Shortlisted Jobs</h4>
            <h5>55% increase in No of Jobs Vs Time</h5>
            <h6>Updated 4 minutes ago</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col col-2">
        <div class="col-container">
          <canvas id="mixed-chart-01" width="800" height="450"></canvas>
          <div class="summary-box">
            <h4>Screening Jobs</h4>
            <h5>70% increase in No of Jobs Vs Time</h5>
            <h6>Updated 4 minutes ago</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col col-2">
        <div class="col-container">
          <canvas id="mixed-chart-02" width="800" height="450"></canvas>
          <div class="summary-box">
            <h4>Interviewing Jobs</h4>
            <h5>65% increase in No of Jobs Vs Time</h5>
            <h6>Updated 4 minutes ago</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col col-2">
        <div class="col-container">
          <canvas id="mixed-chart-03" width="800" height="450"></canvas>
          <div class="summary-box">
            <h4>Hired Jobs</h4>
            <h5>85% increase in No of Jobs Vs Time</h5>
            <h6>Updated 4 minutes ago</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row bottom-social-row flex flex-wrap flex-align-equal">
      
      <div class="col-sm-6 col-lg-4">
        <div class="card mb-4" style="--cui-card-cap-bg: #3b5998">
          <div class="card-header position-relative flex flex-align-center">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <div class="chart-wrapper position-absolute top-0 start-0 w-100 h-100">
              <canvas id="social-box-chart-1" height="90"></canvas>
            </div>
          </div>
          <div class="card-body flex row text-center">
            <div class="col">
              <div class="fs-5 fw-semibold">89k</div>
              <div class="text-uppercase text-medium-emphasis small">friends</div>
            </div>
            <div class="vr"></div>
            <div class="col">
              <div class="fs-5 fw-semibold">459</div>
              <div class="text-uppercase text-medium-emphasis small">feeds</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card mb-4" style="--cui-card-cap-bg: #00aced">
          <div class="card-header position-relative flex flex-align-center">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <div class="chart-wrapper position-absolute top-0 start-0 w-100 h-100">
              <canvas id="social-box-chart-2" height="90"></canvas>
            </div>
          </div>
          <div class="card-body flex row text-center">
            <div class="col">
              <div class="fs-5 fw-semibold">973k</div>
              <div class="text-uppercase text-medium-emphasis small">followers</div>
            </div>
            <div class="vr"></div>
            <div class="col">
              <div class="fs-5 fw-semibold">1.792</div>
              <div class="text-uppercase text-medium-emphasis small">tweets</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card mb-4" style="--cui-card-cap-bg: #4875b4">
          <div class="card-header position-relative flex flex-align-center">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <div class="chart-wrapper position-absolute top-0 start-0 w-100 h-100">
              <canvas id="social-box-chart-3" height="90"></canvas>
            </div>
          </div>
          <div class="card-body flex row text-center">
            <div class="col">
              <div class="fs-5 fw-semibold">500+</div>
              <div class="text-uppercase text-medium-emphasis small">contacts</div>
            </div>
            <div class="vr"></div>
            <div class="col">
              <div class="fs-5 fw-semibold">292</div>
              <div class="text-uppercase text-medium-emphasis small">feeds</div>
            </div>
          </div>
        </div>
      </div>
 
    </div>
  </div>
</main>