@import './../../../../../assets/partials/utils/variables';
@import './../../../../../assets/partials/utils/mixins';

.pills-navigation {
	border: 1px solid $stroke-gray;
	border-radius: 4px;
	background-color: $lightest-blue; 
	padding: 20px 30px;
	margin: 0 0 30px;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	@include flex-direction(column);

	h4 {
		font-size: $font-size-16;
		text-transform: uppercase;
		margin: 0;
		font-weight: 700;
		color: $dark-gray;
	}

	.close-btn {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flex();
		position: absolute;
		width: 180px;
		border-radius: 6px;
		overflow: hidden;

		li {
			width: 180px;
			overflow: hidden;
			white-space: nowrap;

			a {
				font-size: $font-size-16;
				display: block;
				border: 1px solid $stroke-gray;
				border-right: 0;
				padding: 6px 40px 6px 12px;
				color: $dark-gray;
				text-decoration: none;

				.mdi {
					margin-right: 4px;
					font-size: $font-size-14;
				}

				@media only screen and (min-width: 1280px) {
					font-size: $font-size-14;
					padding: 6px 12px;
				}
			}

			&.active {
				a {
					background-color: $blue;
					color: $white;
				}
			}

			&:first-child {
				border-radius: 0;
				@media only screen and (min-width: 1280px) {
					a {
						border-radius: 32px 0 0 32px;
					}
				}
			}

			&:last-child {
				border-radius: 0;
				
				@media only screen and (min-width: 1280px) {
					a {
						border-radius: 0 32px 32px 0;
						border-right: 1px solid $stroke-gray;
					}
				}
			}
		
			
		}

		&.other-hide {
			li {
				display: none;

				&:first-child {
					display: block;
				}

				@media only screen and (min-width: 1280px) {
					display: block;

					li {
						&:first-child {
							a {
								border-radius: 32px 0 0 32px;
							}
						}
						&:last-child {
							a {
								border-radius: 0 32px 32px 0;
							}
						}
					}
				}
			}
		}

		&.other-show {
			@include flex-direction(column);
			background: $white;
			position: relative;
			z-index: 100;
			border: 1px solid $stroke-gray;
			border-radius: 8px;

			li {
				a {
					border: 0;
					border-radius: 0 !important;
				}
			}
		
		}

		@media only screen and (min-width: 768px) {
			width: 240px;

			li {
				width: 240px;
			}
		}

		@media only screen and (min-width: 1280px) {
			li {
				width: auto;
				white-space: normal;
				overflow: inherit;
			}
		}

		@media only screen and (min-width: 1280px) {
			position: relative;
			width: auto;
			border-radius: 0;
		}
	}

	@media only screen and (min-width: 768px) {
		@include flex-direction(row);
	}
}

.btn-toogle {
	padding: 0;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 100;
	display: block;
	color: #fff;

	&:focus {
		outline: none;
		border: 0;
	}

	@media only screen and (min-width: 1280px) {
		display: none;
	}
}

.dropdown-list {
	position: relative;
	width: 180px;
	height: 36px;

	@media only screen and (min-width: 768px) {
		width: 240px;
	}

	@media only screen and (min-width: 1280px) {
		width: auto;
		height: auto;
	}
}