<div class="pills-navigation">
  <button  class="close-btn" (click)="this.quickHideHandler.emit()">
    <span class="mdi mdi-close-circle-outline"></span>
  </button>
  <h4>Job Status</h4>
  <ul>
    <li class="active"><a href="#"><span class="mdi mdi-check"></span>All Jobs</a></li>
    <li><a href="#">Inactive Jobs</a></li>
    <li><a href="#">Filled Jobs</a></li>
    <li><a href="#">Shortlisted Jobs</a></li>
    <li><a href="#">Shortlisted Jobs</a></li>
    <li><a href="#">Interviewing Jobs</a></li>
    <li><a href="#">Active Jobs</a></li>
  </ul>
  <button class="btn btn-outlined-default btn-sm">Clear</button> 
</div>