  <div class="container">
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav site-nav--item">
          <a routerLink="/app-dashboardview" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="site-nav site-nav--item">
          <a href="schedule-interview.html">Schedule Interview</a>
        </li>
        <li class="site-nav site-nav--item">
          <a routerLink="/app-companyprofile" routerLinkActive="active">Company Profile</a>
        </li>     
        <li class="site-nav site-nav--item">
        <a routerLink="/app-postajob" routerLinkActive="active">Post a job</a>
        </li>
        <li class="site-nav site-nav--item">
          <a routerLink="/app-manage-jobs" routerLinkActive="active">Manage Jobs</a>
        </li>
        <li class="site-nav site-nav--item">
          <a routerLink="/app-view-jobdetails" routerLinkActive="active">Job Details</a>
        </li>
        <li class="site-nav site-nav--item">
          <a href="job-details-applied.html">Job Details - Applied Tab</a>
        </li>
        <li class="site-nav site-nav--item">
          <a routerLink="/app-notifications" routerLinkActive="active">Notifications</a>
        </li>
        <li class="site-nav site-nav--item"  >
          <a routerLink="/app-accountsettings" routerLinkActive="active">Account Settings</a>
        </li>
      </ul>
    </nav>
  </div>


