<div class="login_bg overlay">
	<div class="container align-middle">
	  <div class="row">
		<div class="span12">
		  <form [formGroup]="loginform" (ngSubmit)="login()">
			<header>Login </header>
			<label>Username
			  <span>*</span>:</label>
			<div class="form-group form-control-login">
			  <input type="text" placeholder="User name" name="User name" [formControl]="loginform.controls['UserName']">
			  <!-- <app-error-messages [control]="loginform.controls.UserName"></app-error-messages> -->
			</div>
			<label>Password
			  <span>*</span>:</label>
			<div class="form-group form-control-login">
			  <input placeholder="Password" id="password" name="password" class="form-control input-field" type="password" [formControl]="loginform.controls['Password']">
			  <span class="glyphicon glyphicon-eye-open"></span>
			  <!-- <app-error-messages [control]="loginform.controls.Password"></app-error-messages> -->
			</div>
			<!-- <div class="form-control-login">
			  <input type="checkbox" (click)="password()">Show My Password
			</div> -->
			<br>
			<button type="submit" id="login-button" class="btn green-btn">Login</button>
		  </form>
		</div>
	  </div>
	</div>

  </div>