<div class="login_bg overlay">
	<div class="container align-middle">
	  <div class="row">
			<div class="col-md-6 logo-caption-section">
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix hidden-xs">&nbsp;</div>
				<div class="clearfix hidden-xs">&nbsp;</div>
				<div class="clearfix hidden-xs">&nbsp;</div>
				<!-- <img alt="Tenendus" src="/assets/images/Tenendus-Logo-1.png" title="Tenendus"> -->
				<img alt="Tenendus" src="/assets/images/arytic-logo.png" title="Arytic">
				<h3>End your explore for the perfect employee through us.</h3>
			</div>
		
		<div class="span12">
		  <form [formGroup]="loginform" (ngSubmit)="login()">
			<header>Login </header>
			<alert></alert>
			<label>Username
			  <span>*</span>:</label>
			<div class="form-group form-control-login">
			  <input type="text" placeholder="User name" name="User name" [formControl]="loginform.controls['UserName']" (keypress)="MissClear()"
				(keyup)="MissClear()">
			  <!-- <app-error-messages [control]="loginform.controls.UserName"></app-error-messages> -->
			</div>
			<label>Password
			  <span>*</span>:</label>
			<div class="form-group form-control-login">
			  <input placeholder="Password" id="password" name="password" class="form-control input-field" type="password" [formControl]="loginform.controls['Password']">
			  <span class="glyphicon glyphicon-eye-open"></span>
			  <!-- <app-error-messages [control]="loginform.controls.Password"></app-error-messages> -->
			</div>
			<!-- <div class="form-control-login">
			  <input type="checkbox" (click)="password()">Show My Password
			</div> -->
			<br>
			<button type="submit" id="login-button" class="btn green-btn pull-right">Login</button>
			</form>
		</div>
		</div>

	</div>
  </div>