<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="card message">
    <h1> <i class="fa fa-info-circle"> </i> Welcome to the future of hiring process.</h1>
    <p>
      <i class="fa fa-hand-o-right"> </i> Find a talent with the best personality attributes that exactly fits. </p> 
      <p>
       <span> <i class="fa fa-star"> </i> Job requirement </span> 
      </p>
     <p>
     <span>  <i class="fa fa-star"> </i> Company culture </span> 
     </p>


    


    <span><a (click)="exploremore()">Click here</a> to explore the complete features that arytic can offer you.</span>
  </div>
</div>