<div class="pills-navigation">
  <button  class="close-btn" (click)="this.quickHideHandler.emit()">
    <span class="mdi mdi-close-circle-outline"></span>
  </button>
  <h4>Applicant Status</h4>
  <div class="dropdown-list">
    <ul [ngClass]="otherOption?'other-show':'other-hide'">
      <li *ngFor="let item of items; let i = index" 
      [ngClass]="{'active': selectedItem === i}"
      [value]="item.ReferralStatus" 
      (click)='selectedItem = i;changeStatus(item.ReferralStatus)'>
        <a href="javascript:void(0)">
          <span class="mdi mdi-check" *ngIf="selectedItem === i"></span>
          {{item.ReferralStatus}}
        </a>
      </li>
    </ul>
    <button class="btn btn-toogle" (click)="dropHandler()">
      <span class="mdi mdi-chevron-down"></span>
    </button>
  </div>
  <button class="btn btn-outlined-default btn-sm" (click)="clear('All')">Clear</button> 
</div>