<div class="">
    <h3 mat-dialog-title class="modal-title">Invite profiles</h3>
    <p>
        invite more candidates for the current position
    </p>
  </div>
  <div class="mat-typography">
    <!--Tab View-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card manage-uploads clearfix">
 
      <div class="tab-content">
        <div id="sendEmail" class="tab-pane fade active in  w-50">
          <div class="clearfix">&nbsp;</div>
         
          <form action="">
            
            <div class="input-group">
                <div>
                  <input class="form-control" id="Email" name="benefits" placeholder="Email" type="text">
                </div>
                <span class="input-group-btn">
                    <button class="btn">Submit</button>
                  </span>
              </div>
          
         
          </form>
          <div class="clearfix">&nbsp;</div>
          <div>
              <h5>April 01, 2019</h5>
                <ul class="notification-list">
                  <li>
                    <img src="../../../../../../assets/images/ui-face-2.png" alt="">
                    <p>
                      <b>lisa</b> sent to
                      <a href="#">xyz@xyz.com</a>
                    </p>
                    <div class="time">2:30pm</div>
                  </li>
                  <li>
                    <img src="../../../../../../assets/images/ui-face-2.png" alt="">
                    <p>
                        <b>lisa</b> sent to
                        <a href="#">xyz@xyz.com</a>
                    </p>
                    <div class="time">2:30pm</div>
                  </li>
                  <li>
                    <img src="../../../../../../assets/images/ui-face-2.png" alt="">
                    <p>
                        <b>lisa</b> sent to
                        <a href="#">xyz@xyz.com</a>
                    </p>
                    <div class="time">2:30pm</div>
                  </li>
                </ul>
              </div>
          
  
        </div>
  
     
      </div>
      <!-- .tab-content -->
    </div>
   
    <!-- .card.statistics -->
  </div>
  <!--Tab View End-->
  </div>
