<div class="stats stats--column">
    <div>
      <h1>{{applicantStatistics?.Applicants}}</h1>
      <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
        <circle fill="#ac9af9" cx="5.7" cy="5.7" r="5.7"></circle>
      </svg>
      <span>APPLICANTS</span>
    </div>
    <div>
      <h1>{{applicantStatistics?.ShortListed}}</h1>
      <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
        <circle fill="#84DECB" cx="5.7" cy="5.7" r="5.7"></circle>
      </svg>
      <span>SHORTLISTED</span>
    </div>
    <div>
      <h1>{{applicantStatistics?.Interviewed}}</h1>
      <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
        <circle fill="#A7D975" cx="5.7" cy="5.7" r="5.7"></circle>
      </svg>
      <span>INTERVIEWED</span>
    </div>
    <div>
        <h1>{{applicantStatistics?.Hired}}</h1>
        <svg width="11.3px" height="11.3px" viewBox="0 0 11.3 11.3">
          <circle fill="#A7D975" cx="5.7" cy="5.7" r="5.7"></circle>
        </svg>
        <span>HIRED</span>
      </div>
  </div>