
<div class="sticky-navigation">
	<ul>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-share-all-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<span class="mdi mdi-folder-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-note-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-note-edit-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-delete-outline"></span>
			</a>
		</li>
    <li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Communication"  (click)="panelClick('communication')">
				<span class="mdi mdi-forum-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Job Review"  (click)="panelClick('job-review')">
				<span class="mdi mdi-thumb-up-outline"></span>
			</a>
		</li>
	</ul>
</div>
<div class="col-container">
  <div class="top-container">
    <span class="status active">
      {{profile?.JobStatus  | titlecase}}
      <span class="mdi mdi-information-outline"></span>
    </span>
    <div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				<span class="mdi mdi-dots-horizontal"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Action - 1</button>
				<button ngbDropdownItem>Action - 2</button>
				<button ngbDropdownItem>Action - 3</button>
			</div>
		</div>
    <div class="profile-info">
			<div class="profile-thumb">
				<img src="../../../../assets/images/default-profile-thumb.png" alt="">
			</div>
			<h3>
        <span class="text-trim">{{profile?.FirstName  | titlecase}} {{profile?.LastName  | titlecase}}</span>
        <span class="mdi mdi-bookmark-outline"></span>
      </h3>
			<h4>
				By <strong>{{profile?.CompanyName}}</strong> On <strong>{{profile?.CreatedOn | date:'mediumDate'}}</strong>
			</h4>
		</div>
  </div>
  <div class="middle-container">
    <div class="top-section">
      <ul>
        <li class="job-title">
          <span class="mdi mdi-school-outline"></span>
          {{profile?.ProfileTitle}}
        </li>
        <li>  {{profile?.TotalExperience}} Yrs</li>
      </ul>
      <div class="location">
        <span class="mdi mdi-map-marker-outline"></span>
        {{profile?.CurrentLocation || "Yet to provide"}}
      </div>
    </div>
    <div class="middle-section">
      <div class="grid-cols">
        <div class="grid-col">
          <div class="col-container">
            <span class="icon icon-email">Icon</span>
            <a href="mailto:{{profile?.Email}}">{{profile?.Email}}</a>
          </div>
        </div>
        <div class="grid-col">
          <div class="col-container">
            <span class="icon icon-phone">Icon</span>
            {{profile?.MobilePhone || "Yet to Provide"}}
          </div>
        </div>
      </div>
      <div class="icon-nav">
        <ul>
          <li>
            <a href="javascript:void(0)">
              <span class="icon icon-education">Icon</span>
              <h6>Education</h6>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon icon-certificate">Icon</span>
              <h6>Certification</h6>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon icon-domain">Icon</span>
              <h6>Domain</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-section">
      <h4>Arytic Certified</h4>
      <ul>
        <li class="active">
          <span class="icon icon-skills">Icon</span>
          <h6>Skills Fit</h6>
        </li>
        <li class="active">
          <span class="icon icon-job">Icon</span>
          <h6>Job Fit</h6>
        </li>
        <li>
          <span class="icon icon-team">Icon</span>
          <h6>Team Fit</h6>
        </li>
        <li>
          <span class="icon icon-personality">Icon</span>
          <h6>Personality Fit</h6>
        </li>
        <li>
          <span class="icon icon-culture">Icon</span>
          <h6>Culture Fit</h6>
        </li>
      </ul>
    </div>
  </div>
  <div class="skills-grid">
    <h4>Skills</h4>
    <div class="skills-cols">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="skills-col">
            <ng-container *ngFor="let skill of profile?.PrimarySkill.split(',');let s = index">
              <div class="skill-container" *ngIf="s<6">
              
                <h3>{{ skill.split("|")[0] }}</h3>
                                              <h4>Exp : {{ skill?.split("|")[1] }}.{{ skill?.split("|")[2]
                                                }} years</h4>
                  <div class="rating">
                    <ngb-rating [(rate)]="skill.split('|')[3] "  aria-readonly="true" [max]="5"></ngb-rating>
                  </div>
             
               
              </div>
            </ng-container>
       
       
          </div>
        </ng-template>
    
      </owl-carousel-o>
    </div>
  </div>
  <div class="process-section">
    <h4>Application Status</h4>
    <ng-container *ngIf="profile?.ResponseStatusId > 12 || profile?.ResponseStatusId === 4">
      <ul>
          <li class="active">
            <span class="icon icon-submitted">Icon</span>
            <h6>Submitted</h6>
          </li>
          <li>
            <span class="icon icon-screening">Icon</span>
            <h6>Screening</h6>
          </li>
          <li>
            <span class="icon icon-shortlisted">Icon</span>
            <h6>Shortlisted</h6>
          </li>
          <li>
            <span class="icon icon-interview">Icon</span>
            <h6>Interview</h6>
          </li>
          <li>
            <span class="icon icon-hired">Icon</span>
            <h6>Hired</h6>
          </li>
        </ul>
      </ng-container>
            <ng-container *ngIf="profile?.ResponseStatusId === 8">
          
      <ul>
          <li class="active">
            <span class="icon icon-submitted">Icon</span>
            <h6>Submitted</h6>
          </li>
          <li class="active">
            <span class="icon icon-screening">Icon</span>
            <h6>Screening</h6>
          </li>
          <li>
            <span class="icon icon-shortlisted">Icon</span>
            <h6>Shortlisted</h6>
          </li>
          <li>
            <span class="icon icon-interview">Icon</span>
            <h6>Interview</h6>
          </li>
          <li>
            <span class="icon icon-hired">Icon</span>
            <h6>Hired</h6>
          </li>
        </ul>
      </ng-container>
            <ng-container *ngIf="profile?.ResponseStatusId === 5">
          
      <ul>
          <li class="active">
            <span class="icon icon-submitted">Icon</span>
            <h6>Submitted</h6>
          </li>
          <li class="active">
            <span class="icon icon-screening">Icon</span>
            <h6>Screening</h6>
          </li>
          <li class="active">
            <span class="icon icon-shortlisted">Icon</span>
            <h6>Shortlisted</h6>
          </li>
          <li>
            <span class="icon icon-interview">Icon</span>
            <h6>Interview</h6>
          </li>
          <li>
            <span class="icon icon-hired">Icon</span>
            <h6>Hired</h6>
          </li>
        </ul>
      </ng-container>
      
              <ng-container *ngIf="profile?.ResponseStatusId === 7">
            <ul>
          <li class="active">
            <span class="icon icon-submitted">Icon</span>
            <h6>Submitted</h6>
          </li>
          <li class="active">
            <span class="icon icon-screening">Icon</span>
            <h6>Screening</h6>
          </li>
          <li class="active">
            <span class="icon icon-shortlisted">Icon</span>
            <h6>Shortlisted</h6>
          </li>
          <li class="active">
            <span class="icon icon-interview">Icon</span>
            <h6>Interview</h6>
          </li>
          <li>
            <span class="icon icon-hired">Icon</span>
            <h6>Hired</h6>
          </li>
        </ul>
      </ng-container>
      
                <ng-container *ngIf="profile?.ResponseStatusId === 11 || profile?.ResponseStatusId === 12">
            <ul>
          <li class="active">
            <span class="icon icon-submitted">Icon</span>
            <h6>Submitted</h6>
          </li>
          <li class="active">
            <span class="icon icon-screening">Icon</span>
            <h6>Screening</h6>
          </li>
          <li class="active">
            <span class="icon icon-shortlisted">Icon</span>
            <h6>Shortlisted</h6>
          </li>
          <li class="active">
            <span class="icon icon-interview">Icon</span>
            <h6>Interview</h6>
          </li>
          <li class="active">
            <span class="icon icon-hired">Icon</span>
            <h6>Hired</h6>
          </li>
        </ul>
      </ng-container>
      
                <ng-container *ngIf="profile?.ResponseStatusId === null || profile?.ResponseStatusId === 9">
            <ul>
          <li>
            <span class="icon icon-submitted">Icon</span>
            <h6>Submitted</h6>
          </li>
          <li>
            <span class="icon icon-screening">Icon</span>
            <h6>Screening</h6>
          </li>
          <li>
            <span class="icon icon-shortlisted">Icon</span>
            <h6>Shortlisted</h6>
          </li>
          <li>
            <span class="icon icon-interview">Icon</span>
            <h6>Interview</h6>
          </li>
          <li>
            <span class="icon icon-hired">Icon</span>
            <h6>Hired</h6>
          </li>
        </ul>
      </ng-container>
  </div>
</div>