
<div class="sticky-navigation">
	<ul>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-share-all-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<span class="mdi mdi-folder-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-note-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-note-edit-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
        <span class="mdi mdi-delete-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Job Review"  (click)="panelClick('job-review')">
				<span class="mdi mdi-thumb-up-outline"></span>
			</a>
		</li>
	</ul>
</div>
<div class="col-container">
  <div class="top-container">
    <span class="status active">
      Uploaded
      <span class="mdi mdi-information-outline"></span>
    </span>
    <div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				<span class="mdi mdi-dots-horizontal"></span>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Action - 1</button>
				<button ngbDropdownItem>Action - 2</button>
				<button ngbDropdownItem>Action - 3</button>
			</div>
		</div>
    <div class="profile-info">
			<div class="profile-thumb">
				<img src="../../../../assets/images/default-profile-thumb.png" alt="">
			</div>
			<h3>
        <span class="text-trim">Akhilesh Chang</span>
        <span class="mdi mdi-bookmark-outline"></span>
      </h3>
			<h4>
				By <strong>KLM</strong> On <strong>Mar 28, 2023</strong>
			</h4>
		</div>
  </div>
  <div class="middle-container">
    <div class="top-section">
      <ul>
        <li class="job-title">
          <span class="mdi mdi-school-outline"></span>
          Software Architect 1
        </li>
        <li>10.8 Yrs</li>
      </ul>
      <div class="location">
        <span class="mdi mdi-map-marker-outline"></span>
        San Antonio, Texas
      </div>
    </div>
    <div class="middle-section">
      <div class="grid-cols">
        <div class="grid-col">
          <div class="col-container">
            <span class="icon icon-email">Icon</span>
            <a href="mailto:test15@gmail.com">test15@gmail.com</a>
          </div>
        </div>
        <div class="grid-col">
          <div class="col-container">
            <span class="icon icon-phone">Icon</span>
            9876543456
          </div>
        </div>
      </div>
      <div class="icon-nav">
        <ul>
          <li>
            <a href="javascript:void(0)">
              <span class="icon icon-education">Icon</span>
              <h6>Education</h6>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon icon-certificate">Icon</span>
              <h6>Certification</h6>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon icon-domain">Icon</span>
              <h6>Domain</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-section">
      <h4>Arytic Certified</h4>
      <ul>
        <li class="active">
          <span class="icon icon-skills">Icon</span>
          <h6>Skills Fit</h6>
        </li>
        <li class="active">
          <span class="icon icon-job">Icon</span>
          <h6>Job Fit</h6>
        </li>
        <li>
          <span class="icon icon-team">Icon</span>
          <h6>Team Fit</h6>
        </li>
        <li>
          <span class="icon icon-personality">Icon</span>
          <h6>Personality Fit</h6>
        </li>
        <li>
          <span class="icon icon-culture">Icon</span>
          <h6>Culture Fit</h6>
        </li>
      </ul>
    </div>
  </div>
  <div class="skills-grid">
    <h4>Skills</h4>
    <div class="skills-cols">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="skills-col">
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="skills-col">
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
            <div class="skill-container">
              <h3>SQL</h3>
              <h4>Exp:  5.8 Years</h4>
              <div class="rating">
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="process-section">
    <h4>Application Status</h4>
    <ul>
      <li class="active">
        <span class="icon icon-submitted">Icon</span>
        <h6>Submitted</h6>
      </li>
      <li class="active">
        <span class="icon icon-screening">Icon</span>
        <h6>Screening</h6>
      </li>
      <li>
        <span class="icon icon-shortlisted">Icon</span>
        <h6>Shortlisted</h6>
      </li>
      <li>
        <span class="icon icon-interview">Icon</span>
        <h6>Interview</h6>
      </li>
      <li>
        <span class="icon icon-hired">Icon</span>
        <h6>Hired</h6>
      </li>
    </ul>
  </div>
</div>