
<div class="sticky-navigation">
	<ul>
		<li>
			<a href="javascript:void(0)" placement="start" (click)="panelClick('share-profile')" ngbTooltip="Share Profile">
        <span class="mdi mdi-share-all-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="start" (click)="panelClick('job-change-application')" ngbTooltip="Change Application Status">
				<span class="mdi mdi-list-status"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="start" ngbTooltip="Bookmark">
        <span class="mdi mdi-bookmark-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="start" ngbTooltip="Arytic Scan">
        <span class="mdi mdi-line-scan"></span>
			</a>
		</li>
    <li>
			<a href="javascript:void(0)" placement="start" ngbTooltip="View/Edit Profile">
        <span class="mdi mdi-view-dashboard-edit-outline"></span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" placement="start" ngbTooltip="Candidate Document" (click)="panelClick('candidate-document')">
        <span class="mdi mdi-folder-outline"></span>  
			</a>
		</li>
    <li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Communication" (click)="panelClick('communication')">
				<span class="mdi mdi-chat-outline"></span>
			</a>
		</li>
    <li>
			<a href="javascript:void(0)" placement="left" ngbTooltip="Delete Profile">
        <span class="mdi mdi-delete-outline"></span>
      </a>
		</li>
	</ul>
</div>
<div class="col-container">
  <div class="top-container">
    <div class="custom-checkbox">
      <label>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <span class="status active">
      <span class="status-info">
        {{profile?.JobStatus  | titlecase}}
      </span>
    </span>
    <span class="priority">
      <span class="priority-info">
        Resume Source
      </span>
    </span>
   
    <div class="profile-info">
			<div class="profile-thumb">
				<img src="../../../../assets/images/default-profile-thumb.png" alt="">
			</div>
			<h3 placement="top" ngbTooltip="{{profile?.FirstName  | titlecase}} {{profile?.LastName  | titlecase}}">
        <span class="text-trim">{{profile?.FirstName  | titlecase}} {{profile?.LastName  | titlecase}}</span>
      </h3>
      <h4 placement="top" ngbTooltip="{{profile?.ProfileTitle}}">
        <span class="text-trim">{{profile?.ProfileTitle}}</span>
      </h4>
      <div class="grid-cols xs-grid-cols">
        <div class="grid-col">
          <span class="mdi mdi-map-marker-outline"></span>
          <span class="text-trim" placement="top" ngbTooltip="{{profile?.CurrentLocation || 'Yet to provide'}}">
            {{profile?.CurrentLocation || "Yet to provide"}}
          </span>
        </div>
        <div class="grid-col">
          <span class="mdi mdi-briefcase-outline"></span>
          <span class="text-trim" placement="top" ngbTooltip="{{profile?.TotalExperience}} Yrs">
            {{profile?.TotalExperience}} Yrs
          </span>
        </div>
      </div>
		</div>
  </div>
  <div class="middle-container">
    <div class="middle-section">
      
      <div class="grid-cols">
        <div class="grid-col">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <a href="mailto:{{profile?.Email}}">
            <span class="text-trim" placement="top" ngbTooltip="{{profile?.Email}}">
              {{profile?.Email}}
            </span>
          </a>
        </div>
        <div class="grid-col">
          <span class="mdi mdi-phone-classic"></span>
          <span class="text-trim" placement="top" ngbTooltip="{{profile?.MobilePhone || 'Yet to Provide'}}">
            {{profile?.MobilePhone || "Yet to Provide"}}
          </span>
        </div>
      </div>
    </div>
    <div class="process-section">
      <h4>Application Status</h4>
      <ng-container *ngIf="profile?.ResponseStatusId > 12 || profile?.ResponseStatusId === 4">
        <ul>
            <li class="active">
              <span class="icon icon-submitted">Icon</span>
              <h6>Submitted</h6>
            </li>
            <li>
              <span class="icon icon-screening">Icon</span>
              <h6>Screening</h6>
            </li>
            <li>
              <span class="icon icon-shortlisted">Icon</span>
              <h6>Shortlisted</h6>
            </li>
            <li>
              <span class="icon icon-interview">Icon</span>
              <h6>Interview</h6>
            </li>
            <li>
              <span class="icon icon-hired">Icon</span>
              <h6>Hired</h6>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="profile?.ResponseStatusId === 8">
          <ul>
            <li class="active">
              <span class="icon icon-submitted">Icon</span>
              <h6>Submitted</h6>
            </li>
            <li class="active">
              <span class="icon icon-screening">Icon</span>
              <h6>Screening</h6>
            </li>
            <li>
              <span class="icon icon-shortlisted">Icon</span>
              <h6>Shortlisted</h6>
            </li>
            <li>
              <span class="icon icon-interview">Icon</span>
              <h6>Interview</h6>
            </li>
            <li>
              <span class="icon icon-hired">Icon</span>
              <h6>Hired</h6>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="profile?.ResponseStatusId === 5">
          <ul>
            <li class="active">
              <span class="icon icon-submitted">Icon</span>
              <h6>Submitted</h6>
            </li>
            <li class="active">
              <span class="icon icon-screening">Icon</span>
              <h6>Screening</h6>
            </li>
            <li class="active">
              <span class="icon icon-shortlisted">Icon</span>
              <h6>Shortlisted</h6>
            </li>
            <li>
              <span class="icon icon-interview">Icon</span>
              <h6>Interview</h6>
            </li>
            <li>
              <span class="icon icon-hired">Icon</span>
              <h6>Hired</h6>
            </li>
          </ul>
        </ng-container>
        
        <ng-container *ngIf="profile?.ResponseStatusId === 7">
          <ul>
            <li class="active">
              <span class="icon icon-submitted">Icon</span>
              <h6>Submitted</h6>
            </li>
            <li class="active">
              <span class="icon icon-screening">Icon</span>
              <h6>Screening</h6>
            </li>
            <li class="active">
              <span class="icon icon-shortlisted">Icon</span>
              <h6>Shortlisted</h6>
            </li>
            <li class="active">
              <span class="icon icon-interview">Icon</span>
              <h6>Interview</h6>
            </li>
            <li>
              <span class="icon icon-hired">Icon</span>
              <h6>Hired</h6>
            </li>
          </ul>
        </ng-container>
        
        <ng-container *ngIf="profile?.ResponseStatusId === 11 || profile?.ResponseStatusId === 12">
          <ul>
            <li class="active">
              <span class="icon icon-submitted">Icon</span>
              <h6>Submitted</h6>
            </li>
            <li class="active">
              <span class="icon icon-screening">Icon</span>
              <h6>Screening</h6>
            </li>
            <li class="active">
              <span class="icon icon-shortlisted">Icon</span>
              <h6>Shortlisted</h6>
            </li>
            <li class="active">
              <span class="icon icon-interview">Icon</span>
              <h6>Interview</h6>
            </li>
            <li class="active">
              <span class="icon icon-hired">Icon</span>
              <h6>Hired</h6>
            </li>
          </ul>
        </ng-container>
        
        <ng-container *ngIf="profile?.ResponseStatusId === null || profile?.ResponseStatusId === 9">
          <ul>
            <li>
              <span class="icon icon-submitted">Icon</span>
              <h6>Submitted</h6>
            </li>
            <li>
              <span class="icon icon-screening">Icon</span>
              <h6>Screening</h6>
            </li>
            <li>
              <span class="icon icon-shortlisted">Icon</span>
              <h6>Shortlisted</h6>
            </li>
            <li>
              <span class="icon icon-interview">Icon</span>
              <h6>Interview</h6>
            </li>
            <li>
              <span class="icon icon-hired">Icon</span>
              <h6>Hired</h6>
            </li>
          </ul>
        </ng-container>
    </div>
  </div>
  <div class="card-chart-section">
    <div class="row">
      <div class="col-md-6 col-lg-6 left-chart-col">
        <div class="box-container">
          <h4>
            Arytic Check
          </h4>
          <div class="">
            <canvas baseChart
            chartType="radar"
            [datasets]="chart.datasets"
            [labels]="chart.labels"
            [options]="chart.options">
          </canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 right-chart-col">
        <div class="box-container">
          <h4>
            Profile Matching
          </h4>
          <div class="progress-circle">
            <circle-progress
            [percent]="profile?.MatchingPercentage"
            [radius]="30"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#6262FF'"
            [innerStrokeColor]="'#C0C0C0'"
            [animationDuration]="0"
            [responsive] = true
            [showSubtitle] = false
            ></circle-progress>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <h4>Arytic Certified</h4>
    <ul>
      <li class="active">
        <span class="icon icon-skills">Icon</span>
        <h6>Skills Fit</h6>
      </li>
      <li class="active">
        <span class="icon icon-job">Icon</span>
        <h6>Job Fit</h6>
      </li>
      <li>
        <span class="icon icon-team">Icon</span>
        <h6>Team Fit</h6>
      </li>
      <li>
        <span class="icon icon-personality">Icon</span>
        <h6>Personality Fit</h6>
      </li>
      <li>
        <span class="icon icon-culture">Icon</span>
        <h6>Culture Fit</h6>
      </li>
    </ul>
  </div>
  <div class="skills-grid">
    <h4>Skills</h4>
    <div class="skills-cols">
      <ng-container *ngIf="profile?.PrimarySkill != null && profile?.PrimarySkill != ''; else noSkillTemplate">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let skill of profile?.PrimarySkill.split(','); let s = index">
            <div class="skills-col">
              <div class="skill-container">
                <h3 placement="bottom" ngbTooltip="{{ skill.split('|')[0] }}">{{ skill.split("|")[0] }}</h3>
                <h4 placement="top" ngbTooltip="Exp : {{ skill?.split('|')[1] }}.{{ skill?.split('|')[2]
              }} years">Exp : {{ skill?.split("|")[1] }}.{{ skill?.split("|")[2]
                  }} years</h4>
                <div class="rating">
                  <ngb-rating [(rate)]="skill.split('|')[3] "  aria-readonly="true" [max]="5"></ngb-rating>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </ng-container>
      <ng-template #noSkillTemplate>
        <div class="no-skills text-center">
          <h5>No skills added</h5>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="bottom-container">
		<div class="row">
			<div class="col-md-6 col-lg-6 left-col">
				<div class="profile-section">
					<img src="../../../../assets/images/default-company-small.jpg" alt="">
					<div class="profile-summary">
						<h4>Uploaded By</h4>
						<h5>{{profile?.CompanyName}}</h5>
					</div>
				</div>
			</div>
      <div class="col-md-6 col-lg-6 right-col">
				<div class="profile-section">
					<img src="../../../../assets/images/default-profile-thumb.png" alt="">
					<div class="profile-summary">
						<h4>Uploaded on</h4>
						<h5>{{profile?.CreatedOn | date:'mediumDate'}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>