<div class="dashboard-total-jobs">
  <h3>Total Jobs</h3>
  <div class="row">
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-01">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Openings || 0}}</h4>
          <h6>Open</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-02">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Screening || 0}}</h4>
          <h6>Screening</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-03">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.ShortListed || 0}}</h4>
          <h6>Shortlisting</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-04">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Interviews || 0}}</h4>
          <h6>Interviewing</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-05">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Hired || 0}}</h4>
          <h6>Hiring</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container"> 
        <span class="icon icon-06">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Freezed || 0}}</h4>
          <h6>Freezed</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-07">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Filled|| 0}}</h4>
          <h6>Filled</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-08">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Expired || 0}}</h4>
          <h6>Expired</h6>
        </div>
      </div>
    </div>
  </div>
</div>