<div class="dashboard-total-jobs">
  <h3>Jobs</h3>
  <div class="row">
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-01">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Openings || 0}}</h4>
          <h6>Open</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-02">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Screening || 0}}</h4>
          <h6>Screening</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-03">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.ShortListed || 0}}</h4>
          <h6>Shortlisted</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-04">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Interviews || 0}}</h4>
          <h6>Interviewing</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-05">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Hired || 0}}</h4>
          <h6>Hired</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container"> 
        <span class="icon icon-06">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Freezed || 0}}</h4>
          <h6>Freezed</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-07">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Hold|| 0}}</h4>
          <h6>Hold</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-07">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Filled|| 0}}</h4>
          <h6>Filled</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-08">Icon</span>
        <div class="info">
          <h4>{{AdminStats?.Expired || 0}}</h4>
          <h6>Expired</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-chart-container">
  <div class="row">
    <div class="col-md-5 col-lg-5 left-col">
      <div class="col-container">
        <div class="container-box">
          <div class="top-container">
            <h3>Job Weekly Report</h3>
            <div class="form-group">
              <select class="form-select">
                <option value="This Week">This Week</option>
              </select>
            </div>
          </div>
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-7 table-cols">
      <div class="top-container">
        <h3>Weekly Status of Jobs</h3>
        <div class="form-group">
          <select class="form-select">
            <option value="This Week">This Week</option>
          </select>
        </div>
      </div>
      <div class="table-box-container" malihu-scrollbar [scrollbarOptions]="{ axis: 'x', theme: 'dark' }">
        <div class="table-container">
          <div class="table-row table-header-row">
            <div class="table-col name-col">
              Client
            </div>
            <div class="table-col">
              Open
            </div>
            <div class="table-col">
              Screening
            </div>
            <div class="table-col">
              Shortlisting
            </div>
            <div class="table-col">
              Interviewing
            </div>
            <div class="table-col">
              Hiring
            </div>
            <div class="table-col">
              Freezed
            </div>
            <div class="table-col">
              Filled
            </div>
            <div class="table-col">
              Expired
            </div>
            <div class="table-col">
              Hold
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">Telsa</span>
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              0
            </div>
            <div class="table-col">
              2
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              0
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">AFS</span>
            </div>
            <div class="table-col">
              17
            </div>
            <div class="table-col">
              10
            </div>
            <div class="table-col">
              -
            </div>
            <div class="table-col">
              39
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              0
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">Quinnax</span>
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              2
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              0
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">AFS</span>
            </div>
            <div class="table-col">
              17
            </div>
            <div class="table-col">
              10
            </div>
            <div class="table-col">
              -
            </div>
            <div class="table-col">
              39
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              0
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-container d-flex justify-content-end">
        <a href="#" class="btn btn-link">
          Full View
          <span class="mdi mdi-fullscreen"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-total-jobs-listing">
  <div class="row">
    <app-dashboard-top-performing-jobs></app-dashboard-top-performing-jobs>
    <!-- <div class="col-md-6 col-lg-6 left-col" >
      <h4>Top Jobs</h4>
      <div class="custom-scroll"  malihu-scrollbar [scrollbarOptions]="{ axis: 'y', theme: 'dark' }">   
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardInterviewStatus] = true
        >
        </app-dashboard-job-card>
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardInterviewStatus] = true
        >
        </app-dashboard-job-card>
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardInterviewStatus] = true
        >
        </app-dashboard-job-card>
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardInterviewStatus] = true
        >
        </app-dashboard-job-card>
      </div>
      <app-dashboard-top-performing-jobs></app-dashboard-top-performing-jobs>
    </div>
    <div class="col-md-6 col-lg-6 right-col">
      <h4>Recent Jobs</h4>
      <div class="custom-scroll"  malihu-scrollbar [scrollbarOptions]="{ axis: 'y', theme: 'dark' }">   
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardDate]= true
        ></app-dashboard-job-card>
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardDate]= true
        ></app-dashboard-job-card>
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardDate]= true
        ></app-dashboard-job-card>
        <app-dashboard-job-card
          [cardNav]= true
          [cardLocation]= true
          [cardDate]= true
        ></app-dashboard-job-card>
      </div>
    </div> -->
  </div>
</div>