<body class="page page--notifications">
  <!-- Modal -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-2">
          <h1>Notifications</h1>
        </div>
      </div>
      <ul class="date-collection">
        <li class="date-group">
          <div class="date">Apr 18, 2018</div>
          <div class="milestone"><span></span></div>
          <div class="all-notifications">
            <ul class="notification-list">
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
            </ul>
          </div>
        </li>
        <!-- .date-group -->
        <li class="date-group">
          <div class="date">Apr 18, 2018</div>
          <div class="milestone"><span></span></div>
          <div class="all-notifications">
            <ul class="notification-list">
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
            </ul>
          </div>
        </li>
        <!-- .date-group -->
        <li class="date-group">
          <div class="date">Apr 18, 2018</div>
          <div class="milestone"><span></span></div>
          <div class="all-notifications">
            <ul class="notification-list">
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
            </ul>
          </div>
        </li>
        <!-- .date-group -->
        <li class="date-group">
          <div class="date">Apr 18, 2018</div>
          <div class="milestone"><span></span></div>
          <div class="all-notifications">
            <ul class="notification-list">
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
              <li>
                <img src="images/ui-face-2.png" alt="">
                <p><b>Jonathan Troat</b> and 3 others applied to the job <a href="#">Senior UX Designer</a></p>
                <div class="time">2:30pm</div>
              </li>
            </ul>
          </div>
        </li>
        <!-- .date-group -->
      </ul>
      <!-- .date-collection -->
    </div>
  </main>
  <script src="js/libs.js"></script>
  <script src="js/app.js"></script>

</body>
