<mat-dialog-content class="mat-typography manage-achievements-i-d">
    <button mat-button mat-dialog-close class="close">×</button>
    <div class="modal-header text-center">
        <img src="../../../../../../assets/images/card-icons/achievement-badge.png" width="60" alt="certifications">
        <h4>  Manage References</h4>
    </div>
    <div class="modal-body">
        <div class="ach-scroll scrollbar-inner">
            <!--List of Achievements-->
            <ul class="achievements-list">
                <div class="modal-body text-center">
                    <div class="header scrollbar-inner">
                        <img src="../../../../../assets/images/card-icons/reference-icon.png" width="60" alt="References">
                        <h4>Manage References</h4>
                        <!--List of certifications-->
                        <ul class="references-list">
                            <li class="references-details">
                                <div class="col-md-4">
                                    <h6>Manager 1</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Company 1</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-warning">Waiting for Response</h6>
                                </div>
                            </li>
                            <li class="references-details">
                                <div class="col-md-4">
                                    <h6>Manager 2</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Company 2</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-warning">Waiting for Response</h6>
                                </div>
                            </li>
                            <li class="references-details">
                                <div class="col-md-4">
                                    <h6>Manager 3</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6>Company 3</h6>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-success">Received Response</h6>
                                    <small><a href="javascript:void(0)"><i class="fa fa-file-text" aria-hidden="true"></i>
                                        </a></small>
                                </div>
                            </li>
                        </ul>
                        <a class="pull-right" href="javascript:void(0)">Request Info</a>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-10 col-md-offset-1 send-req-form">
                            <form>
                                <div class="form-group text-left">
                                    <label for="reqcandidate">Request to Candidate</label>
                                    <input type="text" class="form-control col-md-12" id="reqcandidate"
                                        placeholder="Your Request">
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="form-group pull-right">
                                    <button class="btn btn-default">Cancel</button>
                                    <button class="btn btn-filled">Send Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</mat-dialog-content>