<mat-dialog-content class="mat-typography manage-reference-i-d">
    <button mat-button mat-dialog-close class="close">×</button>
    <div class="modal-header text-center">
        <img src="../../../../../assets/images/card-icons/reference-icon.png" width="60" alt="References">
        <h4> Manage References</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <h4>Company</h4>
            </div>
            <div class="col-md-4">
                <h4>Referrer</h4>
            </div>
            <div class="col-md-4">
                <h4>Details</h4>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  Type your name and age
                </mat-panel-description>
              </mat-expansion-panel-header>

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>
        <div class="ref-scroll scrollbar-inner">
            <ul class="references-list">
                <li class="references-details">
                    <div class="col-md-4">
                        <h5>Microsoft Inc.</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Referrer Name</h5>
                        <small>Role</small>
                    </div>
                    <div class="col-md-4">
                        <h5>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        </h5>
                    </div>
                </li>
                <li class="references-details">
                    <div class="col-md-4">
                        <h5>ABC Inc.</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Referrer Name</h5>
                        <small>Role</small>
                    </div>
                    <div class="col-md-4">
                        <h5>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        </h5>
                    </div>
                </li>
                <li class="references-details">
                    <div class="col-md-4">
                        <h5>Google</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Referrer Name</h5>
                        <small>Role</small>
                    </div>
                    <div class="col-md-4">
                        <h5>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        </h5>
                    </div>
                </li>
                <li class="references-details">
                    <div class="col-md-4">
                        <h5>Yahoo</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Referrer Name</h5>
                        <small>Role</small>
                    </div>
                    <div class="col-md-4">
                        <h5>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        </h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle pull-left" id="drop3" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false"> Request Info</a>
        <div class="dropdown-menu col-md-10 col-md-offset-1 send-req-form" aria-labelledby="drop3">
            <form>
                <div class="form-group text-left">
                    <label for="reqcandidate">Request to Candidate</label>
                    <textarea class="form-control" id="reqcandidate" placeholder="Your Request" rows="2"></textarea>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-filled">Send</button>
                </div>
            </form>
        </div>

        <button mat-button mat-dialog-close class="btn btn-default pull-right">Close</button>
    </div>
</mat-dialog-content>