<div class="col-container">
  <div class="top-container">
    <div class="custom-checkbox">
      <label>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="profile-thumb">
      <img src="../../../../assets/images/default-profile-thumb.png" alt="">
    </div>
    <span class="status">Public Profile</span>
    <ul>
      <li>
        <a href="#">
          <span class="mdi mdi-phone-in-talk-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-email-arrow-right-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-progress-download"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-container">
    <h4>Sagar Jeh</h4>
    <h6>Senior Informatica Developer/Data Quality Architect</h6>
    <ul>
      <li>
        <span class="mdi mdi-email-arrow-right-outline"></span>
        chalapathi.esolvit@gmail.com
      </li>
      <li>
        <span class="mdi mdi-home-variant-outline"></span>
        Reliance Communications Ltd
      </li>
    </ul>
  </div>
</div>