<div  [ngClass]="candidate.isPublic === true ? 'col-container' : 'col-containerp'">
  <div class="top-container">
    <div class="custom-checkbox">
      <label>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="profile-thumb">
      <img src="../../../../assets/images/default-profile-thumb.png" alt="">
    </div>
    <span class="status">{{candidate.isPublic ? 'Arytic Profile' : 'Private Profile'}}</span>
    <ul>
      <li>
        <a href="javascript:void(0)" style="cursor: default;" ngbTooltip="{{candidate?.contactNumber}}" placement="bottom">
          <span class="mdi mdi-phone-in-talk-outline"></span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" style="cursor: default;" ngbTooltip="{{candidate?.email}}" placement="bottom">
          <span class="mdi mdi-email-arrow-right-outline"></span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="DownloadResume(candidate.fullName,candidate.profileId)" ngbTooltip="download resume"
        placement="bottom">
          <span class="mdi mdi-progress-download"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-container">
    <h4>{{candidate.fullName | titlecase}}</h4>
    <h6 class="text-triml">{{candidate.jobTitleName}}</h6>
    <ul>
      <li>
        <span class="mdi mdi-email-arrow-right-outline"></span>
        <a href="mailto:{{candidate?.email}}" class="text-trim">{{candidate?.email}}</a>
      </li>
      <li>
        <span class="mdi mdi-map-marker-outline"></span>
        <span class="text-trim">{{candidate.locations}}</span> 
      </li>
      <li>
        <span class="mdi mdi-home-variant-outline"></span>
        <span class="text-triml">{{candidate.company}}</span> 
      </li>
    </ul>
  </div>
</div>