<div class="table-col name-col">
	<div class="profile-info">
		<img src="../../../../assets/images/default-company-small.jpg" alt="">
		<h4>{{ljob?.JobTitle}}</h4>
		<ng-container *ngIf="ljob?.JobStatus == 'Active'">
			<span class="status active">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Screening'">
			<span class="status screening">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Hired'">
			<span class="status hired">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Interviewing'">
			<span class="status interviewing">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Filled'">
			<span class="status filled">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'InActive'">
			<span class="status inactive">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'ShortListing'">
			<span class="status shortlisting">{{ljob?.JobStatus}}</span>
		</ng-container>
		<!--<ng-container *ngIf="ljob?.JobStatus == 'Active'">
			<span class="status active">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Screening'">
			<span class="status active">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Hired'">
			<span class="status active">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Interviewing'">
			<span class="status active">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'Filled'">
			<span class="status active">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'InActive'">
			<span class="status inactive">{{ljob?.JobStatus}}</span>
		</ng-container>
		<ng-container *ngIf="ljob?.JobStatus == 'ShortListing'">
			<span class="status active">{{ljob?.JobStatus}}</span>
		</ng-container>-->
	</div>
</div>
<div class="table-col company-col">
	{{ljob?.ClientName != null ? ljob?.ClientName : "Not Provided" }}
</div>
<div class="table-col id-col">
	# {{ljob?.JobId}}
</div>
<div class="table-col owner-col">
	{{ljob?.FirstName | titlecase}} {{ljob?.LastName | titlecase}}
</div>
<div class="table-col assign-col">
	<ng-container *ngIf="ljob?.Assignee">
		{{ljob?.Assignee | titlecase}}
	</ng-container>
	<ng-container *ngIf="!ljob?.Assignee">
		-
	</ng-container>
</div>
<div class="table-col date-posted-col">
	<ng-container *ngIf="ljob?.PostedDate">
		{{ljob?.PostedDate |  date:'mediumDate'}}
	</ng-container>
	<ng-container *ngIf="!ljob?.PostedDate">
		-
	</ng-container>
</div>
<div class="table-col priority-col">
	<ng-container *ngIf="ljob?.JobPriority">
		{{ljob?.JobPriority | titlecase}}
	</ng-container>
	<ng-container *ngIf="!ljob?.JobPriority">
		-
	</ng-container>
</div>
<div class="table-col location-col">
	<!-- <ng-container *ngFor="let location of ljob?.JobLocations.split('|');let lj = index">
						
		<span *ngIf="lj<1">
			{{location}} 
		</span>
	</ng-container> -->
	<ng-container>
	
			<ng-container *ngFor="let location of ljob?.JobLocations.split('|');let j = index">	
				<span *ngIf="j<1" class="location-trim">
					{{location}}
				</span>
			</ng-container>
	
	</ng-container>

</div>
<div class="table-col others-col">
	<button class="btn btn-arrow" 
		(click)="isCollapsed = ! isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		<span class="mdi mdi-chevron-down"></span>
	</button>
</div>

<div class="table-col bottom-col"  #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
	<div class="d-flex">
		<span class="id" *ngIf="ljob?.JobPositionId !=''"><strong>#Job Ref</strong>: {{ljob?.JobPositionId}}</span>
		<div class="left-col">
			<div class="statstics">
				<ul>
					<li>
						<h4>{{ljob?.TotalApplicants}}</h4>
						<h5>Applicants</h5>
					</li>
					<li>
						<h4>{{ljob?.ShortListedCount}}</h4>
						<h5>Shortlisted</h5>
					</li>
					<li>
						<h4>{{ljob?.InterviewedCount}}</h4>
						<h5>Interviews</h5>
					</li>
					<li>
						<h4>{{ljob?.Hired}}</h4>
						<h5>Hired</h5>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-col ml-auto">
			<div class="date"><span>Posted Date: </span>{{ljob?.PostedDate | date:'mediumDate'}}</div>
			<div class="navigation">
				<ul>
					<li>
						<a href="javascript:void(0)" (click)="panelClick('view-edit-job')">
							<span class="mdi mdi-view-dashboard-edit-outline"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" (click)="panelClick('job-status')">
							<span class="mdi mdi-list-status"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" (click)="panelClick('job-share')">
							<span class="mdi mdi-share-variant-outline"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" (click)="panelClick('upload-resume')">
							<span class="mdi mdi-file-arrow-up-down-outline"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" (click)="panelClick('notes')">
							<span class="mdi mdi-note-multiple-outline"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" (click)="panelClick('documents')">
							<span class="mdi mdi-folder-outline"></span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<span class="mdi mdi-trash-can-outline"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
