<div class="table-col name-col">
	<div class="profile-info">
		<img src="../../../../assets/images/default-company-small.jpg" alt="">
		<h4>Salesforce Developer</h4>
		<span class="status">Active</span>
	</div>
</div>
<div class="table-col company-col">
	Google
</div>
<div class="table-col id-col">
	1003757
</div>
<div class="table-col owner-col">
	Kim Karnika
</div>
<div class="table-col assign-col">
	Pine Ram
</div>
<div class="table-col location-col">
	Austin, Texas
</div>
<div class="table-col others-col">
	<button class="btn btn-arrow" 
		(click)="isCollapsed = ! isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		<span class="mdi mdi-chevron-down"></span>
	</button>
</div>

<div class="table-col bottom-col"  #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
	<div class="d-flex">
		<span class="id"><strong>Job Ref</strong>: 1003757</span>
		<div class="left-col">
			<div class="statstics">
				<ul>
					<li>
						<h4>5</h4>
						<h5>Applicants</h5>
					</li>
					<li>
						<h4>4</h4>
						<h5>Shortlisted</h5>
					</li>
					<li>
						<h4>1</h4>
						<h5>Interviews</h5>
					</li>
					<li>
						<h4>2</h4>
						<h5>Hired</h5>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-col ml-auto">
			<div class="date"><span>Posted Date: </span>07-05-2023</div>
			<div class="navigation">
				<ul>
					<li>
						<a href="#">
							<span class="mdi mdi-view-dashboard-edit-outline"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="mdi mdi-list-status"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="mdi mdi-share-variant-outline"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="mdi mdi-file-arrow-up-down-outline"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="mdi mdi-note-multiple-outline"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="mdi mdi-folder-outline"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="mdi mdi-trash-can-outline"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
