<div class="filters row">
  <div class="col-md-12">
    <form action="" class="form-inline">
      <div class="pull-left">
        <div class="form-group">
          <label for="view">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21.7" height="14.4">
              <path d="M11.4 14.4C5 14.4 2.1 10.1 2 9.9c-.3-.3-.2-.9.2-1.1.4-.3.9-.2 1.1.2.1.1 2.6 3.7 8 3.7 4.7 0 7.7-4.4 8.5-5.7-.6-1.2-3.1-5.3-9-5.3-6.8 0-9.3 5.8-9.3 5.9-.1.4-.5.6-1 .4s-.6-.7-.5-1.1C.1 6.9 2.9 0 10.9 0s10.7 6.6 10.7 6.7c.1.2.1.5 0 .7-.2.3-3.8 7-10.2 7z" />
              <path d="M10.9 10.9a3.8 3.8 0 1 1 0-7.6 3.8 3.8 0 0 1 0 7.6zm0-5.9c-1.2 0-2.1.9-2.1 2.1 0 1.2.9 2.1 2.1 2.1S13 8.3 13 7.1C13 5.9 12 5 10.9 5z" />
              <title>View</title>
            </svg>
            <span>View</span>
          </label>
          <select name="view" id="view" class="styled-select-box" [(ngModel)]="ViewBy" (change)="changeViewby($event.target.value)">
            <option default value="1">Highest Matching</option>
            <option value="2">Least Matching</option>
            <option value="3">Highest Experience</option>
            <option value="4">Uploaded By Customer</option>
            <option value="5">Applied By Candidate</option>
          </select>
        </div>
      </div>
      <div class="pull-right">
        <div class="search-toggle">
          <form #form="ngForm" (ngSubmit)="SearchEnter(searchString)">
                <input  autocomplete="off" type="text"  [(ngModel)]="searchString" name="searchString" placeholder="Search"  #searchText (keyup)="GetSearchText(searchText.value)" id="searchStr">  
                  <div class="searchList" *ngIf="SearchList.length>0">
                    <ul class="searchList-dropdown">
                      <li class="searchList-options" *ngFor="let slist of SearchList" (click)="SetSearch(slist.split('-')[0])">{{slist.split('-')[0]}}</li>
                    </ul>
                  </div> 
                  <button type="submit" (keyDown)="SearchEnter(searchString)" style="display: none;"></button>                              
              </form>
    </div>
        <div class="adv-filters-btn btn ml-2" (click)="updateDetailAdvanceSearch()">
          <svg xmlns="http://www.w3.org/2000/svg" width="19.3" height="21.1">
            <path d="M7.2 21.1c-.2 0-.3 0-.5-.1-.3-.2-.5-.5-.5-.9v-9.9L.3 4.4a.9.9 0 0 1-.3-.7V1c0-.6.4-1 1-1h17.3c.6 0 1 .4 1 1v2.8c0 .3-.1.5-.3.7l-5.9 5.8v6.9c0 .4-.2.7-.5.9L7.7 21c-.1.1-.3.1-.5.1zM2 3.3l5.9 5.8c.2.2.3.4.3.7v8.5l2.9-1.7V9.9c0-.3.1-.5.3-.7l5.9-5.8V2H2v1.3z"></path>
          </svg>
        </div>
      </div>
    </form>
  </div>
</div>
