
  <div class="col-xl-12">
    <div class="card card--basic-info">
      <div class="card-header">
        <h1 class="title">
          <svg xmlns="http://www.w3.org/2000/svg" width="18.5px" height="20px" viewBox="-1939 -3251 20.519 22.078" fill="none" stroke="#448afa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
            <g id="info-icon" transform="translate(-2150 -3481)">
              <line y1="4" transform="translate(221.5 240)"></line>
              <line transform="translate(221.5 236)"></line>
              <path d="M17.961,1H2.559A1.607,1.607,0,0,0,1,2.559V16.4a1.607,1.607,0,0,0,1.559,1.559H7.142l3.117,3.117,3.117-3.117h4.584A1.607,1.607,0,0,0,19.519,16.4V2.559A1.607,1.607,0,0,0,17.961,1Z" transform="translate(211 230)"></path>
            </g>
          </svg>
          <span>Basic Info</span>
        </h1>
        <a href="#" class="edit-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="none" stroke="#93a2bb" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px" viewBox="-750.5 -3250.6 19.9 20">
            <g id="edit-icon" transform="translate(-2150 -3481)">
              <path d="M1246.4,42.4v5.5a1.793,1.793,0,0,1-1.8,1.8h-12.3a1.793,1.793,0,0,1-1.8-1.8V35.7a1.793,1.793,0,0,1,1.8-1.8h5.5" transform="translate(170 199.7)"></path>
              <path d="M1246.6,31.7l1.8,1.8-9.6,9.7-2.6.7.7-2.6Z" transform="translate(170 199.7)"></path>
            </g>
          </svg>
          <span>Edit</span>
        </a>
      </div> 
      <div class="card-inner">
        <div class="company-logo">
          <div class="img">
            <img class="img-responsive" title="{{getcompanylogo.CompanyName}}" src="{{getcompanylogo.CompanyLogo}}" alt="Ueno">
          </div>
        </div>
        <div class="company-info">
            <h1>{{companyprofile.CompanyName}}</h1>
          <h3>Design and Animations</h3>
          <div class="social-media">
            <a href={{companyprofile.TwitterURL}}>
              <img src="../../../../assets/images/twitter-icon.svg" alt="Twitter">
            </a>
            <a href={{companyprofile.LinkedInURL}}>
              <img src="../../../../assets/images/linkedin-icon.svg" alt="Linkedin">
            </a>
            <a href={{companyprofile.ContactEmail}}>
              <img src="../../../../assets/images/fb-icon.svg" alt="Facebook">
            </a>
          </div>
          <div class="meta">
            <img class="icon" src="../../../../assets/images/globe-icon.svg" alt="Website">
            <a href={{companyprofile.WebSite}} target="_blank">{{companyprofile.WebSite}}</a>
          </div>
          <div class="meta">
            <img class="icon" src="../../../../assets/images/email-icon.svg" alt="Email">
            <a href={{companyprofile.ContactEmail}}>{{companyprofile.ContactEmail}}</a>
          </div>
          <div class="v-divider"></div>
        </div>
        <div class="company-address">
          <table>
            <tbody>
              <tr>
                <td><img src="../../../../assets/images/phn-icon.svg" class="icon" alt="Phone"></td>
                <td>{{companyprofile.MobilePhone}}</td>
              </tr>
              <tr>
                <td><img src="../../../../assets/images/fax-icon.svg" class="icon" alt="Fax"></td>
                <td>{{companyprofile.HomePhone}}</td>
              </tr>
              <tr>
                <td><img src="../../../../assets/images/location-icon.svg" class="icon" alt="Address"></td>
                <td>{{companyprofile.Address1}} {{companyprofile.Address2}}, {{companyprofile.CityName}} {{companyprofile.StateName}} {{companyprofile.Zipcode}}, {{companyprofile.CountryName}}.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="company-video" class="video video-profile">
          <div class="video-ui">
            <a href="#" data-toggle="modal" data-target="#videoModal">
              <img class="video__poster img-responsive" src="../../../../assets/images/video-poster.png" alt="">
              <div class="video__overlay"></div>
              <div class="video__play">
                <img src="images/play.svg" alt="►">
                <div>Video Profile</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div> 
  </div> 

