<div class="candidate-profile-detail">
  <div class="row">
    <div class="col-sm-6 summary-col">
      <div class="col-container">
        <div class="top-container">
          <h4>Summary</h4>
          <button class="btn btn-plus">
            <span class="mdi mdi-pencil-outline"></span>
          </button>
        </div>
        <div class="middle-container" malihu-scrollbar [scrollbarOptions]="{ axis: 'y', theme: 'dark' }">
          <p>10+ years of IT/Business Solutions exp. in analysis, design, development &  implementation of cost - effective, high quality, high-performance and innovative technology solutions.</p>
          <p>Expertise in analysis, design & development of custom solutions or applications using Microsoft technology stack. Development level exp. in Microsoft Azure Web App, API App, Logic App, Web Jobs, Azure Functions, Creation</p>
          <p>10+ years of IT/Business Solutions exp. in analysis, design, development &  implementation of cost - effective, high quality, high-performance and innovative technology solutions.</p>
        </div>
        <a href="#" class="btn btn-link">Show More <span class="mdi mdi-plus-circle-outline"></span></a>
      </div>
    </div>
    <div class="col-sm-6 summary-col">
      <div class="col-container">
        <div class="top-container">
          <h4>Overall Skills</h4>
          <button class="btn btn-plus">
            <span class="mdi mdi-pencil-outline"></span>
          </button>
        </div>
        <div class="middle-container">
          <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel"
            [config]="slideConfig" 
           >
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
            <div ngxSlickItem>
              <div class="skill-container">
                <div class="skill-info">
                  <h3>SQL</h3>
                  <h4>Exp:  5.8 Years</h4>
                </div>
                <div class="rating">
                  <ngb-rating [(rate)]="currentRate" [max] = 5></ngb-rating>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 chart-col">
      <div class="col-container">
        <h4>Skills Charts</h4>
        <div class="chart-container">
          <canvas baseChart style="width: inherit; height: inherit"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 arytic-check-col">
      <div class="col-container">
        <h4>Arytic Fit</h4>
        <div class="chart-container">
          <canvas baseChart style="width: inherit; height: inherit" [type]="'radar'" [data]="radarChartData" [options]="radarChartOptions" [legend]="radarChartLegend"></canvas>
        </div>
      </div>
    </div>
    <app-candidate-experience></app-candidate-experience>
    <div class="col-md-4 col-lg-4 col education-col">
      <div class="col-container">
        <div class="top-container">
          <h4>Education</h4>
          <button class="btn btn-plus">
            <span class="mdi mdi-plus-circle-outline"></span>
          </button>
        </div>
        <div class="middle-container">
          <figure>
            <img src="../../../../assets/images/infographic-education.svg" alt="">
          </figure>
          <div class="box-container">
            <h5>(0-2007)</h5>
            <h4>Degree Name</h4>
            <h6>Fields of Study</h6>
            <div class="tag-listing">
              <ul>
                <li>Master of Technology</li>
              </ul>
            </div>
            <div class="location">
              <span class="mdi mdi-map-marker-outline"></span>
              Location Name
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col certification-col">
      <div class="col-container">
        <div class="top-container">
          <h4>Certifications</h4>
          <button class="btn btn-plus">
            <span class="mdi mdi-plus-circle-outline"></span>
          </button>
        </div>
        <div class="middle-container">
          <figure>
            <img src="../../../../assets/images/infographic-certificate.svg" alt="">
          </figure>
          <div class="box-cols">
            <div class="box-col">
              <span class="mdi mdi-star-outline"></span>
              <h4>Degree Name</h4>
              <h5>2001</h5>
              <div class="buttons">
                <a href="#">
                  <span class="mdi mdi-pencil-circle-outline"></span>
                </a>
                <a href="#">
                  <span class="mdi mdi-delete-outline"></span>
                </a>
              </div>
            </div>
            <div class="box-col">
              <span class="mdi mdi-star-outline"></span>
              <h4>Degree Name</h4>
              <h5>2001</h5>
              <div class="buttons">
                <a href="#">
                  <span class="mdi mdi-pencil-circle-outline"></span>
                </a>
                <a href="#">
                  <span class="mdi mdi-delete-outline"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col domain-col">
      <div class="col-container">
        <div class="top-container">
          <h4>Domains</h4>
          <button class="btn btn-plus">
            <span class="mdi mdi-plus-circle-outline"></span>
          </button>
        </div>
        <div class="middle-container">
          <figure>
            <img src="../../../../assets/images/infographic-domain.svg" alt="">
          </figure>
          <div class="box-cols">
            <div class="box-col">
              <span class="mdi mdi-star-outline"></span>
              <h4>Technology</h4>
              <h5>2001</h5>
              <div class="buttons">
                <a href="#">
                  <span class="mdi mdi-pencil-circle-outline"></span>
                </a>
                <a href="#">
                  <span class="mdi mdi-delete-outline"></span>
                </a>
              </div>
            </div>
            <div class="box-col">
              <span class="mdi mdi-star-outline"></span>
              <h4>Web Design</h4>
              <h5>2004</h5>
              <div class="buttons">
                <a href="#">
                  <span class="mdi mdi-pencil-circle-outline"></span>
                </a>
                <a href="#">
                  <span class="mdi mdi-delete-outline"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col achievements-col">
      <div class="col-container">
        <div class="top-container">
          <h4>Achievements</h4>
          <button class="btn btn-plus">
            <span class="mdi mdi-plus-circle-outline"></span>
          </button>
        </div>
        <div class="middle-container">
          <figure>
            <img src="../../../../assets/images/infographic-achievements.svg" alt="">
          </figure>
          <div class="box-cols">
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Marketing Mgt.</h4>
              <h5>University Name</h5>
              <h6>15-04-2020</h6>
              <div class="text-trim">
                Lorem Ipsum is simply.....
             </div>
            </div>
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Marketing Mgt.</h4>
              <h5>University Name</h5>
              <h6>15-04-2020</h6>
              <div class="text-trim">
               Lorem Ipsum is simply.....
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 hobbies-col">
      <div class="col-container">
        <div class="top-container">
          <h4>Hobbies</h4>
          <button class="btn btn-plus">
            <span class="mdi mdi-plus-circle-outline"></span>
          </button>
        </div>
        <div class="middle-container">
          <figure>
            <img src="../../../../assets/images/infographic-hobbies.svg" alt="">
          </figure>
          <div class="box-cols">
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Traveling</h4>
            </div>
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Singing</h4>
            </div>
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Food</h4>
            </div>
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Traveling</h4>
            </div>
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Singing</h4>
            </div>
            <div class="box-col">
              <span class="mdi mdi-checkbox-marked-circle-outline"></span>
              <h4>Food</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>