<app-Logoheader></app-Logoheader>
<main>
  <div class="container revamp__postjob__box__xs">
    <div class="revamp__postjob__container">
      <div class="step step__01">
        <h3 class="title text-center">What would you like to do ?</h3>
        <div class="revamp__postjob__main__nav">
          <div class="row flex flex-wrap flex-align-equal">
            <div class="col-sm-6">
              <a class="col__container" (click)="createJob()">
                <div class="icon icon__01">&nbsp;</div>
                <h4>Create a Job</h4>
                <p>(Manual Entry)</p>
              </a>
            </div>

            <div class="col-sm-6">
              <a href="#" class="col__container">
                <div class="icon icon__02">&nbsp;</div>
                <h4>Choose From Template</h4>
              </a>
            </div>
          </div>
          <!--/.row-->
        </div>
        <!--/.revamp__postjob__main__nav-->

      </div>
    </div>
    <!--/.revamp__postjob__container-->
  </div>
  <!--/.container-->
</main>