<app-Logoheader></app-Logoheader>
<main class="page page--create-a-job">
    <div class="container">
      <div class="card row">
        <div class="col-xl-8 left">
          <div class="card__form">
            <header>
              <img src="/assets/images/right-arrow.svg" class="arrow-left" width="31.9px" height="21.2px" alt="">
              <h3>Create new Job</h3>
            </header>
            <div class="form-steps">
              <app-steps></app-steps>
            </div>
          </div>
        </div>
        <div class="col-xl-4 visible-xl right">
         <app-searchresults></app-searchresults>
          </div>
          </div>
        </div>
</main>



