<div class="card__search-result">
  <h3>Search Result</h3>
  <p class="description">Fill form and see results at the same time.</p>
  <hr />
  <div class="results">
    <div class="row">
      <div class="col-md-6">
        <div class="data">
          <h2>4230</h2>
          <p>people are searching jobs on Tenendus</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chart ">          
          <img src="../../../../assets/images/purple-chart.png" alt="chart image">
        </div>
      </div>
    </div>
    <div class="summary row">
      <div class="col-md-12">
        <ul class="list">
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="toggle-btn">Show Details</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="results">
    <div class="row">
      <div class="col-md-6">
        <div class="data">
          <h2>4230</h2>
          <p>people are searching jobs on Tenendus</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chart ">
          <img src="../../../../assets/images/green-chart.png" alt="chart image">
        </div>
      </div>
    </div>
    <div class="summary row">
      <div class="col-md-12">
        <ul class="list">
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="toggle-btn " >Show Details</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="results">
    <div class="row">
      <div class="col-md-6">
        <div class="data">
          <h2 class="currency">25k</h2>
          <p>people are searching jobs on Tenendus</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chart ">
          <img src="../../../../assets/images/blue-chart.png" alt="chart image">
        </div>
      </div>
    </div>
    <div class="summary row">
      <div class="col-md-12">
        <ul class="list">
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
          <li>
            <span>NewYork</span>
            <h4>1540</h4>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="toggle-btn ">Show Details</a>
      </div>
    </div>
  </div>
</div>
