
<ul id="steps-tab" class="nav nav-tabs">
  <li [ngClass]="{ 'tab-list':!step1isClicked, 'tab-list active':step1isClicked }"
      (click)="step1toggleClass()"><a data-toggle="tab" title="Step 1" routerLink="app-steps-step1" routerLinkActive="active"><span class="step-check"></span>Step 1</a></li>
  <li class="line"></li>
  <li [ngClass]="{ 'tab-list':!step2isClicked, 'tab-list active':step2isClicked }"
      (click)="step2toggleClass()"><a data-toggle="tab" title="Step 2" routerLink="app-steps-step2"  ><span class="step-check"></span>Step 2</a></li>
  <li class="line"></li>
  <li [ngClass]="{ 'tab-list':!step3isClicked, 'tab-list active':step3isClicked }"
      (click)="step3toggleClass()"><a data-toggle="tab" title="Step 3" routerLink="app-steps-step3"><span class="step-check"></span>Step 3</a></li>
  <li class="line"></li>
  <li [ngClass]="{ 'tab-list':!step4isClicked, 'tab-list active':step4isClicked }"
      (click)="step4toggleClass()">
    <a data-toggle="tab" title="Step 4" routerLink="app-steps-step4">
      <span class="step-check"></span>Step 4
    </a>
  </li>
</ul>
<header>
  <h1 class="blue text-center">Please tell us about the job.</h1>
  <p class="description text-center">Share details so we can find you the most eligible candidates.</p>
</header>
<router-outlet></router-outlet>
