<div class="tab-navigation">
  <ul>
    <li>
      <a href="#">Job Fit</a>
    </li>
    <li>
      <a href="#">Skill Fit</a>
    </li>
    <li>
      <a href="#">Team Fit</a>
    </li>
    <li>
      <a href="#">PersonalityFit</a>
    </li>
    <li>
      <a href="#">Culture Fit</a>
    </li>
  </ul>
</div>
<div class="section section-one">
  <div class="top-container">
    <h3>Job Fit</h3>
    <div class="matching-status">
      Actual <strong>20%</strong> out of 40%
    </div>
  </div>
  <div class="middle-container">
    <div class="description">
      Job fit includes Role fit (Industry, Job title) and Experience fit(Total experience). Update the job fit realted fields to improve the matching scroe of profile with the job
    </div>

    <div class="listing-tables">
      <div class="listing-table">
        <div class="table-box-container">
          <div class="table-container">
            <div class="table-row table-header-row">
              <div class="table-col name-col">
                Role Fit
              </div>
              <div class="table-col">
                Job
              </div>
              <div class="table-col select-col">
                Resume 
              </div>
              <div class="table-col">
                &nbsp;
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Industry</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Industry</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="listing-table">
        <div class="table-box-container">
          <div class="table-container">
            <div class="table-row table-header-row">
              <div class="table-col name-col">
                Expereince Fit
              </div>
              <div class="table-col">
                Job
              </div>
              <div class="table-col select-col">
                Resume 
              </div>
              <div class="table-col">
                &nbsp;
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Industry</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Industry</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-two">
  <div class="top-container">
    <h3>Skills Fit</h3>
    <div class="matching-status">
      Actual <strong>30%</strong> out of 60%
    </div>
  </div>
  <div class="middle-container">
    <div class="description">
      Skill fit includes Skill name and experience of the skill. Update the skill fit fields to improve the matching scroe of profile with the job
    </div>

    <div class="listing-tables">
      <div class="listing-table">
        <div class="table-box-container">
          <div class="table-container">
            <div class="table-row table-header-row">
              <div class="table-col name-col">
                Skill Fit
              </div>
              <div class="table-col">
                Job
              </div>
              <div class="table-col select-col">
                Resume 
              </div>
              <div class="table-col">
                &nbsp;
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Problem Solving</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Communication</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Communication</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Business Analysis</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">User Management</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Attention to Detail</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Data Analysis</span>
                </div>
              </div>
              <div class="table-col">
                4
              </div>
              <div class="table-col select-col">
               5
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-circle-edit-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>