<div class="page page--job-details">
  <div id="rejectCandidate">
    <h4 mat-dialog-title class="modal-title">
      Hire Candidate
    </h4>
      <div class="modal-body">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hjobtype">Job Type</label>
              <select class="form-control" (change)="gotit($event.target.value)">
                <ng-container *ngFor="let type of employmenttypelist">
                  <option [value]="type.EmploymentTypeId"  [selected]="type.EmploymentTypeId == TypeId" *ngIf="type.EmploymentTypeId!=4">{{type?.EmploymentType}} </option>
                </ng-container>
            
            </select>
                <!-- <ng-container *ngIf="salaryDetails?.EmploymentTypeId==1">                  
                  <input type="text" id="hjobtype" placeholder="Job Type" value="FullTime" class="form-control">
                </ng-container>
                <ng-container *ngIf="salaryDetails?.EmploymentTypeId==2">
                  <input type="text" id="hjobtype" placeholder="Job Type" value="Contract" class="form-control">
                </ng-container> -->
               
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="hsalary">Salary</label>
                <input type="text" id="hsalary" [(ngModel)]="valueSal"  name="valueSal"
                [ngModelOptions]="{standalone: true}" #value="ngModel" placeholder="Salary" class="form-control">
                <span *ngIf="salaryDetails?.SalaryTypeId==1">
                   Per Hour
                </span>
                <span *ngIf="salaryDetails?.SalaryTypeId==2">
                  Per Annum*
               </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="hjoining">Joining</label>
                <input class="form-control datepicker" id="hjoining" placeholder="mm-dd-yyyy" name="dp" ngbDatepicker #d="ngbDatepicker"
                  (click)="d.toggle()">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <ng-container *ngIf="salaryDetails?.ContractDuration!=null && TypeId==2">
                  <label for="hduration">Duration</label>
                  <input type="text" id="hduration" value="{{salaryDetails?.ContractDuration}}" placeholder="Duration" class="form-control">
                </ng-container>
               
              </div>
            </div>
         
            <div class="col-md-12">
              <div class="form-group">
                <label for="hcomments">Comments</label>
                <textarea type="text" class="form-control resize-none" id="hcomments" name="comment" placeholder="Please add your comments"
                  rows="8"></textarea>
              </div>
            </div>
          </div>      
        </form>
      </div>

    <mat-dialog-actions class="modal-footer pull-right">
        <button mat-button mat-dialog-close data-dismiss="modal" class="btn btn-border">Close</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="Hire()"
          class="btn btn-filled">Hire</button>
    </mat-dialog-actions>
  </div>
</div>