<div class="form-section-title">
  <h3>Salary & Location</h3>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Minimum <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-currency-usd"></span>
      <input type="text" class="form-control" placeholder="Minimum">
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Maximum <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-currency-usd"></span>
      <input type="text" class="form-control" placeholder="Maximum">
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Salary Based on Contract Type <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-currency-usd"></span>
      <input type="text" class="form-control" placeholder="Salary Amount">
    </div>
  </div>
  
  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Country <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-earth"></span>
      <select class="form-select">
        <option value="Select Country">Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">State <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-earth"></span>
      <select class="form-select">
        <option value="Select State">Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">City <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-earth"></span>
      <select class="form-select">
        <option value="Select City">Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Zipcode <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-earth"></span>
      <select class="form-select">
        <option value="Select Zipcode">Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Relocation <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-map-marker-outline"></span>
      <select class="form-select">
        <option value="Select Relocation">Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Work Remotely <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-home-outline"></span>
      <select class="form-select">
        <option value="Select Work">Select</option>
      </select>
    </div>
  </div>
</div>