@import '../../../../assets/partials/utils/variables';
@import '../../../../assets/partials/utils/mixins';

.table-col {
	font-size: $font-size-14;
	color: $dark-gray;
	flex: 0 0 204px;
	max-width: 204px;
	width: 204px;
	text-align: left;
	padding: 15px;
	display: table-cell;
	vertical-align: top;
	white-space: nowrap;
	
	a {
		color: $dark-gray;
		text-decoration: none;
	}

	&.name-col {
		h4 {
			font-weight: 600;
		}
	}

	@media only screen and (min-width: 1320px) {
		flex: 0 0 20%;
		max-width: 20%;
		display: block;
		white-space: normal;
	}
}


.profile-info {
	@include flex();
	@include align-items(center);
	gap: 10px;

	h4 {
		font-size: $font-size-14;
		color: $dark-gray;
		width: 156px;
		text-overflow: ellipsis;
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
	}

	img {
		width: 30px;
		height: auto;
		border-radius: 50%;
	}
}

.ml-auto {
	margin-left: auto;
}
