<div class="adv-filters row" style="display: block;">
  <div class="col-md-12">
    <div class="input-row row">
      <form action="">
        <div class="col-md-4">
          <div class="form-group">
            <label for="job-type">Job Type</label>
            <select name="" id="" class="styled-select-box block">
              <option value="" disabled="" selected="">Select Job Type</option>
              <option value="">Part Time</option>
              <option value="">Full Time</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="job-type">Experience</label>
            <select name="" id="" class="styled-select-box block">
              <option value="" disabled="" selected="">Select Experience</option>
              <option value="">2 Years</option>
              <option value="">3 Years</option>
              <option value="">4 Years</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="job-type">Career Level</label>
            <select name="" id="" class="styled-select-box block">
              <option value="" disabled="" selected="">Select Career Level</option>
              <option value="">Part Time</option>
              <option value="">Full Time</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button class="btn btn-border">Cancel</button>
          <button class="btn btn-filled">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
