<mat-dialog-content class="mat-typography adv-filters">
    <div class="modal-header">
        <div class="col-md-6">
            <h4>Advanced Filters</h4>
        </div>
        <div class="pull-right">
            <!--Add More Filters Dropdown 01-04-2020-->
            <div class="dropdown add-more-filters">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add More Filters
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <ul class="filters-list">
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="profiletypefilter"> Profile Type
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="skillsfilter"> Skills
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="lastpostedfilter"> Last Posted
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="immigrationstatusfilter"> Immigration Staus
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="designationfilter"> Designation
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="rolesfilter"> Roles
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="Experience"> Experience
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="Jobtitle"> Jobtitle
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="Salaryrange"> Salary Range
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="Category"> Category
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="Domain"> Domain
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="Education"> Education
                                </label>
                            </div>
                        </li>
                        <!-- <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="Status"> Status
                                </label>
                            </div>
                        </li> -->
                        <li>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="users"> Users
                                </label>
                            </div>
                        </li>
                    </ul>
                    <li role="separator" class="divider"></li>
                    <li class="filter-btns">
                        <button class="btn btn-small btn-cancel">Cancel</button>
                        <button class="btn btn-small btn-add">Add</button>
                    </li>
                </ul>
            </div>
            <!---->
        </div>
        <!-- <button mat-button mat-dialog-close class="close">×</button> -->
    </div>

    <div class="row mrll0-tb2" *ngIf="!advancesearch" style="display: block;">

        <div class="col-md-12">

            <div class="input-row row ">
                <form action="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job-type">Job Type</label>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>

                                        <mat-form-field>
                                            <mat-select [formControl]="emp" placeholder="Employment Type"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="empFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of employmentList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div *ngFor="let emp of selectedJobType">
                                    {{emp.EmploymentType}}
                                </div>
                            </mat-expansion-panel>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job-type">Location</label>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <mat-form-field>
                                            <mat-select [formControl]="bankMultiCtrl" placeholder="Locations"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="bankMultiFilterCtrl">
                                                </ngx-mat-select-search>
                                                <!-- (click)="ChnageLocations(bank$event.target.value)"  -->
                                                <mat-option *ngFor="let bank of filteredBanksMulti | async" 
                                                (click)="changeLocation(bank.CityId)"
                                                    [value]="bank">
                                                    {{bank.CityName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let bank of SelectedCityList">
                                    {{bank.CityName}}
                                </div>
                            </mat-expansion-panel>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job-type">Client</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <mat-form-field>
                                            <mat-select [formControl]="Client" placeholder="Client" [multiple]="true"
                                                #multiSelect>
                                                <ngx-mat-select-search [formControl]="ClientFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of filteredClientList | async"
                                                    (click)="changeClient(empl.ClientId)"
                                                    [value]="empl">
                                                    {{empl.ClientName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let emp of SelectedClientList">
                                    {{emp.ClientName}}
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job-type">Department</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <form #form="ngForm" class="cls-rel">
                            <input class="form-control loc-search1" autocomplete="off" type="text"
                                [(ngModel)]="deptName" name="deptName" placeholder="Department" #searchd
                                (keyup)="GetSearchDepartments(searchd.value)">
                            <div class="searchList" *ngIf="SearchDept.length>0">
                                <ul class="searchList-dropdown">
                                    <li class="searchList-options" *ngFor="let dname of  SearchDept"
                                        (click)="SetSearchDName(dname.DepartmentId,dname.CustomerDepartment)">
                                        {{dname.CustomerDepartment}}</li>
                                </ul>
                            </div>
                        </form> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Department" placeholder="Department"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="DepartmentFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of filteredDepartmentList | async"
                                                    (click)="changeDepartment(empl.DepartmentId)"
                                                    [value]="empl">
                                                    {{empl.CustomerDepartment}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let emp of SelectedDepartmentList">
                                    {{emp.CustomerDepartment}}
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--Show & Hide Filters 01-04-2020-->

                    <!--Profile Type-->
                    <div class="col-md-6" [hidden]="!profiletypefilter">
                        <div class="form-group">
                            <label for="addProfilestatusfilter">Profile Status</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addProfilestatusfilter"
                            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="profiletype" placeholder="Employment Type"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="profiletypefilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of employmentList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!---->
                    <!--Skills-->
                    <div class="col-md-6" [hidden]="!skillsfilter">
                        <div class="form-group">
                            <label for="addskillfilter">Skills</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <ng-select class="custom-style" [multiple]="true" [items]="skilllist | async" placeholder="Search here..." bindLabel="name" bindValue="SkillName" [typeahead]="selectedskillinput" [hideSelected]="true" [loading]="skilltitleloading" [(ngModel)]="selectedSkillName" minlength="1"
                        name="selectedSkillName" #skill="ngModel"  addTagText="Add Skill" [virtualScroll]="true" required>
                    </ng-select> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Skills" placeholder="Skills" [multiple]="true"
                                                #multiSelect>
                                                <ngx-mat-select-search [formControl]="SkillsFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of SkillsList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>

                        </div>
                    </div>
                    <!---->
                    <!--Last Posted-->
                    <div class="col-md-6" [hidden]="!lastpostedfilter">
                        <div class="form-group">
                            <label for="addlastpostedfilter">Last Posted</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addlastpostedfilter"
                            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="LastPosted" placeholder="Last Posted"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="LastPostedFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of lastpostedList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!---->
                    <!--Immigration Status-->
                    <div class="col-md-6" [hidden]="!immigrationstatusfilter">
                        <div class="form-group">
                            <label for="addimmigrationstatusfilter">Immigration Status</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addimmigrationstatusfilter"
                            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="immigrationstatus" placeholder="Immigration Status"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="immigrationstatusFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of filteredimmigrationstatus | async"
                                                    (click)="changeImmigration(empl.ImmigrationStatusId)"
                                                    [value]="empl">
                                                    {{empl.ImmigrationStatus}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let emp of SelectedimmigrationstatusList">
                                    {{emp.ImmigrationStatus}}
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!---->
                    <!--Designation-->
                    <div class="col-md-6" [hidden]="!designationfilter">
                        <div class="form-group">
                            <label for="adddesignationfilter">Designation</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="adddesignationfilter"
                            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="emp" placeholder="Employment Type"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="empFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of employmentList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!---->

                    <!--Roles-->
                    <!-- <div class="col-md-6" [hidden]="!rolesfilter">
                        <div class="form-group">
                            <label for="addrolesfilter">Roles</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description> 
                                        <mat-form-field>
                                            <mat-select [formControl]="emp" placeholder="Employment Type"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="empFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of filteredRolesList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div> -->
                    <!---->
                    <!--Experience-->
                    <div class="col-md-6" [hidden]="!Experience">
                        <div class="form-group">
                            <label for="addExperience">Experience</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addExperience"
            placeholder="Type and Search"> -->
                                        <!-- <mat-form-field> -->
                                            <!-- <mat-select [formControl]="Experience" placeholder="Experience"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="ExperienceFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of employmentList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select> -->
                                            <!-- <mat-label>Leave a comment</mat-label>
                                            <input matInput placeholder="Min. Exp"  >
                                            <mat-label>Leave a comment</mat-label>
                                            <input matInput placeholder="Max. Exp"  > -->
                                            <mat-form-field style="width: 30%;">
                                                <mat-label>Min. Exp</mat-label>
                                                <input matInput placeholder="Min. Exp" [(ngModel)]="minExp" >
                                              </mat-form-field>
                                             &nbsp;
                                              <mat-form-field style="width: 30%;">
                                                <mat-label>Max. Exp</mat-label>
                                                <input matInput placeholder="Max. Exp" [(ngModel)]="maxExp" >
                                              </mat-form-field>
                                        <!-- </mat-form-field> -->
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--Job title-->
                    <div class="col-md-6" [hidden]="!Jobtitle">
                        <div class="form-group">
                            <label for="addJobtitle">Job Title</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addJobtitle"
            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Jobtitle" placeholder="Job Title"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="JobtitleFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of employmentList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--Salaryrange-->
                    <div class="col-md-6" [hidden]="!Salaryrange">
                        <div class="form-group">
                            <label for="addSalaryrange">Salary Range</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addSalaryrange"
            placeholder="Type and Search"> -->
                                        <!-- <mat-form-field>
                                            <mat-select [formControl]="Jobtitle" placeholder="Salary Range"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="JobtitleFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of employmentList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                        <mat-form-field style="width: 30%;">
                                            <mat-label>Min. Salary</mat-label>
                                            <input matInput placeholder="Min. Salary" [(ngModel)]="minSal" >
                                          </mat-form-field>
                                          &nbsp;
                                          <mat-form-field style="width: 30%;">
                                            <mat-label>Max. Salary</mat-label>
                                            <input matInput placeholder="Max. Salary" [(ngModel)]="maxSal" >
                                          </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--Category-->
                    <div class="col-md-6" [hidden]="!Category">
                        <div class="form-group">
                            <label for="addCategory">Category</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addCategory"
            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Category" placeholder="Category"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="CategoryFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of filteredCategoryList | async"
                                                 (click)="changeCategory(empl.JobCategoryId )" 
                                                    [value]="empl">
                                                    {{empl.Category}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let emp of SelectedCategoryList">
                                    {{emp.Category}}
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--Domain-->
                    <div class="col-md-6" [hidden]="!Domain">
                        <div class="form-group">
                            <label for="addDomain">Domain</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addDomain"
            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Domain" placeholder="Domain" [multiple]="true"
                                                #multiSelect>
                                                <ngx-mat-select-search [formControl]="DomainFilter">
                                                </ngx-mat-select-search>
                                                <div *ngFor="let empl of filteredDomainList | async">
                                                <mat-option *ngIf="empl.DomainId != 0" 
                                                    (click)="changeDomain(empl.DomainId)"
                                                    [value]="empl">
                                                    {{empl.DomainName}}
                                                </mat-option>
                                            </div>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let emp of SelectedDomainList">
                                    {{emp.DomainName}}
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--Education-->
                    <div class="col-md-6" [hidden]="!Education">
                        <div class="form-group">
                            <label for="addEducation">Education</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addEducation"
            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Education" placeholder="Education"
                                                [multiple]="true" #multiSelect>
                                                <ngx-mat-select-search [formControl]="EducationFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of filteredEducation | async"
                                                    (click)="changeEducation(empl.QualificationId)"
                                                    [value]="empl">
                                                    {{empl.QualificationName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div *ngFor="let emp of SelectedEducationList">
                                    {{emp.QualificationName}}
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--Status-->
                    <div class="col-md-6" [hidden]="!Status">
                        <div class="form-group">
                            <label for="addStatus">Status</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addStatus"
            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Jobtitle" placeholder="Status" [multiple]="true"
                                                #multiSelect>
                                                <ngx-mat-select-search [formControl]="JobtitleFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of employmentList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!--users-->
                    <div class="col-md-6" [hidden]="!users">
                        <div class="form-group">
                            <label for="addusers">Users</label>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <!-- <input type="text" class="form-control loc-search1" id="addusers"
            placeholder="Type and Search"> -->
                                        <mat-form-field>
                                            <mat-select [formControl]="Jobtitle" placeholder="Users" [multiple]="true"
                                                #multiSelect>
                                                <ngx-mat-select-search [formControl]="JobtitleFilter">
                                                </ngx-mat-select-search>
                                                <mat-option *ngFor="let empl of filteredUsersList | async"
                                                    (click)="changeJobType(empl.EmploymentTypeId,emp.value)"
                                                    [value]="empl">
                                                    {{empl.EmploymentType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the primary content of the panel.</p>
                            </mat-expansion-panel>
                        </div>
                    </div>
                    <!---->
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-border btn-close" mat-button mat-dialog-close
                            (click)="advancesearch=!advancesearch">Cancel</button>
                        <button class="btn btn-filled" (click)="apply()">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>