<app-Logoheader></app-Logoheader>
<main>
  <div class="container revamp__postjob__box">
    <div class="revamp__postjob__container jdv-listing">
      <div class="step step__03">
        <a id="btn_collapse" class="go-to-top" href="#" title="Go to Top" style="">
          <i class="fa fa-angle-double-up"></i>
          <div class="circle" style="animation-delay: -3s"></div>
          <div class="circle" style="animation-delay: -2s"></div>
          <div class="circle" style="animation-delay: -1s"></div>
          <div class="circle" style="animation-delay: 0s"></div>
        </a>
        <div class="row">
          <div class="col-sm-12 post-job-detail">
            <div class="title__container">
              <h3 class="title text-left xs-margin">What are the Buisness Industries required for this job?</h3>
              <p class="title-para">Select the Buisness Industries needed for this job?</p>
            </div>

            <div class="revamp__postjob__icon__grid">
              <div class="form__list">
                <ul>
                  <li>
                    <div class="scrollbar-container">
                      <div class="row flex flex-wrap flex-align-equal ">
                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__banking">Icon</div>
                            <strong>Banking and Finance</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__industry">Icon</div>
                            <strong>IT Industry</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__manufacturing">Icon</div>
                            <strong>Manufacturing</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__ecommerce">Icon</div>
                            <strong>E-Commerce</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__marketing">Icon</div>
                            <strong>Online Services & Marketing</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__logistics">Icon</div>
                            <strong>Logistics</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__tele">Icon</div>
                            <strong>Tele Communication</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__pharma">Icon</div>
                            <strong>Pharma</strong>
                          </button>
                        </div>

                        <div class="col-sm-4">
                          <button class="btn btn-primary btn-lg">
                            <div class="icon icon__insurance">Icon</div>
                            <strong>Insurance</strong>
                          </button>
                        </div>

                      </div>
                    </div>

                  </li>
                  <li>
                    <button class="btn btn-link btn-custom-link">None of the above, Please click here</button>
                  </li>
                  <li class="link__container">
                    <select class="custom-select">
                      <option value="Enter the name of the buisness domain">Enter the name of the buisness domain
                      </option>
                    </select>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-5 job-leftcard">
            <div class="col-container">
              <div class="middle-container">
                <div class="jdv-company-profile flex flex-justify-center flex-align-center">
                  <div class="company-logo flex flex-justify-center flex-align-center">
                    <img src="images/logo.png" alt="">
                  </div>
                  <div class="company-title">
                    <h3>Google</h3>
                    <h2>Web Designer</h2>
                  </div>
                </div>
                <!--/.jdv-company-profile-->
              </div>
              <!--/.middle-container-->
            </div>
            <!--/.col-container-->
          </div>
          <!--/.job-leftcard-->
        </div>
        <div class="btn__container flex flex-wrap flex-align-center">
          <a href="step-1.html" class="btn btn-outline-dark">Back</a>
          <span>So far we have found <strong>18</strong> Job Seekers</span>
          <a href="step-2.1.html" class="btn btn-outline-dark">Skip</a>
          <a href="step-2-1.html" class="btn btn-primary">Continue</a>
        </div>
        <div class="steps__nav">
          <div class="row">
            <div class="col-sm-3">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.revamp__postjob__container-->
  </div>
  <!--/.container-->
</main>