<h1 mat-dialog-title>Request to Candidate</h1>
<div mat-dialog-content>
    <div class="col-md-10 col-md-offset-1 send-req-form" aria-labelledby="drop3">
        <form>
            <div class="form-group text-left">
                <textarea matInput class="form-control" id="reqcandidate" name="CommentProfile" [(ngModel)]="CommentProfile" placeholder="Your Request" rows="2"></textarea>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-default" mat-button mat-dialog-close>Cancel</button>
                <button class="btn btn-filled" mat-button (click)="Request()">Send</button>
            </div>
        </form>
    </div>
</div>