<div class="filter-section">
  <div class="row">
    <div class="col-sm-6 left-col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Your Search Here" aria-label="Enter Your Search Here"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-search" type="button">Button</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 right-col">
      <ul class="filter-navigation flex flex-wrap">
        <li class="active"><a href="#">Arytic</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">My Files</a></li>
      </ul>
    </div>
  </div>
</div>