<div class="job-details-section" *ngIf="JobDetail">
  <div class="title">
    <div class="left-container">
      <div class="buttons-cols">
        <button class="btn btn-with-icon">
          <span class="mdi mdi-lightbulb-outline"></span> 
          Suggested Profiles
        </button>
        <button class="btn btn-with-icon">
          <span class="mdi mdi-star-outline"></span> 
          Wishlisted Profile
        </button>
      </div>
    </div>
    <!-- <div class="right-container ">
      <div class="form-container">
        <div class="form-group">
          <span class="mdi mdi-swap-vertical"></span>
          <select class="form-select">
            <option value="Sort">Sort</option>
          </select>
        </div>
      </div>
      <label class="toggle" for="myToggle">
        <input class="toggle__input" name="" (change)="changeView();" type="checkbox" id="myToggle">
        <div class="toggle__fill"></div>
      </label>
    </div> -->
  </div>
  <div class="pryamid-col">
    <div class="pryamid">
      <div class="box active">
        All Applicants
        <span class="number">{{JobDetail?.TotalApplicants}}</span>
      </div>
      <div class="box box-01">
        Screening
        <span class="number">{{JobDetail?.ScreeningCount}}</span>
      </div>
      <div class="box box-02">
        Shortlisted
        <span class="number">{{JobDetail?.ShortListedCount}}</span>
      </div>
      <div class="box box-03">
        Interviewed
        <span class="number">{{JobDetail?.InterviewedCount}}</span>
      </div>
      <div class="box box-04">
        <span class="arrow"></span>
        <div class="mask">
          <span class="number">{{JobDetail?.Hired}}</span>
          Hired
        </div>
      </div>
    </div>
  </div>
  <div class="data-view-col">
    <div class="chart-view" *ngIf="isChecked == false">
      <h3 class="text-center">Weekly status of Applicants based on Resume Source</h3>
      <div class="chart-grid">
        <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'"
      ></canvas>
      </div>
    </div>
    <div class="table-view" *ngIf="isChecked == true">
      <div class="top-container">
        <h3>Weekly status of Applicants based on Resume Source</h3>
      </div>
      <div class="table-box-container">
        <div class="table-container">
          <div class="table-row table-header-row">
            <div class="table-col name-col">
              Resume Sources (300)
            </div>
            <div class="table-col">
              Uploaded
            </div>
            <div class="table-col">
              Applied
            </div>
            <div class="table-col">
              Screening
            </div>
            <div class="table-col">
              Shorlisted
            </div>
            <div class="table-col">
              Interviewed
            </div>
            <div class="table-col">
              Hired
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">Linkedin (250)</span>
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              0
            </div>
            <div class="table-col">
              2
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">Bullhorn (300)</span>
            </div>
            <div class="table-col">
              17
            </div>
            <div class="table-col">
              10
            </div>
            <div class="table-col">
              -
            </div>
            <div class="table-col">
              39
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">Quinnax (150)</span>
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              2
            </div>
            <div class="table-col">
              3
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <span class="text-ellipsis">AFS (10)</span>
            </div>
            <div class="table-col">
              17
            </div>
            <div class="table-col">
              10
            </div>
            <div class="table-col">
              -
            </div>
            <div class="table-col">
              39
            </div>
            <div class="table-col">
              1
            </div>
            <div class="table-col">
              1
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end table-bottom">
        <a href="javascript:void(0)" class="btn btn-link">Full View</a>
      </div>
    </div>
  </div>
</div>