<div class="job-details-section" *ngIf="JobDetail">
  <div class="title">
    <div class="left-container">
      <div class="top">
        <a href="javascript:void(0)" class="btn-back" (click)="backClicked()">
          <span class="mdi mdi-arrow-left"></span>
        </a>
        <h3>{{JobDetail?.JobTitle}}</h3>

          <span class="status active" *ngIf="JobDetail.JobStatus != 'InActive'">{{JobDetail?.JobStatus}}</span>
          <span class="status inactive" *ngIf="JobDetail.JobStatus === 'InActive'">{{JobDetail?.JobStatus}}</span>
  
     
        <!-- <a href="#" class="btn-view">
          <span class="mdi mdi-account-arrow-right-outline"></span>
        </a> -->
      </div>
      <div class="bottom">
        <div class="company">
          {{JobDetail?.ClientName || "Not Provided"}}
        </div>
        <div class="highlight">
          Arytic ID: {{JobDetail?.JobId}}
        </div>
        <ul>
          <li>
            <span class="mdi mdi-map-marker-outline"></span>
            {{JobDetail?.JobLocations.split('|')[0]}}
          </li>
          <li>
            <span class="mdi mdi-calendar-blank-outline"></span>
            {{JobDetail?.JobPositionId || "Not Provided"}}
          </li>
          <li>
            <span class="mdi mdi-account-group-outline"></span>
            {{JobDetail?.NumberOfVacancies}} Positions
          </li>
        </ul>
      </div>
    </div>
    <div class="right-container">
      <label class="toggle" for="myToggle">
        <input class="toggle__input" name="" (change)="changeView();" type="checkbox" id="myToggle">
        <div class="toggle__fill"></div>
      </label>
    </div>
  </div>
  <div class="pryamid-col">
    <div class="pryamid">
      <div class="box active">
        <select class="form-select">
          <option value="All Applicants">All Applicants</option>
          <option value="Screening">Screening</option>
          <option value="Shortlisted">Shortlisted</option>
          <option value="Interviewing">Interviewing</option>
          <option value="Hired">Hired</option>
        </select>
        <span class="number">{{JobDetail?.TotalApplicants}}</span>
      </div>
      <div class="box box-01">
        Screening
        <span class="number">{{JobDetail?.ScreeningCount}}</span>
      </div>
      <div class="box box-02">
        Shortlisted
        <span class="number">{{JobDetail?.ShortListedCount}}</span>
      </div>
      <div class="box box-03">
        Interviewed
        <span class="number">{{JobDetail?.InterviewedCount}}</span>
      </div>
      <div class="box box-04">
        <span class="arrow"></span>
        <div class="mask">
          <span class="number">{{JobDetail?.Hired}}</span>
          Hired
        </div>
      </div>
    </div>
  </div>
  <div class="data-view-col">
    <div class="chart-view" *ngIf="isChecked == false">
      <h3 class="text-center">Weekly Status of Jobs</h3>
      <figure>
        <img src="../../../../../assets/images/chart-big.png" alt=""/>
      </figure>
    </div>
    <div class="table-view" *ngIf="isChecked == true">
      <div class="top-container">
        <h3>Weekly Status of Jobs</h3>
        <a href="#" class="btn btn-link">Full View</a>
      </div>
      <div class="table-container">
        <div class="table-row table-header-row">
          <div class="table-col name-col">
            Job Forwarded
          </div>
          <div class="table-col">
            New
          </div>
          <div class="table-col">
            Active
          </div>
          <div class="table-col">
            Closed
          </div>
          <div class="table-col">
            Interview
          </div>
          <div class="table-col">
            Closure
          </div>
          <div class="table-col">
            Freezed
          </div>
        </div>
        <div class="table-row table-col-row">
          <div class="table-col name-col">
            <span class="text-ellipsis">Telsa</span>
          </div>
          <div class="table-col">
            1
          </div>
          <div class="table-col">
            0
          </div>
          <div class="table-col">
            2
          </div>
          <div class="table-col">
            3
          </div>
          <div class="table-col">
            1
          </div>
          <div class="table-col">
            1
          </div>
        </div>
        <div class="table-row table-col-row">
          <div class="table-col name-col">
            <span class="text-ellipsis">AFS</span>
          </div>
          <div class="table-col">
            17
          </div>
          <div class="table-col">
            10
          </div>
          <div class="table-col">
            -
          </div>
          <div class="table-col">
            39
          </div>
          <div class="table-col">
            1
          </div>
          <div class="table-col">
            1
          </div>
        </div>
        <div class="table-row table-col-row">
          <div class="table-col name-col">
            <span class="text-ellipsis">Quinnax</span>
          </div>
          <div class="table-col">
            1
          </div>
          <div class="table-col">
            1
          </div>
          <div class="table-col">
            2
          </div>
          <div class="table-col">
            3
          </div>
          <div class="table-col">
            1
          </div>
          <div class="table-col">
            1
          </div>
        </div>
        <div class="table-row table-col-row">
          <div class="table-col name-col">
            <span class="text-ellipsis">AFS</span>
          </div>
          <div class="table-col">
            17
          </div>
          <div class="table-col">
            10
          </div>
          <div class="table-col">
            -
          </div>
          <div class="table-col">
            39
          </div>
          <div class="table-col">
            1
          </div>
          <div class="table-col">
            1
          </div>
        </div>
      </div>
    </div>
  </div>
</div>