<div class="page page--job-details">
    <div>
        <h4 mat-dialog-title class="modal-title text-center">
            Share Job
        </h4>
        <mat-dialog-content class="mat-typography modal-dialog h-auto">
            <div>
                <div class="modal-body">
                    <div class="row">
                    </div>
                    <form action="">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 w-auto">
                                        <label class="radio checkbox">
                            <input type="radio" class="radio-input" name="team" [checked]="true" (click)="teamchange(false)">
                            <span class="radio-btn wh-22 ml-0"></span>
                            <span> INTERNAL </span>
            
                          </label>
                                    </div>
                                    <div class="col-md-6 w-auto">
                                        <label class="radio checkbox">
                            <input type="radio" class="radio-input" name="team" (click)="teamchange(true)">
                            <span class="radio-btn wh-22 ml-0"></span>
                            <span> EXTERNAL</span>
                          
            
                          </label>
                                    </div>
                                </div>
                                <ng-container *ngIf="changeval===false">
                                    <div class="input-group">
                                        <ng-select class="custom-style interview-schedule-popup" [items]="customercontacts"
                                            name="team" placeholder="Add Team Members" (change)="changeTeam($event)"
                                            bindLabel="FirstName" bindValue="UserId" [typeahead]="selectedUserInput"
                                            [hideSelected]="true" [loading]="usersloading" id="teamMbr"
                                            [(ngModel)]="selectedUserName" name="selectedUserName" [virtualScroll]="true"
                                            #TMemb="ngModel">
                                        </ng-select>
    
                                        <span class="input-group-btn">
                                            <button class="btn" (click)="addTeammembers()">+</button>
                                        </span>
                                        <span class="text-danger" *ngIf="TMemb.invalid && TMemb.touched">Required.</span>
                                    </div>
                                    <ul class="share_candidate team-members-list">
                                        <li *ngFor="let teammember of teammemberslist; let i = index">
                                            <div class="w-100">
                                                <h4>{{teammember.FirstName}}
                                                </h4>
                                                <span class="close mt-14" (click)="deleteTeammember(i)">&times;</span>
                                            </div>
                                        </li>
                                    </ul>
                                </ng-container>
                                <ng-container *ngIf="changeval===true">
                                    <div class="form-group public-link">
                                        <label class="label" for="job-link">Public Link</label>
                                        <div class="input-group">
                                          <input type="url" class="form-control text-to-copy njobLink" [(ngModel)]="referLink"  [ngModelOptions]="{standalone: true}" id="job-link">
                                          <span class="input-group-btn">
                                            <button class="btn btn-secondary copy-btn" id="nbtnCpy" (click)="copyToClipboard()" type="button">
                                              <img class="icon visible-xs" src="assets/images/copy-icon.svg" alt="">
                                              <span class="hidden-xs">Copy Link</span>
                                            </button>
                                          </span>
                                        </div>
                                        </div>
                                    <small class="title-subtext"> (Send multiple emails with comma "," seperated )</small>
                                    <form [formGroup]="inviteform">
                                        <div class="input-group col-sm-12 pt-2 p-rel">
                                          <div class="clearfix">&nbsp;</div>
                                          <textarea formControlName="inviteEmail" id="Email" class="form-control col-sm-12 inputh-auto"
                                            autocomplete="new-email" type="email" multiple name="inviteEmail" cols="30" rows="7" required>
                                        </textarea>
                                          <div
                                            *ngIf="inviteform.controls['inviteEmail'].invalid && (inviteform.controls['inviteEmail'].dirty || inviteform.controls['inviteEmail'].touched)"
                                            class="error1">
                                            <div *ngIf="inviteform.controls['inviteEmail']">
                                              Incorrect Email.
                                            </div>
                                          </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <!-- <div class="col-sm-12 plr-0">
                                          <div class="pull-right">
                                            <button class="btn btn-filled btn-next" [disabled]="!inviteform.valid" type="submit" [class.spinner]="loading"
                                            (click)="loginstyle()">Submit</button>
                                          </div>
                                        </div> -->
                                      </form>
                                </ng-container>

                            </div>
                        </div>
                        <div class="form-group" *ngIf="changeval===false">
                            <label for="">Comments</label>
                            <textarea type="text" [(ngModel)]="selectedComments" name="Comments"
                                class="form-control resize-none" placeholder="Please add your comments *"
                                rows="10"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="mat-dialog-actions modal-footer pull-right">
            <button mat-button mat-dialog-close class="btn btn-border">Close</button>
            <ng-container *ngIf="changeval===false">
                <button mat-button (click)="ShareJob()"  class="btn btn-filled" *ngIf="!isSharingStarted">Share</button>   
                <button mat-button class="btn btn-filled" *ngIf="isSharingStarted">Sharing...
                    <i class="fa fa-spinner fa-spin"></i>
                </button>
            </ng-container>
            <ng-container *ngIf="changeval===true">         
                <button mat-button (click)="SaveInvite()" class="btn btn-filled" *ngIf="!isSharingStarted">Share</button>
                <button mat-button class="btn btn-filled" *ngIf="isSharingStarted">Sharing...
                    <i class="fa fa-spinner fa-spin"></i>
                </button>
            </ng-container>
          
        </mat-dialog-actions>
    </div>
</div>