@mixin opacity($x) {
  opacity: $x;  
}

@mixin btn-primary {
  background-color: $dark-green;
  border-color: $dark-green;
  color: $white;
  font-size: $font-size-14;
  border-radius: 8px;
  padding:10px 28px;
  line-height: 1.35;

  &:hover, &:focus, &:active {
    background-color: $darker-green !important;
    border-color: $darker-green !important;
  }

  &:focus, &:active {
    box-shadow: 0 4px 8px rgba($medium-gray,0.30);
  }
}

@mixin btn-info {
  background-color: $blue;
  border-color: $blue;
  color: $white;
  font-size: $font-size-14;
  border-radius: 8px;
  padding:10px 28px;
  line-height: 1.35;

  &:hover, &:focus, &:active {
    background-color: darken($color: $blue, $amount: 5)!important;
    border-color: darken($color: $blue, $amount: 5) !important;
    color: $white;
  }

  &:focus, &:active {
    box-shadow: 0 4px 8px rgba($medium-gray,0.30);
  }
}

@mixin btn-outlined-default {
  background-color: $white;
  border-color: $dark-gray;
  color: $dark-gray;
  font-size: $font-size-14;
  border-radius: 8px;
  padding:10px 28px;
  line-height: 1.35;

  &:hover, &:focus, &:active {
    background-color: $light-gray !important;
    border-color: $dark-gray !important;
    color: $dark-gray;
  }

  &:focus, &:active {
    box-shadow: 0 4px 8px rgba($medium-gray,0.30);
  }
}

@mixin flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin text-align($x) {
  text-align: $x;
}