//Base Size
$base-size : 16px;
$base-family: 'Noto Sans', sans-serif;

//Sidebar width
$sidebar-width: 200px;

//Menubar Height
$topbar-height: 70px;
//Comp Colors
$border-color : #dddddd;

$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;

$darker-gray: #202230;
$darkest-blue: #326687;
$darker-blue: #136482;
$dark-blue: #028CBA;
$darker-green: #2FC495;
$dark-gray: #53647E;
$dark-green: #66DAB5;
$medium-gray: #90A4AD;
$medium-blue: #47B2C4;
$chatni-dark: #CEDFCC;
$chanti-light: #E0ECDE;
$light-gray: #F5F6FA;
$white: #fff;
$medium-green: #37CB95;
$light-green: #E1F7EF;
$red: #DE3C63;
$light-red: #FCECEF;
$orange-dark: #EEA620;
$orange-light: #F5EFDF;
$blue: #3C69FF;
$light-blue: #EBEFFF;
$stroke-gray: #ccc;
$lighter-blue: #F3FAFC;
$lightest-blue: #FCFDFE;
$blue-gray: #B8CBE6;
$light-bg: #F9F9FB;