<div class="page page--job-details">
    <div>
        <h4 mat-dialog-title class="modal-title text-center">
          Send Notification
        </h4>
        <ng-container *ngIf="matching<=49">
            <h6> <i class="fa fa-info-circle"></i> Does profile apt to your position as it matches only {{matching}}%.</h6>
          </ng-container>
          <ng-container *ngIf="matching>49">
            <h6><i class="fa fa-info-circle"></i> Profile apt to your position as it matches {{matching}}%.</h6>
          </ng-container>
        <mat-dialog-content class="mat-typography modal-dialog h-auto">
            <div>
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-md-3 w-auto">
                            <label class="radio checkbox">
                <input type="radio" class="radio-input" name="team" [checked]="true" (click)="teamchange(false,0)">
                <span class="radio-btn wh-22 ml-0"></span>
                <span>Team Member</span>

              </label>
                        </div>
                        <div class="col-md-3 w-auto">
                            <label class="radio checkbox">
                <input type="radio" class="radio-input" name="team" (click)="teamchange(true,1)">
                <span class="radio-btn wh-22 ml-0"></span>
                <span>Candidate</span>

              </label>
                        </div>
                    </div>




                    <ng-container *ngIf="!AddUser">
                        <form action="">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="">Add Team Member</label>
                                    <div class="input-group">
                                        <ng-select class="custom-style interview-schedule-popup" [items]="customercontacts" name="team" placeholder="Add Team Members" (change)="changeTeam($event)" bindLabel="FirstName" bindValue="UserId" [typeahead]="selectedUserInput" [hideSelected]="true"
                                            [loading]="usersloading" id="teamMbr" [(ngModel)]="selectedUserName" name="selectedUserName" [virtualScroll]="true" #TMemb="ngModel">
                                        </ng-select>

                                        <span class="input-group-btn">
                      <button class="btn" (click)="addTeammembers()">+</button>
                    </span>
                                        <span class="text-danger" *ngIf="TMemb.invalid && TMemb.touched">Required.</span>
                                    </div>
                                    <ul class="share_candidate team-members-list">
                                        <li *ngFor="let teammember of teammemberslist; let i = index">
                                            <div class="w-100">
                                                <!-- <img src="http://api.tenendus.com:1090/IdentityAPI/EsolvitImages/professional.png" alt="img"> -->
                                                <h4>{{teammember.FirstName}} {{teammember.LastName}} 
                                                    <span class="dept">-{{teammember.RoleName}}</span> 
                                                </h4>
                                                <span class="close mt-14" (click)="deleteTeammember(i)">&times;</span>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Notes</label>
                                <textarea type="text" [(ngModel)]="selectedComments" name="Comments" class="form-control resize-none" placeholder="Please add your Notes *" rows="10"></textarea>
                            </div>
                        </form>

                    </ng-container>
                    <ng-container *ngIf="AddUser">
                        <form action="">
                            <div class="form-row">
                                <div class="form-group switch-field">
                             {{checkemail}}

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Notes</label>
                                <textarea type="text" [(ngModel)]="selectedComments" name="Comments" class="form-control resize-none" placeholder="Please add your Notes*" rows="10"></textarea>
                            </div>
                        </form>

                    </ng-container>


                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="mat-dialog-actions modal-footer pull-right">

            <button mat-button mat-dialog-close class="btn btn-border">Close</button>
            <button mat-button (click)="ShareProfile()" class="btn btn-filled">Send</button>

        </mat-dialog-actions>
    </div>
</div>