<div class="form-section-title">
  <h3>Position Details</h3>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Business Domain <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-earth"></span>
      <select class="form-select">
        <option value="Select Domain">Select Domain</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Category <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-tag-outline"></span>
      <select class="form-select">
        <option value="Select Domain">Select Category</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Job Title <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-briefcase-outline"></span>
      <select class="form-select">
        <option value="Select Domain">Select Title</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">No of Openings <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-seat-outline"></span>
      <select class="form-select">
        <option value="1">1</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Experience Required <sup>*</sup></label>
    <div class="row">
      <div class="col-sm-6 col-md-6 sub-form-col">
        <div class="form-group">
          <span class="mdi mdi-briefcase-check-outline"></span>
          <input type="text" class="form-control" placeholder="MIN">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 sub-form-col">
        <div class="form-group">
          <span class="mdi mdi-briefcase-check-outline"></span>
          <input type="text" class="form-control" placeholder="MAX">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Job Type <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-briefcase-variant-outline"></span>
      <select class="form-select">
        <option value="Full Time">Full Time</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Start Date <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-calendar-blank-outline" (click)="d.toggle()"></span>
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        ngbDatepicker
        (click)="d.toggle()"
        #d="ngbDatepicker"
      />
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Due Date <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-calendar-blank-outline" (click)="e.toggle()"></span>
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        (click)="e.toggle()"
        ngbDatepicker
        #e="ngbDatepicker"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 single-col form-col">
    <label>Job Description<sup>*</sup></label>
  </div>
  <div class="col-sm-12 form-col">
    <ckeditor  
      [config]="config"
      data="<p>Hello, world!</p>">
    </ckeditor>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 single-col form-col">
    <label class="form-label">Job Attachment<sup>*</sup></label>
  </div>
  <div class="col-sm-12 single-col">
    <div class="file-upload">
      <button class="btn"><span class="mdi mdi-cloud-upload-outline"></span>Browse and upload job related documents</button>
      <input type="file" name="myfile" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Job Owner<sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-circle-outline"></span>
      <select class="form-select">
        <option value="Select from team members">Select from team members</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Job Assign <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-arrow-right-outline"></span>
      <select class="form-select">
        <option value="Select from team members">Select from team members</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Work Authorization <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-badge-account-outline"></span>
      <select class="form-select">
        <option value="Select">Select</option>
      </select>
    </div>
  </div>
</div>