.ng-select.interview-schedule-popup>.ng-select-container {
    margin-top: 0px!important;
}

.mat-dialog-actions {
    display: inline-grid;
    width: 100%;
}

.bg-primary {
    background-color: #337ab7 !important;
}

.pt-4r {
    padding-top: 4rem;
}

.page--job-details .modal-body label {
    text-transform: capitalize;
}

.cal-icon.mt-2_7 {
    margin-top: 2.7rem;
}

.page--job-details #scheduleInterview .interview-type .tab-content {
    padding: 30px 0 0;
    width: 30vw;
}