.ng-select.interview-schedule-popup>.ng-select-container {
    margin-top: 0px!important;
}

.mat-dialog-actions {
    display: inline-grid;
    width: 100%;
}

.bg-primary {
    background-color: #337ab7 !important;
}

.pt-4r {
    padding-top: 4rem;
}

.cal-icon.mt-2_7 {
    margin-top: 2.7rem;
}

.page--job-details #scheduleInterview .interview-type .tab-content {
    padding: 30px 0 0;
}

/*Add new user styles 19-03-2020*/
.add-new-user .add-btn {
    margin-top: 35%;
    text-align: center;
    color: #ffffff;
    padding: 18px;
    width: 55px;
    background-color: #66DAB5;
    border: 0;
    border-radius: 3px;
}

.revamp__postjob__icon__grid .btn.btn-primary { padding:14px; height:100%; font-size:14px; width:100%; display:block; box-shadow:4px 4px 10px rgba(158,171,192,0.20);  background:#fff; color:#b3c8e8; font-weight:700; border-color:#eee; white-space:normal; }
.revamp__postjob__icon__grid .btn.btn-primary:hover, .revamp__postjob__icon__grid .btn-primary:not(:disabled):not(.disabled).active { background:#eff2ff; border-color:#2e5bff; color:#2e5bff; }
.revamp__postjob__icon__grid .icon { margin:0 auto 15px;  width:48px; display: block; font-size:0; height:48px; background:url(../../../../../../assets/images/post-a-job-sprites.png) 0 0 no-repeat; }
.revamp__postjob__icon__grid .icon.icon__inperson { background-position:-616px -265px; }
.revamp__postjob__icon__grid .icon.icon__phone { background-position:-675px -265px; }
.revamp__postjob__icon__grid .icon.icon__conforence { background-position:-737px -265px; width:52px; }

.revamp__postjob__icon__grid .btn.btn-primary:hover .icon.icon__inperson{ background-position:-616px -326px;  }
.revamp__postjob__icon__grid .btn.btn-primary:hover .icon.icon__phone { background-position:-675px -326px;  }
.revamp__postjob__icon__grid.btn.btn-primary:hover .icon.icon__conforence { background-position:-737px -326px;  }


.page--job-details .modal-body .form-group { margin-bottom:15px; }
.type-search .form-control { border-radius:4px 0 0 4px;  }
.type-search .input-group-btn, .interview-date-group .input-group-btn { border-radius:0 4px 4px 0; }
.type-search .btn.btn-primary { border:0; }
.datepicker { padding:4px 10px; }
.helping__para { margin-top:5px; }

/*Flex Classes
========================================================================================*/
.flex { display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; }
.flex-value { -webkit-box-flex:0 0 100%; -moz-box-flex:0 0 100%; -webkit-flex:0 0 100%; -ms-flex:0 0 100%; flex:0 0 100%; }
.flex-row { -webkit-flex-direction:row; -moz-flex-direction:row; -ms-flex-direction:row; flex-direction:row; }
.flex-column { -webkit-flex-direction:column; -moz-flex-direction:column; -ms-flex-direction:column; flex-direction:column; }
.flex-wrap { -webkit-flex-wrap:wrap; -moz-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; }
.flex-nowrap { -webkit-flex-wrap:nowrap; -moz-flex-wrap:nowrap; -ms-flex-wrap:nowrap; flex-wrap:nowrap; }
.flex-justify-center { -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; justify-content:center; -ms-flex-pack:center; }
.flex-justify-start { -webkit-justify-content:flex-start; -moz-justify-content:flex-start; -ms-justify-content:flex-start; justify-content:flex-start; -ms-flex-pack:flex-start; }
.flex-justify-end { -webkit-justify-content:flex-end; -moz-justify-content:flex-end; -ms-justify-content:flex-end; justify-content:flex-end; -ms-flex-pack:flex-end; }
.flex-align-center { -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; -ms-flex-align:center; align-items:center; }
.flex-align-equal { -webkit-align-items:stretch; -moz-align-items:stretch; -ms-align-items:stretch; -ms-flex-align:stretch; align-items:stretch; }
.flex-align-start { -webkit-align-items:flex-start; -moz-align-items:flex-start; -ms-align-items:flex-start; -ms-flex-align:flex-start; align-items:flex-start; }
.flex-align-end { -webkit-align-items:flex-end; -moz-align-items:flex-end; -ms-align-items:flex-end; -ms-flex-align:flex-end; align-items:flex-end; }
.flex-align-baseline { -webkit-align-items:baseline; -moz-align-items:baseline; -ms-align-items:baseline; -ms-flex-align:baseline; align-items:baseline; }

.flex-self-center { -webkit-align-self:center; -moz-align-self:center; -ms-align-self:center; -ms-flex-self:center; align-self:center; }
.flex-self-equal { -webkit-align-self:stretch; -moz-align-self:stretch; -ms-align-self:stretch; -ms-flex-self:stretch; align-self:stretch; }
.flex-self-start { -webkit-align-self:flex-start; -moz-align-self:flex-start; -ms-align-self:flex-start; -ms-flex-self:flex-start; align-self:flex-start; }
.flex-self-end { -webkit-align-self:flex-end; -moz-align-self:flex-end; -ms-align-self:flex-end; -ms-flex-self:flex-end; align-self:flex-end; }
.flex-self-baseline { -webkit-align-self:baseline; -moz-align-self:baseline; -ms-align-self:baseline; -ms-flex-self:baseline; align-self:baseline; }
