<div class="job-documents">
	<ng-container *ngIf="!isDocumentType">
    <!-- <div class="form-container">
      <div class="row">
        <div class="col-sm-12 single-col">
          <div class="file-upload">
            <button class="btn">
              <h4>Browser & Upload Resume</h4>
              <span class="mdi mdi-cloud-upload-outline"></span>
              Update Resume By Uploading New One
            </button>
            <input type="file" name="myfile" />
          </div>
          <div class="description">
            <span class="mdi mdi-information-outline"></span>
            Upload .doc, .docx, .pdf, .txt file only
          </div>
        </div>
      </div>
    </div> -->
    <div class="listing-table resume-listing-table">
      <div class="table-box-container">
        <div class="table-container">
          <div class="table-row table-header-row">
            <div class="table-col name-col">
              Replace Name
            </div>
            <div class="table-col">
              Type
            </div>
            <div class="table-col select-col">
              Resume Source
            </div>
            <div class="table-col">
              Size
            </div>
            <div class="table-col">
              Actions
            </div>
          </div>
          <div class="table-row table-col-row">
            <div class="table-col name-col">
              <div class="document-name no-padding">
                <span class="text-ellipsis">1099 Form.doc</span>
              </div>
            </div>
            <div class="table-col">
              .doc
            </div>
            <div class="table-col select-col">
              <select class="form-select">
                <option value="Naukri">Naukri</option>
              </select>
            </div>
            <div class="table-col">
              4 MB
            </div>
            <div class="table-col">
              <ul class="action-nav">
                <li>
                  <a href="#"><span class="mdi mdi-eye-arrow-right-outline"></span></a>
                </li>
                <li>
                  <a href="#"><span class="mdi mdi-note-outline"></span></a>
                </li>
                <li>
                  <a href="#"><span class="mdi mdi-tray-arrow-down"></span></a>
                </li>
                <li>
                  <a href="#"><span class="mdi mdi-delete-outline"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isDocumentType">
    <div class="job-documents">
      <!-- <div class="form-container">
        <div class="row">
          <div class="col-sm-12 single-col">
            <div class="file-upload">
              <button class="btn">
                <h4>Browser & Upload Documents</h4>
                <span class="mdi mdi-cloud-upload-outline"></span>
              </button>
              <input type="file" name="myfile" />
            </div>
            <div class="description">
              <span class="mdi mdi-information-outline"></span>
              Upload .doc, .docx, .pdf, .txt file only
            </div>
          </div>
        </div>
      </div>
      <div class="listing-table">
        <h4>List of Documents</h4>
        <div class="table-box-container">
          <div class="table-container">
            <div class="table-row table-header-row">
              <div class="table-col name-col">
                Document Name
              </div>
              <div class="table-col">
                Type
              </div>
              <div class="table-col">
                Size
              </div>
              <div class="table-col">
                Actions
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Documents.docx</span>
                  <a href="#" class="btn btn-edit">
                  <span class="mdi mdi-circle-edit-outline"></span>
                  </a>
                </div>
              </div>
              <div class="table-col">
                .doc
              </div>
              <div class="table-col">
                4 MB
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-delete-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name no-padding">
                  <span class="text-ellipsis">Documents.pdf</span>
                  <a href="#" class="btn btn-edit">
                  <span class="mdi mdi-circle-edit-outline"></span>
                  </a>
                </div>
              </div>
              <div class="table-col">
                .pdf
              </div>
              <div class="table-col">
                4 MB
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-delete-outline"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-outlined-default">Clear</button>
          <button class="btn btn-info">Save</button>
        </div>
      </div> -->
      <div class="listing-table">
        <h4>List of Documents</h4>
        <div class="table-box-container">
          <div class="table-container">
            <div class="table-row table-header-row">
              <div class="table-col name-col">
                Document Name
              </div>
              <div class="table-col">
                Type
              </div>
              <div class="table-col">
                Size
              </div>
              <div class="table-col">
                Actions
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name">
                  <span class="text-ellipsis">1099 Form.doc</span>
                </div>
              </div>
              <div class="table-col">
                .doc
              </div>
              <div class="table-col">
                4 MB
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-eye-arrow-right-outline"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="mdi mdi-tray-arrow-down"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="table-row table-col-row">
              <div class="table-col name-col">
                <div class="document-name">
                  <span class="text-ellipsis">1099 Form.doc</span>
                </div>
              </div>
              <div class="table-col">
                .doc
              </div>
              <div class="table-col">
                4 MB
              </div>
              <div class="table-col">
                <ul class="action-nav">
                  <li>
                    <a href="#"><span class="mdi mdi-eye-arrow-right-outline"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="mdi mdi-tray-arrow-down"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>