<ul class="history-container">
  <li class="professional">
    <span class="year"><span>Now</span></span>
    <div class="info-box">
      <p>Jan 2021 - Sep 2021</p>
      <h5>Lead Informatica Developer</h5>
      <p>Cigna Health Insurance Cgi10</p>
      <span class="location"><span class="mdi mdi-map-marker-outline"></span>Lafayette,La</span>
      <span class="mdi mdi-briefcase-variant-outline"></span>
    </div>
  </li>
  <li class="sub-history">
    <ul>
      <li>
        <span class="year"><span>Now</span></span>
        <div class="info-box">
          <h5>Name of The Project</h5>
          <p>6 Months</p>
        </div>
      </li>
      <li>
        <span class="year"><span>Now</span></span>
        <div class="info-box">
          <h5>Name of The Project</h5>
          <p>6 Months</p>
        </div>
      </li>
    </ul>
  </li>
  <li class="professional">
    <span class="year"><span>2020</span></span>
    <div class="info-box">
      <p>Jan 2021 - Sep 2021</p>
      <h5>Lead Informatica Developer</h5>
      <p>Cigna Health Insurance Cgi10</p>
      <span class="location"><span class="mdi mdi-map-marker-outline"></span>Lafayette,La</span>
      <span class="mdi mdi-briefcase-variant-outline"></span>
    </div>
    
  </li>
</ul>