 
<div class="form-group job-title-group">
  <label for="" class="question">Which Category this job belongs to?</label>
  <p class="description">Share details so we can find you the most eligible candidates.</p>
  <ng-select class="custom-style" 
  [items]="jobcategorylist | async" 
  placeholder="Ex: Application Development" 
  bindLabel="Category"
  bindValue="JobCategoryId" [typeahead]="jobcategoryinput" 
  [hideSelected]="true" [loading]="jobtitleloading"
  [(ngModel)]="selectedCategory" [virtualScroll]="true" (change)="updateJobCategory($event)">
</ng-select>
  <ul class="data-list">
    <li *ngIf="selectedCategory?.Category && selectedCategory!=undefined &&  selectedCategory?.Category.length > 0"> {{selectedCategory.Category}} </li>
  </ul>
</div>

    
<!-- <ng-select class="custom-style" [items]="jobcategorylist | async"
             placeholder="e.g. Senior Java Developer"
             [typeahead]="jobcategoryinput"
             [hideSelected]="true"
             [loading]="jobtitleloading"
             [(ngModel)]="selectedCategory"
             [virtualScroll]="true"
             (change)="updateJobCategory()">
  </ng-select> -->
