<div class="form-row row">
  <div class="col-md-6">
    <div class="form-group job-title-group">
      <label for="" class="question">What is the Job Title?</label>
      <ng-select class="custom-style" [items]="jobtitlelist | async" placeholder="e.g. Senior Java Developer"
        [typeahead]="jobtitleinput" [hideSelected]="true" [loading]="jobtitleloading" [(ngModel)]="selectedTitle"
        [virtualScroll]="true" (change)="updateJobTitle()">
      </ng-select>
      <ul class="data-list">
        <li *ngIf="selectedTitle && selectedTitle!=undefined &&  selectedTitle.length > 0">{{selectedTitle}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group re-group">
      <label for="" class="question">Required Experience</label>
      <!-- <div class="styled-select-box block experience-output"></div> -->
      <ng-select class="custom-style" [items]="expYears" (change)="getExpYears()"  [hideSelected]="true" placeholder="1 yr" 
      bindLabel="minExperience"
      [loading]="peopleLoading"
      [(ngModel)]="minexperience">
      </ng-select> 

      <ng-select class="custom-style" [items]="expYears" (change)="getExpYears()"  [hideSelected]="true" placeholder="1 yr" 
      bindLabel="minExperience"
      [loading]="peopleLoading"
      [(ngModel)]="maxexperience">
      </ng-select> 
    </div>
  </div>
</div>