<!-- <div class="form-row row">
    <div class="col-md-6">
        <div class="form-group job-title-group">
            <label for="" class="question"> What is the Job Title?</label>
            <ng-select class="custom-style" [items]="jobtitlelist | async" [typeahead]="jobtitleinput"
                [hideSelected]="true" placeholder="Type and Select" [loading]="jobtitleloading"
                [(ngModel)]="selectedTitle" [virtualScroll]="true" [addTag]="true" required #JobTitle="ngModel"
                name="Title" (change)="updateJobTitle($event)">
            </ng-select>
             <ul class="data-list">
       <li *ngIf="selectedTitle && selectedTitle!=undefined &&  selectedTitle.length > 0">{{selectedTitle}}</li> -->
            <!-- {{suggestedTitle.JobTitle}} 
        <li  *ngFor="let title of suggestedTitle; let i = index" (change)="updateJobTitle(title)">{{title.JobTitle}}</li>
      </ul>

            <small class="error1" *ngIf="JobTitle.invalid && JobTitle.touched">Required.</small>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group re-group">
            <label for="requiredExperience" class="question">Required Experience</label>
        : {{minYears | number:'1.0-1'}} Years - {{maxYears | number:'1.0-1'}} Years
            <div class="row re-exp">
                 <div class="styled-select-box block experience-output"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input class="form-control" name="min-exp" placeholder="Min years" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input class="form-control" name="max-exp" placeholder="Max years" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-rel">
                        <ng-select class="custom-style" id="requiredExperience" [items]="expYears" (change)="updateMinExp()" [hideSelected]="true" placeholder="Min" bindLabel="minExperience" bindValue="minExperience" [(ngModel)]="minExperience" #totMinExp="ngModel" name="miniExperience"
                            required>
                        </ng-select> 
                          <small class="text-danger error1" *ngIf="totMinExp.invalid && totMinExp.touched">Required.</small>
                         {{minExperience}} {{ maxExperience}} 
                        <small class="text-danger error1" *ngIf="minExperience > maxExperience">          valdiateExperience(minExperience,maxExperience)  
                            Can't be > Max Exp!
                        </small> -->
                        <!-- <ng5-slider [(value)]="minExperience" [(highValue)]="maxExperience" [options]="options"
                            (userChangeStart)="minExperienceChangeStart($event)"
                            (userChange)="onExperienceChange($event)" (userChangeEnd)="maxExperienceChangeEnd($event)"
                            name="hourly">
                        </ng5-slider> -->
                        <!-- <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                    </div>
                </div>
              <div class="col-md-6">
                    <div class="p-rel">
                        <ng-select class="custom-style" [items]="expYears" (change)="updateMaxExp()" [hideSelected]="true" placeholder="Max" bindLabel="maxExperience" bindValue="maxExperience" [(ngModel)]="maxExperience" #totMaxExp="ngModel" name="maxiEperience" required>
                        </ng-select>
                        <small class="text-danger error1" *ngIf="totMaxExp.invalid && totMaxExp.touched">Required.</small>
                        
                        <small class="text-danger error1" *ngIf="minExperience > maxExperience">          
                             valdiateExperience(minExperience,maxExperience)  
             Can't be < Min Exp!
          </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="form-row job-title-suggestions">
    <div class="checkbox" *ngFor="let  title of suggestedTitle; let i = index">
        <label><input type="radio" name="location" (change)="selectLocation(jobs.PreferredLocationId)"  value=""><span class="box">{{jobs.CityName}}</span> </label>
        <label><input type="radio" (change)="updateJobTitle(title)" name="jobtite" [value]="title.JobTitle"><span
                class="box">{{title.JobTitle}}</span> </label>
       [ngModel]="selectedTitle"  commented because it is not selected in category
    </div>
</div> -->


<div class="row flex flex-wrap form-row form-rows flex-align-start job-id-group">
    <div class="col-md-3 form-cols">
        <div class="form-group">
            <label class="question" for="keyresp">Do you have a Job ID? <small>(Optional)</small></label>
            <input class="form-control no-margin" [(ngModel)]="jobPositionId" onkeypress="return event.keyCode != 35" (ngModelChange)="changeJobPosition($event)" name="jobPositionId" placeholder="Job ID" type="text">
        </div>
    </div>
    <div class="col-md-3 form-cols">
        <div class="form-group">
            <label class="question">Job Priority <small>(Optional)</small></label>
            <div class="clearfix">
                <ng-container *ngFor="let type of jobimplist">
                    <label  class="radio">
                        <input type="radio" [(ngModel)]="jobPriority" (change)="updateJobImp()" name="low" class="radio-input" [value]="type.Id">
                        <span class="radio-btn">{{type.JobPriority}}</span>
                        <!-- <span></span> -->
                    </label>
                </ng-container>


                <!-- <label for="jpm" class="radio">
                    <input type="radio" id="jpm" name="medium" class="radio-input">
                    <span class="radio-btn"></span>
                    <span>Medium</span>
                </label>

                <label for="jpu" class="radio">
                    <input type="radio" id="jpu" name="urgent" class="radio-input">
                    <span class="radio-btn"></span>
                    <span>Urgent</span>
                </label> -->
            </div>

        </div>
    </div>
    <div class="col-md-4 j-d  form-cols">
        <label for="keyresp" class="question">Job Due on </label><small class="pull-right till-date">Till : {{ExpiryDate | date:'medium'}}</small>
        <ng-select class="custom-style" [items]="jobDuelist"  placeholder="Select Jobdue" bindLabel="DueIn" bindValue="Id"  [(ngModel)]="Expiry"  required #JobDue="ngModel"
        name="JobDue" (change)="updateJobDue()">
      </ng-select>
      <span class="text-danger"
      *ngIf="JobDue.invalid && JobDue.touched">Due Date Required.</span>
    </div>
    <div class="col-md-2 custom-date  form-cols">
        <ng-container *ngIf="showDate">
            <label for="jobPri" class="jobid question">Custom Date </label>
            <!-- <ng-datepicker [(ngModel)]="ExpiryDate" [options]="Options" (ngModelChange)="changeMethod($event)"> </ng-datepicker> -->
            <angular2-date-picker  [(ngModel)]="ExpiryDate" (onDateSelect)="changeMethod($event)" [settings]="settings"></angular2-date-picker>   
             <!-- <input type="date" class="form-control"  #Edate="ngModel"  [(ngModel)]="ExpiryDate" (ngModelChange)="ExpiryDate=$event" name="ExpiryDate"  placeholder="Due Date*"  id="datepicker" required> -->
          </ng-container>
          <!-- <ng-container *ngIf="!showDate">
            <label for="jobPri" class="jobid">Custom Date </label>
           <angular2-date-picker [(ngModel)]="ExpiryDate" [ngClass]="'pointernone'" [settings]="settings"></angular2-date-picker>  
              <input type="date" class="form-control"  #Edate="ngModel"  [(ngModel)]="ExpiryDate" (ngModelChange)="ExpiryDate=$event" name="ExpiryDate"  placeholder="Due Date*"  id="datepicker" required> 
          </ng-container> -->
    </div>
</div>
