<!--Job ID Div Starts-->
<div class="form-group jobid-section">
  <label for="jobPositionId" class="jobid">Do you have Job Id? <small>(Optional)</small></label>
  <input class="form-control"  name="jobPositionId" [(ngModel)]="jobPositionId" onkeypress="return event.keyCode != 35" (ngModelChange)="changeJobPosition($event)" placeholder="Job Id" type="text">
  <!-- <small class="text-danger radio-error1" *ngIf="jobPositionId.invalid && jobPositionId.touched">JobId is required!</small> -->
</div>

<div class="form-group">
  <label for="jobPri" class="jobid">Job Priority</label>
  <ng-select class="custom-style" [items]="jobimplist"  bindLabel="JobPriority" bindValue="Id"  [(ngModel)]="jobPriority"   placeholder="Priority *" required #Jobimp="ngModel"
  name="Jobimp" (change)="updateJobImp()">
</ng-select>
</div>
<!--Job ID Div Ends-->


<div class="form-group job-profile-group">
  <label for="" class="question">Do you have a complete description of the Job profile? <small>(Optional)</small></label>
  <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->
  <div class="clearfix">
    <label class="radio"  *ngFor="let type of hasCompleteDescriptionList">
      <!-- <input type="radio" id="r1yes" (change)="setValue(true)"   [(ngModel)]="hasCompleteDescription" checked="hasCompleteDescription" name="contactVia" class="radio-input" /> -->
       <input type="radio" [(ngModel)]="hasCompleteDescription" (change)="setValue(type)" name="contactVia"  class="radio-input" [value]="type">
        <span class="radio-btn"></span> 
        <span>{{type ? "Yes" : "No"}}</span>
      </label>
   
    <!-- <label for="r2no" class="radio">
      <input type="radio" id="r2no"  (change)="setValue(false)"  [(ngModel)]="hasCompleteDescription"  checked="hasCompleteDescription" name="contactVia" class="radio-input" />
      <span class="radio-btn"></span>
      <span>No</span>
    </label> -->
  </div>
  <div class="clearfix">&nbsp;</div>
  <div *ngIf="hasCompleteDescription">
  <textarea name=""  id="completeDescription" [(ngModel)]="jobDescription" (ngModelChange)="changeDescription($event)" class="form-control"></textarea>
      <small class="text-danger" *ngIf="hasCompleteDescription==true && jobDescription==''">          <!-- valdiateExperience(minExperience,maxExperience) -->
       *Required
     </small>
    </div>
</div>

