<div class="form-group responsibility-group">
  <label for="" class="question">What are the Responsibilities that you are looking for in the candidate?</label>
  <p class="description">Share details so we can find you the most eligible candadtes.</p>
  <ul class="responsibility-list">
      
    <li *ngFor="let responsibility of responsibilitieslist; let i = index">
      <label for="{{responsibility.RoleId}}" class="radio">
        <div>
          <input type="checkbox" (change)="changeRoles($event)" [ngModel]="responsibility.RoleId" class="radio-input" />
          <span class="radio-btn"></span>
        </div>
        <span>{{responsibility.Role}}</span>
        <span class="close" (click)="deleteResponsibility(i)">&times;</span>
      </label>
    </li>
 
  </ul>
   <div class="form-row row">
    <div class="col-md-10">
       <!-- <input id="responsibility" type="text" class="form-control ui-autocomplete-input" name="benefits" placeholder="Add more responsibilities"
        [(ngModel)]="responsibilities"> -->

        <input class="form-control" autocomplete="off" type="text" name="RolesAndResponsibilities" 
        required [(ngModel)]="responsibilities" id="responsibilitiesName" (keyup)="GetTitleRoles()"
        placeholder="Type and Select">
        <div class="searchList" *ngIf="roleJobTitleList!=null" >
            <ul class="searchList-dropdown">
              <li class="searchList-options" *ngFor="let roleTitle of roleJobTitleList" (click)="SetRoleValue(roleTitle)">{{roleTitle.RolesAndResponsibilities}}</li>
            </ul>
          </div>
      </div>
    <div class="col-md-2">
        <button class="btn add-btn form-control" (click)="AddRoles()">+</button>
    </div>
  </div>

  <!-- <div class="lists row">
    <div class="col-md-6">
      <h4 for="" class="light">Responsibilities</h4>
      <ul class="data-list">
        <li *ngFor="let responsibility of responsibilitieslist; let i = index">
          <span class="name">{{responsibility}}</span>
          <span class="close" (click)="deleteResponsibility(i)">&times;</span>
        </li>
      </ul>
    </div>
  </div> -->
</div>
                    
