<div class="form-group position-group custom-slider">
    <label for="" class="question">What is the Salary Range? 
      <a  href="javascript:void(0)"  class="tooltip__link">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span class="custom__tooltip">
          <span class="step__01">Specific monetary compensation provided based on requirements. </span>
        </span>
      </a>
    </label>
      <p class="description"> Differentiation is based on employment type and selection of hourly or annual.</p>
      <div class="options">
        <!-- <div class="checkbox">
          <label>
            <input type="radio" name="emp-type" (change)="selectSalaryType(type)" [(ngModel)]="salaryType" value="1">
            <span class="box">Hourly</span>
          </label>
        </div> -->
        <div class="checkbox" *ngFor="let sal of salaryTypelist">
          <!-- <label><input type="radio" [(ngModel)]="salaryTypeSelected" (change)="selectSalaryType(sal)" name="sal" [value]="sal"><span class="box">{{sal}}</span> </label> -->
          <label><input type="radio" [ngModel]="salaryTypeSelected && salaryTypeSelected?.SalaryTypeId" (change)="selectSalaryType(sal)" name="sal" [value]="sal.SalaryTypeId"><span class="box">{{sal.SalaryType}}</span> </label>
        </div>
         <!--Salary Open 14-12-2020-->
        <div class="checkbox sal-open">
          <label class="custom__checkbox lg-select">
            <input type="checkbox" [(ngModel)]="flag" name="flag"  [checked]="flag" (change)="checkValue(flag ?true:false)"> 
              <span class="checkmark">Please check if you want Salary range to be Open?</span>
          </label>
        </div>
        <!-- <div class="checkbox">
          <label>
            <input type="radio" name="emp-type" (change)="selectSalaryType(type)" [(ngModel)]="salaryType" value="2">
            <span class="box">Annually</span>
          </label>
        </div> -->
      </div>
    <div *ngIf="salaryTypeSelected?.SalaryTypeId === 2">
     <!-- <ng5-slider [(value)]="minAnnualRate"
                [(highValue)]="maxAnnualRate"
                [options]="annual"
                (userChangeStart)="minAnnualChangeStart($event)"
                (userChange)="onAnnualChange($event)"
                (userChangeEnd)="maxAnnualChangeEnd($event)"
                name="annual">
    </ng5-slider> -->
    
     <!--New Input Fields for Salary 08-06-2020-->
     <!-- <div class="clearfix">&nbsp;</div> -->
     <div class="row m-style" *ngIf="salaryTypeSelected?.SalaryTypeId === 2">

      <div class="col-md-2 p-rel" *ngIf="flag === false">
        <div class="material-textfield">
          <input  placeholder="" #Minname="ngModel" name="MinSal"  (keypress)="numberOnly($event)" [(ngModel)]="minAnnualRate"  required (input)="onMinChange($event.target.value)" type="text">
          <span class="error1"
          *ngIf="Minname.invalid && Minname.touched">Required.</span>
          <label>Min Pay</label>
        </div>
      </div>
      <div class="col-md-1 text-center" *ngIf="flag === false">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <div class="col-md-2 p-rel" *ngIf="flag === false">
        <div class="material-textfield">
          <input name="smax" placeholder="" #Maxname="ngModel" name="MaxSal" (keypress)="numberOnly($event)" [(ngModel)]="maxAnnualRate" required (input)="onMaxChange($event.target.value)" type="text">
          <span class="error1"
          *ngIf="Maxname.invalid && Maxname.touched">Required.</span>
          <label>Max Pay</label>
        </div>
      </div>
      <!--Salary Open Publish 14-12-2020-->
      <div class="col-md-4 sal-open-publish" *ngIf="flag === false"> 
        <div class="checkbox">
          <label>
            <input type="checkbox" name="flag1"  [(ngModel)]="flag1"  [checked]="flag1" (change)="checkValue1(flag1?true:false)"> Publish
          </label>
        </div>
      </div>
    </div>
    <!---->
    </div>
    <div>
      <!-- <ng5-slider [(value)]="minHourRate"
                 [(highValue)]="maxHourRate"
                 [options]="hourly"
                 (userChangeStart)="minHourlyChangeStart($event)"
                 (userChange)="onHourlyChange($event)"
                 (userChangeEnd)="maxHourlyChangeEnd($event)"
                 name="hourly">
     </ng5-slider> -->
          <!--New Input Fields for Salary 08-06-2020-->
          <!-- <div class="clearfix">&nbsp;</div> -->
          <div class="row m-style" *ngIf="salaryTypeSelected?.SalaryTypeId === 1">
            <div class="col-md-2 p-rel" *ngIf="flag === false">
              <div class="material-textfield">
                <input  placeholder="" #Minhname="ngModel" name="MinhSal" (keypress)="numberOnly($event)" [(ngModel)]="minHourRate"  required (input)="onMinChange($event.target.value)" type="text">
                <span class="error1"
                *ngIf="Minhname.invalid && Minhname.touched">Required</span>
                <label>Min Pay</label>
              </div>
            </div>
            <div class="col-md-1 text-center" *ngIf="flag === false">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 p-rel" *ngIf="flag === false">
              <div class="material-textfield">
                <input name="smax" placeholder="" #Maxhname="ngModel" name="MaxhSal" (keypress)="numberOnly($event)" [(ngModel)]="maxHourRate" required (input)="onMaxChange($event.target.value)" type="text">
                <span class="error1"
                *ngIf="Maxhname.invalid && Maxhname.touched">Required</span>
                <label>Max Pay</label>
              </div>
            </div>
             <!--Salary Open Publish 14-12-2020-->
            <div class="col-md-4 sal-open-publish" *ngIf="flag === false"> 
              <div class="checkbox">
                <label>
                  <input type="checkbox"  [(ngModel)]="flag1"  [checked]="flag1" (change)="checkValue1(flag1?true:false)"> Publish
                </label>
              </div>
            </div>
          </div>
          <!---->
     </div>

     
     <!--Commented on 11-04-2020, as requirement need to be revamped-->
  <!-- <a  href="Javascript:void(0)" (click)="show=!show">Other</a> -->

<ng-container *ngIf="salaryTypeSelected?.SalaryTypeId === 1 && show">
 
    <div>
      <input type="text" class="form-control" #Minname="ngModel" name="MinSal" [(ngModel)]="minHourRate"  required (input)="onMinChange($event.target.value)">
      <span class="error1"
      *ngIf="Minname.invalid && Minname.touched">Required</span>
    </div> 
  <div>
    <input type="text" class="form-control" #Maxname="ngModel" name="MaxSal" [(ngModel)]="maxHourRate"  required (input)="onMaxChange($event.target.value)">
    <span class="error1"
    *ngIf="Maxname.invalid && Maxname.touched">Required</span>
  </div>
</ng-container>   




    </div>
