<div id="step1" class="tab-pane fade active in">
  <a href="javascript:void(0)" (click)="start()" class="pull-right"><i class="fa fa-info"></i> How it works?</a>
  <div class="tab-inner" data-step="1" data-intro="Provide important details required for the job and converts the data provided into a job card" data-position='top'>
   
    <app-steps-step1-jobprofile data-step="2" data-intro="Specify required Industry,Job title,Experience,Description for job here." data-position='left'>
    </app-steps-step1-jobprofile>    <!-- changes as sugggested-->
    <!-- <app-steps-step1-jobcategory>
    </app-steps-step1-jobcategory> -->
  
    <app-steps-step1-employmenttype (myEmploymentType)="changeEmploymentType()">    
    </app-steps-step1-employmenttype>
  
  
  
    <!-- <app-steps-step1-clients>
    </app-steps-step1-clients> -->
  
    
  <div class="form-rows row">
    <div class="form-sm-12 form-cols">
      <div class="form-group contract-details-group" *ngIf="show">    
        <!-- <button type="button" (click)="OpenScheduleInterviewDialog()">videoprofile</button> -->
        <label for="" class="question">Specifics of the Contract Job details? <small>(Optional)</small></label>
        <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->
        <div class="row form-sub-rows single-form-rows">
          <div class="col-sm-6 form-sub-cols single-form-cols">
            <app-steps-step1-contractduration> 
            </app-steps-step1-contractduration>
          </div>
          <div class="col-sm-6 form-sub-cols single-form-cols">
            <app-steps-step1-contractextension>    
            </app-steps-step1-contractextension>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <app-steps-step1-jobdetails>
  </app-steps-step1-jobdetails>
  
  <div class="row form-main-rows">
    <div class="col-sm-12 form-cols" data-step="3" data-intro="Specify job Locations,how many open positions here." data-position='left'>
      <app-steps-step2-locationwisejobs>
      </app-steps-step2-locationwisejobs>
    </div>
  </div>

  <div class="row form-main-rows">
    <div class="col-sm-12 form-cols">
      <app-stepsalaryslider>  
      </app-stepsalaryslider>
    </div>
  </div>

  <div class="row form-rows single-form-rows form-main-rows">
    <div class="col-sm-12 form-cols single-form-cols">
      <app-jobdescription>        
      </app-jobdescription>
    </div>
  </div>
  
  <div class="row form-rows single-form-rows form-main-rows flex-align-end flex">
    <!-- <div class="col-sm-6 form-cols single-form-cols">
      <a href="javascript:void(0)" (click)="documentManagerDialog()"  class="btn btn-border btn-prev">Add documents related to this job</a>
    </div> -->
    <div class="col-sm-6 form-cols single-form-cols">
      <app-steps-step1-clients>
      </app-steps-step1-clients>
    </div>
  </div>
  
  <!-- 
    <app-steps-step1-immigrationmanager>   
    </app-steps-step1-immigrationmanager> -->
  
    
    
    <!-- <app-steps-step1-departments> 
    </app-steps-step1-departments>  -->
  
   
    <!-- <app-steps-step1-jobprofile>
    </app-steps-step1-jobprofile> -->
    <!-- <app-steps-step1-jobskillset>
    </app-steps-step1-jobskillset>
    <app-steps-step1-jobresponsibilities>
    </app-steps-step1-jobresponsibilities> -->
   
  </div>
  <hr class="form-divider" />
  <div class="clearfix form-nav">
    <alert></alert>
    <!-- <div class="pull-left">
      <a href="javascript:void(0)" (click)="documentManagerDialog()"  class="btn btn-filled btn-next">Add documents related to this job</a>
    </div> -->
    <div class="pull-right">
      <a href="javascript:void(0)" (click)="postJob(1,0)" class="btn btn-border btn-prev" *ngIf="jobIdExists>0">Save & Close</a>
      <!-- <a href="javascript:void(0)" (click)="documentManagerDialog()"  class="btn btn-filled btn-next">UPLOAD</a> -->
      <a href="javascript:void(0)" (click)="postJob(1)"  class="btn btn-filled btn-next">Save & Next</a>
    </div>
    
    <!-- <footer class="poj-footer" *ngIf="disable1==true" (scroll)="scrolling($event)"  [ngClass]="{'poj-footer': scroll}">
      <div class="container">
        <div class="text-center col-md-10">
          <a href="javascript:void(0)"  (click)="postJob(1,0)" class="btn btn-border btn-prev">Save & Close</a>
          <a href="javascript:void(0)" (click)="postJob(1)"  class="btn btn-filled btn-next">Save & Next</a>
        </div> 
      </div>
    </footer> -->
  
  </div>
  
  </div>