<div id="step1" class="tab-pane fade active in">
<div class="tab-inner">
  <app-steps-step1-jobcategory>
  </app-steps-step1-jobcategory>
  <app-steps-step1-jobdetails>
  </app-steps-step1-jobdetails>
  <app-steps-step1-jobprofile>
  </app-steps-step1-jobprofile>
  <app-steps-step1-jobskillset>
  </app-steps-step1-jobskillset>
  <app-steps-step1-jobresponsibilities>
  </app-steps-step1-jobresponsibilities>
 
</div>
<hr class="form-divider" />
<div class="clearfix form-nav">

  <div class="pull-right">
    <a href="javascript:void(0)" (click)="postJob(1)" class="btn btn-filled btn-next">Next</a>
  </div>
</div>
</div>