<div id="step1" class="tab-pane fade active in">
<div class="tab-inner">
  <app-steps-step1-jobprofile>
  </app-steps-step1-jobprofile>    <!-- changes as sugggested-->
  <app-steps-step1-jobcategory>
  </app-steps-step1-jobcategory>
  <app-steps-step1-jobdetails>
  </app-steps-step1-jobdetails>
  <app-steps-step1-clients>
  </app-steps-step1-clients>
  <app-steps-step2-locationwisejobs>
  </app-steps-step2-locationwisejobs>
  
  <app-steps-step1-departments> 
  </app-steps-step1-departments> 
  <!-- <app-steps-step1-clients>
  </app-steps-step1-clients> -->
 
  <!-- <app-steps-step1-jobprofile>
  </app-steps-step1-jobprofile> -->
  <!-- <app-steps-step1-jobskillset>
  </app-steps-step1-jobskillset>
  <app-steps-step1-jobresponsibilities>
  </app-steps-step1-jobresponsibilities> -->
 
</div>
<hr class="form-divider" />
<div class="clearfix form-nav">
    <alert></alert>
  <div class="pull-right">
    <a href="javascript:void(0)" (click)="postJob(1,0)" class="btn btn-border btn-prev" *ngIf="jobIdExists>0">Save & Close</a>
    <a href="javascript:void(0)" (click)="postJob(1)"  class="btn btn-filled btn-next">Save & Next</a>
  </div>
  
  <footer class="poj-footer" *ngIf="disable1==true" (scroll)="scrolling($event)"  [ngClass]="{'poj-footer': scroll}">
    <div class="container">
      <div class="text-center col-md-10">
        <a href="javascript:void(0)"  (click)="postJob(1,0)" class="btn btn-border btn-prev">Save & Close</a>
        <a href="javascript:void(0)" (click)="postJob(1)"  class="btn btn-filled btn-next">Save & Next</a>
      </div> 
    </div>
  </footer>

</div>

</div>