<div class="form-container">
  <div class="row">
    <div class="col-md-4 col-lg-4 label-col">
      <label>
        Change Application Status
      </label>
    </div>
    <div class="col-md-8 col-lg-8 input-col">
      <div class="form-group">
        <span class="mdi mdi-information-outline"></span>
        <select class="form-select">
          <option value="Select Application Status">Select Application Status</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 form-col">
      <label class="form-label">Type of Interview</label>
      <div class="form-group">
        <span class="mdi mdi-briefcase-search-outline"></span>
        <select class="form-select">
          <option value="Type of Interview">Type of Interview</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 form-col">
      <label class="form-label">Mode of Interview</label>
      <div class="form-group">
        <span class="mdi mdi-cog-refresh-outline"></span>
        <select class="form-select">
          <option value="Video">Video</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 check-cols">
      <button class="btn btn-with-icon">
        <span class="mdi mdi-video-outline"></span>
        Zoom
     </button>
     <button class="btn btn-with-icon">
      <span class="mdi mdi-microsoft-teams"></span>
      Teams
    </button>
    </div>
    <div class="col-md-8 col-lg-8 form-col">
      <div class="form-group">
        <span class="mdi mdi-link-variant"></span>
        <input type="text" class="form-control" placeholder="Please Add A Link Here">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6 form-col">
      <div class="row">
        <div class="col-md-6 col-sm-6 form-sub-col">
          <label class="form-label">Date of Interview</label>
          <div class="form-group">
            <span class="mdi mdi-calendar-blank-outline"></span>
            <input type="text" class="form-control" placeholder="Date">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 form-sub-col">
          <label class="form-label">Time</label>
          <div class="form-group">
            <span class="mdi mdi-clock-outline"></span>
            <select class="form-select">
              <option value="8:00">8:00</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 form-col">
      <div class="row">
        <div class="col-md-6 col-sm-6 form-sub-col">
          <label class="form-label">AM / PM</label>
          <div class="form-group">
            <span class="mdi mdi-clock-outline"></span>
            <select class="form-select">
              <option value="AM">AM</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 form-sub-col">
          <label class="form-label">Time Format</label>
          <div class="form-group">
            <span class="mdi mdi-clock-outline"></span>
            <select class="form-select">
              <option value="12 Hours">12 Hours</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6 form-col">
      <label class="form-label">Time Zone</label>
      <div class="form-group">
        <span class="mdi mdi-timer-sand-complete"></span>
        <select class="form-select">
          <option value="Select">Select</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 form-col">
      <label class="form-label">Duration</label>
      <div class="form-group">
        <span class="mdi mdi-alarm"></span>
        <select class="form-select">
          <option value="30 Mins">30 Mins</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 single-col">
      <div class="custom-checkbox-list">
        <ul>
          <li>
            <div class="custom-checkbox">
              <label>
                <input type="radio" name="typeContact[1][]">
                <span class="checkmark">Team Member</span>
              </label>
            </div>
          </li>
          <li>
            <div class="custom-checkbox">
              <label>
                <input type="radio" name="typeContact[1][]">
                <span class="checkmark">External Recruiter</span>
              </label>
            </div>
          </li>
          <li>
            <div class="custom-checkbox">
              <label>
                <input type="radio" name="typeContact[1][]">
                <span class="checkmark">Send Email to Candidate</span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 single-col">
      <label>Add Team Members</label>
    </div>
    <div class="col-sm-12">
      <div class="input-group">
        <div class="form-group">
          <span class="mdi mdi-account-multiple-outline"></span>
          <select class="form-select">
            <option value="Select Team Member">Select Team Member</option>
          </select>
        </div>
        <button class="btn btn-icon"><span class="mdi mdi-plus"></span></button>
      </div>
      <div class="checkbox-list">
        <ul>
          <li>
            <label>
              <input type="checkbox">
              <span class="checkmark">
                Jhon Doe
              </span>
              <span class="mdi mdi-close-thick"></span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span class="checkmark">
                Pawan Bothra
              </span>
              <span class="mdi mdi-close-thick"></span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span class="checkmark">
                Kinjal Mehta
              </span>
              <span class="mdi mdi-close-thick"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="add-team-member-section">
    <div class="row">
      <div class="col-md-12 col-lg-12 single-col">
        <h4>Add Team Members</h4>
      </div>

      <div class="col-md-4 col-lg-4 form-col">
        <div class="form-group">
          <span class="mdi mdi-account-circle-outline"></span>
          <input type="text" placeholder="First Name" class="form-control">
        </div>
      </div>

      <div class="col-md-4 col-lg-4 form-col">
        <div class="form-group">
          <span class="mdi mdi-account-outline"></span>
          <input type="text" placeholder="Last Name" class="form-control">
        </div>
      </div>

      <div class="col-md-4 col-lg-4 form-col">
        <div class="form-group">
          <span class="mdi mdi-phone-outline"></span>
          <input type="text" placeholder="Phone Number" class="form-control">
        </div>
      </div>

      <div class="col-md-6 col-lg-6 form-col">
        <div class="form-group">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <input type="text" placeholder="Email" class="form-control">
        </div>
      </div>

      <div class="col-md-6 col-lg-6 form-col">
        <div class="form-group">
          <span class="mdi mdi-seat-outline"></span>
          <input type="text" placeholder="Designation" class="form-control">
        </div>
      </div>

      <div class="buttons-cols">
        <button class="btn btn-outlined-default">Cancel</button>
        <button class="btn btn-info">Add</button>
      </div>
    </div>
  </div>

  
 
  <div class="row">
    <div class="col-md-12 col-lg-12 single-col">
      <label>
        Add Documents
      </label>
    </div>
    <div class="col-sm-12 single-col">
      <div class="file-upload">
        <button class="btn"><span class="mdi mdi-cloud-upload-outline"></span>Browse and upload documents</button>
        <input type="file" name="myfile"/>
      </div>
      <div class="description">
        <span class="mdi mdi-information-outline"></span>
        Upload .doc, .docx, .pdf, .txt file only
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 single-col">
      <label>
        Add Comment
      </label>
    </div>
    <div class="col-md-12 col-lg-12 input-col">
      <ckeditor  
        [config]="config"
        data="<p>Hello, world!</p>">
      </ckeditor>
    </div>
  </div>
</div>