<div class="table-layout">
    <div class="table-row">
      <h4>Bill Estimate</h4>
      <div><div class="currency">124.53 <small>(Inclusive of tax)</small></div></div>
    </div>
    <div class="table-row">
      <h4>Next Charge</h4>
      <div><div class="date">8th March, 2018</div></div>
    </div>
    <div class="table-row">
      <h4>Estimate Detail</h4>
      <div>
        <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>
        <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>
        <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>
        <div class="details-row total">
          <div class="desc">Total</div>
          <div class="amount">163.59</div>
        </div>
      </div>
      
    </div>
    <div class="row text-right">
        <div class="fc-button-group">
            <button type="button" class="fc-billingWeek-button fc-button fc-state-default fc-corner-left fc-state-active">Buy Now</button>                    </div>
    </div>
  </div>
