<div class="table-layout">
    <div class="table-row" *ngIf="Plans">
      <h4>Bill Estimate</h4>
     
          <div class="currency">
             <ng-container *ngFor="let invoice of bill">
            {{invoice?.amountDue}}
          </ng-container> 
            <small>(Inclusive of tax)</small>
          </div>
      
     
    </div>
    <div class="table-row" *ngFor="let unbill of unbilled">
      <h4>Next Charge</h4>
      <div><div class="date">{{unbill?.dateTo | date}}</div></div>
    </div>
    <div class="table-row" *ngIf="Plans">
        <h4>Estimate Detail: 
     
        </h4>
        <div>
        <!-- <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>
        <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>
        <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>-->
 
        <ng-container *ngFor="let unbill of unbilled">        

          <div class="details-row total">           
            <div class="desc">Total</div>
       
            <ng-container *ngFor="let invoice of bill">
              <div class="amount">{{invoice?.amountDue}}</div>
            </ng-container>
          </div> 
  
        </ng-container>
        
      </div>
    </div>

     
      

    <div class="row text-right">
        <div class="fc-button-group">
            <button type="button" class="fc-billingWeek-button fc-button fc-state-default fc-corner-left fc-state-active">Buy Now</button>                    </div>
    </div>
  </div>
