<div class="table-layout">
    <div class="table-row">
      <h4>Bill Estimate</h4>
      <ng-container *ngFor="let plans of Plans?.plansoffered">
        <div><div class="currency" *ngIf="bill?.planId==plans.id">{{plans?.dailyCharges}}  <small>(Inclusive of tax)</small></div></div>
      </ng-container>
     
    </div>
    <div class="table-row">
      <h4>Next Charge</h4>
      <div><div class="date">{{bill?.endDate | date}}</div></div>
    </div>
    <div class="table-row">
        <h4>Estimate Detail: 
         
        </h4>
        <div>
        <!-- <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>
        <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>
        <div class="details-row">
          <div class="desc">Feature 1</div>
          <div class="amount">54.53</div>
        </div>-->
        <ng-container *ngFor="let plans of Plans?.plansoffered">        

          <div class="details-row total"  *ngIf="bill?.planId==plans.id">           
            <div class="desc">Total</div>
            <div class="amount">{{plans?.dailyCharges}}</div>
          </div> 
  
        </ng-container>
        
      </div>
    </div>

     
      

    <div class="row text-right">
        <div class="fc-button-group">
            <button type="button" class="fc-billingWeek-button fc-button fc-state-default fc-corner-left fc-state-active">Buy Now</button>                    </div>
    </div>
  </div>
