<div class="job-activities-top-container">
  <div class="left-navigation">
    <ul>
      <li class="active">
        <span class="icon icon-skills">Icon</span>
        <span class="number">{{Percentweightage?.SkillFit}}</span>
        <h6>Skills Fit</h6>
      </li>
      <li class="active">
        <span class="icon icon-job">Icon</span>
        <span class="number">{{Percentweightage?.JobFit}}</span>
        <h6>Job Fit</h6>
      </li>
      <li>
        <span class="icon icon-team">Icon</span>
        <h6>Team Fit</h6>
      </li>
      <li>
        <span class="icon icon-personality">Icon</span>
        <h6>Personality Fit</h6>
      </li>
      <li>
        <span class="icon icon-culture">Icon</span>
        <h6>Culture Fit</h6>
      </li>
    </ul>
  </div>
  <div class="right-navigation">
    <ul>
      <li>
        <a href="#">
          <span class="mdi mdi-briefcase-edit-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-briefcase-eye-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-tray-arrow-up"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-share-all-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-email-arrow-right-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-note-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-folder-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-star-outline"></span>
        </a>
      </li>
    </ul>
  </div>
</div>