@import './../../../../../assets/partials/utils/variables';
@import './../../../../../assets/partials/utils/mixins';

.col-container {
  background-color: $white;
  border: 1px solid $stroke-gray;
  border-radius: 8px;
  padding: 20px;
  @include flexbox();
  height: 100%;
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);

  h4 {
    font-size: $font-size-14;
    text-transform: uppercase;
    margin-bottom: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid $stroke-gray;
  }
}

.icon {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 auto;
  text-indent: -999em;
  background: url(../../../../../assets/images/sprites.svg) 0 0 no-repeat;

  &.icon-skills {
    background-position: -24px -301px;
  }

  &.icon-job {
    background-position: -76px -301px;
  }

  &.icon-team {
    background-position: -128px -301px;
  }

  &.icon-personality {
    background-position: -180px -301px;
  }

  &.icon-culture {
    background-position: -232px -301px;
  }
}

.navigation {
  ul {
    @include no-style();
    @include flex();
    gap: 10px;

    li {
      text-align: center;
      position: relative;

      .number {
        display: block;
        text-align: center;
        font-size: 8px;
        font-weight: 700;
        margin-top: 2px;
       }

      h6 {
        font-size: 8px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 10px 0 0;
      }

      &.active {
        .icon {
          &.icon-skills {
            background-position: -24px -352px;
          }
          &.icon-job {
            background-position: -76px -352px;
          }
          &.icon-team {
            background-position: -128px -352px;
          }
          &.icon-personality {
            background-position: -180px -352px;
          }
          &.icon-culture {
            background-position: -232px -352px;
          }
        }
      }
    }
  }
}
