<div class="col-lg-9">
  <div class="right">
    <div class="tab-content">

      <div id="users" class="tab-pane fade active in">
        <header>
          <h1>Users</h1>
          <a href="" class=" add-btn" data-toggle="collapse" href="#addUser" aria-expanded="false" aria-controls="addUser"><span class="add">+</span>Add Users</a>

        </header>
        <div class="table-responsive">
        
        <table class="table add_user collapse" id="addUser" role="addUser">
         
            <tbody>
              <tr class="form-group">
              <button type="button" class="close" data-dismiss="addUser" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <td>
                <label for="">Enter Details</label>
                <input type="text" class="form-control" placeholder="Name" />
                </td>
                <td>
                <label for="">&nbsp;</label>
                <input type="mail" class="form-control" placeholder="Email" />
                </td>
                <td>
                <label for="">&nbsp;</label>
                 <input list="selectrole" class="form-control" placeholder="Type and Select" >

<datalist id="selectrole">
  <option value="Hiring Leader">
  <option value="Technical Person">
</datalist> 
                </td>
                <td>
                 <label for="">&nbsp;</label>
                <label for="q1" class="radio">
                                      <div>
                                        <input type="checkbox" id="q1" name="q1" class="radio-input" />
                                        <span class="radio-btn radio-active"></span>
                                      </div>
                                    </label>
                </td>
                <td>
               <label for="">&nbsp;</label>
<button class="btn btn-filled">Add User</button>
                </td>
              </tr>
            </tbody>
          </table>
          
          <table class="table">
            <tbody>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
              </tr>
              <tr  *ngFor="let contact of customercontacts">
                <td>
                  <img src="../../../../assets/images/professional.png" alt="" width="50" height="50">
                  <h3 class="name">{{contact?.FirstName}}</h3>
                </td>
                <td><h3 class="email">john.smith@gmail.com</h3></td>
                <td><h3 class="role">{{contact?.RoleName}}</h3></td>
                <td><span class="close">×</span></td>
              </tr>          
            </tbody>
          </table>

          
        </div>
      </div>     
    </div>
  </div>
</div>
