<div class="col-lg-9">
  <div class="right">
    <div class="tab-content">

      <div id="users" class="tab-pane fade active in">
        <header>
          <h1>Users</h1>
          <a href="" class=" add-btn" data-toggle="modal" data-target="#addUser"><span class="add">+</span>Add Users</a>

        </header>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
              </tr>
              <tr  *ngFor="let contact of customercontacts">
                <td>
                  <img src="../../../../assets/images/professional.png" alt="" width="50" height="50">
                  <h3 class="name">{{contact?.FirstName}}</h3>
                </td>
                <td><h3 class="email">john.smith@gmail.com</h3></td>
                <td><h3 class="role">{{contact?.RoleName}}</h3></td>
                <td><span class="close">×</span></td>
              </tr>          
            </tbody>
          </table>
        </div>
      </div>     
    </div>
  </div>
</div>
