<div class="slide-overlay" (click)="closePanel();"></div>
<div class="slide-dialog">
  <div class="slide-heading d-flex align-items-center" style="justify-content: center;">
    <div>
      <h3 style="font-weight: 600;">Schedule Interview</h3>
    </div>
  </div>
  <div style="display:flex;justify-content: space-around;">
  
  <div class="col-container">
    <div class="top-container">
      <ng-container>
        <span class="status active">Active</span>
      </ng-container>
      <div class="profile-info">
        <div class="profile-thumb">
          <img src="../../../../assets/images/default-company-small.jpg" alt="">
        </div>
        <h3>SalesForce Dev...</h3>
        <div class="profile-summary">
          <h4>
            <span class="mdi mdi-briefcase-outline"></span>
            Exp Req <strong>8 Years</strong>
          </h4>
        </div>
      </div>
    </div>
    <div class="middle-container">
      <div class="top-section">
        <h3> Client: sadasd </h3>
        <span class="id"> <strong># Job Ref</strong>: asdasd </span>
      </div>
      <div class="top-bottom-section">
        <ul>
          <li><span class="highlight">Arytic ID:asdasdsadasd</span></li>
          <li>
            <span class="mdi mdi-map-marker-outline"></span>
            <span placement="top" ngbTooltip="sadasd">
              <ng-container>	
                <span  class="location-trim">
                 asdasd
                </span>
              </ng-container>
            </span>
          </li>
          <li>
            <span class="mdi mdi-calendar-blank-outline"></span>
           adsas
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-container">
    <div class="top-container">
      <ng-container>
        <span class="status active">Active</span>
      </ng-container>
      <div class="profile-info">
        <div class="profile-thumb">
          <img src="../../../../assets/images/default-company-small.jpg" alt="">
        </div>
        <h3>SalesForce Dev...</h3>
        <div class="profile-summary">
          <h4>
            <span class="mdi mdi-briefcase-outline"></span>
            Exp Req <strong>8 Years</strong>
          </h4>
        </div>
      </div>
    </div>
    <div class="middle-container">
      <div class="top-section">
        <h3> Client: sadasd </h3>
        <span class="id"> <strong># Job Ref</strong>: asdasd </span>
      </div>
      <div class="top-bottom-section">
        <ul>
          <li><span class="highlight">Arytic ID:asdasdsadasd</span></li>
          <li>
            <span class="mdi mdi-map-marker-outline"></span>
            <span placement="top" ngbTooltip="sadasd">
              <ng-container>	
                <span  class="location-trim">
                 asdasd
                </span>
              </ng-container>
            </span>
          </li>
          <li>
            <span class="mdi mdi-calendar-blank-outline"></span>
           adsas
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div>
  <div class="closebtn"  style="display:flex; padding-left: 700px; padding-top: 20px; gap: 30px;">
  <button style="padding-left: 20px; padding-right: 20px; border-radius: 4px;">Close</button>
  <button style="padding-right: 20px; padding-left: 20px; border-radius: 4px;">Schedule</button>
  </div>
  </div>














 
  
  <div style="display: flex; justify-content: space-between; margin-top: 50px;">
    <div>
      <label style="font-size: 16px; font-weight: 500;color:#53647E;margin-top:11px;">Change Application Status</label>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary drp" type="button" id="changeStatusDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:4px;">
        <span class="mdi mdi-information-slab-circle-outline" style="padding-right: 20px;"></span>Select Application Status <i class="mdi mdi-chevron-down" style="padding-left: 400px;"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="changeStatusDropdown">
        <li><a class="dropdown-item" href="#">Item 1</a></li>
        <li><a class="dropdown-item" href="#">Item 2</a></li>
        <li><a class="dropdown-item" href="#">Item 3</a></li>
      </ul>
    </div>
  </div>
  <div style="display: flex; margin-top: 40px; width:100%;justify-content: space-between;">
    <div>
      <div>
        <label style="font-size: 14px; font-weight: 600;color:#53647E;">Type Of Interview</label>
      </div>
      <div class="dropdown" >
        <button class="btn btn-secondary drp" type="button" id="typeOfInterviewDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:4px; width:425px; ">
          <img src="/assets/images/select.png"  style="float:left;padding:6px;"><span style="float:left;padding:4px;">Dropdown Example</span> <i class="mdi mdi-chevron-down" style="float:right"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="typeOfInterviewDropdown">
          <li><a class="dropdown-item" href="#">Item 1</a></li>
          <li><a class="dropdown-item" href="#">Item 2</a></li>
          <li><a class="dropdown-item" href="#">Item 3</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <label style="font-size: 14px; font-weight: 600;color:#53647E;">Mode Of Interview</label>
      </div>
      <div class="dropdown"  style="width:50%;">
        <button class="btn btn-secondary drp" type="button" id="modeOfInterviewDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:4px;width:425px;">
          <img src="/assets/images/settings.png" style="float:left;padding:6px;"><span style="float:left;padding:4px;">Dropdown Example</span> <i class="mdi mdi-chevron-down"  style="float:right"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="modeOfInterviewDropdown">
          <li><a class="dropdown-item" href="#">Item 1</a></li>
          <li><a class="dropdown-item" href="#">Item 2</a></li>
          <li><a class="dropdown-item" href="#">Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div style="display: flex;justify-content: space-between;margin-top: 30px;">
    <div style="display:flex; align-items: center;gap:22px;">
    <button class="bts_tm"><img src="assets/images/Vector.png" style="float:left; padding-left:10px; padding-top: 5px; color:blue;">Zoom</button>
    <button class="bts_tm"><img src="assets/images/teams.png" style="float:left;padding-left:10px;">Teams</button>
  </div>
    <div class="container">
      <div class="form-group">
       
        <input type="text" class="form-control custom-input" id="exampleInput" placeholder=" Please Add Link Here">
      </div>
    </div>
  
  </div>
  <div style="display: flex;justify-content: space-between;margin-top:30px;">
  <div class="Date" style="width:20%;">
    <label style="font-size: 14px; font-weight: 600;color:#53647E;" for="">Date of Interview</label>
    <input type="date" class="form-control" placeholder="Enter date">
  </div>
  
  <div class="Time"  style="width:20%;">
    <label style="font-size: 14px; font-weight: 600;color:#53647E;" for="">Time of Interview</label>
    <input type="time" class="form-control" placeholder="Enter time">
  </div>
  <div class="dropdown"  style="width:20%;">
    <label style="font-size: 14px; font-weight: 600;color:#53647E;" for="">AM/PM</label>
    <input type="dropdown" class="form-control" placeholder="AM/PM">
  </div>
  <div class="dropdown"  style="width:20%;">
    <label style="font-size: 14px; font-weight: 600;color:#53647E;" for="">Time of Interview</label>
    <input type="dropdown" class="form-control" placeholder="Enter time">
  </div>
  </div>
  <div style="display: flex; margin-top: 40px; width:100%;justify-content: space-between;">
    <div>
      <div>
        <label style="font-size: 14px; font-weight: 600;color:#53647E;">Time Zone</label>
      </div>
      <div class="dropdown" >
        <button class="btn btn-secondary drp" type="button" id="typeOfInterviewDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:4px; width:425px; ">
          <img src="/assets/images/time.png"  style="float:left;padding:6px;"><span style="float:left;padding:4px;">Dropdown Example</span> <i class="mdi mdi-chevron-down" style="float:right"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="typeOfInterviewDropdown">
          <li><a class="dropdown-item" href="#">Item 1</a></li>
          <li><a class="dropdown-item" href="#">Item 2</a></li>
          <li><a class="dropdown-item" href="#">Item 3</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <label style="font-size: 14px; font-weight: 600;color:#53647E;">Duration</label>
      </div>
      <div class="dropdown"  style="width:50%;">
        <button class="btn btn-secondary drp" type="button" id="modeOfInterviewDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:4px;width:425px;">
          <img src="/assets/images/duration.png" style="float:left;padding:6px;"><span style="float:left;padding:4px;">Dropdown Example</span> <i class="mdi mdi-chevron-down"  style="float:right"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="modeOfInterviewDropdown">
          <li><a class="dropdown-item" href="#">Item 1</a></li>
          <li><a class="dropdown-item" href="#">Item 2</a></li>
          <li><a class="dropdown-item" href="#">Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div style="display: flex;gap:25px;margin-top:30px">
    <div class="form-check" style="padding-left: 2.5em;">
      <input class="form-check-input" type="checkbox" id="exampleCheckbox" style="font-size: 25px;">
      <label class="form-check-label lbl" style="padding-top: 10px;" for="exampleCheckbox">Team Members</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="exampleCheckbox" style="font-size: 25px;">
      <label class="form-check-label lbl" style="padding-top: 10px;" for="exampleCheckbox">External Recuirters</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="exampleCheckbox" style="font-size: 25px;">
      <label class="form-check-label lbl" style="padding-top: 10px;" for="exampleCheckbox">Send Email To Candidate</label>
    </div>
  </div>
  <!-- <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title lbl">Personal Information</h5>
        <div class="row">
          <div class="col-md-6 mb-3" style="width:30%;">
            <label for="firstName" class="lbl">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
          </div>
          <div class="col-md-6 mb-3" style="width:30%;">
            <label for="lastName"  class="lbl">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
          </div>
          <div class="col-md-6 mb-3" style="width:30%">
            <label for="phoneNumber"  class="lbl">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter Phone Number">
          </div>
        </div>
        
          
        
      </div>
    </div>
  </div> -->
  <!-- <div class="dropdown"  style="width:90%;">
    <label style="font-size: 14px; font-weight: 600;color:#53647E; padding-top: 30px;" for="">Select Team Members</label>
    <input type="dropdown" class="form-control" placeholder="Select">
  </div> -->
  <div style="margin-top:40px;">
  <div>
    <label style="font-size: 14px; font-weight: 600;color:#53647E;">Select Team Members</label>
  </div>
  <div class="dropdown"  style="width:50%;">
    <button class="btn btn-secondary drp" type="button" id="modeOfInterviewDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:4px;width:880px;">
      <img src="/assets/images/memsel.png" style="float:left;padding:6px;"><span style="float:left;padding:4px;">Select</span> <i class="mdi mdi-chevron-down"  style="float:right"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="modeOfInterviewDropdown">
      <li><a class="dropdown-item" href="#">Item 1</a></li>
      <li><a class="dropdown-item" href="#">Item 2</a></li>
      <li><a class="dropdown-item" href="#">Item 3</a></li>
    </ul>
  </div>
</div>




  <div style="margin-top:70px;">
<div>
  <label class="lbl">Add Documents</label>
</div>
<div class="container_doc" >  
    <div class="drop_box">
      <input type="file" hidden accept=".doc,.docx,.pdf" id="fileID" style="display:none;">
      <button class="btn_doc"><span class="mdil mdil-cloud-upload"></span></button>
      <p style="padding-bottom: 20px;">Add Attachments  * Please add .PNG,  .DOC, .PDF </p> 
      
    </div>


</div>

</div>

<div class="container" style="padding:0px !important;">
  
    <div>
      <label class="lbl">Add Comments</label>
    </div>
      
      <div class="mb-3">
       
        <div class="form-control" contenteditable="true" rows="5" style="min-height: 8em; overflow-y: auto; resize: vertical;"><p>Please Enter Comments</p></div>
      </div>
  
  
  
</div>
</div>
