::ng-deep .filter-container {
  margin-top: 1px;
  margin-left: 1px;
  background-color: rgba(191, 191, 191, 1.55);
  border-color: #1769b1;
  padding: 5px;
  width: auto;
  /* margin-bottom: 25px; */
}
  
  ::ng-deep .dx-filterbuilder {
    padding: 10px;
  }
  
  ::ng-deep .dx-button {
    margin: 10px;
    float: right;
  }
  
  ::ng-deep .dx-filterbuilder .dx-numberbox {
    width: 80px;
  }