
   <head>
      <title>Arytic</title>
      <link rel="stylesheet" href="../../../assets/styles/css/bootstrap.min.css">
   </head>
   <body class="signpage">
      <div class="container-fluid full-height">
          <div class="row row-height">
              <div class="col-lg-6 content-left">
                  <div class="content-left-wrapper">
    <div class="jobs_hide animated slideInLeft">
      <h2>I'm here for Hiring</h2>
      <figure><img src="../../../assets/images/ai-recruiting-system.svg" width="400" alt="" class="img-fluid"></figure>
   </div>
                  </div>
              </div>
              <div class="col-lg-6 content-right recrit_div animated slideInRight"  id="start">
                  <div id="wizard_container">
                     <div id="top-wizard">
                        <div id="progressbar"></div>
                     </div>
                     <!-- <a href="index-2.html" id="logo"><img src="img/arytic-logo-contrast.png" alt="" width="49" height="35"></a> -->
                     <!-- /top-wizard -->
                     <form id="wrapped" [formGroup]="signUpform" (ngSubmit)="SignUp()">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="hiring_sign">
                           <div class="logo">
                              <img src="/assets/images/arytic-logo-2019.png" alt="Arytic Logo" title="Arytic Logo">                           </div>
                           <div class="step">
                              <h2 class="main_question">
                                 Welcome here! Let me help you
                                 signing up.
                              </h2>
                              <alert></alert>
                              <div class="form-group  spt-2">
                                  <input type="text" class="form-control" formControlName="ContactFirstName" placeholder="FirstName" minlength=3 (keypress)="MissClear()"
                                  (keyup)="MissClear()" required>
                                  <div *ngIf="signUpform.controls['ContactFirstName'].invalid && (signUpform.controls['ContactFirstName'].dirty || signUpform.controls['ContactFirstName'].touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="signUpform.controls['ContactFirstName'].errors.required">
                                       ContactFirstName is required.
                                  </div>
                                  <div *ngIf="signUpform.controls['ContactFirstName'].errors.minlength">
                                       ContactFirstName must be Minimum 3 character.
                                  </div>
                                  </div>
                               </div>
                               <div class="form-group">
                                  <input type="text" class="form-control" formControlName="ContactLastName" minlength=3 (keypress)="MissClear()" placeholder="LastName"
                                  (keyup)="MissClear()" required>
                                  <div *ngIf="signUpform.controls['ContactLastName'].invalid && (signUpform.controls['ContactLastName'].dirty || signUpform.controls['ContactLastName'].touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="signUpform.controls['ContactLastName'].errors.required">
                                       ContactLastName is required.
                                  </div>
                                  <div *ngIf="signUpform.controls['ContactLastName'].errors.minlength">
                                       ContactLastName must be Minimum 3 character.
                                  </div>
                                  </div>
                               </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" formControlName="CompanyName" placeholder="CompanyName" minlength=3 required>
                                  <div *ngIf="signUpform.controls['CompanyName'].invalid && (signUpform.controls['CompanyName'].dirty || signUpform.controls['CompanyName'].touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="signUpform.controls['CompanyName'].errors.required">
                                       CompanyName is required.
                                  </div>
                                  <div *ngIf="signUpform.controls['CompanyName'].errors.minlength">
                                       ContactNumber must be Minimum 3 character.
                                 </div>
                                  </div>
                                 </div>
                              <div class="form-group">
                                 <input type="email" [pattern]="emailPattern" class="form-control" placeholder="Enter your Contact Email." formControlName="ContactEmail" required>
                                 <div *ngIf="signUpform.controls['ContactEmail'].invalid && (signUpform.controls['ContactEmail'].dirty || signUpform.controls['ContactEmail'].touched)"
                                 class="alert alert-danger">
                                 <div *ngIf="signUpform.controls['ContactEmail'].errors.required">
                                   Email is required.
                                </div>
                                <div *ngIf="signUpform.controls['ContactEmail'].errors.pattern">
                                    Email is not valid.
                                 </div>
                                </div>
                              </div>
                              <div class="form-group">
                                 <input type="text" class="form-control" formControlName="ContactNumber" placeholder="Enter your Contact Number." minlength=10 required> 
                                 <div *ngIf="signUpform.controls['ContactNumber'].invalid && (signUpform.controls['ContactNumber'].dirty || signUpform.controls['ContactNumber'].touched)"
                                 class="alert alert-danger">
                                 <div *ngIf="signUpform.controls['ContactNumber'].errors.required">
                                       ContactNumber is required.
                                 </div>
                                 <div *ngIf="signUpform.controls['ContactNumber'].errors.minlength">
                                       ContactNumber must be Minimum 10 character.
                                 </div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <input class="form-control" type="password" id="password" name="Password" placeholder="Password"   minlength=6 formControlName="Password">
                                 <span class="glyphicon glyphicon-eye-open"></span>
                                 <div *ngIf="signUpform.controls['Password'].invalid && (signUpform.controls['Password'].dirty || signUpform.controls['Password'].touched)"
                                 class="alert alert-danger">
                                 <div *ngIf="signUpform.controls['Password'].errors.required">
                                  Password is required.
                                 </div>
                                 <small *ngIf="signUpform.controls['Password'].errors.minlength">
                                    Password must be Minimum 6 character.
                                   </small>
                               </div>
                                </div>
                              <div class="form-group terms">
                                 <label class="container_check">Please accept our <a  href="javascript:void(0)" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a>
                                 <input type="checkbox" name="terms" value="Yes" class="required">
                                 <span class="checkmark"></span>
                                 </label>
                              </div>
                              <h6>Already have an account? <a  href="javascript:void(0)" (click)="Login()">Login here</a></h6>
                              <div class="spt-2 d-flex justify-content-between">
                               
                                 <span>I don't think of <a  href="javascript:void(0)" (click)="Layout()" id="recrit_close">signing up.</a></span> <button type="submit"  class="btn2"> Signup </button>
                              </div>
                           </div>
                        </div>
                        <!-- login -->
                  
                        <!-- login -->
                        <!-- hiring id _forgot -->
                
                        <!-- hiring id _forgot -->
                        <!-- /middle-wizard -->
                        <!-- /bottom-wizard -->
                     </form>
                  </div>
                  <!-- /Wizard container -->
               </div>
              
          </div>
      </div>

   </body>
