@import '../../../../assets/partials/utils/variables';
@import '../../../../assets/partials/utils/mixins';

.dashboard-stats {
  margin: 40px 0;

  h4 {
    font-size: $font-size-22;
    font-weight: 700;
    color: $dark-gray;
    margin-bottom: 15px;
  }

  .col-container {
    background-color: $white;
    border-radius: 8px;
    height: 100%;
    border: 1px solid transparent;
    padding: 20px 20px 20px 70px;
    position: relative;
    box-shadow: 0 3px 6px rgba(110, 129, 158, 0.14);
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      right: 15px;
      top: 15px;
      background-color: $dark-green;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
  }

  .info {
    @include flexbox();
    @include align-items(flex-end);
    margin: 8px 0 0;
    @include flex-direction(column);

    h4 {
      font-size: $font-size-14;
      color: $medium-gray;
      font-weight: 400;
      margin: 0;
    }

    h6 {
      font-size: $font-size-28;
      color: $darkest-blue;
      font-weight: 600;
      margin: 0 0 0 auto;

      @media only screen and (min-width: 1280px) {
        font-size: $font-size-30;
      }
    }
  }

  .icon {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../../../../assets/images/sprites.svg) 0 0 no-repeat;
    background-color: $light-green;
    border-radius: 50%;
    text-indent: -999em;
    position: absolute;
    left: 20px;
    top: 20px;

    &.icon-01 {
      background-position: -33px -112px;
    }

    &.icon-02 {
      background-position: -103px -112px;
    }

    &.icon-03 {
      background-position: -172px -112px;
    }

    &.icon-04 {
      background-position: -248px -112px;
    }

    &.icon-05 {
      background-position: -318px -112px;
    }
  }

  .active {
    &.col-container {
      background: $lightest-blue;
      border-color: $dark-green;

      &::before {
        background: $dark-green;
      }

      .info {
        h6 {
          color: $darker-green;
        }
      }

      .icon {
        background-color: $dark-green;
        box-shadow: inset 0px 6px 12px rgba(110, 129, 158, 0.2);

        &.icon-01 {
          background-position: -33px -544px;
        }
    
        &.icon-02 {
          background-position: -102px -543px;
        }
    
        &.icon-03 {
          background-position: -172px -543px;
        }
    
        &.icon-04 {
          background-position: -242px -543px;
        }
    
        &.icon-05 {
          background-position: -314px -543px;
        }
      }
    }
  }
 
}