<div class="dashboard-stats">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon">
          Icon
        </span>
        <div class="info">
          <h4>Jobs</h4>
          <h6>300</h6>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon">
          Icon
        </span>
        <div class="info">
          <h4>Applicants</h4>
          <h6>110</h6>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon">
          Icon
        </span>
        <div class="info">
          <h4>Users</h4>
          <h6>130</h6>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon">
          Icon
        </span>
        <div class="info">
          <h4>Clients</h4>
          <h6>100</h6>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon">
          Icon
        </span>
        <div class="info">
          <h4>Vendors</h4>
          <h6>400</h6>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon">
          Icon
        </span>
        <div class="info">
          <h4>Jobs</h4>
          <h6>300</h6>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  
</div>
