<div class="dashboard-stats">
  <h4>Select the entity here</h4>
  <owl-carousel-o [options]="customOptions" (initialized)="AdminStats" >
    <ng-template carouselSlide>
      <div class="col-container" [ngClass]="tabName == 'Jobs'?'active':''" (click)="this.tabbingClickHandler.emit('Jobs');">
        <span class="icon icon-01">
          Icon
        </span>
        <div class="info">
          <h6>{{AdminStats?.Jobs || 0}}</h6>
          <h4>Jobs</h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container" [ngClass]="tabName == 'Applicants'?'active':''" (click)="this.tabbingClickHandler.emit('Applicants');">
        <span class="icon icon-02">
          Icon
        </span>
        <div class="info">
          <h6>{{AdminStats?.TotalApplicants || 0}}</h6>
          <h4>Applicants</h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container" [ngClass]="tabName == 'Users'?'active':''" (click)="this.tabbingClickHandler.emit('Users');">
        <span class="icon icon-03">
          Icon
        </span>
        <div class="info">
          <h6>{{AdminStats?.TeamMembers || 0}}</h6>
          <h4>Users</h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <!-- <div class="col-container" [ngClass]="tabName == 'Clients'?'active':''" (click)="this.tabbingClickHandler.emit('Clients');"> -->
        <div class="col-container" [ngClass]="tabName == 'Clients'?'active':''">
        <span class="icon icon-04">
          Icon
        </span>
        <div class="info">
          <h6>{{AdminStats?.Clients || 0}}</h6>
          <h4>Clients</h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container" [ngClass]="tabName == 'Vendors'?'active':''">
      <!-- <div class="col-container" [ngClass]="tabName == 'Vendors'?'active':''" (click)="this.tabbingClickHandler.emit('Vendors');"> -->
        <span class="icon icon-05">
          Icon
        </span>
        <div class="info">
          <h6>{{AdminStats?.Vendors || 0}}</h6>
          <h4>Vendors</h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container" [ngClass]="tabName == 'Job Shares'?'active':''">
      <!-- <div class="col-container" [ngClass]="tabName == 'Job Shares'?'active':''" (click)="this.tabbingClickHandler.emit('Job Shares');"> -->
        <span class="icon icon-02">
          Icon
        </span>
        <div class="info">
          <h6>{{AdminStats?.JobShares || 0}}</h6>
          <h4>Job Shares</h4>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o> 
</div>
