@import '../../../../assets/partials/utils/variables';
@import '../../../../assets/partials/utils/mixins';

.dashboard-stats {
  margin: 40px 0;

  .col-container {
    background-color: $white;
    border-radius: 8px;
    height: 100%;
    border: 1px solid transparent;
    padding: 20px;
    position: relative;
    box-shadow: 0 3px 6px rgba(110, 129, 158, 0.14);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: $dark-green;
      border-radius: 50%;
      width: 14px;
      height: 14px;
    }
  }

  .info {
    @include flexbox();
    @include align-items(center);
    margin: 20px 0 0;

    h4 {
      font-size: $font-size-16;
      color: $medium-gray;
      margin: 0;
    }

    h6 {
      font-size: $font-size-30;
      color: $darkest-blue;
      margin: 0 0 0 auto;
    }
  }

  .icon {
    display: block;
    width: 88px;
    height: 88px;
    background: url(../../../../assets/images/sprites.svg) 0 0 no-repeat;
    background-color: $light-green;
    border-radius: 50%;
    text-indent: -999em;

    &.icon-01 {
      background-position: -19px -98px;
    }

    &.icon-02 {
      background-position: -119px -98px;
    }

    &.icon-03 {
      background-position: -219px -98px;
    }

    &.icon-04 {
      background-position: -319px -98px;
    }

    &.icon-05 {
      background-position: -419px -98px;
    }
  }

  .active {
    &.col-container {
      background: $lightest-blue;
      border-color: $dark-green;

      &::before {
        background: $dark-green;
      }

      .info {
        h6 {
          color: $darker-green;
        }
      }

      .icon {
        background-color: $dark-green;
        box-shadow: inset 0px 6px 12px rgba(110, 129, 158, 0.2);

        &.icon-01 {
          background-position: -19px -98px;
        }
    
        &.icon-02 {
          background-position: -119px -98px;
        }
    
        &.icon-03 {
          background-position: -219px -98px;
        }
    
        &.icon-04 {
          background-position: -319px -98px;
        }
    
        &.icon-05 {
          background-position: -419px -98px;
        }
      }
    }
  }
 
}