<div class="hidden">
  <div class="page page--job-details ">
    <div>
      <h4 mat-dialog-title class="modal-title text-center">
        Share Candidate
      </h4>
      <mat-dialog-content class="mat-typography modal-dialog h-auto">
        <div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 w-auto">
                <label class="radio checkbox">
                <input type="radio" class="radio-input" name="team" [checked]="true"
                (click)="teamchange(false,0)">
                <span class="radio-btn wh-22 ml-0"></span>
                <span> Team Members </span>
                </label>
              </div>
              <div class="col-md-6 w-auto">
                <label class="radio checkbox">
                <input type="radio" class="radio-input" name="team" [checked]="false"
                (click)="teamchange(true,1)">
                <span class="radio-btn wh-22 ml-0"></span>
                <span> Share via Email/Social Media </span>
                </label>
              </div>
            </div>
            <ng-container *ngIf="!AddUser">
              <form action="">
                <div class="form-row">
                  <div class="form-group">
                    <label for="">Add Team Member</label>
                    <div class="input-group">
                      <ng-select class="custom-style interview-schedule-popup"
                      [items]="customercontacts" name="team" placeholder="Add Team Members"
                      (change)="changeTeam($event)" bindLabel="FirstName" bindValue="UserId"
                      [typeahead]="selectedUserInput" [hideSelected]="true"
                      [loading]="usersloading" id="teamMbr" [(ngModel)]="selectedUserName"
                      name="selectedUserName" [virtualScroll]="true" #TMemb="ngModel">
                      </ng-select>
                      <span class="input-group-btn">
                      <button class="btn" (click)="addTeammembers()">+</button>
                      </span>
                      <span class="text-danger"
                        *ngIf="TMemb.invalid && TMemb.touched">Required.</span>
                    </div>
                    <ul class="share_candidate team-members-list">
                      <li *ngFor="let teammember of teammemberslist; let i = index">
                        <div class="w-100">
                          <h4>{{teammember.FirstName}}
                          </h4>
                          <span class="close mt-14" (click)="deleteTeammember(i)">&times;</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Comments</label>
                  <textarea type="text" [(ngModel)]="selectedComments" name="Comments"
                  class="form-control resize-none" placeholder="Please add your comments *"
                  rows="10"></textarea>
                </div>
              </form>
            </ng-container>
            <ng-container *ngIf="AddUser">
              <form action="">
                <div class="form-row">
                  <div class="form-group">
                    <!-- <label for="">Share</label> -->
                    <div class="row">
                      <!-- <div class="col-md-3 col-sm-3">
                        <input type="text" class="form-control" [(ngModel)]="Name" name="Name"
                            placeholder="Name *">
                            
                        </div> -->
                      <small class="title-subtext"> (Send multiple emails with comma "," seperated )</small>
                      <div class="col-md-12 col-sm-12 sm-pt-2">
              <form [formGroup]="inviteform">
              <div class="input-group col-sm-12 pt-2 p-rel">
              <div class="clearfix">&nbsp;</div>
              <textarea formControlName="inviteEmail" id="Email" class="form-control col-sm-12 inputh-auto"
                autocomplete="new-email" type="email" multiple name="inviteEmail" cols="30" rows="7" required>
              </textarea>
              <div
                *ngIf="inviteform.controls['inviteEmail'].invalid && (inviteform.controls['inviteEmail'].dirty || inviteform.controls['inviteEmail'].touched)"
                class="error1">
              <div *ngIf="inviteform.controls['inviteEmail']">
              Incorrect Email.
              </div>
              </div>
              </div>
              <div class="clearfix">&nbsp;</div>
              <!-- <div class="col-sm-12 plr-0">
                <div class="pull-right">
                    <button class="btn btn-filled btn-next" [disabled]="!inviteform.valid" type="submit" [class.spinner]="loading"
                    (click)="loginstyle()">Submit</button>
                </div>
                </div> -->
              </form>
              </div>
              <!-- <div class="col-md-2 col-sm-2 sm-pt-2">
                <button class="btn add-btn form-control mt-0" type="button"
                    (click)="AddContacts()">+</button>
                </div> -->
              <!-- <div class="col-md-12 pr-30">
                <ul class="data-list">
                    <li class="col-md-12 pr-0  mt-10"
                        *ngFor="let item of GetContactsList;let i = index">
                        <span class="name w-45">{{item?.Fullname}}</span>
                        <span class="experience w-45 pl-15">{{item?.EmailId}}</span>
                        <span class="close w-10" (click)="onItemDeleted(i)">×</span>
                    </li>
                
                
                </ul>
                </div> -->
              </div>
              </div>
              </div>
              <div class="form-group">
                <div id="social-login-container"></div>
                <input type="hidden" id="Company_Name" [(ngModel)]="CompanyName"  [ngModelOptions]="{standalone: true}" />
                <input type="hidden" id="title" [(ngModel)]="Title"  [ngModelOptions]="{standalone: true}">
                <input type="hidden" id="Image" [(ngModel)]="Image"  [ngModelOptions]="{standalone: true}">
                <style>
                  .hide-pby {
                  position: relative;
                  }
                  aside.hide-pby::before {
                  position: absolute;
                  width: 200px;
                  height: 15px;
                  content: "";
                  left: 0;
                  bottom: 0;
                  background-color: #fff;
                  }
                </style>
                <div class="hide-pby">
                  <div id="login_container" class="hide-pby"></div>
                </div>
                <div id="hiddenTag">
                  <div class="text-center">
                    <span class=" icon">
                      <!-- <div id="share-dialog-linkedin"></div> -->
                      <a href="javascript:void(0)" id="share-dialog-linkedin" style=" padding: 10px; " (click)="GetLink()">
                      <img src="assets/images/linkedin-icon.png" id="share-dialog-linkedin" alt="linkedin">
                      </a>
                    </span>
                    <span class="icon">
                    <a href="javascript:void(0)" id="share-dialog-facebook" style=" padding: 10px; " (click)="GetLink()">
                    <img src="assets/images/fb-icon.png" id="share-dialog-facebook" alt="facebook">
                    </a>
                    </span>
                    <span class="icon">
                    <a href="javascript:void(0)" id="share-dialog-twitter" style=" padding: 10px; " (click)="GetLink()">
                    <img src="assets/images/twitter-icon.png" alt="twitter">
                    </a>
                    </span>
                    <span class="icon">
                      <!-- <a href="javascript:void(0)" data-toggle="modal" (click)="Whatsapp()" data-target="#Whatsapp"> -->
                      <div (click)="Whatsapp()">
                        <img src="../../../../../assets/images/Whatsapp.png" alt="Whatsapp" width="30px" height="30px">
                      </div>
                    </span>
                  </div>
                </div>
                <!-- <button
                  (click)="share('facebook')">
                  <img src="../../../../../assets/images/fb-icon.svg" alt="">
                  </button> -->
                <!-- <button
                  (click)="share('linkedin')">
                  <img src="../../../../../assets/images/linkedin-icon.svg" alt="">
                  </button> -->
                <!-- <button
                  (click)="share('twitter')">
                  <img src="../../../../../assets/images/twitter-icon.svg" alt="">
                  </button> -->
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="url" class="form-control text-to-copy njobLink" [(ngModel)]="shareUrl"
                  [ngModelOptions]="{standalone: true}" id="job-link" readonly>
                  <span class="input-group-btn">
                  <button class="btn btn-secondary copy-btn" id="nbtnCpy" (click)="copyToClipboard()"
                    type="button">
                  <span class="hidden-xs btn-sm">Copy Link</span>
                  </button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="">Comments</label>
                <textarea type="text" [(ngModel)]="selectedComments" name="Comments"
                class="form-control resize-none" placeholder="Please add your comments *"
                rows="8"></textarea>
              </div>
              </form>
            </ng-container>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions class="mat-dialog-actions modal-footer pull-right">
        <button mat-button mat-dialog-close class="btn btn-border">Close</button>
        <button mat-button (click)="ShareProfile()" class="btn btn-filled" *ngIf="!isSharingStarted">Share</button>
        <button mat-button class="btn btn-filled" *ngIf="isSharingStarted">Sharing...
        <i class="fa fa-spinner fa-spin"></i>
        </button>
      </mat-dialog-actions>
    </div>
  </div>
  <div id="Whatsapp" class="modal fade revamp__share__modal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-align-center">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">
            Whatsapp
          </h2>
          <button type="button" class="close" data-dismiss="modal" (click)="Whatsapp()">
          <img src="assets/images/close-btn.png" alt="X">
          </button>
        </div>
        <div class="modal-body">
          <form class="material" [formGroup]="whatsappform" (ngSubmit)="WhatsappShare()">
          <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label for="mobilenumber" class="hidden">Mobile		
              </label>
              <int-phone-prefix  formControlName="mobilenumber" id="mobilenumber" type="number" [locale]="'hi'" [defaultCountry]="'in'" autocomplete="mobilenumber"
              ></int-phone-prefix>
              <span class="form-highlight"></span>
              <span class="form-bar"></span>
              <div
                *ngIf="whatsappform.controls['mobilenumber'].invalid && (whatsappform.controls['mobilenumber'].dirty || whatsappform.controls['mobilenumber'].touched)"
                class="error1">
                <div *ngIf="whatsappform.controls['mobilenumber']">
                  Incorrect *.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn green-btn" [disabled]="!whatsappform.valid" data-dismiss="modal" type="submit"
            (click)="WhatsappShare()">
            Share
            </button>
            <button type="button" class="btn border-btn cancelBtn" (click)="Whatsapp()" data-dismiss="modal">
            Cancel
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="share-ui-component "> 
  <div class="top-container flex flex-wrap">
    <h3>Share Candidate</h3>
    <button mat-button mat-dialog-close><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="row flex flex-wrap flex-align-start">
    <div class="col-sm-12 col-md-4 left-card">
      <img src="{{Image}}" alt="">
    </div>
    <div class="col-sm-12 col-md-8 right-content">
      <div class="middle-container">
        <div class="form-group">
          <div class="row flex flex-wrap flex-align-center">
            <div class="col-sm-3">
              <label>From</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="From" [(ngModel)]="fromId" name="fromId"  readonly>
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="row flex flex-wrap flex-align-center">
            <div class="col-sm-3">
              <label class="label-block">Message Type</label>
            </div>
             <div class="col-sm-9">
              <div class="toogle-button-group">
                <button class="btn btn-link" (click)="activeAny = 'Normal'" [ngClass]="activeAny == 'Normal'? 'active':''">Normal</button>
                <button class="btn btn-link" (click)="activeAny = 'Mass Mail'" [ngClass]="activeAny == 'Mass Mail'? 'active':''">Mass Mail</button>
              </div>
            </div>
            
          </div>
       
          
        </div> -->
        <div class="form-group">
          <div class="inline-navigation">
            <ul>
              <li><button class="btn btn-link" (click)="showClickCC()">CC</button></li>
              <li><button class="btn btn-link" (click)="showClickBCC()">BCC</button></li>
              <!-- <li><button class="btn btn-link">Clear All</button></li> -->
            </ul>
          </div>
          <div class="row flex flex-wrap flex-align-center">
            <div class="col-sm-3">
              <label>To</label>
            </div>
            <div class="col-sm-9">
              <form [formGroup]="rulesForm">
                <mat-form-field>
                  <mat-chip-list #chipList formArrayName="emails" >
                    <mat-chip [color]="(item.invalid)?'warn':''" selected *ngFor="let item of emailList; let i=index" 
                      [selectable]="true" 
                      [removable]="removable"
                      (removed)="removeEmail(item)" 
                      required name="chips">
                      {{item?.value}}
                      <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
                    </mat-chip>
                    <input placeholder="TO Email Address" 
                      [matChipInputFor]="chipList"  
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                      [matChipInputAddOnBlur]="true "
                      (matChipInputTokenEnd)="add($event) " />
                  </mat-chip-list>
                </mat-form-field>
                <mat-error *ngIf="rulesForm.get('emails').hasError('incorrectEmail')">Invalid email ID</mat-error>
              </form>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row flex flex-wrap flex-align-center" *ngIf="showCC === true">
            <div class="col-sm-3">
              <label>CC</label>
            </div>
            <div class="col-sm-9">
              <form [formGroup]="ccrulesForm">
                <mat-form-field>
                  <mat-chip-list #cchipList formArrayName="CCemails" >
                    <mat-chip [color]="(citem.invalid)?'warn':''" selected *ngFor="let citem of ccemailList; let ci=index" 
                      [selectable]="true" 
                      [removable]="cremovable"
                      (removed)="removeEmailc(citem)" 
                      required name="chips">
                      {{citem?.value}}
                      <mat-icon matChipRemove *ngIf="cremovable">x</mat-icon>
                    </mat-chip>
                    <input placeholder="CC Email Address" 
                      [matChipInputFor]="cchipList"  
                      [matChipInputSeparatorKeyCodes]="ccseparatorKeysCodes" 
                      [matChipInputAddOnBlur]="true "
                      (matChipInputTokenEnd)="addcc($event) " />
                  </mat-chip-list>
                </mat-form-field>
                <mat-error *ngIf="ccrulesForm.get('CCemails').hasError('incorrectEmail')">Invalid email ID</mat-error>
              </form>
            </div>
          </div>
          </div>
          <div class="form-group">
          <div class="row flex flex-wrap flex-align-center" *ngIf="showBCC === true">
            <div class="col-sm-3">
              <label>BCC</label>
            </div>
            <div class="col-sm-9">
              <form [formGroup]="bccrulesForm">
                <mat-form-field>
                  <mat-chip-list #bcchipList formArrayName="BCCemails" >
                    <mat-chip [color]="(bcitem.invalid)?'warn':''" selected *ngFor="let bcitem of bccemailList; let ji=index" 
                      [selectable]="true" 
                      [removable]="bcremovable"
                      (removed)="removeEmailbc(bcitem)" 
                      required name="chips">
                      {{bcitem?.value}}
                      <mat-icon matChipRemove *ngIf="bcremovable">x</mat-icon>
                    </mat-chip>
                    <input placeholder="BCC Email Address" 
                      [matChipInputFor]="bcchipList"  
                      [matChipInputSeparatorKeyCodes]="bccseparatorKeysCodes" 
                      [matChipInputAddOnBlur]="true "
                      (matChipInputTokenEnd)="addbcc($event) " />
                  </mat-chip-list>
                </mat-form-field>
                <mat-error *ngIf="bccrulesForm.get('BCCemails').hasError('incorrectEmail')">Invalid email ID</mat-error>
              </form>
            </div>
          </div>
          </div>
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Job Reference">
        </div> -->
        <div class="form-group">
          <input type="text" [(ngModel)]="subject" name="subject" class="form-control" placeholder="subject">
        </div>
        <!-- <div class="form-group">
          <div class="flex flex-align-center flex-justify-end">
            <label class="no-margin">Signature</label>
            <div class="toggle-switch">
              <input type="checkbox" [(ngModel)]="isChecked" (change)="checkValue(isChecked?'A':'B')" id="chkTest" name="chkTest">
              <label for="chkTest">
                <span class="toggle-track"></span>
              </label>
            </div>
          </div>
        </div> -->
        <div class="form-group">
          <app-ngx-editor [placeholder]="'Enter Description here...'" [spellcheck]="true" [(ngModel)]="selectedComments" ></app-ngx-editor>
          <!-- <ckeditor   [editor]="Editor"  [(ngModel)]="selectedComments"  [config]="{ autoParagraph : false, extraAllowedContent : 'div(*)'}" name="body" cols="30" rows="40"></ckeditor> -->
        </div>

        <!-- <div class="form-group">
          <div class="upload-border">
            <div class="flex_items_center pointer">
              <div class="d-block">
                <i aria-hidden="true" class="fa fa-cloud-upload fa-5"></i>
                <div class="file">
                  <input matinput="" ng2fileselect="" type="file" value="" ng-reflect-uploader="[object Object]">
                </div>
                <div>Browse &amp; Upload</div>
                <h5>We recommended to use Microsoft Word. </h5>
              </div>
            </div>
          </div>
        </div> 
        <div class="form-group">
          <button class="btn btn-upload-file">Upload File</button>
        </div>-->
      </div>
    </div>
  </div>
  <mat-dialog-actions class="mat-dialog-actions modal-footer pull-right">
    <button mat-button mat-dialog-close class="btn btn-border">Close</button>
    <button mat-button (click)="ShareProfile()" class="btn btn-filled" *ngIf="!isSharingStarted">Share</button>
    <button mat-button class="btn btn-filled" *ngIf="isSharingStarted">Sharing...
    <i class="fa fa-spinner fa-spin"></i>
    </button>
  </mat-dialog-actions>
</div>