
<h4 mat-dialog-title class="modal-title">
  Share Candidate
</h4>
<mat-dialog-content class="mat-typography">
  <div class="modal-content">
    <div class="modal-body">
      <form action="">
        <div class="form-group">
          <label for="">TECHNICAL TEAM FOR SCREENING</label>
          <div class="input-group">
            <input id="responsibility" type="text" class="form-control ui-autocomplete-input" name="benefits" placeholder="Add more responsibilities" autocomplete="off">
            <span class="input-group-btn">
              <button class="btn">+</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="">Type Reason</label>
          <textarea type="text" class="form-control" placeholder="Type here"></textarea>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
  <div class="modal-footer">
    <button mat-button mat-dialog-close class="btn btn-border">Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-filled">Share</button>
  </div> 
</mat-dialog-actions>





