<div class="advance-filter">
	<button class="close-btn" (click)="this.filterHideHandler.emit();">
		<span class="mdi mdi-close-circle-outline"></span>
	</button>
  <div class="row">
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Current Job Role</label>
			<div class="form-group">
				<span class="mdi mdi-briefcase-variant-outline"></span>
				<ng-multiselect-dropdown
				class="custom-multiselect"
				[placeholder]="'Select'"
				[settings]="jobTitlesDropdownSettings"
				[data]="jobTitles"
				[(ngModel)]="selectedJobTitles"
				(onFilterChange)="onJobTitleFilterChange($event)"
				(onSelect)="onjobTitleItemSelect($event)"
			>
			</ng-multiselect-dropdown>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Application Status</label>
			<div class="form-group">
				<span class="mdi mdi-list-status"></span>
				<ng-multiselect-dropdown
				class="custom-multiselect"
				[placeholder]="'Select'"
				[(ngModel)]="selectedApplicationStatus"
				[settings]="statusDropdownSettings"
				[data]="jobStatus"
			>
			</ng-multiselect-dropdown>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Profile Matching</label>
			<div class="form-group">
				<span class="mdi mdi-briefcase-variant-outline"></span>
				<ng-multiselect-dropdown
				class="custom-multiselect"
				[placeholder]="'Select'"
				[(ngModel)]="selectedProfileMatchings"
				[settings]="profileMatchingDropdownSettings"
				[data]="profileMatching"
			>
			</ng-multiselect-dropdown>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Profile Type</label>
			<div class="form-group">
				<span class="mdi mdi-briefcase-outline"></span>
				<ng-multiselect-dropdown
				class="custom-multiselect"
				[placeholder]="'Select'"
				[(ngModel)]="selectedProfileType"
				[settings]="profileTypeDropdownSettings"
				[data]="profileType"
			>
			</ng-multiselect-dropdown>
			</div>
		</div>
		
		
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Source Type</label>
			<div class="form-group">
				<span class="mdi mdi-account-outline"></span>
				<ng-multiselect-dropdown
				class="custom-multiselect"
				[placeholder]="'Select'"
				[settings]="jobTitlesDropdownSettings"
				[(ngModel)]="selectedSourceType"
				[data]="sourceType"
			>
			</ng-multiselect-dropdown>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Experience <span class="sub-label">(In Years)</span></label>
			<div class="custom-slider">
				<ngx-slider [(value)]="selectedMinExperience" [(highValue)]="selectedMaxExperience"  [options]="experienceSliderOptions"></ngx-slider>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Job Fit <span class="sub-label">(In percentage)</span></label>
			<div class="custom-slider">
				<ngx-slider [(value)]="jobMaxValue"  (userChange)="onSlider1Change($event)" [options]="skillSet"></ngx-slider>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Skill Fit <span class="sub-label">(In percentage)</span></label>
			<div class="custom-slider">
				<ngx-slider [(value)]="skillMaxValue"  (userChange)="onSlider2Change($event)"   [options]="skillSet"></ngx-slider>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Domain</label>
			<div class="form-group">
				<span class="mdi mdi-list-status"></span>
				<ng-multiselect-dropdown
				class="custom-multiselect"
				[placeholder]="'Select'"
				[settings]="domainDropdownSettings"
				[data]="domainList"
				[(ngModel)]="selectedDomain"
			>
			</ng-multiselect-dropdown>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col">
			<label>Certifications </label>
			<div class="form-group">
				<span class="mdi mdi-priority-high"></span>
				<ng-multiselect-dropdown
				class="custom-multiselect"
				[placeholder]="'Select'"
				[settings]="certificationsDropdownSettings"
				[data]="certificationList"
				[(ngModel)]="selectedCertifications"

			>
			</ng-multiselect-dropdown>
			</div>
		</div>
		<div class="col-sm-12 button-col text-right">
			<button class="btn btn-info">Apply</button>
			<button class="btn btn-outlined-default">Cancel</button>
		</div>
	</div>
</div> 