<app-jobs-activities-nav [JobId]="JobId"></app-jobs-activities-nav>
<app-job-activites-stats></app-job-activites-stats>
<app-job-activities-summary [JobId]="JobId"></app-job-activities-summary>
<app-manage-job-filters 
  [viewLayout] = "viewLayout"  
  (layoutView) = "layoutView($event)"
>
</app-manage-job-filters>

<ng-container *ngIf="viewLayout == 'grid'">
  <div class="job-listing-grid">
    <div class="row">
      <div class="col-md-4 col-lg-4 job-card">
        <app-job-card
          [panelShow]="panelShow"
          (panelHandler)="panelHandler($event)"
        ></app-job-card>
      </div>
      <div class="col-md-4 col-lg-4 job-card">
        <app-job-card
          [panelShow]="panelShow"
          (panelHandler)="panelHandler($event)"
        ></app-job-card>
      </div>
      <div class="col-md-4 col-lg-4 job-card">
        <app-job-card
          [panelShow]="panelShow"
          (panelHandler)="panelHandler($event)"
        ></app-job-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="viewLayout == 'table'">
  <div class="job-listing-table">
    <div class="table-row table-row-heading">
      <div class="table-col name-col">
        Name
      </div>
      <div class="table-col position-col">
        Position
      </div>
      <div class="table-col email-col">
        Email
      </div>
      <div class="table-col number-col">
        Contact Number
      </div>
      <div class="table-col location-col">
        Current Location
      </div>
      <div class="table-col others-col">
        Others
      </div>
    </div>
    <div class="table-row">
      <app-job-list ></app-job-list>
    </div>
  </div>
</ng-container>

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='job-review'?'job-review-panel show':''"
  [panelTitle]="'Job Review'"
  (panelCloseHandler) ="panelCloseHandler()"
>
  <div class="slide-static-section">
    <div class="slide-heding d-flex align-items-center">
      <h3>Job Review</h3>
    </div>
    <app-sidepanel-cards></app-sidepanel-cards>
    <div class="form-actions">
     &nbsp;
    </div>
  </div>
  <div class="slide-container">
    <app-job-review></app-job-review>
  </div>
</app-slidepanel>

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='communication'?'show':''"
  (panelCloseHandler) ="panelCloseHandler()"
>
  <div class="slide-static-section">
    <div class="slide-heding d-flex align-items-center">
      <h3>Job Review</h3>
    </div>
    <app-sidepanel-cards
      [jobCard] = "true"
    >
    </app-sidepanel-cards>
    <div class="form-actions">
      <button class="btn btn-info">Add New Notes</button>
    </div>
  </div>
  <div class="slide-container">
    <app-job-communication></app-job-communication>
  </div>
</app-slidepanel>