@import '../../../../assets/partials/utils/variables';
@import '../../../../assets/partials/utils/mixins';

.job-listing-grid {
  .job-card {
    position: relative;
		margin-bottom: 20px;
  }
}
.sorting-container {
	@include flex-direction(column);
	justify-content: center;

	.sorting {
		margin-left: 0;
	}

	@media only screen and (min-width: 768px) {
		@include flex-direction(row);
		justify-content: flex-start;

		.sorting {
			margin-left: auto;
		}
	}
}
.title {
	flex: 0 0 100%;
	max-width: 100%;
	@include flexbox();
	@include flex-direction(column);
	@include flex-wrap(wrap);

	.right-container {
		margin-left: auto;
	}

	.top {
		@include flexbox();
		align-items: center;
		gap: 20px;
		margin-bottom: 10px;

		h3 {
			font-size: $font-size-22;
			color: $dark-gray;
			margin: 0;
			cursor: pointer;
		}

		.status {
			text-align: center;
			font-size: 12px;
			border-radius: 4px;
			text-transform: uppercase;
			padding: 3px 10px;

			.mdi {
				font-size: 14px;
			}

			&.active {
				background-color: $dark-green;
				color: $white;
			}

			&.screening {
				background-color: $medium-blue;
				color: $white;
			}

			&.hired {
				background-color: $darker-green;
				color: $white;
			}

			&.interviewing {
				background-color: $orange-dark;
				color: $white;
			}

			&.filled {
				background-color: $red;
				color: $white;
			}

			&.inactive {
				background-color: $light-blue;
				color: $medium-gray;
			}

			&.shortlisting {
				background-color: $dark-blue;
				color: $white;
			}
		}
	}

	.bottom {
		@include flexbox();
		@include align-items(center);
		gap: 10px;
		@include flex-wrap(wrap);
		.company {
			font-size: $font-size-16;
			font-weight: 600;
			color: $medium-gray;
		}
		
		.highlight {
			font-size: 12px;
			background-color: $medium-gray;
			text-transform: uppercase;
			color: $white;
			display: inline-block;
			padding: 3px 6px;
			border-radius: 4px;
		}

		ul {
			@include flexbox();
			@include no-style();
			@include flex-wrap(wrap);
			gap: 10px;

			li {
				font-size: $font-size-14;
				color: $medium-gray;
				@include align-self(center);

				&:not(:first-child) {
					border-left: 1px solid $stroke-gray;
					padding-left: 10px;
				}

				&:nth-child(2) {
					border-left: 0;
					padding-left: 0;

					@media only screen and (min-width: 568px) {
						border-left: 1px solid $stroke-gray;
						padding-left: 10px;
					}
				}

				&:first-child {
					flex: 0 0 100%;
					max-width: 100%;

					@media only screen and (min-width: 568px) {
						flex: 0 0 auto;
						max-width: inherit;
					}
				}

				.mdi {
					font-size: 16px;
					vertical-align: middle;

					&.mdi-account-group-outline {
						font-size: 20px;
						position: relative;
						top: -2px;
					}
				}
			}
		}

		@media only screen and  (min-width: 1280px) {
			@include flex-wrap(inherit);
			ul {
				@include flex-wrap(inherit);
			}
		}
	}

	@media only screen and (min-width: 1280px) {
		@include flex-direction(row);
		@include align-items(center);
		@include flex-wrap(inherit);
	}
}


.table-row {
	@include flex();
	@include flex-wrap(wrap);
	background-color: rgba(225, 247, 239, 0.3);
	border-top: 1px solid $stroke-gray;

	&:first-child {
		border-top: 0;
	}

	&:nth-child(odd) {
		background-color: $white;
	}

	&.table-row-heading {
		background-color: transparent;
		font-weight: 600;

		.table-col {
			padding-top: 0;
		}
	}

	app-job-list {
		@include flex();
		flex: 0 0 100%;
		max-width: 100%;
		@include flex-wrap(wrap);
	}

	.table-col {
		font-size: $font-size-14;
		color: $dark-gray;
		flex: 0 0 13.75%;
		padding: 15px;
		max-width: 13.75%;
	
		a {
			color: $dark-gray;
			text-decoration: none;
		}
	
		&.name-col {
			flex: 0 0 25%;
			max-width: 25%;
		}
	
		&.position-col,
		&.location-col {
			flex: 0 0 15%;
			max-width: 15%;
		}

		&.email-col {
			flex: 0 0 20%;
			max-width: 20%;
		}
	
		&.others-col {
			flex: 0 0 5%;
			max-width: 5%;
			text-align: right;
		}	
	}
}

.job-title-section {
	@include flexbox();
	@include align-items(center);
	margin-bottom: 30px;

	.right-navigation {
		margin-top: 30px;
    ul {
      @include no-style();
      display: inline-flex;
			overflow: hidden;
			gap: 10px;
			@include flex-wrap(wrap);

      li {
        a {
          width: 36px;
          height: 36px;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          color: $medium-gray;
					background-color: $white;
					border: 1px solid $stroke-gray;
					border-radius: 6px;

          &:hover {
            background-color: $blue;
            color: $white;
						border-color: $blue;
          }

					@media only screen and (min-width: 640px) {
						width: 44px;
						height: 40px;
						background-color: transparent;
						border: 0;
						border-radius: 0;
					}
        }

        &:not(:first-child) {
          border-left: 0;

					@media only screen and (min-width: 640px) {
						border-left: 1px solid $stroke-gray;
					}
        }
      }

			@media only screen and (min-width: 640px) {
				@include flex-wrap(inherit);
				border-radius: 32px;
				border: 1px solid $stroke-gray;
				background-color: $white;
				gap: 0;
			}
    }

		@media only screen and (min-width: 1280px) {
			margin-left: auto;
			margin-top: 0;
		}
  }
}

.job-listing-table {
	margin: 30px 0;
	background: $lightest-blue;
	padding: 20px;
	border: 1px solid $stroke-gray;
	border-radius: 8px;
}

.job-review-panel {
	.form-actions {
		font-size: 0;
		padding-top: 0;
	}
}

.toogle-container {
	margin-right: auto;
	margin-left: 40px;
  @include flex();
  @include align-items(center);
  gap: 10px;
}

.toggle {
  --width: 52px;
  --height: 32px;
  --border-radius: 32px;
  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__fill::after {
  content: "";
  font: normal normal normal 18px/1 "Material Design Icons";
  position: absolute;
  top: 4px;
  left: 4px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  height: 24px;
  width: 24px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: $darker-green;
 
}

.toggle__input:checked ~ .toggle__fill::after {
  content: "\F012C";
  transform: translateX(var(--height));
  left: -8px;
  top: 4px;
}

.form-actions {
	&.document-form-actions {
		@include flex-direction(column);
		padding: 30px 40px 0;
		@include align-items(flex-start);

		.toogle-container {
			margin-left: 0;
		}
	}
}
