<div class="job-title-section">
  <div class="right-navigation">
    <ul>
      <li>
        <a href="#">
          <span class="mdi mdi-briefcase-edit-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-briefcase-eye-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-tray-arrow-up"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-share-all-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-email-arrow-right-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-note-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-folder-outline"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="mdi mdi-star-outline"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<app-jobs-activities-nav [JobId]="JobId"></app-jobs-activities-nav>
<app-job-activites-stats></app-job-activites-stats>
<app-job-activities-summary [JobId]="JobId"></app-job-activities-summary>
<app-manage-job-filters 
  [viewLayout] = "viewLayout"  
  (layoutView) = "layoutView($event)"
>
</app-manage-job-filters>

<ng-container *ngIf="viewLayout == 'grid'">
  <div class="job-listing-grid">
    <div class="row">
      <ng-container *ngFor="let profile of Profiles">
        <div class="col-md-4 col-lg-4 job-card" >
          <app-job-card [profile]="profile"
            [panelShow]="panelShow"
            (panelHandler)="panelHandler($event)"
          ></app-job-card>
        </div>
        <br/>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="viewLayout == 'table'">
  <div class="job-listing-table">
    <div class="table-row table-row-heading">
      <div class="table-col name-col">
        Name
      </div>
      <div class="table-col position-col">
        Position
      </div>
      <div class="table-col email-col">
        Email
      </div>
      <div class="table-col number-col">
        Contact Number
      </div>
      <div class="table-col location-col">
        Current Location
      </div>
      <div class="table-col others-col">
        Others
      </div>
    </div>
    <div class="table-row">
      <ng-container *ngFor="let profile of Profiles">
      <app-job-list [profile]="profile"></app-job-list>
      </ng-container>
    </div>
  </div>
</ng-container>

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='job-review'?'job-review-panel show':''"
  [panelTitle]="'Job Review'"
  (panelCloseHandler) ="panelCloseHandler()"
>
  <div class="slide-static-section">
    <div class="slide-heding d-flex align-items-center">
      <h3>Job Review</h3>
    </div>
    <app-sidepanel-cards></app-sidepanel-cards>
    <div class="form-actions">
     &nbsp;
    </div>
  </div>
  <div class="slide-container">
    <app-job-review></app-job-review>
  </div>
</app-slidepanel>

<app-slidepanel 
  class="slide-panel"
  [ngClass]="panelShow=='communication'?'show':''"
  (panelCloseHandler) ="panelCloseHandler()"
>
  <div class="slide-static-section">
    <div class="slide-heding d-flex align-items-center">
      <h3>Job Review</h3>
    </div>
    <app-sidepanel-cards
      [jobCard] = "true"
    >
    </app-sidepanel-cards>
    <div class="form-actions d-flex align-items-center">
      <div class="toogle-container">
        Notes
        <label class="toggle" for="toogleView">
          <input class="toggle__input" name="" (change)="changeView();" type="checkbox" id="toogleView">
          <div class="toggle__fill"></div>
        </label>
        Feedback
      </div>
    
      <ng-container *ngIf="isChecked == false && showNoteForm == false">
        <button class="btn btn-info" (click)="showNoteFormHandler()">Add New Notes</button>
      </ng-container>
      <ng-container *ngIf="isChecked == false && showNoteForm == true">
        <button class="btn btn-info" (click)="hideNoteFormhandler()">Save</button>
      </ng-container>
      <ng-container *ngIf="isChecked == true && showFeedbackForm == false">
        <button class="btn btn-info" (click)="showFeedbackFormHandler()">Add Feedback</button>
      </ng-container>
      <ng-container *ngIf="isChecked == true && showFeedbackForm == true">
        <button class="btn btn-info" (click)="hideFeedbackFormhandler()">Save</button>
      </ng-container>
    </div>
  </div>
  <div class="slide-container">
    <app-job-communication
      [isChecked]="isChecked"
      [showNoteForm] = "showNoteForm"
      (changeView)="changeView()"
      [showFeedbackForm] = "showFeedbackForm"
    >
    </app-job-communication>
  </div>
</app-slidepanel>