@import '../../../../assets/partials/utils/variables';
@import '../../../../assets/partials/utils/mixins';

.job-listing-grid {
  .job-card {
    position: relative;
  }
}

.table-row {
	@include flex();
	@include flex-wrap(wrap);
	background-color: rgba(225, 247, 239, 0.3);
	border-top: 1px solid $stroke-gray;

	&:first-child {
		border-top: 0;
	}

	&:nth-child(odd) {
		background-color: $white;
	}

	&.table-row-heading {
		background-color: transparent;
		font-weight: 600;

		.table-col {
			padding-top: 0;
		}
	}

	app-job-list {
		@include flex();
		flex: 0 0 100%;
		max-width: 100%;
		@include flex-wrap(wrap);
	}

	.table-col {
		font-size: $font-size-14;
		color: $dark-gray;
		flex: 0 0 13.75%;
		padding: 15px;
		max-width: 13.75%;
	
		a {
			color: $dark-gray;
			text-decoration: none;
		}
	
		&.name-col {
			flex: 0 0 25%;
			max-width: 25%;
		}
	
		&.position-col,
		&.location-col {
			flex: 0 0 15%;
			max-width: 15%;
		}

		&.email-col {
			flex: 0 0 20%;
			max-width: 20%;
		}
	
		&.others-col {
			flex: 0 0 5%;
			max-width: 5%;
			text-align: right;
		}	
	}
}

.job-listing-table {
	margin: 30px 0;
	background: $lightest-blue;
	padding: 20px;
	border: 1px solid $stroke-gray;
	border-radius: 8px;
}

.job-review-panel {
	.form-actions {
		font-size: 0;
		padding-top: 0;
	}
}

.toogle-container {
	margin-right: auto;
	margin-left: 40px;
  @include flex();
  @include align-items(center);
  gap: 10px;
}

.toggle {
  --width: 52px;
  --height: 32px;
  --border-radius: 32px;
  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__fill::after {
  content: "";
  font: normal normal normal 18px/1 "Material Design Icons";
  position: absolute;
  top: 4px;
  left: 4px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  height: 24px;
  width: 24px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: $darker-green;
 
}

.toggle__input:checked ~ .toggle__fill::after {
  content: "\F012C";
  transform: translateX(var(--height));
  left: -8px;
  top: 4px;
}