<app-jobs-activities-nav [JobId]="JobId"></app-jobs-activities-nav>
<app-job-activites-stats></app-job-activites-stats>
<app-job-activities-summary [JobId]="JobId"></app-job-activities-summary>
<app-manage-job-filters 
  [viewLayout] = "viewLayout"  
  (layoutView) = "layoutView($event)"
>
</app-manage-job-filters>

<ng-container *ngIf="viewLayout == 'grid'">
  <div class="job-listing-grid">
    <div class="row">
      <div class="col-md-4 col-lg-4 job-card">
        <app-job-card></app-job-card>
      </div>
      <div class="col-md-4 col-lg-4 job-card">
        <app-job-card></app-job-card>
      </div>
      <div class="col-md-4 col-lg-4 job-card">
        <app-job-card></app-job-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="viewLayout == 'table'">
  <div class="job-listing-table">
    <div class="table-row table-row-heading">
      <div class="table-col name-col">
        Name
      </div>
      <div class="table-col position-col">
        Position
      </div>
      <div class="table-col email-col">
        Email
      </div>
      <div class="table-col number-col">
        Contact Number
      </div>
      <div class="table-col location-col">
        Current Location
      </div>
      <div class="table-col others-col">
        Others
      </div>
    </div>
    <div class="table-row">
      <app-job-list ></app-job-list>
    </div>
  </div>
</ng-container>