<ng-container *ngIf="!isShareType">
  <div class="form-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="fieldset">
          <legend>Share Via</legend>
          <div class="checkbox-list">
            <ul>
              <li>
                <label>
                  <input type="checkbox">
                  <span class="checkmark">Email</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox">
                  <span class="checkmark">Social Media</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox">
                  <span class="checkmark">Job Base</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox">
                  <span class="checkmark">Contact US Pages</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>From</label>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <input type="text" class="form-control" placeholder="Enter Email Address">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>To</label>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <input type="text" class="form-control" placeholder="Enter Email Address">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>Subject</label>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <input type="text" class="form-control" placeholder="Enter Subject Here">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>Message</label>
      </div>
      <div class="col-sm-12">
        <ckeditor  
          [config]="config"
          data="<p>Hello, world!</p>">
        </ckeditor>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 single-col">
        <div class="file-upload">
          <button class="btn"><span class="mdi mdi-cloud-upload-outline"></span>Browse and upload job related documents</button>
          <input type="file" name="myfile" />
        </div>
        <div class="description">
          <span class="mdi mdi-information-outline"></span>
          Add Attachments  * Please add .PNG,  .DOC, .PDF 
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Share Job to Social Media</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="input-group no-margin">
          <div class="form-group">
            <span class="mdi mdi-link-variant"></span>
            <input type="text" class="form-control" placeholder="https://arytic.com">
          </div>
          <button class="btn btn-icon">
            <span class="mdi mdi-content-copy"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="three-grid-container">
      <div class="row grid-row">
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            <span class="mdi mdi-facebook"></span>
            Facebook
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            <span class="mdi mdi-twitter"></span>
            Twitter
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            <span class="mdi mdi-whatsapp"></span>
            Whats App
          </div>
        </div>
      </div>
    </div>
    
    <div class="three-grid-container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Share Job to Job Career</h4>
        </div>
      </div>
      <div class="row grid-row">
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Linked In
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Zip Recruiter
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Flexjobs
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Monster
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Glassdoor
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Geebo
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Indeed
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Career Builder
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Dice
          </div>
        </div>
      </div>
    </div>

    <div class="three-grid-container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Share Job to Career Pages</h4>
        </div>
      </div>
      <div class="row grid-row">
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Accenture
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Deloitte
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Infosys
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Amazon
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Capgemini
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Oracle
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            Congnizant
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            HDFC Bank
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="col-container">
            IBM
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isShareType">
  <div class="form-container">
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>From</label>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <input type="text" class="form-control" placeholder="Enter Email Address">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>To</label>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <input type="text" class="form-control" placeholder="Enter Email Address">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>Subject</label>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <span class="mdi mdi-email-arrow-right-outline"></span>
          <input type="text" class="form-control" placeholder="Enter Subject Here">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-col">
        <label>Comment</label>
      </div>
      <div class="col-sm-12">
        <ckeditor  
          [config]="config"
          data="<p>Hello, world!</p>">
        </ckeditor>
      </div>
    </div>
  </div>
</ng-container>