<div class="dashboard-kpis">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon icon-01">Icon</span>
        <h3>300</h3>
        <h4>Hiring Success Ratio</h4>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon icon-02">Icon</span>
        <h3>100</h3>
        <h4>Turnaround Time</h4>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon icon-03">Icon</span>
        <h3>150</h3>
        <h4>Time to Hire</h4>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon icon-04">Icon</span>
        <h3>200</h3>
        <h4>Submit Interview Ratio</h4>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col-container">
        <span class="icon icon-05">Icon</span>
        <h3>50</h3>
        <h4>Cost Per Hire</h4>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>