<div class="dashboard-kpis">
  <div class="cols">
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>300</h3>
        <h4>Hiring Success Ratio</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>100</h3>
        <h4>Turnaround Time</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>150</h3>
        <h4>Time to Hire</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>200</h3>
        <h4>Submit Interview Ratio</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>50</h3>
        <h4>Cost Per Hire</h4>
      </div>
    </div>
  </div>
</div>