<div class="dashboard-kpis">
  <div class="cols">
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>300</h3>
        <h4>Hiring Success Ratio</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>300</h3>
        <h4>Hiring Success Ratio</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>300</h3>
        <h4>Hiring Success Ratio</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>300</h3>
        <h4>Hiring Success Ratio</h4>
      </div>
    </div>
    <div class="col">
      <div class="col-container">
        <span class="icon">Icon</span>
        <h3>300</h3>
        <h4>Hiring Success Ratio</h4>
      </div>
    </div>
  </div>
</div>