<div class="form-container">
  <div class="row">
    <div class="col-md-4 col-lg-4 label-col">
      <label>
        Current Job Status
      </label>
    </div>
    <div class="col-md-8 col-lg-8 input-col">
      <div class="form-group">
        <span class="mdi mdi-information-outline"></span>
        <input type="text" class="form-control" value="Web Designer">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 single-col">
      <label>Add Team Members</label>
    </div>
    <div class="col-sm-12">
      <div class="input-group">
        <div class="form-group">
          <span class="mdi mdi-account-multiple-outline"></span>
          <select class="form-select">
            <option value="Select Team Member">Select Team Member</option>
          </select>
        </div>
        <button class="btn btn-icon"><span class="mdi mdi-plus"></span></button>
      </div>
      <div class="checkbox-list">
        <ul>
          <li>
            <label>
              <input type="checkbox">
              <span class="checkmark">
                Jhon Doe
              </span>
              <span class="mdi mdi-close-thick"></span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span class="checkmark">
                Pawan Bothra
              </span>
              <span class="mdi mdi-close-thick"></span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span class="checkmark">
                Kinjal Mehta
              </span>
              <span class="mdi mdi-close-thick"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 label-col">
      <label>
        Job Status
      </label>
    </div>
    <div class="col-md-8 col-lg-8 input-col">
      <div class="form-group">
        <span class="mdi mdi-information-outline"></span>
        <select class="form-select">
          <option value="Select Application Status">Select Application Status</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 label-col">
      <label>
        Message
      </label>
    </div>
    <div class="col-md-8 col-lg-8 input-col">
      <ckeditor  
        [config]="config"
        data="<p>Hello, world!</p>">
      </ckeditor>
    </div>
  </div>
</div>