<div class="top-container">
  <div class="row">
    <div class="col-md-6 col-lg-6 left-col">
      <div class="job-card">
        <div class="col-container">
          <div class="top-container">
            <span class="status active">Active</span>
            <span class="priority">
              <span class="mdi mdi-arrow-down-thick"></span>
              Lower
            </span>
            <div class="profile-info">
              <div class="profile-thumb">
                <img src="../../../../assets/images/default-company-small.jpg" alt="">
              </div>
              <h3>Salesforce Develover</h3>
              <div class="profile-summary">
                <h4>
                  <span class="mdi mdi-briefcase-outline"></span>
                  Exp  - <strong>Req 8 Years</strong>
                </h4>
                <h4>
                  <span class="mdi mdi-seat-outline"></span>
                  <strong>5</strong> Position
                </h4>
              </div>
            </div>
          </div>
          <div class="middle-container">
            <div class="top-section">
              <h3>Google</h3>
              <span class="id"> <strong>Job Ref</strong>: 1003757 </span>
            </div>
            <div class="top-bottom-section">
              <ul>
                <li><span class="highlight">Arytic ID:  1003757</span></li>
                <li>
                  <span class="mdi mdi-map-marker-outline"></span>
                  Austin
                </li>
                <li>
                  <span class="mdi mdi-calendar-blank-outline"></span>
                  Mar 14, 2023
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 right-col">
      <div class="job-card">
        <div class="col-container">
          <div class="top-container">
            <span class="status active">Active</span>
            <span class="priority">
              <span class="mdi mdi-arrow-down-thick"></span>
              Lower
            </span>
            <div class="profile-info">
              <div class="profile-thumb">
                <img src="../../../../assets/images/default-profile-thumb.png" alt="">
              </div>
              <h3>Akhilesh Chang</h3>
              <div class="profile-summary">
                <h4>
                  <span class="mdi mdi-briefcase-outline"></span>
                  Exp  - <strong>Req 8 Years</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="middle-container">
            <div class="top-section">
              <h3>Software Architect 1 </h3>
            </div>
            <div class="top-bottom-section">
              <ul>
                <li><span class="highlight">Application iD: 728743</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
  <button class="btn btn-outlined-default">Cancel</button>
  <button class="btn btn-info">Save</button>
</div>
<div class="form-container">
  <div class="row">
    <div class="col-md-4 col-lg-4 label-col">
      <label>
        Current Job Status
      </label>
    </div>
    <div class="col-md-8 col-lg-8 input-col">
      <div class="form-group">
        <span class="mdi mdi-information-outline"></span>
        <input type="text" class="form-control" value="Web Designer">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 label-col">
      <label>
        Current Job Status
      </label>
    </div>
    <div class="col-md-8 col-lg-8 input-col">
      <div class="form-group">
        <span class="mdi mdi-information-outline"></span>
        <input type="text" class="form-control" value="Web Designer">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 label-col">
      <label>
        Message
      </label>
    </div>
    <div class="col-md-8 col-lg-8 input-col">
      <div class="form-group">
        <span class="mdi mdi-information-outline"></span>
        <textarea class="form-control"></textarea>
      </div>
    </div>
  </div>
</div>