<div class="page page--job-details">
  <mat-dialog-content class="mat-typography mat__revamp">
    <div class="revamp__view__job__details">
      <div class="top__section">
        <div class="row flex flex-align-center flex-wrap">
          <div class="col-sm-6 left__col">
            <figure class="logo">
              <img src="{{jobdetailscustomer?.JobInfo?.CompanyLogo}}" alt="">
            </figure>
            <div class="summary__box">
              <h4>{{jobdetailscustomer?.JobInfo?.JobTitle | titlecase}} <span
                  class="status {{jobdetailscustomer?.JobInfo?.JobStatus}}">{{jobdetailscustomer?.JobInfo?.JobStatus}}</span>
              </h4>
              <div class="action__icon">
                <ul>
                  <li *ngIf="jobdetailscustomer?.JobInfo?.JobStatus != 'Closed'">
                    <button class="btn btn__edit"
                      (click)="editJob(jobdetailscustomer.JobInfo.JobId,jobdetailscustomer.JobInfo.IsActive)"><i
                        class="fa fa-pencil" aria-hidden="true"></i></button>
                  </li>
                  <li>
                    <button class="btn btn__share" data-toggle="modal"
                    href="#shareModal" data-backdrop="false" ><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                  </li>
                </ul>
              </div>
              <ul class="inline__listing">
                <li>{{jobdetailscustomer?.JobInfo?.CompanyName}}</li>
                <ng-container *ngFor="let location of jobdetailscustomer?.JobLocation">
                  <li>{{location?.CityName | titlecase}}</li>
                </ng-container>
              </ul>
              <div class="inline__icon__listing">
                <ul>
                  <ng-container *ngIf="jobdetailscustomer?.JobDepartments?.length!=0">
                    <li class="icon__department">
                      <ng-container *ngFor="let dept of jobdetailscustomer?.JobDepartments">
                        {{dept?.DepartmentName | titlecase}}
                      </ng-container>
                    </li>
                  </ng-container>

                  <li class="icon__department" *ngIf="jobdetailscustomer?.JobDepartments?.length==0">
                    N/A
                  </li>
                  <li class="icon__date">{{jobdetailscustomer?.JobInfo?.ModifiedDate | date:'mediumDate'}}</li>
                  <li class="icon__position">Number of Positions <span>
                      {{jobdetailscustomer?.JobInfo?.NumberOfVacancies}}</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 right__col">
            <button class="btn btn__dark" *ngIf="jobdetailscustomer?.JobInfo?.JobStatus==='Active'"
              (click)="changeJobStat(jobdetailscustomer,false)">Inactive</button>
            <button class="btn btn__dark" *ngIf="jobdetailscustomer?.JobInfo?.JobStatus==='InActive'"
              (click)="changeJobStat(jobdetailscustomer,true)">Active</button>
            <ul>
              <li *ngIf="jobdetailscustomer?.JobInfo?.RemoteWorkId===1"><img
                  src="../../../../../assets/images/icon__04.png"><span>Remote</span>
              <li *ngIf="jobdetailscustomer?.JobInfo?.RemoteWorkId===0"><img
                  src="../../../../../assets/images/icon__04.png"><span>N/A</span>
              </li>
              <ng-container *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length>0">
                <li><img src="../../../../../assets/images/icon__01.png"><span>
                    <ng-container *ngFor="let job of jobdetailscustomer?.JobInfo?.JobWorkAuthorization">                    
                        {{job.WorkAuthorizationType}}                  
                    </ng-container>
                  </span> </li>
              </ng-container>

              <li *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length===0">
                <img src="../../../../../assets/images/icon__01.png"><span> N/A</span>
              </li>
              <ng-container *ngIf="jobdetailscustomer?.JobInfo?.BonusOffered === false">
                <li><img src="../../../../../assets/images/icon__02.png"><span>
                    ${{jobdetailscustomer?.JobInfo?.MinimumSalary}} -
                    ${{jobdetailscustomer?.JobInfo?.MaximumSalary}} </span>
                  <!-- <span *ngIf="jobdetailscustomer?.JobInfo?.EmploymentType=='Employee'">
                      On W2 </span>                      
                  <span *ngIf="jobdetailscustomer?.JobInfo?.EmploymentType=='Contractor'">
                      Contract By Length
                  </span> -->
              </ng-container>

              <ng-container *ngIf="jobdetailscustomer?.JobInfo?.BonusOffered === true">
                <li><img src="../../../../../assets/images/icon__02.png"><span>
                    Open for Conversation.
                  </span></li>
              </ng-container>
              <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob?.length > 0">
                <ng-container *ngFor="let imi of jobdetailscustomer?.JobInfo?.ImmigrationForJob">
                  <li><img src="../../../../../assets/images/icon__03.png"><span>{{imi?.ImmigrationStatus}}</span></li>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob?.length === 0">
                <li><img src="../../../../../assets/images/icon__03.png"><span>
                    N/A
                  </span></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <div class="middle__section">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#job-card">Job Card</a></li>
          <li><a data-toggle="tab" href="#job-details">Job Details</a></li>
          <li><a data-toggle="tab" href="#skills">Skills</a></li>
        </ul>

        <div class="tab-content">
          <div id="job-card" class="tab-pane fade in active">
            <div class="jdv-listing">
              <div class="job-leftcard">
                <div class="col-container">
                  <div class="top-container">
                    <div class="row d-flex flex-wrap">
                      <div class="col-sm-6">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <h6>Domain</h6>
                        <ng-container *ngIf="jobdetailscustomer?.JobRequiredDomain.length>0">
                          <p *ngFor="let domain of jobdetailscustomer?.JobRequiredDomain; let i=index">
                            {{domain?.DomainName}}
                          </p>
                        </ng-container>
                        <p *ngIf="jobdetailscustomer?.JobRequiredDomain.length === 0">
                          N/A
                        </p>
                      </div>
                      <div class="col-sm-6">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <h6>Departments</h6>
                        <ng-container *ngIf="jobdetailscustomer?.JobDepartments?.length > 0">
                          <p *ngFor="let dept of jobdetailscustomer?.JobDepartments">
                            {{dept?.DepartmentName | titlecase}}
                          </p>
                        </ng-container>

                        <p *ngIf="jobdetailscustomer?.JobDepartments?.length === 0">
                          N/A
                        </p>
                      </div>
                    </div>
                    <!--/.row-->
                  </div>
                  <!--/.top-container-->

                  <div class="middle-container">
                    <div class="jdv-company-profile flex flex-justify-center flex-align-center">
                      <div class="company-logo flex flex-justify-center flex-align-center">
                        <img src="{{jobdetailscustomer?.JobInfo?.CompanyLogo}}" alt="">
                      </div>
                      <div class="company-title">
                        <h3>{{jobdetailscustomer?.JobInfo?.CompanyName | titlecase}}</h3>
                        <h2>{{jobdetailscustomer?.JobInfo?.JobTitle | titlecase}}</h2>
                      </div>
                    </div>
                    <!--/.jdv-company-profile-->
                    <div class="inline-icon-list">
                      <ul class="flex flex-wrap flex-align-center flex-justify-center">
                        <ng-container *ngFor="let location of jobdetailscustomer?.JobLocation">
                          <li><span class="jdv-icon jdv-icon-map">Icon</span>{{location?.CityName}}</li>
                        </ng-container>
                        <li><span class="jdv-icon jdv-icon-work">Icon</span>{{jobdetailscustomer?.JobInfo?.MinExperience
                          |monthsPipe}} -
                          {{jobdetailscustomer?.JobInfo?.MaxExperience |monthsPipe }} Years</li>
                        <li><span class="jdv-icon jdv-icon-date">Icon</span>{{jobdetailscustomer?.JobInfo?.ModifiedDate
                          | date:'mediumDate'}}</li>
                      </ul>
                    </div>
                    <!--/.inline-icon-list-->
                    <div class="icon-listing">
                      <ul class="flex flex-wrap flex-justify-center">
                        <li>
                          <span class="jdv-icon jdv-icon-status">Icon</span>
                          <h4 *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length>0">
                            <ng-container *ngFor="let job of jobdetailscustomer?.JobInfo?.JobWorkAuthorization">
                              {{job.WorkAuthorizationType}}
                            </ng-container>
                          </h4>
                          <h4 *ngIf="jobdetailscustomer?.JobInfo?.JobWorkAuthorization.length===0">
                            N/A
                          </h4>
                        </li>
                        <li>
                          <span class="jdv-icon jdv-icon-ribbon"><span
                              class="number">{{jobdetailscustomer?.JobInfo?.NumberOfVacancies}}</span></span>
                          <h4>Positions</h4>
                        </li>
                        <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob.length > 0">
                          <li> <span class="jdv-icon jdv-icon-auth">Icon</span>
                          <ng-container *ngFor="let imi of jobdetailscustomer?.JobInfo?.ImmigrationForJob">
                            
                              <h4>{{imi?.ImmigrationStatus}}</h4>
                          </ng-container>
                          </li>
                        </ng-container>
                        <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ImmigrationForJob.length === 0">
                          <li>
                            <span class="jdv-icon jdv-icon-auth">Icon</span>
                            <h4>N/A</h4>
                          </li>
                        </ng-container>
                      </ul>
                    </div>

                    <div class="two-grid-icon">
                      <div class="row">
                        <ng-container *ngIf="jobdetailscustomer?.JobInfo?.BonusOffered === false">
                          <div class="col-sm-6">
                            <span class="jdv-icon jdv-icon-dollar">Icon</span>
                            <h4>
                              ${{jobdetailscustomer?.JobInfo?.MaximumSalary}}/{{jobdetailscustomer?.JobInfo?.SalaryType}}
                              <span *ngIf="jobdetailscustomer?.JobInfo?.SalaryType == 'Hourly' ">(167
                                hours/month)</span>
                              <span *ngIf="jobdetailscustomer?.JobInfo?.SalaryType == 'Annualy' ">(2000
                                hours/Yearly)</span>
                            </h4>

                            <nav class="icon-navigation">
                              <ul>
                                <li data-toggle="tooltip" data-placement="bottom" title="Health">
                                  <span class="jdv-icon jdv-icon-heart">Icon</span>
                                </li>
                                <li data-toggle="tooltip" data-placement="bottom" title="Food"><span
                                    class="jdv-icon jdv-icon-food">Icon</span>
                                </li>
                                <li data-toggle="tooltip" data-placement="bottom" title="Travel">
                                  <span class="jdv-icon jdv-icon-bus">Icon</span>
                                </li>
                              </ul>
                            </nav>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="jobdetailscustomer?.JobInfo?.BonusOffered === true">
                          <div class="col-sm-6">
                            <span class="jdv-icon jdv-icon-dollar">Icon</span>
                            <h4> Open for Conversation.</h4>
                          </div>
                        </ng-container>
                        <!--/.col-sm-6-->
                        <div class="col-sm-6">
                          <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="70" height="70"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                              cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                            <circle class="circle-chart__circle" stroke="#448afa" stroke-width="2"
                              stroke-dasharray="75,100" stroke-linecap="round" fill="none" cx="16.91549431"
                              cy="16.91549431" r="15.91549431"></circle>
                            <g class="circle-chart__info">
                              <text class="circle-chart__percent" x="16.91549431" y="18.5" alignment-baseline="central"
                                text-anchor="middle" font-size="8">70%</text>
                            </g>
                          </svg>
                          <h4>Job Completeness</h4>
                        </div>
                        <!--/.col-sm-6-->
                      </div>
                      <!--/.row-->
                    </div>
                    <!--/.two-grid-icon-->

                    <div class="jdv-gray-section">
                      <div class="jdv-skills">
                        <div class="section__title">
                          <h4>Skills</h4>
                        </div>
                        <!--/.section__title-->

                        <div class="scrollbar-container">
                          <div class="row flex flex-wrap flex-align-equal">
                            <ng-container *ngFor="let skill of jobdetailscustomer?.JobRequiredSkills;let i = index">
                              <ng-container *ngIf="i<6">


                                <div class="col-sm-4 beginner" *ngIf="skill?.SkillType === true">
                                  <div class="col-container">
                                    <h5>{{skill?.SkillName}}</h5>
                                    <h6>Exp : {{skill?.MaximumExp / 12 | number:'1.0-1'}}
                                      Years</h6>
                                  </div>
                                </div>

                                <div class="col-sm-4 master" *ngIf="skill?.SkillType === false">
                                  <div class="col-container">
                                    <h5>{{skill?.SkillName}}</h5>
                                    <h6>Exp : {{skill?.MaximumExp / 12 | number:'1.0-1'}}
                                      Years</h6>
                                  </div>
                                </div>
                              </ng-container>
                            </ng-container>
                            <!--/.col-sm-4-->
                          </div>
                          <!--/.row-->
                        </div>

                        <div class="jdv-stauts-listing">
                          <ul>
                            <li class="beginner">Mandatory</li>
                            <!-- <li class="professional">Soft</li> -->
                            <li class="master">Optional</li>
                          </ul>
                        </div>
                        <!--/.jdv-status-listing-->
                      </div>
                      <!--/.jdv-skills-->

                      <div class="jdv-key-section">
                        <div class="section__title">
                          <h4>Key Responsibility</h4>
                        </div>

                        <ul class="flex flex-wrap flex-align-equal">
                          <ng-container *ngIf="jobdetailscustomer?.CustomerJobKeyResponses.length>0">
                            <li *ngFor="let r of jobdetailscustomer?.CustomerJobKeyResponses">
                              <div class="col__container">
                                <span> {{r?.Code | titlecase}} </span>
                                <em>Experience 1.5 Years</em>
                              </div>
                            </li>
                          </ng-container>
                        </ul>
                      </div>

                    </div>
                    <!--/.gray-section-->
                  </div>
                  <!--/.middle-container-->
                </div>
                <!--/.col-container-->
              </div>
              <!--/.job-leftcard-->
            </div>
          </div>
          <div id="job-details" class="tab-pane fade">
            <div class="revamp__jd__description">
              <div class="col__container description__container">
                <div class="title__container"><span>Description</span></div>
                <p [innerHtml]="jobdetailscustomer?.JobInfo?.JobDescription">
                </p>
                <p *ngIf="jobdetailscustomer?.JobInfo?.JobDescription==''">
                  Description yet to provide.
                </p>
                <span class="icon icon__description icon__hide">Icon</span>
              </div><!-- /.col__container -->

              <div class="col__container">
                <div class="title__container gray"><span>Responsibility</span></div>
                <div class="revamp__uneven__grid">
                  <div class="row flex flex-wrap flex-align-equal">
                    <div class="col-sm-9">
                      <h4>Key Responsibility</h4>
                      <div class="revamp__tag__list">
                        <ul>
                          <ng-container *ngIf="jobdetailscustomer?.CustomerJobKeyResponses.length>0">
                            <ng-container *ngFor="let r of jobdetailscustomer?.CustomerJobKeyResponses">
                              <li><a href="javascript:void(0)"> {{r?.Code | titlecase}}
                                  <span>Exp:{{r?.CustomerKeyMaxExperienceId |monthsPipe}} Years</span></a> </li>
                            </ng-container>

                          </ng-container>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="box__container">
                        <span class="icon icon__video">Icon</span>
                        <h4>Video Sizzles</h4>
                        <div>
                          <video _ngcontent-c21="" class="video-align" controls="" type="video/mp4" width="440"
                            [src]="jobdetailscustomer.JobInfo?.VideoURL"></video>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="icon icon__responsiblity icon__hide">Icon</span>
              </div><!-- /.col__container -->

              <div class="col__container">
                <div class="title__container blue"><span>Details</span></div>
                <div class="icon__small__grid__section">
                  <div class="row flex flex-wrap flex-align-equal">
                    <div class="col-sm-4">
                      <div class="box__container">
                        <span class="icon icon__department">Icon</span>
                        <h4>Department</h4>
                        <ng-container *ngIf="jobdetailscustomer?.JobDepartments?.length!=0">
                          <p *ngFor="let dept of jobdetailscustomer?.JobDepartments">
                            {{dept?.DepartmentName | titlecase}}
                          </p>
                        </ng-container>

                        <p *ngIf="jobdetailscustomer?.JobDepartments?.length===0">
                          Yet to provide.
                        </p>
                      </div><!-- /.box__container -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                      <div class="box__container">
                        <span class="icon icon__department">Icon</span>
                        <h4>Category</h4>
                        <ng-container *ngFor="let i of jobdetailscustomer?.CustomerJobCategory">
                          <p>
                            {{i?.Code | titlecase}}
                          </p>
                        </ng-container>
                      </div><!-- /.box__container -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                      <div class="box__container">
                        <span class="icon icon__domain">Icon</span>
                        <h4>Domain</h4>
                        <ng-container *ngIf="jobdetailscustomer?.JobRequiredDomain.length>0">
                          <p *ngFor="let domain of jobdetailscustomer?.JobRequiredDomain; let i=index">
                            {{domain?.DomainName | titlecase}}
                          </p>
                        </ng-container>
                        <p *ngIf="jobdetailscustomer?.JobRequiredDomain.length === 0">
                          Yet to provide.
                        </p>
                      </div><!-- /.box__container -->
                    </div><!-- /.col-sm-4 -->
                  </div><!-- /.row -->
                </div><!-- /.icon__small__grid__section -->
                <span class="icon icon__settings icon__hide">Icon</span>
              </div><!-- /.col__container -->

              <div class="col__container xs-padding">
                <div class="title__container"><span>Other Details</span></div>
                <div class="icon__big__grid__container">
                  <div class="row flex flex-wrap flex-align-equal">
                    <div class="col-sm-3">
                      <div class="box__container">
                        <span class="icon icon__education">Icon</span>
                        <h4>Education Criteria</h4>
                        <h5 *ngIf="jobdetailscustomer?.EducationDetails.length===0">
                          Yet to provide.
                        </h5>

                        <ng-container *ngIf="jobdetailscustomer?.EducationDetails.length>0">
                          <h5 *ngFor="let education of jobdetailscustomer?.EducationDetails">

                            {{education?.QualificationName | titlecase}}
                          </h5>
                        </ng-container>
                      </div><!-- /.box__container -->
                    </div>
                    <div class="col-sm-3">
                      <div class="box__container">
                        <span class="icon icon__manager">Icon</span>
                        <h4>Reporting Manager</h4>
                        <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ReportingManager?.length!=0">
                          <h5 *ngFor="let rpt of jobdetailscustomer?.JobInfo?.ReportingManager">
                            {{rpt?.FirstName | titlecase}} {{rpt?.LastName | titlecase}}
                          </h5>

                        </ng-container>

                        <h5 *ngIf="jobdetailscustomer?.JobInfo?.ReportingManager?.length===0">
                          Not yet Added.
                        </h5>
                      </div><!-- /.box__container -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col__container xs-padding">
                <div class="title__container"><span>Job Details</span></div>
                <div class="icon__big__grid__container">
                  <div class="row flex flex-wrap flex-align-equal">
                    <div class="col-sm-3">
                      <div class="box__container">
                        <span class="icon icon__job">Icons</span>
                        <h4>Job ID</h4>
                        <h5 *ngIf="jobdetailscustomer?.JobInfo?.JobPositionId!=''">
                          {{jobdetailscustomer?.JobInfo?.JobPositionId}}</h5>
                        <h5 *ngIf="jobdetailscustomer?.JobInfo?.JobPositionId===''">Yet to provide</h5>
                      </div><!-- /.box__container -->
                    </div>
                    <div class="col-sm-3">
                      <div class="box__container">
                        <span class="icon icon__priority">Icon</span>
                        <h4>Priority</h4>
                        <h5> {{jobdetailscustomer?.JobInfo?.JobPriority | titlecase}}</h5>
                      </div><!-- /.box__container -->
                    </div>
                    <div class="col-sm-3">
                      <div class="box__container">
                        <span class="icon icon__date">Icon</span>
                        <h4>Due Date</h4>
                        <h5> {{jobdetailscustomer?.JobInfo?.ExpiryDate | date:'mediumDate'}}</h5>
                      </div><!-- /.box__container -->
                    </div>
                    <div class="col-sm-3">
                      <div class="box__container">
                        <span class="icon icon__duration">Icon</span>
                        <h4>Duration</h4>
                        <h5 *ngIf="jobdetailscustomer?.JobInfo?.ContractDuration != null">
                          {{jobdetailscustomer?.JobInfo?.ContractDuration}}</h5>
                        <h5 *ngIf="jobdetailscustomer?.JobInfo?.ContractDuration === null"> Yet to provide</h5>
                      </div><!-- /.box__container -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col__container">
                <div class="title__container gray"><span>Benifits</span></div>
                <div class="review__check__list">
                  <div class="row flex flex-wrap flex-align-equal">
                    <div class="col-sm-4" *ngFor="let benfit of getcompanybenfit">
                      <div class="box__container">
                        <h4>{{benfit?.CompanyBenefit}}</h4>
                      </div>
                    </div>

                  </div>
                </div>
                <span class="icon icon__star icon__hide">Icon</span>
              </div>
              <div class="col__container">
                <div class="title__container blue"><span>Reviews</span></div>
                <div class="review__check__list">
                  <div class="row flex flex-wrap flex-align-equal">
                    <ng-container *ngIf="jobComments.length>0">
                      <div class="col-sm-4" *ngFor="let comments of jobComments">
                        <div class="box__container">
                          <h4>Job Review</h4>
                          <p>{{comments?.CommentText}} - {{comments?.CommentedDate | date}}</p>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="jobComments.length===0">
                      <h4>No Reviews</h4>
                    </ng-container>

                  </div>
                </div>
                <span class="icon icon__comment icon__hide">Icon</span>
              </div>
            </div>
          </div>
          <div id="skills" class="tab-pane fade">
            <div class="revamp__jd__description revamp__jd__skills">
              <div class="col__container">
                <div class="title__container blue"><span>Domain</span></div>
                <div class="icon__small__grid__section">
                  <div class="row flex flex-wrap flex-align-equal">
                    <div class="col-sm-4">
                      <div class="box__container">
                        <span class="icon icon__domain">Icon</span>
                        <h4>Domain</h4>
                        <ng-container *ngIf="jobdetailscustomer?.JobRequiredDomain.length>0">
                          <p *ngFor="let domain of jobdetailscustomer?.JobRequiredDomain; let i=index">
                            {{domain?.DomainName | titlecase}}
                          </p>
                        </ng-container>
                        <p *ngIf="jobdetailscustomer?.JobRequiredDomain.length === 0">
                          Yet to provide.
                        </p>
                      </div><!-- /.box__container -->
                    </div><!-- /.col-sm-4 -->
                  </div><!-- /.row -->
                </div><!-- /.icon__small__grid__section -->
                <span class="icon icon__settings icon__hide">Icon</span>
              </div><!-- /.col__container -->
              <div class="col__container description__container">
                <div class="title__container"><span>Skills</span></div>
                <div class="skills__row">
                  <h4>Mandatory</h4>
                  <div class="jdv-listing">
                    <div class="jdv-skills">
                      <div class="scrollbar-container">
                        <div class="row flex flex-wrap flex-align-equal">
                          <ng-container *ngFor="let skill of jobdetailscustomer?.JobRequiredSkills">
                            <div class="col-sm-3 beginner" *ngIf="skill?.SkillType === true">
                              <div class="col-container">
                                <h5>{{skill?.SkillName}}</h5>
                                <div class="flex summary">
                                  <h6>Exp : {{skill?.MaximumExp / 12 | number:'1.0-1'}} years</h6>
                                </div>
                              </div>
                              <!--/.col-container-->
                            </div>

                          </ng-container>
                        </div>
                        <!--/.row-->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="skills__row">
                  <h4>Optional</h4>
                  <div class="jdv-listing">
                    <div class="jdv-skills">
                      <div class="scrollbar-container">
                        <div class="row flex flex-wrap flex-align-equal">
                          <ng-container *ngFor="let skill of jobdetailscustomer?.JobRequiredSkills">
                            <div class="col-sm-4 master" *ngIf="skill?.SkillType === false">
                              <div class="col-container">
                                <h5>{{skill?.SkillName}}</h5>
                                <div class="flex summary">
                                  <h6>Exp : {{skill?.MaximumExp / 12 | number:'1.0-1'}} years</h6>
                                </div>
                              </div>
                              <!--/.col-container-->
                            </div>
                          </ng-container>

                        </div>
                        <!--/.row-->
                      </div>
                    </div>
                  </div>
                </div>
                <span class="icon icon__skills icon__hide">Icon</span>
              </div><!-- /.col__container -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>

<div Id="shareModal" class="modal fade revamp__share__modal" tabindex="-1" role="dialog"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header flex flex-wrap flex-align-center header-title">
        <h4 class="title">
          <span>Share Job</span>
        </h4>
        <alert class="basic-info-alert"></alert>
        <div class="layout layout--btn">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
      </div> <!-- .header -->
      <div class="modal-body">
        <div class="top__container">
          <h3>Share this job through Social Media</h3>
          <div class="social">
            <ul>
              <li>
                <button class="btn"><i class="fa fa-facebook" aria-hidden="true"></i></button>
              </li>
              <li>
                <button class="btn"><i class="fa fa-twitter" aria-hidden="true"></i></button>
              </li>
              <li>
                <button class="btn"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
              </li>
            </ul>
          </div>
          <span class="or"><em>Or</em></span>
        </div>
        <h4>Share it to your friends</h4>
        <p>FRIENDS ALREADY REFERRED</p>
        <p class="highlight">No Friends Referred! Refer Now.</p>        
        <div class="link__input form-group">
          <input type="text" class="form-control" placeholder="Public Link">
          <button class="btn btn-filled">Copy</button>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Enter Email" class="form-control">
        </div>
        <div class="notes">Enter email addresses seperated by commas</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-filled">Share</button>
        <button class="btn btn-border" data-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>