<div class="stats stats--row">
    <div>
        <h1 (click)="GetJobsRedirect(4)">{{jobS?.TotalApplicants}}</h1>
      <span>Applied</span>
    </div>
    <div class="v-divider"></div>
    <div>
        <h1 (click)="GetJobsRedirect(15)">{{jobS?.SkilledApplicants}}</h1>
      <span>Suggested</span>
    </div>
    <div class="v-divider"></div>
    <div>
        <h1 (click)="GetJobsRedirect(5)">{{jobS?.ShortListedCount}}</h1>
      <span>Shortlisted</span>
    </div>
    <div class="v-divider"></div>
    <div>
        <h1 (click)="GetJobsRedirect(7)">{{jobS?.InterviewedCount}}</h1>
      <span>Interviews</span>
    </div>
  </div>