<div class="dashboard-applicants-kpis">
  <h3>Applicants by status</h3>
  <div class="row">
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-01">Icon</span>
        <div class="info">
          <h4>{{ProfileStats?.Submitted || 0}}</h4>
          <h6>Submitted</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-02">Icon</span>
        <div class="info">
          <h4>{{ProfileStats?.Applicants || 0}}</h4>
          <h6>Applied</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-03">Icon</span>
        <div class="info">
          <h4>{{ProfileStats?.Screened || 0}}</h4>
          <h6>Screened</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-04">Icon</span>
        <div class="info">
          <h4>{{ProfileStats?.Shortlisted || 0}}</h4>
          <h6>Shortlisted</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-05">Icon</span>
        <div class="info">
          <h4>{{ProfileStats?.Interviewed || 0}}</h4>
          <h6>Interviewed</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container"> 
        <span class="icon icon-06">Icon</span>
        <div class="info">
          <h4>{{ProfileStats?.Hired || 0}}</h4>
          <h6>Hired</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col">
      <div class="col-container">
        <span class="icon icon-07">Icon</span>
        <div class="info">
          <h4>{{ProfileStats?.Rejected || 0}}</h4>
          <h6>Rejected</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-chart-container">
  <div class="row">
    <div class="col-md-5 col-lg-5 left-col">
      <div class="col-container">
        <div class="container-box">
          <div class="top-container">
            <h3>Applicants Report</h3>
            <!-- <div class="form-group">
              <select class="form-select">
                <option value="This Week">This Week</option>
              </select>
            </div> -->
          </div>
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-7 table-cols">
      <div class="top-container">
        <h3>Applicants Report based on source</h3>
        <!-- <div class="form-group">
          <select class="form-select">
            <option value="This Week">This Year</option>
          </select>
        </div> -->
      </div>
      <div class="table-box-container" malihu-scrollbar [scrollbarOptions]="{ axis: 'x', theme: 'dark' }">
        <div class="table-container">
          <div class="table-row table-header-row">
            <div class="table-col name-col">
              Source
            </div>
            <div class="table-col">
              Uploaded
            </div>
            <div class="table-col">
              Applied
            </div>
            <div class="table-col">
              Shortlisted
            </div>
            <div class="table-col">
              Interviewed
            </div>
            <div class="table-col">
              Screened
            </div>
            <div class="table-col">
              Hired
            </div>
            <div class="table-col">
              Rejected
            </div>
          </div>
          <div class="table-row table-col-row" *ngFor="let job of topApplicantsSource;let j = index">
            <div class="table-col name-col">
              <span class="text-ellipsis"> {{job?.DataSource}}</span>
            </div>
            <div class="table-col">
              {{job?.Uploaded}}
            </div>
            <div class="table-col">
              {{job?.Applied}}
            </div>
            <div class="table-col">
              {{job?.Shortlisted}}
            </div>
            <div class="table-col">
              {{job?.Interviewed}}
            </div>
            <div class="table-col">
              {{job?.Screened}}
            </div>
            <div class="table-col">
              {{job?.Hired}}
            </div>
            <div class="table-col">
              {{job?.Rejected}}
            </div>
          </div>
     
        </div>
      </div>
      <!-- <div class="bottom-container d-flex justify-content-end">
        <a href="#" class="btn btn-link">
          Full View
          <span class="mdi mdi-fullscreen"></span>
        </a>
      </div> -->
    </div>
  </div>
</div>

<div class="dashboard-listing-columns">
        <div class="col-md-12 col-lg-12 table-cols">
         <div class="container-box">
          <div class="top-container">
            <h3>Applicants Hotlist</h3>
          </div>
         </div>
         <div class="table-box-container" malihu-scrollbar [scrollbarOptions]="{ axis: 'y', theme: 'dark' }">
         <div class="table-container">
          <div class="table-row table-header-row">
          <div class="table-col1 name-col">
          <strong>
            Name
          </strong> 
          </div>
          <div class="table-col1">
            <strong>
           Role
            </strong>
          </div>
          <div class="table-col1">
            <strong>
            Experience
            </strong>
          </div>
          <div class="table-col1">
            <strong>
            #Applicant Id
            </strong>
          </div>
          <div class="table-col1">
            <strong>
           Jobs
            </strong>
          </div>
         
          </div>
          <div class="table-row table-col-row" *ngFor="let job of topApplicants;let i = index">
          <div class="table-col1 name-col">
            <span class="text-ellipsis">  {{job?.FirstName | titlecase}}     {{job?.LastName | titlecase}}</span>
          </div>
          <div class="table-col1">
            {{job?.ProfileTitle}}
          </div>
          <div class="table-col1">
            {{job?.TotalExperience}}
          </div>
          <div class="table-col1">
            {{job?.ProfileId}}
          </div>
          <div class="table-col1">
            {{job?.JobCount}}
          </div>
         
          </div>
      </div>  
</div>

<!-- <div class="dashboard-listing-columns hidden">
  <div class="top-container">
    <h3>Applicant Hotlist</h3>
    <div class="form-group">
      <select class="form-select">
        <option value="This Week">This Week</option>
      </select>
    </div>
  </div>
  <div class="candidate-cards">
    <div class="row">
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardID] = true
          [cardMatching]= true
          [cardMatchingTitle] = "'Average Matching Score'"
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardID] = true
          [cardMatching]= true
          [cardMatchingTitle] = "'Average Matching Score'"
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardID] = true
          [cardMatching]= true
          [cardMatchingTitle] = "'Average Matching Score'"
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardID] = true
          [cardMatching]= true
          [cardMatchingTitle] = "'Average Matching Score'"
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardID] = true
          [cardMatching]= true
          [cardMatchingTitle] = "'Average Matching Score'"
        >
        </app-dashboard-candidate-card>
      </div>
      <div class="col-md-6 col-lg-6 col">
        <app-dashboard-candidate-card
          [cardID] = true
          [cardMatching]= true
          [cardMatchingTitle] = "'Average Matching Score'"
        >
        </app-dashboard-candidate-card>
      </div>
    </div>
  </div>
</div> -->