<div class="form-section-title">
  <h3>Client Information</h3>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Client Name <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-circle-outline"></span>
      <select class="form-select">
        <option value="Select Domain">Type and Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col no-form-col">
    <label class="form-label">Client Bill Rate <sup>*</sup></label>
    <div class="row">
      <div class="col-md-3 col-lg-3 form-sub-col">
        <select class="form-select">
          <option value="$">$</option>
          <option value="$">RS</option>
        </select>
      </div>
      <div class="col-md-4 col-lg-4 form-sub-col">
       <input type="text" class="form-control">
      </div>
      <div class="col-md-5 col-lg-5 form-sub-col">
        <select class="form-select">
          <option value="$">Per Hour</option>
          <option value="$">Per Month</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Has an agreement been signed ? <sup>*</sup></label>
    <div class="tabbing-radios">
      <label>
        <input type="radio" name="agreement-sign" checked>
        <span class="checkmark">Yes</span>
      </label>
      <label>
        <input type="radio" name="agreement-sign">
        <span class="checkmark">No</span>
      </label>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Client Contact-Email <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-email-arrow-right-outline"></span>
      <input type="text" class="form-control" placeholder="Email">
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Client Contact-Phone <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-phone-in-talk-outline"></span>
      <input type="text" class="form-control" placeholder="+91">
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Maximum Allowed Submission<sup>*</sup></label>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-with-icon">
          <span class="mdi mdi-minus-thick"></span>
        </button>
      </span>
      <input type="text" class="form-control text-center" value="10" min="1" max="100">
      <span class="input-group-btn">
        <button type="button" class="btn btn-with-icon" data-type="plus" data-field="">
          <span class="mdi mdi-plus-thick"></span>
        </button>
      </span>
    </div>
  </div>
  
</div>