<div class="form-section-title">
  <h3>Client Information</h3>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Client Name <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-account-circle-outline"></span>
      <select class="form-select">
        <option value="Select Domain">Type and Select</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Client Bill Rate <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-currency-usd"></span>
      <select class="form-select">
        <option value="Select Domain">Select Category</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Has Agreement Been Signed? <sup>*</sup></label>
    <div class="tabbing-radios">
      <label>
        <input type="radio" name="agreement-sign">
        <span class="checkmark">Yes</span>
      </label>
      <label>
        <input type="radio" name="agreement-sign">
        <span class="checkmark">No</span>
      </label>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Client Contact-Email <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-email-arrow-right-outline"></span>
      <input type="text" class="form-control" placeholder="Email">
    </div>
  </div>

  <div class="col-md-4 col-lg-4 form-col">
    <label class="form-label">Client Contact-Phone <sup>*</sup></label>
    <div class="form-group">
      <span class="mdi mdi-phone-in-talk-outline"></span>
      <input type="text" class="form-control" placeholder="+91">
    </div>
  </div>
</div>