<head>
    <title>Arytic</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../../assets/images/favicon-32x32.png">
    <link rel="stylesheet" href="../../../assets/styles/css/bootstrap.min.css">
 </head>
 
 <body class="signpage">
    <div class="container-fluid full-height">
       <div class="row row-height">
          <div class="col-lg-6 content-left">
             <div class="content-left-wrapper">
                <div class="jobs_hide">
                   <h2>I'm here for Hiring</h2>
                   <figure><img src="../../../assets/images/ai-recruiting-system.svg" width="400" alt="" class="img-fluid"></figure>
                </div>
             </div>
          </div>
          <div class="col-lg-6 content-right recrit_div " id="start">
             <div id="wizard_container">
                <div id="top-wizard">
                   <div id="progressbar"></div>
                </div>
                <!-- <a href="index-2.html" id="logo"><img src="img/arytic-logo-contrast.png" alt="" width="49" height="35"></a> -->
                <!-- /top-wizard -->
                <form id="wrapped">
                   <!-- Leave for security protection, read docs for details -->
                   <div id="hiring_sign">
                      <div class="logo">
                         <img src="/assets/images/arytic-logo-2019.png" alt="Arytic Logo" title="Arytic Logo"> </div>
                      <div class="step animated slideInRight">
                         <h2 class="main_question">
                            Welcome !!! Guest!
                         </h2>                       
                         <div class="row">
                            <div class="form-group col-md-6 spt-2 padding-right">
                               <input type="text" class="form-control" placeholder="First Name *"
                                  >
                              
                            </div>
                            <div class="form-group col-md-6 spt-2 padding-left">
                               <input type="text" class="form-control"  
                               placeholder="Last Name *" >
                            
                            </div>
                         </div>
 
                         <div class="form-group">
                            <input type="text" class="form-control" 
                               placeholder="Company Name *" >
                      
                         </div>
                         <div class="form-group">
                            <input type="email"  class="form-control" placeholder="Work Email *"
                               autocomplete="new-email"  required 
                               id="semail">
                          
                          
                         </div>
                         <div class="form-group">
                            <input type="tel" class="form-control"
                               placeholder="Phone Number *">
                        
                         </div>
                         <div class="form-group">
                            <input class="form-control" type="password" id="password" name="Password" placeholder="Password *"
                               autocomplete="new-password">
                            <span class="glyphicon glyphicon-eye-open"></span>
                         
                         </div>
                         <!-- <div class="form-group terms">
                               <label class="container_check">Please accept our <a href="javascript:void(0)" data-toggle="modal"
                                     data-target="#terms-txt">Terms and conditions</a>
                                  <input type="checkbox" name="terms" value="Yes" class="required" required>
                                  <span class="checkmark"></span>
                               </label>
                            </div> -->
 
                         <div>
                            <button type="submit" class="btn2 pull-right sign-up-btn">Guest</button>
                         </div>
                         <div>
                            <small>Already have an account? <a href="javascript:void(0)" (click)="Login()">Login here.</a></small>
                         </div>
                         <small>I'm looking for <a href="http://demo.tenendus.com:1070/login" id="recrit_close">Job
                               Search.</a></small>
 
 
                      </div>
                   </div>
                   <!-- login -->
 
                   <!-- login -->
                   <!-- hiring id _forgot -->
 
                   <!-- hiring id _forgot -->
                   <!-- /middle-wizard -->
                   <!-- /bottom-wizard -->
                </form>
             </div>
             <!-- /Wizard container -->
          </div>
 
       </div>
    </div>
 
 </body>